[2019-09-27 04:10] yaron2 opened #5 "Gate PRs with tests"
PR should be gated with running all tests.

[2019-09-27 16:32] youngbupark opened #7 "Module versioning for component-contrib"
Justification:

Since we move out component-contrib from actions repo, we need to manage its pkg version.

[2019-09-27 17:28] yaron2 opened #8 "Add Kafka for Pub-Sub"

[2019-09-27 17:28] yaron2 opened #9 "Add GCP Pub Sub for bindings"

[2019-09-27 17:28] yaron2 opened #10 "Add Azure Service Bus for bindings"

[2019-09-28 06:32] #10 closed, assigned to yaron2

[2019-09-28 14:00] yaron2 opened #16 "Redis state store non-descriptive error"
The redis state store returns an Etag mismatch error for every error, even if unrelated to etag.

[2019-09-28 14:03] yaron2 opened #17 "Redis doesn't use connected slaves value for replication info"
When using the `WAIT` command for strong consistency, the command currently receives a hardcoded 1000 value for connected slaves instead of using `r.replicas`

[2019-09-30 18:23] #9 closed, assigned to yaron2

[2019-09-30 19:57] #17 closed, assigned to yaron2

[2019-09-30 20:03] #16 closed, assigned to yaron2

[2019-10-08 21:19] shalabhms opened #24 "Extend Kafka binding metadata configuration"
For various Bindings, client should have way to get configuration settings from the metadata.
E.g. For Kafka bindings, following producer configs are not configurable.
Required Acks
Maximum Retry

[2019-10-09 00:16] amanbha opened #25 "Add license header and update to MIT license."

[2019-10-09 17:58] #25 closed, assigned to amanbha

[2019-10-09 18:36] msfussell opened #27 "Links in bindings name table and rename folders"
1) The table of Bindings here https://github.com/dapr/components-contrib/tree/master/bindings should have links to each of the respective folders.

azure-xxxtech  e.g. azure-cosmosdb
aws-xxxtechn e..g. aws-sns
gcp-xxxtech  e.g. gcp-pubsub

[2019-10-11 01:18] shalabhms opened #29 "Adding and Correcting code comments and types"
Adding and Correcting code comments and types as part of release checklist.

[2019-10-11 18:36] #29 closed, assigned to shalabhms

[2019-10-15 18:10] yaron2 opened #35 "Update OWNERS for components contrib"

[2019-10-15 18:32] #27 closed, assigned to yaron2

[2019-10-15 18:33] #35 closed, assigned to yaron2

[2019-10-15 21:40] shalabhms opened #39 "Add contribution guidance in components-contrib repo"
Add contribution guidance

[2019-10-15 22:42] #39 closed, assigned to shalabhms

[2019-10-20 20:59] robertojrojas opened #41 "Add Etcd as a supported state"
## Describe the proposal
[Etcd](https://etcd.io/) is a distributed key-value store with features comparable to Redis.
I propose adding Etcd as another state option for Dapr.

[2019-10-21 13:26] thinkerou opened #43 "Rename package name?"
## Describe the proposal
now the name is `components-contrib`, but it's too long.
I suggest that rename to `common` or `base` or `components`, ok?
thanks!

[2019-10-21 16:50] youngbupark opened #44 "Provide the dev document for component (especially, testing)"
## Describe the proposal

This is the issue to track the [gitter conversation](https://gitter.im/Dapr/community?at=5dacb87d3e33a9652a04ac61)

Need to provide the dev document to build and test component-contrib for developing new component.

- [x] : Create document to build component-contrib with dapr runtime
- [x] : Create document to test component-contrib with dapr runtime

[2019-10-21 16:51] youngbupark commented on #44
cc/ @robertojrojas @amanbha @yaron2

[2019-10-22 17:32] youngbupark commented on #41
@robertojrojas

The conversation gets longer. We encourage you to use GH issue when the conversation is longer.

---
Build debuggable binary. later you can use dlv to debug daprd
[code]

Then you can find the binaries in ./dist/{os}_{arch}/debug/ e.g. for macos, ./dist/darwin_amd64/debug

[code]
create etcd yaml file in components directory. for example,
[code]
Now you’re ready to run daprd
[code]

[2019-10-22 21:22] robertojrojas commented on #41
@youngbupark thanks, these instructions are really helpful!

[2019-10-22 21:30] #41 closed

[2019-10-22 22:29] robertojrojas commented on #8
@yaron2 I'm going to work on this issue and I was planning to use the [Sarama](https://github.com/Shopify/sarama) package.

[2019-10-22 22:30] yaron2 commented on #8
Thats great, thanks!

[2019-10-23 01:00] yaron2 opened #45 "Cassandra state store"
## Describe the proposal

Implement Cassandra as a state store and transactional state store.

[2019-10-23 19:47] #45 closed

[2019-10-24 11:37] sayboras opened #49 "Add dynamodb for state"
## Describe the proposal

To have support for dynamodb for state.

[2019-10-24 17:27] abhirockzz commented on #44
I am assuming this will include guidance for integration testing with the `dapr` runtime as well?

[2019-10-24 17:33] youngbupark commented on #44
@abhirockzz Yes right. I updated description :)

[2019-10-24 17:43] shalabhms opened #50 "Add MongoDB as a state store."
Implement MongoDB as a state store .

[2019-10-25 12:06] anubhavmishra opened #51 "Add HashiCorp Consul as a state store"
Implement HashiCorp [Consul](https://consul.io) as a state store for dapr.

[2019-10-25 19:10] msfussell opened #54 "Create the Component YAMLs for each component in the 0.1.0 release"

[2019-10-25 19:14] msfussell opened #55 "Review and improve the Component contrib guidelines"
Improved with
1) YAML spec needs to be included
2) Merge can only occur after all Tasks completed
3) Review the contribute proposal template for all the task
4) Make sure that you assign the issues to yourself to indicate you are working on this

[2019-10-25 19:23] msfussell opened #56 "The names of the packages need to be consistent with name of the company"
for example

- pubsub should be gcp-pubsub
- sns should be aws-sns
- blobstorage should be azure-blobstorage

[2019-10-26 04:54] amanbha commented on #51
Closed by https://github.com/dapr/components-contrib/pull/52

[2019-10-26 04:54] #51 closed

[2019-10-26 07:21] sayboras opened #58 "No CI pipeline (either azure or github actions)"
Not sure if any plan to do so for this repo.

[2019-10-26 11:03] daft300punk opened #61 "Add memcached as a state store"
## Describe the proposal
Implement memcached as a state store .

[2019-10-26 11:03] daft300punk commented on #61
I'm working on it. Will push something soon.

[2019-10-26 11:55] sayboras commented on #49
If no one is working on this, I can pick up this.

[2019-10-26 15:03] amanbha commented on #49
Sure, I have assigned it to you.
 Thanks.

[2019-10-26 15:05] amanbha commented on #61
@daft300punk could you please update the description for this.

[2019-10-27 05:42] sayboras commented on #58
As other repo dapr/dapr just migrated from azure pipeline to github action, I will proceed with github action then, please help to review #59

[2019-10-27 05:47] sayboras opened #62 "Error while running `go mod tidy`"
## Expected Behavior

No error for `go mod tidy`

## Actual Behavior
The below error is happening
[code]

[code]

## Steps to Reproduce the Problem
Just run `go mod tidy`

[2019-10-28 06:26] abhirockzz opened #64 "Add NATS as pubsub component"
## Describe the proposal

Add support for [NATS](https://github.com/nats-io/nats-server) as a pubsub component in Dapr. To be specific, the intention is to use [NATS queue groups](https://docs.nats.io/nats-concepts/queue) such that consumer Dapr apps can share the workload in a load-balanced way

[2019-10-28 06:35] abhirockzz commented on #64
I have started working on this - https://github.com/dapr/components-contrib/pull/65

[2019-10-28 06:42] abhirockzz opened #66 "[Question] Pubsub semantics"
## Ask your question here

As per [pubsub docs](https://github.com/dapr/docs/blob/master/concepts/publish-subscribe-messaging/README.md) "Dapr guarantees At-Least-Once semantics for message delivery". Does this imply that means that pubsub component does not depend on the underlying messaging implementation semantics? e.g. if the "implementation A" supports (or is configured to support) "at-most-o

[2019-10-28 16:27] amanbha commented on #64
@abhirockzz feel free to assign the issues to yourself when you start working on the,

[2019-10-28 20:28] sayboras opened #67 "To rename StateStore interface in state package"
## Describe the proposal

As discussed in https://github.com/dapr/components-contrib/pull/59#discussion_r339658021, the `StateStore` interface can be renamed to `Store` for simplicity.

[2019-10-28 22:43] youngbupark commented on #58
@sayboras Can you please add badge to README.md ? I think you can find the reference in dapr repo.

[2019-10-28 22:43] youngbupark commented on #67
cc/ @yaron2 @Haishi2016 @amanbha @shalabhms @LMWF

[2019-10-28 22:45] yaron2 commented on #67
I edited the title and body to reflect interface and not struct.

[2019-10-29 01:48] yaron2 commented on #66
The Dapr runtime is written to return an error into the pubsub component in case of an unsuccessful delivery into user code.

In addition, Dapr runtime will not make use of pubsub components (implementation) which do not guarantee at least once semantics.

Hope this clarifies.

[2019-10-29 03:18] sayboras commented on #58
@youngbupark Good point 💯

[2019-10-29 03:48] sayboras commented on #62
@youngbupark @yaron2 need your input on this.

There might be bigger conversation on why we checked in vendor folder as well. I am aware that this approach is quite common, but we might need to take extra steps to make sure following points:
- no unintended changes in files in vendor (this could be developer mistake), reviewer will not be able to spot this one due to large number of changes.
- how

[2019-10-29 09:55] #66 closed

[2019-10-29 12:06] abhirockzz opened #72 "Enhance Kafka bindings to support SASL auth"
## Describe the proposal

Kafka brokers can be configured to support SASL authentication. The Dapr Kafka binding can be enhanced to provide this. This will allow integration with any Kafka broker including managed ones (where auth is mandatory) such as Azure Event Hubs, Confluent etc.

This authentication is optional and can be disabled using Dapr config e.g. `authRequired: "false"`

[2019-10-29 12:06] abhirockzz commented on #72
I plan to work on this. Let me know if this sounds like a reasonable proposal. Thanks!

[2019-10-29 13:12] yaron2 commented on #72
Sounds great, thanks!

[2019-10-29 17:02] alanwales opened #73 "Azure Service Bus Topics"
Hello,

Is there a way to subscribe to a topic? I have tried the sample and can connect to a queue successfully but not to a topic (even with the /dapr/subscriptions endpoint added):

https://github.com/dapr/docs/blob/master/concepts/bindings/specs/servicebusqueues.md

Also I traced the http response and can't seem to get the message properties from the service bus message, just the content. I wou

[2019-10-29 23:15] RicardoNiepel opened #74 "[Proposal] Add Azure Event Grid for Pub-Sub"
## Describe the proposal

Using [custom topics](https://docs.microsoft.com/en-us/azure/event-grid/event-sources#custom-topics) as event source and [WebHooks](https://docs.microsoft.com/en-us/azure/event-grid/event-handlers#webhooks) as event handlers

[2019-10-29 23:16] yaron2 commented on #74
Yeah that's a good proposal, only question is which IP do you give Event Grid when running on Kubernetes/local dev machine?

[2019-10-29 23:24] RicardoNiepel commented on #74
### Local
not nice, but in line with other docs - using ngrok as tunnel.

Look at [Event Grid Trigger Local Debugging](https://docs.microsoft.com/en-us/azure/azure-functions/functions-debug-event-grid-trigger-local#allow-azure-to-call-your-local-function)

### K8s
Is adding auth to service invocation on the roadmap?
If, this would be something we can also leverage for securing the sub endpoints?

[2019-10-30 05:12] yaron2 commented on #74
Yes, but I don't want to tie it to this particular issue..
Authentication with cloud pub-sub infrastructure is tied to the specific implementation, whether its certificate/token based.

[2019-10-30 08:52] anubhavmishra opened #81 "Add support for HashiCorp Vault as a secret store"
Implement HashiCorp [Vault](https://vaultproject.io) as a secret store.

[2019-10-30 09:00] anubhavmishra commented on #81
@yaron2 can you help me test the secret store by giving me an example like [this](https://github.com/dapr/docs/blob/master/concepts/components/secrets.md#examples) one?

I am building the Dapr project by following these instructions:

[code]

This creates a binary in `dist/darwin_amd64/debug`

[code]

I am defining the secretstore component using the following configuration.

[code]

I am able to

[2019-10-30 09:03] anubhavmishra commented on #81
Also, my HashiCorp Vault implementation is [here](https://github.com/anubhavmishra/components-contrib/commit/fbc985c29a6c737d54fcb3e46fb744dcefc9e0f6#diff-3552039d6a28e41ef6db7de38f17e07e). Hopefully, that helps!

[2019-10-30 12:43] anubhavmishra commented on #81
I found an example for Azure KeyVault here: https://github.com/dapr/docs/blob/master/howto/setup-secret-store/azure-keyvault.md

[2019-10-30 16:58] youngbupark commented on #81
@anubhavmishra Thanks for your contribution!

Here's an example to use secret from hashicorp vault in redis component.

[code]

Ensure that `redisPassword` secret should be in the vault and auth.secretStore should be metadata.name value. (`hashicorp_vault`)
[code]

[2019-10-31 00:44] #67 closed

[2019-10-31 02:50] yaron2 commented on #73
Hey @alanwales , Azure Service Bus is a binding, meaning that in order to get events as input bindings there's no topic subscription needed, as you'd have with Pub-Sub.

[2019-10-31 03:06] yaron2 commented on #62
Yeah, this issue covers it:
https://github.com/kubernetes/kubernetes/issues/83847

Looks like it will be resolved soon. If not, we should probably fall back to the previous Kubernetes Go client.

[2019-10-31 03:33] sayboras commented on #58
All items are addressed, closing PR :)

[2019-10-31 03:34] #58 closed

[2019-10-31 03:55] sayboras commented on #62
@yaron2 thanks. Not sure here is the good one to discuss about my other question

[2019-10-31 04:44] anubhavmishra commented on #81
@youngbupark thanks for the help. I figured it out using the Azure example, it was pretty straight forward. Looking forward to submitting the PR soon! 🚀

[2019-10-31 04:47] yaron2 commented on #81
Looking forward to this PR

[2019-10-31 14:49] yaron2 commented on #8
@robertojrojas are you actively working on this?

[2019-10-31 14:50] yaron2 commented on #72
closed via #77

[2019-10-31 14:50] #72 closed

[2019-10-31 14:51] yaron2 commented on #61
closed via #71

[2019-10-31 14:51] #61 closed

[2019-10-31 14:51] yaron2 commented on #49
@sayboras anything you need help with?

[2019-10-31 18:15] yaron2 opened #86 "Add transactions support to Cassandra"
## Describe the proposal

Implement the Transactions interface for Cassandra.
That would make Cassandra be able to operate multi-operation transactions and be certified for an Actor state store for Dapr.

[2019-10-31 18:15] yaron2 opened #87 "Add transactions support to MongoDB"
## Describe the proposal

Implement the Transactions interface for MongoDB.
That would make MondoDB be able to operate multi-operation transactions and be certified for an Actor state store for Dapr.

[2019-11-01 03:38] liangyuanpeng opened #89 "[Question] How to dev a new bindings and test"
## Ask your question here

I just saw this
[code]

And how to test?
Thanks!

[2019-11-01 04:07] yaron2 opened #91 "Change TransactionalStateStore interface to TransactionalStore"
## Describe the proposal

In the spirit of #70, we need to change `TransactionalStateStore` to `TransactionalStore` for consistency.

[2019-11-01 11:54] jjcollinge opened #92 "Azure Service Bus pubsub implementation"
## Azure ServiceBus PubSub
Add an Azure ServiceBus PubSub implementation. Opening this as a reference issue for an incoming PR. Proposal is fairly self explanatory.

Thought it might be useful to some folks to use a hosted message bus for pubsub rather than redis or the newly added NATS implementation. Apologies I didn't open this sooner to discuss, if we don't think this is a good idea then no pr

[2019-11-02 03:29] #81 closed

[2019-11-02 16:26] robertojrojas commented on #8
@yaron2 Any suggestions on how to integration test the pubsub component?

[2019-11-02 18:07] vranystepan opened #95 "TLS config for Redis client"
## Describe the proposal
Hello, I'm trying to use Dapr with Digital Ocean managed Redis which is using secured connection. I'm getting following message:

[code]

I suspect it is caused by the missing TLS configuration here:

https://github.com/dapr/components-contrib/blob/master/pubsub/redis/redis.go#L69

[code]

Could you confirm or refute whether the current implementation of Redis pub sub supp

[2019-11-02 19:22] yaron2 commented on #95
Hi @vranystepan, you are correct.

This issue will be resolved via https://github.com/dapr/components-contrib/pull/96.

[2019-11-02 19:46] vranystepan commented on #95
Great, thank you so much! ❤️

[2019-11-03 04:16] yokawasa opened #97 "Add Cloud Firestore for state"
## Describe the proposal

Add support for Cloud Firestore (in datastore mode) as a state component.

[2019-11-03 05:04] yaron2 commented on #8
Add the following line at the bottom of `go.mod` in the `dapr` repo:
`replace github.com/dapr/components-contrib => ../components-contrib`

This assumes your modified components-contrib code resides in the same directory that has the `dapr` repo in it.

Open a terminal in the `dapr` repo and run `go mod vendor`.

This should pull all the dependencies including components-contrib from your local co

[2019-11-03 05:08] yokawasa commented on #97
I started working on this

[2019-11-03 05:12] yaron2 commented on #97
Thanks, will be great to see this.

[2019-11-03 06:07] abhirockzz opened #98 "Provide a state store implementation for Couchbase"
## Describe the proposal

Provide a state store implementation for [Couchbase](https://docs.couchbase.com/home/index.html)

[2019-11-03 06:07] abhirockzz commented on #98
I am currently looking into this.

[2019-11-03 14:48] robertojrojas commented on #8
@yaron2 Thanks for the instructions.

[2019-11-04 01:58] abhirockzz commented on #98
Implementation questions

### Which state spec to use?

Gitter conversation

[code]

### How to pass additional metadata?

Gitter conversation

[code]

### Is there a way to pass in additional metadata?

Fir e.g. I would like the bucket name to be passed in per operation rather than be configured at an app level (in Dapr config YAML).

[2019-11-04 02:29] yaron2 commented on #98
In order to pass in a custom property such as `bucket`, users can send an optional metadata map on every request. See [here](https://github.com/dapr/components-contrib/blob/4bbfb82e98fcf5a91846d3e7fca54e4457bc74b5/state/requests.go#L36).

So in the Couchbase implementation, you can pull that property from `metadata["bucket"]`.

I recommend providing a default bucket name, and a metadata property o

[2019-11-04 02:43] yaron2 commented on #98
State management doc has been updated. Thanks for pointing out!

[2019-11-04 02:52] abhirockzz commented on #98
Great! But, as per Gitter, [this section](https://github.com/dapr/docs/blob/master/reference/api/state.md#optional-behaviors) is not up to date, correct?

[2019-11-04 02:55] abhirockzz commented on #98
Thanks - having the default name with override option sounds good! I did the metadata option earlier, but raised this question since it's only for `Set` operation (unless I am missing something?)

[2019-11-04 03:05] yaron2 commented on #98
Yes, we'll need to add the metadata property to Get and Delete requests as well.

It's a small change to the struct, but I recommend you continue with the default bucket and yaml field impl and add the overridable buckets in a separate PR once we add support for Get and Delete.

[2019-11-04 03:45] yaron2 opened #101 "Add metadata to State Delete and Get requests"
## Describe the proposal

Currently custom metadata to a state store implementation is only supported through a SetRequest.

This proposes to add passing metadata with GetRequest and DeleteRequest also.

[2019-11-04 08:09] abhirockzz commented on #98
Sounds good. I guess I should wait on the updated "State management" spec before working on details related to consistency etc. ?

[2019-11-04 11:37] alanwales commented on #73
Thanks for the reply, it's a little bit confusing the separation between a Binding and PubSub since most of the bindings have a pub-sub flavour to them, but I see that there is a pr open for Azure Service Bus PubSub added a few days ago so that will be really useful when it lands.

https://github.com/dapr/components-contrib/issues/92

Cheers

[2019-11-04 11:38] #73 closed

[2019-11-04 11:53] alanwales opened #102 "Azure Service Bus binding improvements"
I didn't see these documented anywhere but it stumped me for a while so might be good to add it to the samples or documentation.

When listening to an [output binding from Azure Service Bus](https://github.com/dapr/docs/blob/24781faf9050ead710877c6f779ac6a0ff3886b6/concepts/bindings/specs/servicebusqueues.md), Dapr expects to POST the queue message to the following url:

http://localhost/orders

F

[2019-11-04 13:48] yaron2 commented on #98
Spec was updated.

[2019-11-04 15:24] yaron2 commented on #64
Closed via #65

[2019-11-04 18:21] yaron2 opened #103 "Change redispipe package to go-redis for state management"
## Describe the proposal

The [go-redis](https://github.com/go-redis/redis) package is a common and highly used package for interacting with Redis for Go. It's used by Redis for Pub/Sub, while the Redis State Store uses [redispipe](https://github.com/joomcode/redispipe), which favors implicit pipelining but does not support things like TLS.

I propose to standardize on `go-redis` as the package fo

[2019-11-04 19:00] #95 closed

[2019-11-04 20:29] #64 closed

[2019-11-05 08:44] abhirockzz commented on #98
Additional notes on consistency implementation

For consistency tuning, Couchbase Go SDK provides [`ReplaceDura`](https://godoc.org/gopkg.in/couchbase/gocb.v1#Bucket.ReplaceDura)

[code]
It needs information about how many replicas are there ([see docs](https://docs.couchbase.com/go-sdk/current/durability.html#configuring-durability)), based on which `replicateTo` and `persistTo` can be passed to

[2019-11-05 15:08] lukekim opened #105 "Add RabbitMQ for Pub/Sub"
Support RabbitMQ as a Pub/Sub component.

[2019-11-05 15:56] yaron2 commented on #105
This is for pub/sub, right? (We have a RabbitMQ binding) - I suggest removing the word bindings from the title.

[2019-11-06 00:06] jjcollinge opened #107 "Checking wrong metadata value when setting AutoDeleteOnIdleInSec"
## Expected Behavior
When the `a.metadata.AutoDeleteOnIdleInSec` is not nil we can set the configuration setting on the subscription.

## Actual Behavior
The wrong metadata setting i.e. `a.metadata.DefaultMessageTimeToLiveInSec` is checked instead so it'll incorrectly try to set `AutoDeleteOnIdleInSec` even if it was nil in the metadata.

Sorry this was my bad - didn't catch it before merge of my

[2019-11-06 00:19] #107 closed

[2019-11-06 00:20] jjcollinge commented on #92
#93

[2019-11-06 00:20] #92 closed

[2019-11-06 20:44] yaron2 commented on #98
Did you get to check on this?

[2019-11-07 04:10] abhirockzz commented on #98
I will look into this once I am back to work next week (second half)

[2019-11-07 12:22] sayboras commented on #49
I am just back from travelling this week, will plan sometime to wrap it up.

[2019-11-08 18:13] yaron2 opened #112 "Add AWS SecretManager as secret-store"
## Describe the proposal

Add support for [AWS Secret Manager](https://aws.amazon.com/secrets-manager/) as a Secrets Store.

The means to authenticate with AWS resources can be found in other components like SQS, and the way these get passed in can be inferred from the other secrets store implementations.

[2019-11-08 18:14] yaron2 opened #113 "Add GCP KMS as a secrets store"
## Describe the proposal

Add support for [GCP KMS](https://cloud.google.com/kms/) as a Secrets Store.

The means to authenticate with GCP resources can be found in other components like GCP Pub/Sub, and the way these get passed in can be inferred from the other secrets store implementations.

[2019-11-08 19:33] #87 closed

[2019-11-08 20:10] #91 closed

[2019-11-08 22:43] #97 closed

[2019-11-10 09:25] sayboras opened #115 "To track version of tools used"
## Ask your question here

Just want to check if there is any plan to track the version of tools used. Here is common approach for go module https://github.com/golang/go/wiki/Modules#how-can-i-track-tool-dependencies-for-a-module

[2019-11-11 05:04] anuragprafulla commented on #113
@yaron2 I would like to take this issue.

[2019-11-11 05:41] yaron2 commented on #113
Assigned, thanks!

[2019-11-11 20:34] #62 closed

[2019-11-13 18:05] abhirockzz commented on #98
There is a [`GetBuckets` function] (https://godoc.org/gopkg.in/couchbase/gocb.v1#ClusterManager.GetBuckets) which does return the no. of replicas of a bucket. But it is at a cluster level and iterated through "all" the buckets

[2019-11-13 18:35] abhirockzz opened #119 "Provide a state store implementation for Hazelcast"
## Describe the proposal

Provide a state store implementation for [Hazelcast](https://hazelcast.org/) using its `Map` data structure

[2019-11-13 18:47] yaron2 commented on #98
So is it possible to get all buckets and then count the replicas for the specific bucket that was configured? what's your recommendation?

[2019-11-13 18:52] abhirockzz commented on #98
Yes, that's what the function is for. But I was a little apprehensive about it, given the fact that this will be repeated for each state operation (which requires strong consistency)

[2019-11-13 18:58] yaron2 commented on #98
Yeah checking for every operation is not performant.

Two suggestions:

1. We add an optional `replicas` field to the metadata
2. We check for the number of replicas for the bucket on Init and use that value

For strong consistency we don't need to wait for all replicas, just for a quorum.

[2019-11-14 06:36] anuragprafulla commented on #113
Hi @yaron2 @youngbupark , I took sometime to understand the flow and what we are trying to do here. Almost halfway through. But I am stuck at a few places and wanted to get some help on these points.
1. How is the metadata field populated? I am thinking I can get the credentials from metadata.
2. What would be the way to test if the functionality works properly?

[2019-11-14 06:56] #50 closed

[2019-11-14 12:01] abhirockzz commented on #98
Thanks. I will add the `replicas` field to the metadata and implement it that way

[2019-11-14 12:53] youngbupark commented on #113
@anuragprafulla both question can be answered in [azure keyvault howto doc](https://github.com/dapr/docs/blob/master/howto/setup-secret-store/azure-keyvault.md). this doc is written like a tutorial. Following the doc, you can find how metadata fields are populated and how to test your implementation in local and k8s modes.

[2019-11-15 09:45] abhirockzz opened #123 "Cassandra state store should allow user defined port"
## Expected Behavior

Cassandra state store should allow user-defined port

## Actual Behavior

`gocql` driver connects to port `9042` by default

## Steps to Reproduce the Problem

start a cassandra instance on port other than the default one (`9042`) and run any app along side Dapr. You should see connection related error logs

[2019-11-15 14:28] fbeltrao commented on #105
Is anyone working on this already?
If not, I would love to contribute.

[2019-11-15 14:29] markrussinovich commented on #105
I was planning on working on it this weekend, but if you want to take this, let me know.

[2019-11-15 14:47] fbeltrao commented on #105
If you don't mind I would like to take it. It is a good first item for me to get familiar with the project internals.

[2019-11-15 18:33] markrussinovich commented on #105
Okay, it's yours.

[2019-11-18 08:29] fbeltrao opened #126 "Enriching RabbitMQ bindings and pub/sub"
I think that RabbitMQ support needs a few improvements in order to better support production scenarios.

The following features comes to mind:

- [x] As a publisher I want to define message TTL in order to expire stale content
- [x] As a consumer I want to move messages to a dead-letter queue if the consumer fails or message expires
- [ ] As a consumer I want to ensure that my queue has a maximum

[2019-11-18 15:11] anuragprafulla commented on #113
@yaron2 @youngbupark This linked helped a lot with my understanding. I just have a couple more questions. Please bear with me :)
1. cloudkms supports two types of encryption symmetric and asymmetric, which one should we support? Should we support both?
2. cloudkms does not necessarily support storing secrets, it is basically useful for encryption, decryption, logging etc. So, the encrypted file co

[2019-11-18 16:42] jjcollinge opened #127 "Add caching to Azure Service Bus Pub/Sub for Management API calls"
The current implementation of Azure Service Bus Pub/Sub makes calls to the Azure Management API to check for the existence of topics on every `Publish` and additionally checks both subscriptions and topics on every `Subscribe` call. We could introduce a dictionary of seen topics and subscriptions to check first before falling back to the Management API. This does introduce a larger opportunity for

[2019-11-19 07:13] #98 closed

[2019-11-19 08:02] yaron2 commented on #113
Let's start with the symmetric encryption which is more common. We can add asymmetric down the road.

A path to the GCP storage file makes sense. We just need to account for the credentials to access this file if a policy has been set to make it private.

[2019-11-19 16:22] skwasiborski opened #130 "All Azure components should support Managed Identity auth"
Currently all secret stores and by extension other components require some kind of in cluster secrets. It would be great if it would be possible to use Azure Manage Service Identity where possible.

Currently I see following possible places to use MSI:
- keyvault secret store
- cosmos db binding
- blobstorage binding
- eventhub binding
- servicebus binding
- azureservicebus pub/sub
- cosmos db sta

[2019-11-20 02:11] LMWF opened #132 "Cosmosdb impl returns nil for Get request when length of items is 0"
## Expected Behavior

dapr panics when using the state store is cosmosdb and the app is an actor.  The reason is because the cosmosdb components implementation returns a nil response from Get() when the length of returned items is 0.

## Actual Behavior

[code]

## Steps to Reproduce the Problem

- init dapr
- overwrite components\redis.yaml with a cosmosdb config
- From  \dotnet-sdk\samples\Actor

[2019-11-20 02:13] yaron2 commented on #132
CosmosDB is not an actor supported state store because it's not transactional.

[2019-11-20 02:14] yaron2 commented on #132
Only Redis and MongoDB are supported for actors.

[2019-11-20 02:19] LMWF commented on #132
Yes I realize that, but I should've clarified above.  I was using it to repro https://github.com/dapr/dapr/issues/515.

It should not be failing a statestore.Get() though when the the len of items is 0.  That is still a problem which I'm fixing.

[2019-11-20 02:20] LMWF commented on #132
Changed title a bit so someone reading it doesn't get the wrong idea.

[2019-11-20 23:21] #132 closed

[2019-11-21 17:06] abhirockzz opened #134 "Add NATS Streaming pubsub component"
## Describe the proposal

Provide support for [NATS Streaming](https://docs.nats.io/nats-streaming-concepts/intro) as a pubsub component in Dapr

[2019-11-21 19:03] #101 closed

[2019-11-22 02:20] shalabhms opened #135 "Split the requests and responses for input/output bindings"
Split the requests and responses in separate go files for input/output bindings

[2019-11-22 02:30] #135 closed

[2019-11-22 20:38] shalabhms opened #138 "Removing go vendor dir"
Removing Go vendoring from components contrib

[2019-11-22 21:41] #138 closed

[2019-11-24 10:20] sayboras commented on #49
@yaron2 need your input on how to handle `key` in dynamodb. Basically, we might need to have `key_col_num` during Set and Get methods. I can put this column name in `Metadata` of `GetRequest` or `SetRequest`, but feel like it's a hacky way.

[code]
[code]

[2019-11-24 10:25] sayboras opened #140 "Failed the build if there is dirty changes"
## Describe the proposal

As we have removed `vendor` for this repo, now go.mod is our source of truth for dependencies. Hence, I feel like we should fail the build if there is dirty changes in go.mod or go.sum.

Additionally, there might be some dirty changes due to `make lint` as well.

Sorry to send PR before we agree on approach. If it's not making sense, happy to close it.

[2019-11-24 19:37] sayboras commented on #44
+1 for this issue.

Currently, I am testing for https://github.com/dapr/components-contrib/pull/142, it will be great to have some steps to follow :)

[2019-11-25 07:46] yaron2 commented on #49
We can use our own struct as the data object for DynamoDB which had two fields: Key and Data.

Then in GetItem requests we can select by the Key field.

[2019-11-25 08:45] #140 closed

[2019-11-25 11:23] sayboras commented on #5
Not sure if there is anything pending with this issue. I feel like we can close this.

[2019-11-25 11:24] sayboras commented on #115
@yaron2 @youngbupark @shalabhms let me know what you have in mind ?

[2019-11-25 19:11] #56 closed

[2019-11-26 15:36] #112 closed

[2019-11-26 19:38] stather opened #143 "Add Azure Storage Queue bindings"
## Describe the proposal
Storage queue bindings would be a useful addition.

[2019-11-28 02:55] sayboras commented on #49
@yaron2 I think it would work as well, will spend sometime this weekend to wrap it up then :)

[2019-12-01 21:22] fbeltrao opened #147 "Support Azure SignalR output binding"
Add output binding for Azure SignalR hubs, enabling scenarios where user notifications can be sent directly from Dapr.

Binding definition:
[code]

Calling from code:
[code]

[2019-12-01 21:32] fbeltrao opened #149 "Add support to partition keys in supported components when publishing"
EventHubs and Kafka (maybe others) have the option to define a partition key when publishing an event. By defining a partition key producer can ensure event ordering for related items (i.e. events from user '123' end up in same partition).

Proposal:
- Using optional "partitionKey" in output binding/publisher metadata to define a value. This would handle scenarios where the key is a string. Scenar

[2019-12-01 21:39] artursouza commented on #149
Hi. There is a broader discussion on redesigning the PubSub API for dapr. This is one of the new features. Please, include this in the discussion and close this as duplicate. I see that you are part of that discussion too.

Reference: https://github.com/dapr/dapr/issues/843

[2019-12-01 21:59] fbeltrao commented on #149
Moving discussion to dapr/dapr#843

[2019-12-01 21:59] #149 closed

[2019-12-01 22:06] artursouza commented on #149
BTW, Maybe you can tackle this as part of item number 3 in dapr/dapr#843. It will create a way for the publisher to add optional special fields that Dapr will understand. One of them is PartitionKey, another one is MessageID and more to come.

[2019-12-03 01:49] davidfowl commented on #147
Very cool! @yaron2 are output bindings always an explicit call or can they also be invoked by returning a JSON object from a dapr invocation?

[2019-12-03 01:52] yaron2 commented on #147
They can also be invoked with a special return JSON, yes.

[2019-12-03 19:06] #119 closed

[2019-12-04 05:31] #143 closed

[2019-12-04 07:34] davidfowl commented on #147
@yaron2 this should be closed

[2019-12-04 07:36] yaron2 commented on #147
closed via https://github.com/dapr/components-contrib/pull/148

[2019-12-04 08:09] #147 closed

[2019-12-04 15:19] thinkerou commented on #43
update? before release v1.0.0.

[2019-12-04 15:27] yaron2 commented on #43
Some of the components will get renamed/restructured, the repo name might change too.

We followed naming conventions for similar projects and repos on this, but can re-examine.

[2019-12-09 18:24] yaron2 opened #152 "Add transactional capabilities to cloud-based state stores: CosmosDB"
## Describe the proposal

In order to support actors in Azure, AWS and GCP environments, we need to enable transactional capabilities for the cloud-native state stores.

Related to https://github.com/orgs/dapr/projects/12

[2019-12-09 18:36] yaron2 opened #153 "Validate Azure Redis Cache works as a Dapr Transactional store"

[2019-12-10 23:49] bd-g opened #154 "Upgrade EventHubs input binding to process past events"
Currently, the event hubs input binding with Dapr only supports ingestion of events that occur after the dapr runtime is started. If an app was taken down for maintenance, and released again after, let's say, 6 hours, there is no way to tell dapr to feed the past 6 hours of events plus future events to that app. Functionality should be added if possible to accommodate this.

**bindings/azure/event

[2019-12-11 01:03] yaron2 commented on #154
Yep, that's possible by changing our implementation to use the Event Processor Host:
https://github.com/Azure/azure-event-hubs-go/blob/master/readme.md#event-processor-host

[2019-12-11 16:31] Haishi2016 opened #155 "OAuth 2.0 through middleware"
Dapr allows custom middleware to be plugged into the sidecar processing pipeline. Dapr uses middleware for distributed tracing as well as CORS control. And this proposal proposes supporting OAuth 2.0 authorization through the same mechanism.

When processing a request, the middleware will check for a previously generated random state exists. If not, it generates a new random state and redirect the

[2019-12-11 16:48] bd-g commented on #154
Sorry, couldn't easily parse the documentation to find the Event Processor Host. Thank you

[2019-12-20 13:50] gunniwho opened #159 "Are there plans to expand the functionality of the Kafka bindings?"
## Ask your question here
Specifically, I'm interested in being able to specify the partition no or at least a message key when invoking a Kafka output binding and also to get the log position when consuming a Kafka input binding. Are there any plans to support this in the near future?

[2019-12-22 20:08] AndreasM009 opened #160 "Azure ServiceBus Queue output binding"
Is output binding for Azure ServiceBus already supported?
I tried the following to write some messages to the queue

[code]

The message is written to the queue but cannot be received with input binding. When I try to create a message with ServiceBusExplorer, the message is received in the input binding.

[2019-12-22 20:41] yaron2 commented on #160
Do you see any error messages in the Dapr logs?

Also, try to start Dapr with debug log level.
If using the CLI, add `--log-level debug` to the command, before the args to start your app.

[2019-12-23 07:39] AndreasM009 commented on #160
I do not see any error messages in Dapr logs.
I deployed my app to AKS, how can I set the log level there?

[2019-12-23 07:59] AndreasM009 commented on #160
It seems that log-level is set to debug in the dapr sidecar. Messages are sent to ServiceBus queue but the message body is always empty.

[2019-12-23 15:10] vslepakov opened #161 "RabbitMQ message acking does not work"
## Expected Behavior

RabbitMQ messages are correctly acknowledged

## Actual Behavior

acking a messages using this code

`  res.status(200).send();
`

causes a channel error and processing stops

RabbitMQ exception:

`Channel error on connection. operation basic.ack caused a channel exception precondition_failed: unknown delivery tag 1`

## Steps to Reproduce the Problem

Just use RabbitMQ bindi

[2019-12-23 15:53] AndreasM009 commented on #160
I think I figured out why it didn't work after I looked at the code of the Azure ServiceBus Queue bindings. In my message producer code I posted the json payload in a wrong structure to daprd. The json structure must look like the following:
[code]
I adjusted my code like this:
[code]
And used CamelCasePropertyNamesContractResolver :
[code]

[2019-12-23 16:11] yaron2 commented on #160
Yeah, I was just about to write that. The output binding endpoint expects this payload. It's mentioned in the docs and shown in the samples.

[2019-12-23 16:17] AndreasM009 commented on #160
Thx @yaron2 I missed that :-) But now I have a better knowledge about how dapr's code is structured :-)
I wrote an example about the producer consumer pattern and how it can be implemented with dapr bindings and how the consumer can be scaled out by using keda. That made my day today.

[2019-12-23 16:29] yaron2 commented on #160
That's great! Can you share the repo for it so we can share it on Twitter/community call?

[2019-12-23 17:10] AndreasM009 commented on #160
Yes, of course :-) Give me some time to finish the documentation. I have already started, you can check it out [here](https://github.com/AndreasM009/dapr-keda-azsbqueue)

[2019-12-23 21:28] yaron2 commented on #161
Thanks for reporting, will investigate.

[2019-12-24 00:17] #161 closed

[2019-12-24 17:19] yaron2 commented on #160
Closing as resolved

[2019-12-24 17:19] #160 closed

[2019-12-26 12:26] trumhemcut opened #163 "Kafka binding not retrying"
## Ask your question here
I use Helm to deploy the whole system including Kafka, Azure Functions and my services. The problem is that Kafka takes long time to bring it up while my services are very lightweight it's up much faster than Kafka and its Dapr sidecar saying that:
[code]
That logs makes sense since Kafka has not been up yet, but then when Kafka is up. The binding component is still not a

[2019-12-26 14:37] yaron2 commented on #163
Normally you would install Kafka and make sure it's set up in your cluster *before* deploying your apps.

Once Kafka is running in your cluster after the initial setup, Dapr will connect to the brokers immediately.

[2019-12-26 15:20] ToonVanhoutte opened #164 "No update of Azure Service Topic / Subscription metadata"
## Expected Behavior

I have a running application, that uses the Service Bus pub sub component.  The first time I run the application, the topic did not exist yet and the component creates the topic and subscription, taking into account the configured metadata (e.g. maxDeliveryCount).

Afterwards, I stopped the application and changed some of the Service Bus metadata (e.g. maxDeliveryCount).  I w

[2019-12-28 11:30] trumhemcut commented on #163
Thanks @yaron2 , that's ok, I'll update the Helm accordingly so that it can adapt Dapr sidecar's behavior. Just wondering in distributed systems, some services are unavailable at some points of time (e.g. Kafka is not available) is just a usual thing, even at sometimes we can't control its availability such as it comes from third-party services, then it would not break our Dapr sidecar in this cas

[2019-12-30 01:58] sowsan opened #691 "AWS Managed Cassandra State : not working"
## Expected Behavior
By creating a component using https://github.com/dapr/docs/blob/master/howto/setup-state-store/setup-cassandra.md and supplying the details from aws managed cassendra expecting to store the state with calculator sample. It works fine with cosmosDb and Google Firestore.

## Actual Behavior
Not getting the state stored in the AWS Managed Cassendra Db

## Steps to Reproduce the P

[2019-12-31 04:04] anuragprafulla commented on #155
@Haishi2016 I would like to take this up if it's available.

[2019-12-31 04:05] anuragprafulla commented on #152
@yaron2 Can I give this a try?

[2019-12-31 04:22] yaron2 commented on #152
But of course. Starting with CosmosDB will be best. It needs to support multi operation transactions, meaning update/deletes in the same transaction.

It's ok to do it with stored procedures.

[2019-12-31 05:00] yaron2 commented on #155
I believe this is already done. Haishi can we close the?

[2019-12-31 17:21] sowsan opened #167 "Documentation / samples for additional consistency levels with Cosmos Db"
## Provide samples and documentation on how to support additional consistency levels within Dapr for Cosmos Db

https://docs.microsoft.com/en-us/azure/cosmos-db/consistency-levels

[2019-12-31 17:41] LukePammant opened #168 "Kafka Output binding error: 'no topics provided'"
## Expected Behavior

The output binding should be available via dapr sidecar. It should not look consumer topics since it is just a publisher. Dapr should not make the `OPTIONS` call to the `/newUser` route either. If you remove the app.UseSpa() middleware the issue goes away.

## Actual Behavior

daprd spams the following error message: `ERRO[0007] error from c: no topics provided`.

## Steps to

[2019-12-31 18:19] yaron2 commented on #168
Thanks to your sample and detailed report, I was able to find the cause for this.

In the meantime, a work around is to make your app return a 404 for the request coming in for /newUser.

[2020-01-04 00:14] Haishi2016 opened #169 "etcd implementation doesn't check ETags on updates and deletes"
Please see concurrency requirement at https://github.com/dapr/docs/blob/master/concepts/state-management/state-management.md

[2020-01-04 04:33] Haishi2016 opened #170 "Cassandra Set() method does INSERT only, doesn't check ETag"
Shouldn't it use UPDATE to update existing row?
Delete doesn't check ETag, either.

[2020-01-04 04:36] yaron2 commented on #170
Cassandra inserts are updates.

https://stackoverflow.com/questions/28350630/when-are-rows-overwritten-in-cassandra

Closing this

[2020-01-04 04:36] #170 closed

[2020-01-04 04:39] yaron2 commented on #170
You can open a separate issue for the etag

[2020-01-05 18:46] yaron2 opened #171 "Redis Streams single concurrency"
## Expected Behavior

When using Redis Streams, consumers receive messages in a concurrent manner.

## Actual Behavior

Messages getting sent to consumers will be serially executed, waiting for the current subscriber handler to finish before dispatching the new one

[2020-01-05 18:54] #171 closed

[2020-01-06 09:08] gunniwho opened #1006 "[Kafka] How should errors be dealt with when using input bindings in order to reliably consume messages?"
I'm looking at using the Kafka input binding for one of my projects at work. While I was playing around with it I realized that I would loose messages if my app experienced an error while handling the request from the dapr sidecar. I tried to return an error status code back to dapr and I also tried to just kill the app, hoping it would pick up that same message again once the pod was restarted. T

[2020-01-06 11:57] abhirockzz commented on #134
Some notes on the configuration for this component - https://gist.github.com/abhirockzz/497c70c54a53a124894e7d33e0751220

[2020-01-06 12:08] abhirockzz opened #174 "Ability to "close" resources for pubsub component"
## Describe the proposal

Currently, the pubsub component does not allow a way to clean up or close resources such as connections. This can cause issues, depending on the messaging system being used e.g.

- In NATS streaming, not closing the subscription will make the server "think" that the particular client is still alive
- In NATS streaming, a durable subscription needs to be explicitly "unsubs

[2020-01-06 21:59] yaron2 commented on #153
Azure Redis Cache runs version 4.0, Redis Transactions are supported since 2.2.

[2020-01-06 21:59] #153 closed

[2020-01-07 18:19] jjcollinge opened #178 "Azure ServiceBus allow concurrent consumers on pubsub"
As discussed in Gitter, the current azure servicebus pubsub implementation receives messages from topics one at a time in a serial fashion. This is a issue is similar to #171.

I propose adding an optional `numConcurrentConsumers` setting which allows users to configure this.
By exposing this setting you can get synchronous behaviour by setting it to 1 or asynchronous by setting it to something hi

[2020-01-07 19:44] yaron2 commented on #178
That's a good issue to raise, thanks for this.

I think by default we should dispatch asynchronous and open a goroutine for every message received, and use  `numConcurrentConsumers` to limit.

[2020-01-07 23:10] MohsenMahdieh opened #180 "Azure service bus message bus throws timeout error after being idle ( and stops working)"
## Expected Behavior

Using Azure service bus as Dapr message bus provider, it should not stop working after being idle as it throws exception

## Actual Behavior

Using Azure service bus as Dapr message bus provider, it stops working after being idle for sometime

## Steps to Reproduce the Problem

- configure Dapr to use azure service bus as message bus by replacing default redis message bus in

[2020-01-08 17:11] jjcollinge commented on #180
Thanks for raising the issue, I’ll have a look into this and report back ASAP

[2020-01-09 20:24] MohsenMahdieh commented on #180
Hey mate @jjcollinge any update on this?

[2020-01-09 20:31] jjcollinge commented on #180
Hey, sorry been busy today but hopefully have time tomorrow to investigate.

[2020-01-09 21:07] shalabhms opened #182 "Modify the AppResponse struct to provide the store name along with state requests"
Need to change the  AppResponse struct to have the store name and state requests separately to support multiple state stores support in Dapr.

This is needed to support this requirement : https://github.com/dapr/dapr/issues/636

[2020-01-10 10:54] jjcollinge commented on #180
Just trying to repro, I've followed your steps but haven't seen the error reported (yet) after ~2 hours. Did you have any additional configuration set aside from your connection string? If you can repro, it'd be good to get debug logs by setting `--log-level debug` when running the dapr command. When you saw the message did dapr continue to work and did the pubsub continue to work i.e. it was just

[2020-01-10 12:50] jjcollinge commented on #180
It finally repro'd so I can answer my own questions now.

Debug logs below:
[code]
The `dapr` process does continue but the pubsub stops working.
Will look into this more.

[2020-01-10 16:29] jjcollinge commented on #164
Thanks for the issue, @yaron2 would reconciling properties such as this be desirable?

[2020-01-10 16:34] #182 closed

[2020-01-10 16:34] #169 closed

[2020-01-10 16:37] yaron2 commented on #164
My gut feeling tells me that such reconciliation shouldn't happen, but I need to research it a bit more @jjcollinge

[2020-01-10 22:49] LMWF opened #284 "CloudEvent(s)Envelope inconsistently named"
## What version of Dapr?

0.3

## Expected Behavior

The same structure in different languages/repos should have the same name (perhaps other than language casing conventions).  The envelope used for pub/sub is named `CloudEventEnvelope` in protobuf's,
https://github.com/dapr/dapr/blob/2cdc91c3f41b97280fffed378bbc15c9fe074a64/pkg/proto/daprclient/daprclient.proto#L21

but is named `CloudEventsEnve

[2020-01-13 01:04] MohsenMahdieh commented on #180
Thanks @jjcollinge for that. Now as you say, I remember that it was happening while my machine was going to sleep.
Would be great if we can have an update on that.

[2020-01-13 15:50] cmendible opened #184 "Add support for Manage Identities in the Azure Key Vault Secret Store"
## Describe the proposal
Add support for Manage Identities in the Azure Key Vault Secret Store.

The idea is to improve the store in such a way that it will first try to run with a client certificate and if the needed configuration is not provided then fall back to attempt with Managed Identity.

[2020-01-13 17:57] jjcollinge commented on #180
@MohsenMahdieh I've pushed a PR (#186 ) that appeared to fix the issue during my tests - the component will still logs errors but it should recover once the network becomes available again. It'd be great if you could please test this for me?

[2020-01-13 23:26] MohsenMahdieh commented on #180
@jjcollinge I am using dapr cli and I dont have dapr dev setup on my mahcine.. Would it be possible to build the docker image so I can use it instead of setting up dapr dev on my machine..

[2020-01-14 08:56] jjcollinge commented on #180
@MohsenMahdieh AFAIK in standalone mode the CLI only uses the docker container to run the placement service and uses the local `daprd` binary to run the Dapr sidecar(s). In case you have a setup that works around this I've pushed the image to Docker Hub @ `dotjson/dapr:azsb-reconnect`. Note, the dapr CLI also [hard codes the dapr image name](https://github.com/dapr/cli/blob/aa5d68e2c6b013b219fdc60

[2020-01-14 14:15] yaron2 commented on #180
Dapr builds for Mac/Linux/Windows with `make build`

[2020-01-14 14:36] jjcollinge commented on #180
Ah yes I had a typo in `GOOS=windows GOARCH=amd64 make build`, fixed it and it does cross compile - thanks @yaron2. @MohsenMahdieh bins for Mac/Linux/Windows are available [here](https://gofile.io/?c=sDTwag) (md5sum: 74355f5ec4eeed1b9b8e96ad2ac06f91)

[2020-01-14 14:38] yaron2 commented on #180
Did you remember to change go.mod in Dapr to point to your local version of contrib and then build it?

[2020-01-14 14:47] jjcollinge commented on #180
yes

[2020-01-14 14:48] yaron2 commented on #180
Awesome :)

[2020-01-14 17:40] mkosieradzki opened #187 "Add Bearer token middleware"
Currently available authentication middleware (OAuth2) is not very useful in API scenarios, because it bases on redirects which are impractical in non-interactive scenarios.

Current OAuth2 middleware is also susceptible to multiple problems with scalability, because it strongly depends on a distributed sessions state (not implemented yet).

For non-interactive/API scenarios I think there should b

[2020-01-14 18:00] mkosieradzki opened #189 "Enable middleware with authorization policies against JWT tokens"
As we have different authentication middlewares which results in acquring and validating JWT tokens, I believe it would be a good idea to provide a framework to write authorization policies against JWT tokens.

_This proposal assumes that middleware pipelines will be configurable based on path filters._

Related: #187, #155

Example policies:
1. Array-based claim (like `group` or `role`) contains

[2020-01-14 20:51] #180 closed

[2020-01-14 23:37] mkosieradzki commented on #130
Especially keyvault… is a MUST have. Otherwise this secret store makes no sense.

[2020-01-14 23:38] yaron2 commented on #130
@mkosieradzki there's already a PR for it: https://github.com/dapr/components-contrib/pull/185

[2020-01-15 18:26] jjcollinge opened #190 "Expose a metrics endpoint via Dapr"
## Describe the proposal
Monitoring your application metrics as well as traces is important. I've not fully fleshed out the idea but I believe we could use a method like Prometheus (or [OpenMetrics](https://github.com/OpenObservability/OpenMetrics)) exporters to expose metrics about the client app and also the dapr process itself through instrumentation. I don't have a solution I'm happy with for

[2020-01-15 19:49] jjcollinge commented on #190
Sorry opened this in the wrong repo, moved to [dapr](https://github.com/dapr/dapr/issues/945) repo.

[2020-01-15 20:06] #190 closed

[2020-01-15 21:27] #184 closed

[2020-01-15 23:52] MohsenMahdieh commented on #180
@jjcollinge I downloaded it and was going to give it a go but I had a production issue and had to work on that. @yaron2 is it available as I can see you closed the issue?!

[2020-01-16 00:42] yaron2 commented on #180
It was closed automatically when we merged a fix for it, yes.
It will go out in the upcoming version.

[2020-01-16 09:38] mkosieradzki commented on #155
There are two problems with this middleware:
1. AFAIK dapr does not support storing sessions in a distributed session state backed by a state store (at least yet) and subsequent calls to this middleware will lead to breaking the session, unless the IDP supports non-interactive, cookie based re-authentication, but even then due to the nature of 302 the verb might get changed from GET to POST and yo

[2020-01-16 12:29] aloneguid opened #191 "[Proposal] Blob Storage as State Store"
## Describe the proposal

Blob storage is currently supported as output bindings (S3, Azure etc.) however I can see scenarios when blob storage would be extremely useful for state stores as well.

First, considering the availability of tools, it's much easier to view blob storage compared to say Dynamo DB.

Second, blob storage is extremely cheap for low traffic scenarios. I'm not quite sure wheth

[2020-01-16 14:40] jjcollinge opened #192 "Proposal: Rate Limiting Middleware"
## Proposal: Rate Limiting Middleware
Add a middleware that can throttle the rate of requests.

Potential rate limiters to leverage:

- https://godoc.org/golang.org/x/time/rate
- https://github.com/juju/ratelimit
- https://github.com/uber-go/ratelimit

We'd probably want to support 2 modes of operation, one that throws a 429 and expects the user to retry and one that blocks until a token is availa

[2020-01-16 15:14] yaron2 commented on #192
Dapr supports rate limiting:
https://github.com/dapr/docs/blob/master/howto/control-concurrency/README.md

However it's interesting to move that logic into a middleware.

[2020-01-16 15:16] yaron2 commented on #192
Ok, so the above rate limits the user app, I gather this is to rate limit Dapr?

[2020-01-16 15:23] jjcollinge commented on #192
Sorry, I completely missed the existing rate limiting - I just did a quick search and didn't find anything so proposed this 🤦‍♂️. If you think having a middleware option is of value then we can pursue this a bit more - if not feel free to close this!

[2020-01-16 19:45] jjcollinge commented on #192
Although looking at the existing control I think the middleware could be used to compliment or extend it. Like you say the middleware would allow you to throttle requests coming into Dapr. We could look to isolate it to just Dapr ingress and then you could use concurrency controls to control appplication ingress. Or something to that effect.

[2020-01-16 21:26] #187 closed

[2020-01-17 00:32] MohsenMahdieh commented on #180
Ok mate, any idea when the next release rolling out?

[2020-01-17 10:45] aloneguid opened #194 "Add Azure Table Storage as state store"
As discussed on gitter, having [Azure Table Storage](https://azure.microsoft.com/en-gb/services/storage/tables/) support would be beneficial, considering it's cost and latency.

@yaron2 I've already started work on this in my fork, please assign it to me ;)

[2020-01-17 14:07] jjcollinge commented on #192
A bug in Dapr https://github.com/dapr/dapr/issues/948 made me think the middleware behaved differently to how I expected, once that's been fixed the middleware will only be invoked once per client call. Therefore we can use this to throttle client and app calls into Dapr. Whereas the existing concurrency control is just Dapr calling the app. Hope that makes sense.

[2020-01-20 13:11] abhirockzz opened #195 "Add Aerospike as a state store"
## Describe the proposal

Add support for [Aerospike](https://www.aerospike.com/) - a NoSQL data store

[2020-01-20 13:22] abhirockzz commented on #195
Sample configuration
[code]

[2020-01-20 14:06] abhirockzz commented on #195
Sample operations:

Adding records (assuming `dapr` is running on port `3500` state store name in config is `aerospike` )

[code]

Getting record (assuming `dapr` is running on port `3500` state store name in config is `aerospike` )

[code]

Update record with ETag

[code]

Wrong etag

[code]

Delete record

[code]

Delete record with Etag

[code]

Delete record with wrong Etag

[code]

[2020-01-23 23:22] yaron2 opened #198 "Change Google KMS to new Google Cloud Secret Manager"
## Describe the proposal

Google announced the new Secret Manager, which is more aligned with our secret store interface than the current GCP KMS service.

Details here:
https://cloud.google.com/secret-manager/docs/reference/libraries#client-libraries-install-go

[2020-01-27 10:56] dev-drprasad commented on #198
Hi @yaron2 , I would like to pick this issue

[2020-01-29 05:37] abhirockzz commented on #119
sample configuration

[code]

[2020-01-29 21:20] youngbupark commented on #5
Closing because CI is testing component-contrib

[2020-01-29 21:20] #5 closed

[2020-01-31 05:51] #198 closed

[2020-01-31 17:31] youngbupark commented on #44
Closing this issue with PR #202

@abhirockzz @sayboras I created the initial document for the component development. If you want to add more information, please improve it and create a pr.

[2020-01-31 17:31] #44 closed

[2020-01-31 22:43] youngbupark opened #204 "Proposal: Conformance test"
# Overview

Conformance test in component-contrib determines whether component implementation complies with the requirements of Dapr specification to guarantee the consistency of components.

# Purpose

* Standardize tests for component to enable the consistency with the below aspects:
   - Performance
   - Function & Behavior
   - Robustness
* Remove dapr/dapr repo dependency while developing new

[2020-01-31 22:49] youngbupark commented on #204
@yaron2 @amanbha @Haishi2016 @artursouza @LMWF @shalabhms / I know we have not planned it but we need this to enable the consistency across components in a standardized way in the long term. Please review it and leave some feedbacks.

cc/ @msfussell @lukekim

[2020-02-03 17:48] youngbupark commented on #204
@abhirockzz @sayboras @jjcollinge Can you please review this proposal and leave any feedbacks and comments?

[2020-02-03 22:26] jjcollinge commented on #204
This would be a very welcome addition. I’ve only had a quick scan but it sounds reasonable, I’ll have a more thorough read later this week. One initial thought is what the plan would be to keep the tests in sync with Dapr? Would this just be manually managed as part of dapr PRs or is there a better way?

[2020-02-03 22:43] youngbupark commented on #204
Maybe we set up new workflow to clone dapr/dapr and enable new component in dapr. Then build the testable binaries. Or we can set up CI which will create PR against dapr/dapr repo by using github rest api with the latest component-contrib whenever component-contrib PR is merged. but it looks like this is out of scope of this proposal :) You can create new proposal.

[2020-02-04 20:15] LMWF commented on #204
lgtm - yes we need a method to validate components.

[2020-02-05 01:15] abhirockzz commented on #204
This would be really helpful!

[2020-02-05 02:14] amanbha commented on #204
Thanks @youngbupark  This would be good for the repo, one thing to note is that perf characteristics of each component would be different so the tests should allow for an acceptable deviation in perf measurement.

[2020-02-06 14:55] RicardoNiepel opened #207 "Tracing Exporter: Azure Monitor/AppInsights"
## Describe the proposal

The current proposal of integrating Dapr tracing with Azure Monitor
- is no an easy task, with a lot of manual work and [without any official guidance](https://github.com/dapr/docs/blob/master/howto/diagnose-with-tracing/azure-monitor.md#setup-the-local-forwarder)
- is based on [Local Forwarder](https://github.com/microsoft/ApplicationInsights-LocalForwarder) which is ["n

[2020-02-07 05:50] yaron2 opened #208 "Close Sender for Azure Service Bus Pub/Sub on Publish"
Sender needs to close in Publish otherwise the connection remains open and causes a memory leak.

First reported by @MohsenMahdieh.

[2020-02-07 06:19] #208 closed

[2020-02-07 15:02] RicardoNiepel opened #210 "Azure EventHubs Binding checkpointing & KEDA usage"
## Describe the proposal

As I can see the Azure EventHubs Binding is currently not doing any checkpointing of the messages received, is this correct?

Should this be part of the binding to make sure to not losse any messages?

In addition, KEDA only supports Azure Event Hub scaler based on checkpoints from Azure Blob Storage. It uses this information for calculating the diff and decidinign for sc

[2020-02-07 15:11] yaron2 commented on #210
Hey @RicardoNiepel, this is already tracked here: https://github.com/dapr/components-contrib/issues/154

Looks like a good candidate for 0.5

[2020-02-07 16:41] RicardoNiepel commented on #210
Perfect - it should be tested afterwards if the KEDA Event Hub scaler can handle the written checkpoint file from Golang.
Inside the documentation it currently says

If not, a custom ```CheckpointPersister``` will be needed, otherwise it doesn't make sence to use Event Hub binding in Dapr, if it is not scalable.

[2020-02-07 16:44] yaron2 commented on #210
KEDA is not the only way to scale event hub consumers. Also, the Prometheus KEDA scaler can be used for this.

[2020-02-07 16:48] yaron2 commented on #210
Specifically, according to the EH scaler docs, matters are even worse: you can only scale an Azure Function with it.

[2020-02-07 19:15] RicardoNiepel commented on #210
I have taken a look into the source code - the language doesn't matter - it just important that the checkpoint files are in a specific format in an Azure storage account - and the EventHostProcessors from C#, Java, Python and Azure Function in general are following these.

I can test in the next weeks.

Regarding autoscaler possibilties: I was just mentioning KEDA because it's mentioned inside the

[2020-02-07 19:28] yaron2 commented on #210
Can you check for the Event Hubs Go SDK?

[2020-02-07 19:31] RicardoNiepel commented on #210
This is exactly what I will do, using the Go EventProcessorHost

[2020-02-07 21:05] yaron2 commented on #195
Closed by #196

[2020-02-07 21:06] yaron2 commented on #194
Closed with #197

[2020-02-07 21:06] #194 closed

[2020-02-07 21:06] yaron2 commented on #178
Closed with #178

[2020-02-07 21:06] #178 closed

[2020-02-07 21:07] #195 closed

[2020-02-07 21:25] #192 closed

[2020-02-10 17:30] msfussell opened #211 "Link from each component to the doc repo"
Need to
1) link back from components contrib to doc for binding concepts https://github.com/dapr/docs/tree/master/concepts/bindings

2) How to use the bindings https://github.com/dapr/docs/tree/master/howto

3) Reorder the binding for clouds in this directory https://github.com/dapr/components-contrib/tree/master/bindings

[2020-02-10 18:13] youngbupark opened #212 "CosmosDB statestore doesn't support multi transaction"
Problem:

User cannot use Actor State management with cosmosdb backend since CosmosDB doesn't support multi transaction.

[2020-02-10 18:17] #212 closed

[2020-02-10 18:35] RicardoNiepel opened #213 "Support Redis with SSL, e.g. for Azure Managed Redis Cache"
## Describe the proposal

Currently Azure Managed Redis Cache is only supported, if ["SSL only" is deactivated](https://github.com/dapr/docs/blob/master/howto/setup-state-store/setup-redis.md#creating-an-azure-managed-redis-cache) and a non-SSL connection will be used.

Would be great if it is possible to use also a SSL connection.

[2020-02-10 18:38] yaron2 opened #214 "Change Redis Client"
Today the Redis state store is using `https://github.com/joomcode/redispipe` which does not support TLS client options.

I propose to move to `https://github.com/go-redis/redis/` which supports TLS client options.

This is important for SSL enabled connections.

[2020-02-10 18:39] RicardoNiepel opened #215 "Support additional params for the MongoDB state component"
## Describe the proposal

The [current MongoDB state component does not support additional parameters](https://github.com/dapr/components-contrib/blob/master/state/mongodb/mongodb.go#L259).

For some (managed) MongoDB databases, it is required to provide them.

For example for Azure CosmosDB with MongoAPI the connection string looks like ```[name].mongo.cosmos.azure.com:10255/?ssl=true&replicaSet=

[2020-02-10 18:39] yaron2 commented on #213
I just opened an issue to track it, but will close it in favor of this one. #214

[2020-02-10 18:39] yaron2 commented on #214
Dupe of #213

[2020-02-10 18:39] #214 closed

[2020-02-10 18:40] yaron2 commented on #213
Today the Redis state store is using https://github.com/joomcode/redispipe which does not support TLS client options.

I propose to move to https://github.com/go-redis/redis/ which supports TLS client options.

[2020-02-10 19:04] #215 closed

[2020-02-10 20:27] jjcollinge opened #217 "nethttpadapoter panics when http.request body is nil"
## Expected Behavior
[`nethttpadaptor.NewNetHTTPHandlerFunc(...)`](https://github.com/dapr/components-contrib/blob/df6c3c3e32ff0b2f6911380a94d340b57840e00c/middleware/http/nethttpadaptor/nethttpadaptor.go#L13) should handle `http.Requests` with a `nil` `io.Reader` i.e. `req, _ := http.NewRequest("GET", "/", nil)`. Our testing only currently uses `httptest.NewRequest("GET", "/", nil)` which is hand

[2020-02-10 20:36] #217 closed

[2020-02-11 00:09] artursouza commented on #204
LGTM

[2020-02-11 02:53] yaron2 commented on #204
This.

[2020-02-11 02:59] youngbupark commented on #204
Yes we should allow acceptable range for the performance. In the beginning, we may have to allow large range in the test and learn from customer's test results to decide the proper range.

[2020-02-11 03:01] youngbupark commented on #213
@yaron2 shouldn't we ship this change in 0.4.0?

cc/ @msfussell @artursouza

[2020-02-11 03:06] yaron2 commented on #213
No, this can wait for 0.5/0.6.

[2020-02-11 03:09] #211 closed

[2020-02-11 03:36] msfussell commented on #213
Yes, we can hold off on this for a while and review all the the asks for the next release.

[2020-02-12 14:32] yaron2 opened #220 "Remove block for Redis Streams"
As reported by @MohsenM, Redis Streams does not contain a non block attribute and will thus timeout after the connection pool has timed out, as reported [here](https://github.com/go-redis/redis/issues/1002).

[2020-02-12 16:45] #220 closed

[2020-02-12 23:19] youngbupark opened #223 "[PubSub] Data Distributed Service (DDS) Pubsub model"
## Describe the proposal

[DDS(Data Distributed Service)](https://www.dds-foundation.org/what-is-dds-3/) has widely used in mission critical industry(Defends system, Power plants, etc). [ROS 2](http://design.ros2.org/articles/ros_on_dds.html) adopts Data Distributed Service as a communication middleware. Having DDS component for Dapr pubsub will be applicable in many mission-critical IOT environme

[2020-02-12 23:21] youngbupark commented on #223
@Haishi2016 ^

[2020-02-13 06:25] youngbupark opened #224 "[Bindings] PostgreSQL bindings"
## Describe the proposal

This is to create PostgreSQL input/output bindings

[2020-02-13 06:26] youngbupark opened #225 "[StateStore] PostgreSQL statestore"
## Describe the proposal

This is to create PostgreSQL statestore

[2020-02-13 12:34] jjcollinge opened #226 "Add Schedule Binding"
## Describe the proposal
Add a binding that will invoke the input binding handler on a predetermined schedule which is defined as a cron expression i.e. `0 0 * ? * *` = every hour.
We could use something like the [cron](https://godoc.org/github.com/robfig/cron) library in go to schedule the handler invocation.
This would be susceptible to the host's clock skew so we'd need to think through the imp

[2020-02-13 22:41] espenaolsen opened #289 "Support sessions when subscribing to Azure Service Bus Topic"
## In what area(s)?

/area runtime

## Describe the feature
Support the use of sessions when subscribing to an Azure Service Bus Topic

[2020-02-16 19:08] chleit opened #227 "Event-Hub input binding should propagate event meta-data"
Currently the Event-Hub input binding only propagates the data payload of an event.
AFAIK I could see this is done in the following code-snippet:

[code]

I would change this to propagate the full event including all SystemProperties like "iothub-connection-device-id".

[2020-02-17 03:33] RichiCoder1 commented on #189
I'm interested in this, specifically `iss` and `scope`. Might be up for implementing too.

Is there currently a way to pass state between middleware? Would this be possible extending metadata?

[2020-02-21 11:13] CarlosLanderas opened #229 "Sql Server state component error: Dapr.Actors.ActorMethodInvocationException"
## Issue Description

I am trying to replace the redis store by azure sql server. The target table is created successfuly but whenever I try to create a proxy actor I get this error when trying to execute a method
Unhandled exception. Dapr.Actors.ActorMethodInvocationException: Remote Actor Method Exception

[code]

## Actual Behavior

Receiving a Remoted Actor Method not found
If I swap sqlstate.

[2020-02-21 11:17] yaron2 commented on #229
The error coming from Dapr is probably different than the one surfaced by the dotnet SDK here.

Can you add the `--log-level debug` flag to `dapr run` and see if there's any suspicious messages showing?

[2020-02-21 11:21] CarlosLanderas commented on #229
Hello @yaron2. First of all, congrats for your amazing work. I'm very hyped with Dapr!

Executing using:

`dapr run --port 3500 --app-id lande_actor --app-port 5000 --log-level debug dotnet run`

Shows errors:

[code]

[2020-02-21 11:24] CarlosLanderas commented on #229
Thanks @yaron2, first of all congrats for your great work.

I can see some reminder errors:

 dapr run --port 3500 --app-id lande_actor --app-port 5000 --log-level debug dotnet run
Starting Dapr with id lande_actor. HTTP Port: 3500. gRPC Port: 27772
You're up and running! Both Dapr and your app logs will appear here.

[code]

[2020-02-21 11:29] yaron2 commented on #229
Thanks, that's always great to hear!

Lets try and get the actual error from Dapr by invoking the actor over HTTP instead of going through the SDK.

Issue the next call to Dapr via HTTP:

Method: `POST`
Url: `http://localhost:3500/v1.0/actors/MyActor/123/<MethodNameOnYourActor>`
Body: <JSON-PAYLOAD>

[2020-02-21 11:31] CarlosLanderas commented on #229
Sorry, forgot to mention I already tried that:

POST: http://127.0.0.1:3500/v1.0/actors/MyActor/1/method/GetDataAsync
[code]

[2020-02-21 11:33] yaron2 commented on #229
Great. Try this next:

Method: 'GET'
Url: 'http://localhost:3500/v1.0/actors/MyActor/123/state/<a-state-key-that-you-have>`

[2020-02-21 11:35] yaron2 commented on #229
In that case, the key should be the one used in the `GetDataAsync` method on the actor.

[2020-02-21 11:36] CarlosLanderas commented on #229
It will be familiar to you as it's the key from the tutorial:

[code]

GET http://127.0.0.1:3500/v1.0/actors/MyActor/1/state/my_data

Response:

[code]

[2020-02-21 11:38] yaron2 commented on #229
Good job!

We now know it's coming from here:
https://github.com/dapr/components-contrib/blob/5b75f4d0fbc6cee6b8ef2576abd203eb826e8032/state/sqlserver/sqlserver.go#L440

[2020-02-21 11:40] yaron2 commented on #229
Are you able to save state?

[2020-02-21 11:41] CarlosLanderas commented on #229
SetDataAsync is the method triggering the exception in the first place:

[code]

[2020-02-21 11:42] yaron2 commented on #229
Ok so we really need to try and save the data with HTTP, because if the data fails to get written than its normal for the not found error to return

[2020-02-21 11:45] yaron2 commented on #229
Method: `POST`
Url: `http://localhost:3500/v1.0/actors/MyActor/1/state/my_data`
Body: `"{\"name\":\"test\"}"`

[2020-02-21 11:55] CarlosLanderas commented on #229
POST http://localhost:3500/v1.0/actors/MyActor/1/state/my_data

Status Code: 201 created

GET http://localhost:3500/v1.0/actors/MyActor/1/state/my_data

Status Code: 200

Data is succesfully stored in Sql Server:

![image](https://user-images.githubusercontent.com/16475649/75032646-52962800-54a9-11ea-928e-ec02d002d4fe.png)

[2020-02-21 11:57] yaron2 commented on #229
And if you use the C# SDK now to Get the state?

[2020-02-21 11:59] CarlosLanderas commented on #229
Working!. So it looks like when there is not state initialized the sql server state crashes using the SDK

[2020-02-21 12:00] yaron2 commented on #229
Can you try to use the C# SDK to invoke an actor with a new ID?

[2020-02-21 12:01] yaron2 commented on #229
It'll probably fail.. just want to make sure.

[2020-02-21 12:01] CarlosLanderas commented on #229
Exactly. Crash again. GetStateAsync is failing

[code]

[2020-02-21 12:03] yaron2 commented on #229
Ok I see why this is happening. The SQL Server implementation treats a non-existing key as an error, but it shouldn't. It should return an empty response.

We'll fix that sooner rather than later.
Thanks a lot for helping debug this.

[2020-02-21 12:05] yaron2 opened #230 "Verify that all state stores don't treat non-existent keys as errors"
## Describe the proposal

State stores should return an empty response for a missing key and not treat it as an error.

The SQL Server implementation currently violates that.

We should:

1. Document this
2. Go over all the state stores  and validate this is the correct behavior

Reported here: https://github.com/dapr/components-contrib/issues/229#issuecomment-589612854

[2020-02-21 12:07] CarlosLanderas commented on #229
You are welcome @yaron2 . Thanks for your support

[2020-02-21 18:07] msfussell opened #231 "Rename middleware to filters"
## Describe the proposal
See also https://github.com/dapr/dapr/issues/1086

Middleware is an overloaded term and often used to describe larger, encompasses ESB products etc. A better term to describe this Dapr capability of injecting processing into the API pipeline is filter.

This change is to rename middleware to filter

[2020-02-21 18:24] youngbupark commented on #207
Linking to https://github.com/dapr/dapr/issues/1080

- Dapr Observability work items : https://github.com/dapr/dapr/issues?q=is%3Aissue+is%3Aopen+label%3Akind%2Fobservability

[2020-02-24 12:30] subesokun opened #232 "Azure Service Bus Component - Add "decode base64 message" option to input bindings"
## Describe the proposal

When connecting an Azure service bus queue or Azure storage queue (maybe also event hub) to a storage account to receive e.g. the blob created events, all queue messages/events are base64 encoded. This will cause an error in the application in case the POST route handler applies an automated JSON parsing of the body (because the headers have the content-type `application/

[2020-02-24 21:48] artursouza commented on #232
@youngbupark @yaron2 We can start by implementing this in the specific component mentioned here. If this proves to be a common need for other components, then it might be worth to bake it into the runtime.

[2020-02-24 21:51] yaron2 commented on #232
I agree.

[2020-02-25 11:23] #229 closed

[2020-02-26 17:43] amanbha commented on #231
Nack on the proposal

Middleware is a industry standard term that refers to software that's assembled into an app pipeline
to handle requests and responses

ASP.NETCore uses the term: https://docs.microsoft.com/en-us/aspnet/core/fundamentals/middleware/?view=aspnetcore-3.1
ASPNetCore Google auth middleware: https://docs.microsoft.com/en-us/dotnet/api/microsoft.aspnetcore.authentication.google.goog

[2020-02-27 23:19] youngbupark opened #235 "Use the same logger pkg of dapr"
## Describe the proposal

Use the same logger pkg of dapr.

[2020-02-27 23:30] rohitshrivastava04 opened #237 "Retry option for Kafka Binding"
## Describe the proposal
I would suggest to add retry feature such that one can configure a retry count and after those many retries message moves to a failed topic.
It would be also useful to do reties with delays like 5 retries every 5, 10, 15, 30, 60 minutes and then it goes to failed topic.
Also while the message is being retried, it should continue to process further messages instead of halti

[2020-02-28 08:15] cmendible commented on #231
I agree with @amanbha when I first read **middleware** in the Dapr context I knew exactly what it was.

[2020-02-28 17:47] youngbupark commented on #207
Cross link : https://github.com/dapr/dapr/issues/1050

[2020-02-29 01:53] #235 closed

[2020-03-02 17:11] mesutcelik opened #243 "Hazelcast PubSub Support"
## In what area(s)?

## Describe the feature

Hazelcast has a feature called Hazelcast Topic for pub/sub messaging model and async communication. That can be a good candidate for Dapr Pubsub Integration.
https://docs.hazelcast.org/docs/4.0/manual/html-single/#topic

Current list of PubSub Modules can be found here.
https://github.com/dapr/components-contrib/tree/master/pubsub

[2020-03-03 05:46] abhirockzz opened #241 "Add Azure Event Hubs as a PubSub component"
## Describe the proposal

Add Azure Event Hubs as a Dapr PubSub component

[2020-03-03 06:30] abhirockzz commented on #241
To use Azure Event Hubs as a PubSub component:

- Create Azure Event Hubs namespace and an Event Hub
- Create Azure Blob Storage account and container
- Use the following component config

[code]

[2020-03-03 09:59] rohitshrivastava04 commented on #8
quite interested in having a look at kafka pub sub, just wanted to know would it support Schema registry for AVRO schema?

[2020-03-04 01:38] youngbupark commented on #243
moving to component-contribs

[2020-03-04 08:38] gmusial-obj commented on #49
I would love to play around with DynamoDB as state store but I see that the issue here is outdated and PR has unreviewed changes from the last month. Is this feature blocked for some reason?

[2020-03-04 16:18] peterjot commented on #243
Could someone assign me to that issue?

[2020-03-04 16:19] youngbupark commented on #243
Thanks in advance. let me assign it to you.

[2020-03-04 16:22] yaron2 commented on #49
@gmusial-obj I think at this point it would be OK for you to start a new PR.

@sayboras, if you still intend to address the comments and close the existing PR please let us know.

[2020-03-04 18:47] RichiCoder1 opened #244 "Support implicit"
## Describe the proposal

A new way to implicitly authenticate Pods with specific roles is to something like [kiam](https://github.com/uswitch/kiam) however all the AWS components currently require/assume a key pair to authenticate. Would be great if components could support [hitting the metadata API to retrieve the specificied role](https://docs.aws.amazon.com/AWSEC2/latest/UserGuide/iam-roles-fo

[2020-03-04 21:45] CarlosLanderas commented on #232
Hello @subesokun!
As I work quite a lot with Azure storage and Service bus I wanted to recreate your environment to contribute with a PR and add the decodeMessage feature.

Could you add some information about the steps you are following? I created and Azure event grid subscription from Azure storage with blob events redirected to Azure service bus queues and it is not base64 encoded.

Are you usi

[2020-03-04 22:32] artursouza opened #245 "[DynamoDB] Put and Delete with BatchWriteItem"
Change batch put and delete to use BatchWriteItem: https://docs.aws.amazon.com/amazondynamodb/latest/APIReference/API_BatchWriteItem.html

[2020-03-04 22:34] artursouza opened #246 "[DynamoDB] Support consistent vs eventual-consistent read"
Support metadata indicating whether the read is consistent and eventual-consistent.

My recommendation is for default to be consistent read.

[2020-03-04 22:36] artursouza opened #247 "[DynamoDB] Support conditional put"
Add support for etag property. If etag is passed in, use that as an attribute and in a conditional get or put.

[2020-03-04 22:42] #49 closed

[2020-03-04 22:43] yaron2 commented on #245
Hey @gmusial-obj, can you please take this? :)

[2020-03-05 00:07] yaron2 commented on #237
@rohitshrivastava04 thanks for this, help me out with designing this.

Ideally, we would like to be able to do this for all bindings and not individually for a particular binding, if possible.

Suppose we define a `.retry` section on Dapr components that allow users to attach retry behaviors.

Dapr runtime would then retry the message according to the policy defined, and if the retry threshold is

[2020-03-05 02:51] csharpknife2002 opened #248 "For service invocation how to map a restful web api into a method"
Assuming I have a restful api like this:
/api/v1.0/persons/{persion_id}/detail?unitsystem="Metric",

to allow another service call it via Dapr service invocation, How do I map it to a method name?

Do I have to combine all information into a simple url and all the data has to be in the body?

Thanks and best regards

[2020-03-05 10:53] CarlosLanderas commented on #232
I have this change working in a local branch, however there is something I would like to ask. The dapr api method onOutputBindingMessage, is marshalling the data request payload to []uint8 and it is including the string quotes in the target data message:

https://github.com/dapr/dapr/blob/master/pkg/http/api.go#L254

When you try to decode the base64 it is invalid so you need to trim the string pa

[2020-03-05 12:17] CarlosLanderas opened #250 "Azure Storage Queues (PubSub and Binding components)"
I would like to know if you consider interesting having pubsub and binding implementations for Azure Storage Queues. They might be valuable for some apps with low scale requirements.
If you think they would add value I would not mind to submit a PR.

Thanks

[2020-03-05 12:18] #250 closed

[2020-03-05 12:20] CarlosLanderas commented on #250
I've seen the binding is already implemented. Closing :)

[2020-03-05 13:16] subesokun commented on #232
@CarlosLanderas Just let me double-checked that I'm not mixing up things here. I thought that I've also observed this behavior with the Service Bus and not only with the Storage Queue. But I'll try to reproduce it with the Service Bus.

My last setup looked like the following:

Azure Blob Storage -> Event -> Storage Queue -> Local running Dapr app (Node.JS based). For the HTTP server, I was using

[2020-03-05 13:41] CarlosLanderas commented on #232
Hello @subesokun, thanks for your answer :)
I am using the events section in storage account. If I create an event grid subscriptions from Blob Storage to Azure Service Bus and a input binding I obtain the following payload in a golang dapr app:

[code]

[2020-03-05 13:55] CarlosLanderas commented on #232
Ok, I think the problem is with Azure Storage Queues:

Binding input:

eyJ0b3BpYyI6Ii9zdWJzY3JpcHRpb25zLzJhOWJlNzc3LTQyMTctNDQ3My04N2NjLWY1MzlkZTQ0ZDBmMy9yZXNvdXJjZUdyb3Vwcy9sYW5kZS13ZS9wcm92aWRlcnMvTWljcm9zb2Z0LlN0b3JhZ2Uvc3RvcmFnZUFjY291bnRzL3Rlc3RzdG9yYWdlMTIzbGFuZGUiLCJzdWJqZWN0IjoiL2Jsb2JTZXJ2aWNlcy9kZWZhdWx0L2NvbnRhaW5lcnMvY29udGFpbmVyMS9ibG9icy9BRCIsImV2ZW50VHlwZSI6Ik1pY3Jvc29mdC5TdG9yYWdlL

[2020-03-06 04:09] csharpknife2002 opened #252 "Is that possible to user Dapr sidecar for service invocation between two namespaces..."
If I already have many services deployed in a K8S and use different namespaces to separate them. Is that still possible to use Dapr Sidecar?

Or I have to always install Dapr and all services in the same namespace?

Thanks and best regards

[2020-03-07 02:32] ksivamuthu opened #255 "Twilio Binding - Get "toNumber" from the request"
In [Twilio Binding spec](https://github.com/dapr/docs/blob/master/concepts/bindings/specs/twilio.md) the `toNumber` is required in the metadata. The application is NOT able to send the recipient number dynamically from the POST endpoint data. The `toNumber` passed in metadata is not used to send in Twilio API.

Change this implementation to
1. Optional `toNumber` field in metadata.
2. The `toNumbe

[2020-03-09 18:58] youngbupark commented on #207
Moving this to 0.6.0 release

[2020-03-09 20:48] rohitshrivastava04 commented on #237
I agree a `.retry` to all bindings would be good idea. Now it depends if we can have delays between retries, if so would it be still processing other messages? I would suggest after the retry threshold user should be able to provide a dead letter queue / topic where message should end up.

Could you please let me know what policies are you thinking for `.retry`

[2020-03-09 22:01] yaron2 opened #260 "Aerospike should return empty state when key not found"
https://github.com/dapr/components-contrib/blob/fa15dfb7087d757190b25de2221a9461bd93a5ed/state/aerospike/aerospike.go#L164

Should check if its a key not found error, and if so return `nil, &GetResponse{}`

[2020-03-09 22:02] yaron2 opened #261 "Couchbase should return empty state when key not found"
https://github.com/dapr/components-contrib/blob/fa15dfb7087d757190b25de2221a9461bd93a5ed/state/couchbase/couchbase.go#L187

Should check if its a key not found error, and if so return nil, &GetResponse{}

[2020-03-09 22:04] yaron2 opened #262 "Hazelcast state store should return empty state when key not found"
https://github.com/dapr/components-contrib/blob/fa15dfb7087d757190b25de2221a9461bd93a5ed/state/hazelcast/hazelcast.go#L110

Should check if its a key not found error, and if so return nil, &GetResponse{}

[2020-03-09 22:09] yaron2 opened #263 "Memcached should return empty state if key not found"
This line: https://github.com/dapr/components-contrib/blob/fa15dfb7087d757190b25de2221a9461bd93a5ed/state/memcached/memcached.go#L134

Should return `nil, &GetResponse{}` in case its a cache miss or key not found.

[2020-03-09 22:11] yaron2 opened #264 "Zookeeper state store should return empty state if key not found"
This line: https://github.com/dapr/components-contrib/blob/fa15dfb7087d757190b25de2221a9461bd93a5ed/state/zookeeper/zk.go#L143

Should check if its an error for a missing key, and if it is return `nil, &GetResponse{}`

[2020-03-09 22:33] yaron2 commented on #230
Done, relavent issues opened:

#260
#261
#262
#263
#264

[2020-03-09 22:34] #230 closed

[2020-03-09 22:45] #255 closed

[2020-03-10 01:53] ksivamuthu opened #265 "Add GCP Cloud PubSub Support"
## Description

Add GCP Cloud Pubsub support in publish/subscribe  https://cloud.google.com/pubsub/docs

[2020-03-10 02:37] ksivamuthu commented on #265
Added pubsub GCP in pubsub_loader in dapr

[2020-03-10 05:19] msfussell opened #268 "Enable the Azure Event hubs binding to be able to read/write from a single partition"
There are scenarios in Azure Events hubs where you need to read from a particular partition. Currently the EventHubs binding reads from all partitions and then forwards the message.

This issue to update the binding here https://github.com/dapr/docs/blob/master/reference/specs/bindings/eventhubs.md to enable reads and write to a particular partition for an Event Hub instance.

[2020-03-10 21:14] ksivamuthu commented on #268
@msfussell @yaron2  Can you please assign this to me, I'll work on this.

[2020-03-10 21:15] yaron2 commented on #268
Thanks!

[2020-03-13 05:21] youngbupark commented on #207
@RicardoNiepel  We found some issues to use opentelemetry-agent. Meanwhile, I pushed localforwarder image to docker hub and improved the docs - https://github.com/dapr/docs/pull/440 (still in review)

The instruction will be more descriptive.

[2020-03-13 14:52] codeputer opened #270 "Form URL-Encoded WebHooks / Twilio"
## Expected Behavior

Configure a web hook from an external service (e.g. Twilio), and allow it to be interpreted correctly in the same manner as a JSON payload.

## Actual Behavior

Rejects the web hook requet

## Steps to Reproduce the Problem

configure Twilio to web hook to an Dapr Actor.

##Resolution
Create a Input binding which interprets the Form-URL encoded payload into a JSON payload.  A

[2020-03-15 05:29] ksivamuthu opened #272 "Bindings - AWS Kinesis Streams"
Create input/output bindings of AWS Kinesis data streams.

Kinesis has two types of subscribing pattern:
1. Shared throughput by using DynamoDB checkpoint
2. Extended fanout using Stream API.

https://aws.amazon.com/kinesis/data-streams/getting-started/

[2020-03-15 18:12] #265 closed

[2020-03-18 11:42] AndreasM009 opened #277 "Redis Streams PubSub Message ordering"
In Redis Streams message are delivered in the order which they were created, as long as you have only one consumer within a group. Dapr fowards message to the Subscriber in a different order. After having a look at the code, dapr used goroutines to forward messages to the Subscriber asynchronously. The order cannot be guaranteed anymore. Is this done on purpose?

[2020-03-19 19:27] #261 closed

[2020-03-19 19:31] #268 closed

[2020-03-20 09:08] perokvist opened #279 "Bindings - Event hubs - Support Storage ConnectionString - Emulator"
##  Support Storage ConnectionString
To be able to use the Azure Storage emulator, only using storageAccountName and storageAccountKey isn't enough, the host needs to be changed. It might be better to go with a connectionString (to enable - UseDevelopmentStorage=true).

https://docs.microsoft.com/en-us/azure/storage/common/storage-use-emulator#connect-to-the-emulator-account-using-the-well-known-a

[2020-03-21 13:53] RicardoNiepel opened #280 "Support of Azure Blob Metadata"
## Describe the feature

Azure Blobs are supporting [system and user-defined metadata](https://docs.microsoft.com/en-us/azure/storage/blobs/storage-blob-properties-metadata).

This should also be supported at the [Azure Blob Storage Binding](https://github.com/dapr/docs/blob/master/reference/specs/bindings/blobstorage.md).

[2020-03-21 23:33] #280 closed

[2020-03-22 14:45] cecilphillip opened #282 "Sample setup files"
## Describe the proposal
It would be great of these additional components included sample yaml files and any other valuable instructions that show how to set them up.

[2020-03-23 09:32] wanton7 opened #306 "Add optional support for TTL (Time to Live) for state stores"
## In what area(s)?

## Describe the feature

If I have example a Redis state store that I want to use as cache, having support for TTL when writing a state would be very beneficial. State stores that don't support TTL could just ignore TTL.

[2020-03-23 19:20] youngbupark commented on #207
@RicardoNiepel  Please review [this doc](https://github.com/dapr/docs/blob/master/howto/diagnose-with-tracing/azure-monitor.md).

To simplify the onboarding process,
1) Push dapr-localforwarder image to daprio docker image
2) Make [doc](https://github.com/dapr/docs/blob/master/howto/diagnose-with-tracing/azure-monitor.md) more descriptive.
3) We are tracking [the separated issue](https://github.co

[2020-03-23 19:40] RicardoNiepel commented on #213
@pruthvidhodda are you already working on this? Can I help somehow?

[2020-03-23 19:41] pruthvidhodda commented on #213
Already working on this, will reach out if I need help. Thanks for offering though.

[2020-03-23 20:13] csharpknife2002 commented on #248
After some try and see the source code, I find it actually support path,query parameter, but just not well documented.

[2020-03-23 20:13] #248 closed

[2020-03-23 20:19] yaron2 commented on #248
Would be great if you could help us with docs!

[2020-03-24 18:35] youngbupark commented on #272
@ksivamuthu Code is merged. Please follow up the below action items:

1. Create the doc for this component
2. Update component-contrib pkg in dapr/dapr repo.

[2020-03-24 22:59] #207 closed

[2020-03-25 00:23] #243 closed

[2020-03-25 01:28] #54 closed

[2020-03-25 01:31] amanbha commented on #43
@yaron2 while we have renamed the components within the repo, do we plan to consider repo rename or can this be closed?

[2020-03-25 01:32] yaron2 commented on #43
I think we can close this now.

[2020-03-25 01:33] #55 closed

[2020-03-25 01:33] #43 closed

[2020-03-25 01:36] amanbha commented on #89
@liangyuanpeng We have this covered in our contributing guide now, please feel free to reopen if you have more questions,
https://github.com/dapr/components-contrib/blob/master/docs/developing-component.md#writing-new-component

[2020-03-25 01:36] #89 closed

[2020-03-25 01:40] amanbha commented on #103
Closing as its tracked by https://github.com/dapr/components-contrib/issues/213

[2020-03-25 01:40] #103 closed

[2020-03-25 01:41] amanbha commented on #105
https://github.com/dapr/components-contrib/tree/master/pubsub/rabbitmq

[2020-03-25 01:41] #105 closed

[2020-03-25 01:41] amanbha commented on #113
https://github.com/dapr/components-contrib/tree/master/secretstores/gcp/cloudkms

[2020-03-25 01:41] #113 closed

[2020-03-25 01:43] #123 closed

[2020-03-25 02:25] amanbha commented on #152
@anuragprafulla Given that the issue is little old, so just checking if you are planning to pick it up

[2020-03-25 02:25] #174 closed

[2020-03-25 02:26] #134 closed

[2020-03-25 02:27] amanbha commented on #282
@cecilphillip This is coovered in our docs repo https://github.com/dapr/docs/tree/master/howto

[2020-03-25 02:27] #282 closed

[2020-03-25 02:29] #263 closed

[2020-03-25 02:29] #262 closed

[2020-03-25 21:22] ksivamuthu commented on #272
@youngbupark Updated docs and added kinesis input/output bindings in dapr/dapr repo.

[2020-03-26 20:00] amanbha commented on #126
@fbeltrao These improvements sounds good, would you like to create a PR for it.

[2020-03-26 23:15] #272 closed

[2020-03-27 03:28] thinkerou commented on #43
ok

[2020-03-27 07:52] fbeltrao commented on #126
@amanbha I have a problem with time availability in the next months. If you are ok with me working slowly on this I can do it.

My advice would be to start working on an standard way to define the additional queue metadata within Dapr so that other implementations (Azure Service Bus,  Azure Storage Queue, etc.)  can follow the same pattern.

[2020-03-27 16:02] amanbha commented on #126
@fbeltrao Thats totally fine, thanks!

[2020-03-27 16:19] RicardoNiepel commented on #210
#253 enabled to test this.

If successful I will add an Event Hub section to [Autoscaling a Dapr app with KEDA](https://github.com/dapr/docs/tree/master/howto/autoscale-with-keda).

[2020-03-28 16:06] #260 closed

[2020-03-31 02:50] #213 closed

[2020-03-31 16:08] RicardoNiepel commented on #213
@pruthvidhodda @yaron2 Please reopen.

See below what is still open:
- [ ] Enable TLS at [Redis Binding Component](https://github.com/dapr/components-contrib/blob/master/bindings/redis/redis.go)
  - [ ] Document it [here](https://github.com/dapr/docs/blob/master/reference/specs/bindings/redis.md)
- [X] Enable TLS at [Redis State Store Component](https://github.com/dapr/components-contrib/blob/mast

[2020-03-31 16:11] youngbupark commented on #213
@yaron2 @amanbha We may not have a time to complete `Enable TLS at Redis Binding Component` in this milestone. If this is urgent, then we can release another minor version. otherwise, we should postpone it to 0.7.0

cc/ @shalabhms @pruthvidhodda

[2020-03-31 16:17] amanbha commented on #213
@RicardoNiepel  We will open a new issue for Redis binding. When the issue was open, it wasn't clear on where the changes are needed, May be I am missing something, but I did not see the checklist you pasted above in the issue earlier.
Support for Redis binding will be added in next release.

[2020-03-31 16:19] amanbha opened #286 "Support Redis with SSL in Redis binding."
Redis binding is using https://github.com/joomcode/redispipe which does not support TLS client options.
It should be modified to use https://github.com/go-redis/redis/ which supports TLS client options.
Redis pubsub and binding are already using go-redis

For more info please see:
https://github.com/dapr/components-contrib/issues/213

[2020-03-31 16:20] amanbha commented on #213
I have created https://github.com/dapr/cli/issues/305 to track binding changes.

[2020-03-31 18:46] programaka opened #288 "Support nested partition keys in cosmosdb binding"
Cosmosdb allows you to enter a nested partition key when creating a container (collection) in the portal.

For example: /headers/salesNumber
`{
    "headers": {
        "salesNumber": "ZCW666"
    }
}`

With Dapr you can only pass a top level property as a partition key.

## Proposal
Support nested partition keys.
Mention in the documentation whether nested partition keys are supported or not.

##

[2020-03-31 18:48] yaron2 commented on #288
Thanks, that makes sense.

[2020-04-01 23:49] ksivamuthu commented on #288
@yaron2 @youngbupark Can you please assign this to me, if it is free to take up? Thanks.

[2020-04-02 00:01] youngbupark commented on #288
Thanks in advance. This is yours :)

[2020-04-02 08:46] RicardoNiepel commented on #74
For reference - PR for EventGrid as Binding: https://github.com/dapr/components-contrib/pull/290

I think the same questions apply here too:

[2020-04-05 19:34] ddobric opened #297 "How to write custom component?"
I want to implement a custom component by following [this](https://github.com/dapr/components-contrib/blob/master/docs/developing-component.md) guide.
Unfortunately, I feel there are many details missing in the documentation.

First of all, is it possible to write the component in any language?  This was my first confusion in the step 2 :

All following steps are then related to 'GO".

It would be

[2020-04-07 19:55] programaka opened #301 "Output bindings error codes"
It seems that Cosmos DB output binding (and other bindings) returns 500 for all errors (regardless of what was returned by Cosmos DB itself). It makes it difficult to reliably act based on the error code. For example, I want to interpret "409 Already Exists" as success, but would want to retry "429 Too Many Requests". Without code propagated, my only option is to parse the error message which is u

[2020-04-07 23:07] artursouza commented on #232
Can we close this issue?

[2020-04-07 23:47] CarlosLanderas commented on #232
Yes sorry! It's merged. Closing

[2020-04-07 23:49] #232 closed

[2020-04-08 12:21] subesokun commented on #232
Sorry for the late feedback and thank you for the fix :) !

[2020-04-09 19:02] #286 closed

[2020-04-09 20:12] amanbha commented on #126
Thanks for the contribution @fbeltrao , we will review it soon.

[2020-04-09 21:43] yaron2 opened #304 "Support partition key for Kafka binding"
A user needs to be able to specify a partition key when writing to a Kafka Topic.

[2020-04-09 21:43] yaron2 commented on #304
Closed via #303

[2020-04-09 21:43] #304 closed

[2020-04-11 09:19] ddobric opened #305 "Invalid concept URL"
On this page (https://github.com/dapr/components-contrib/blob/master/docs/developing-component.md) there is following invalid URL:
https://github.com/dapr/docs/blob/master/concepts/state-management/state-management.md.

The correct URL should be : https://github.com/dapr/docs/blob/master/concepts/state-management

[2020-04-15 17:00] amanbha opened #307 "Add message time to live in RabbitMQ, Azure Service Bus/Storage Queue bindings"
This is one of the sub items defined in https://github.com/dapr/components-contrib/issues/126

[2020-04-15 17:07] #307 closed

[2020-04-15 17:29] #288 closed

[2020-04-16 13:25] benc-uk commented on #297
As the components are imported and loaded into the main daprd (over in https://github.com/dapr/dapr) which is written in Go, this means all components have to be written in Go also

[2020-04-16 13:28] benc-uk commented on #301
This is a good idea, most components are wrapping downstream REST/HTTP APIs which will will return their own errors.

For the caller getting a 500 from dapr, is confusing, if they read the body and unwrap it they will mostly likely find the "real" status code, e.g. 401 or 429, but even that is down to format of error messages in the component
The mismatch leads to confusion

[2020-04-17 18:46] msfussell commented on #74
https://github.com/dapr/components-contrib/pull/290

[2020-04-17 18:57] msfussell commented on #102
@alanwales can you clarify the 3rd point in this issue. We are not clear what you are trying to do here.
The other issues are docs issues.

[2020-04-17 18:58] msfussell commented on #115
This is now supported with Go modules

[2020-04-17 18:58] #115 closed

[2020-04-17 18:59] msfussell commented on #126
TTL is done.

[2020-04-17 19:03] msfussell commented on #130
Managed Identity for authenticating with KeyVault is done. @skwasiborski can you describe the scenarios more for the other bindings?

[2020-04-17 19:06] msfussell commented on #154
This has been implemented.

[2020-04-17 19:06] #154 closed

[2020-04-17 19:11] msfussell commented on #189
@mkosieradzki Does this PR https://github.com/dapr/components-contrib/pull/188 close this issue also?

[2020-04-17 19:12] msfussell commented on #155
@Haishi2016 - can you clarify exactly what needs to be done and the scenario for this?

[2020-04-17 19:13] mkosieradzki commented on #189
@msfussell Unfortunately, not. #188 handles only the authentication part, but there is no place to do the authorization logic today.

[2020-04-17 19:25] alanwales commented on #102
I have to admit I haven’t used dapr since I posted these questions half a year ago so maybe it works and I was making a mistake. Or maybe not many other people are using it.

It was to do with the dapr sidecar trying to execute the POST endpoint in my application but it kept getting the 405 back. When I enabled options as above then the call finally worked. I was using .net core 3.0 at the time, m

[2020-04-18 08:48] ddobric commented on #297
Any plans to change this limitation? We have today few enterprise approved languages and platforms. Go might be ok, but it is still does not play a role in enterprises. For the case that it never becomes important part of enterprise application development, it would be reasonable to provide other options.

Independent on this, if dapr a polyglot platform, then it should also be polyglot in its cor

[2020-04-18 10:47] jjcollinge commented on #297
@ddobric please refer to this related issue and explanation of the current limitations in the go plugin model: https://github.com/dapr/dapr/issues/739

[2020-04-19 10:56] cmendible opened #309 "Expand the secret store implementation to provide a method to retrieve all secrets from a store"
## Describe the proposal

Some use cases require to load all secrets from a store, so in order to simplify the customer code the `SecretStore`  interface should be expanded with a new GetSecrets method as a previous step before extendending the Dapr Secrets API:

[code]

[2020-04-20 12:21] XavierGeerinck opened #311 "OnInvoke Slow Performance on Local Machine"
/area runtime

## What version of Dapr?

## Expected Behavior

I **expect ms** performance when `Invoking` a service through the **gRPC** binding

## Actual Behavior

Currently I see ~1s delay between call starting and ending

## Steps to Reproduce the Problem

I'm including a Python example here, but it's not the language itself causing the issue. When logging, I see the following output:

[code]

[2020-04-20 13:58] yaron2 commented on #311
I moved the issue to components-contrib where the mDNS resolver resides.

[2020-04-21 18:51] amanbha opened #314 "Add SendGrid output binding for sending emails"
## Describe the proposal.
Add an output binding for SendGrid
This sends simple HTML emails using the SendGrid API.

Example component
[code]

The data field in the binding request is used as email body
You can specify any of the metadata properties on the request too (e.g. `emailFrom`, `emailTo`, `subject`)

Example payload
[code]

[2020-04-23 04:54] #314 closed

[2020-04-26 01:01] aldelar opened #558 "Should we support standalone and kubernetes mode with a single azurekeyvault.yaml file?"
**Observation:** Currently is seems like one would have to juggle between two different component files to define an Azure Key Vault component to be able to develop and run apps in standalone mode, and then deploy to a Kubernetes cluster. The justification here being that it seems to be a natural way to develop and quickly test changes with a 'dapr run' environment and more seldom deploy and test

[2020-04-28 07:21] jjcollinge commented on #204
@youngbupark - just flagging this proposal again as I think this is required before 1.0. I will do a quick prototype of the above proposal later this week and then we can review if we think it's the right pattern.

[2020-04-28 08:02] jjcollinge opened #316 "Add vscode devcontainer"
We should add a devcontainer for working on dapr components.

This could just use the `dapr-dev` image as it includes all the `go` tooling. It does also include Kubernetes specific bits too which might not be needed but might be useful.

[2020-04-28 08:44] benc-uk opened #317 "Azure Blob output binding not unescaping text"
## Expected Behaviour
Text data is written to blob without quotes around it, and escaped character sequences are converted (e.g. `\n`)

## Actual Behaviour
If the user sent the following to the Azure blob output bindings API

[code]
The value in the blob will literally be this, including the quotes
[code]

I've raised a PR to fix this - https://github.com/dapr/components-contrib/pull/313

## Steps

[2020-04-28 08:57] benc-uk commented on #311
Just a FYI - I also see the same behavior when making HTTP invoke calls, not using gRPC

[2020-04-28 18:55] youngbupark commented on #204
Fantastic!  I think you can start state component first as a prototype :) Thanks for taking this.

[2020-04-29 17:22] jjcollinge commented on #204
I'll probably have to push this to next week but will still take a crack at it. Seems sensible to start with the state api, thanks!

[2020-05-04 11:44] mareklinka opened #323 "SQL Server - possibly incorrect behavior when invoked via gRPC"
Hello. While trying to build up a set of demo projects using DAPR and the .NET Core SDK, I came across a curious problem. I originally thought it might be SDK-related but now I think it's related to the SQL Server component.

Please refer to the original issue for initial context: https://github.com/dapr/dotnet-sdk/issues/298

Long story short, I observe a discrepancy between state store saves bet

[2020-05-04 23:57] youngbupark commented on #225
@brooke-hamilton will work on this issue.

[2020-05-05 17:18] brooke-hamilton opened #324 "SQL Server state store integration tests do not pass"
## Expected Behavior

The integration tests should pass with output that looks similar to this:
[code]

## Actual Behavior

The SQL Server integration tests at ```components-contrib/state/sqlserver/sqlserver_integration_test.go``` are failing. An example output of one of the tests is below:
[code]
All tests fail in a similar manner.

## Steps to Reproduce the Problem

Run the integration tests:
1.

[2020-05-06 06:18] kumaya opened #326 "Add MQTT as a pubsub component"
## Describe the proposal
Add MQTT as a Dapr pubsub component.

[code]

Where:

* url (required) is the address of the MQTT broker.
* qos (optional) indicates the Quality of Service Level (QoS) of the message. (**Default** 0)
* retain (optional) defines whether the message is saved by the broker as the last known good value for a specified topic. (**Default** false)
* cleanSession (optional) will s

[2020-05-06 06:20] kumaya commented on #326
I plan to work on this issue. And I am planning to use (paho.mqtt.golang](https://github.com/eclipse/paho.mqtt.golang) package.

[2020-05-06 09:48] youngbupark commented on #326
Thanks for your interest. JFYI - we have binding component for [mqtt](https://github.com/dapr/components-contrib/blob/master/bindings/mqtt/mqtt.go).

[2020-05-06 09:50] #305 closed

[2020-05-07 08:09] cmendible opened #327 "Create a JSON Secret Store"
## Describe the proposal

The idea is to create JSON secret store so developers can save secrets in a JSON file anywhere on their boxes and then use those secrets both in components and code.

This will:

- Simplify the experience for those who want to start using secrets or the secrets API without having to deploy a solution such an Azure Key Vault.
- Devs will have a full Dapr secrets API experi

[2020-05-12 16:42] ksashikumar commented on #245
@artursouza @yaron2 I've worked on this issue in the mentioned PR. Could you please review? Thanks 🙂

[2020-05-12 17:56] jjcollinge commented on #189
An example of parsing JWT in Go for authorization that we could build on for a middleware https://github.com/benc-uk/dapr-store/blob/master/pkg/auth/auth.go cc: @benc-uk

[2020-05-12 17:59] jjcollinge commented on #289
Now that custom routes #1518 have been added I'll be able to look into adding support for sessions

[2020-05-12 18:14] benc-uk commented on #189
I'd like to turn this into a JWT validation middleware component. For some reason I thought there was one already (or at least a PR) but I went looking and couldn't find it.

It's kinda a classic use case for this sort of middleware.

Major thing to consider is how users specify which routes/URLs to secure, as in my experience you might want your API to expose a mix of open and secured routes

[2020-05-12 18:14] benc-uk commented on #189
I'd like to turn this into a JWT validation middleware component. For some reason I thought there was one already (or at least a PR) but I went looking and couldn't find it.

It's kinda a classic use case for this sort of middleware.

Major thing to consider is how users specify which routes/URLs to secure, as in my experience you might want your API to expose a mix of open and secured routes

[2020-05-12 18:17] mkosieradzki commented on #189
#188 does JWT validation

[2020-05-12 18:34] jjcollinge commented on #189
Ah I searched and missed this too - either way we can look to extend it to add the authorization / claims parsing part. This may require changes to the middleware pipeline too.

[2020-05-12 18:39] mkosieradzki commented on #189
My bad. Should have used JWT keyword in the description.

[2020-05-12 18:52] benc-uk commented on #189
I knew I saw a PR somewhere! 🤔🙂

[2020-05-13 08:53] jjcollinge opened #332 "Nethttpadaptor doesn't support uservalues"
## Expected Behavior
Uservalues in the original request context should be available in subsequent requests after the original request has been converted to a net/http request and back.

## Actual Behavior
Uservalues are not copied into the new request.

## Steps to Reproduce the Problem
Use the ratelimiting middleware on a state API that expects the state store name to be stored in the uservalues

[2020-05-13 15:30] youngbupark opened #334 "Upgrade go/linter to the latest"
## Describe the proposal

Upgrade go/linter to the latest

The latest:
go : 1.43 - https://golang.org/dl/
lint : 1.27.0 - https://github.com/golangci/golangci-lint/releases

[2020-05-15 19:08] msfussell commented on #152
This is to add other transactional state stores that can be used by  Actors. Today only Redis and Mongo DB are supported and ideally we need a cloud state store in each public cloud.

[2020-05-15 19:11] msfussell commented on #155
@Haishi2016 Following up here?

[2020-05-15 19:15] msfussell commented on #159
@gunniwho - Yes, this is valid. Would you like to do a contribution with a PR for a proposal?

[2020-05-15 19:17] msfussell commented on #163
@yaron2. Do our retry patterns apply to all bindings in general, or is this specific per binding?

[2020-05-15 19:22] msfussell commented on #164
@jjcollinge @yaron2  - Any update here on updating the Azure Service Bus Topic when then component meta data is updated?

[2020-05-15 19:25] msfussell commented on #167
@sowsan - Dapr provides concurrency and consistency flags. Are there scenarios that you cannot do with these Dapr settings? Can you provide some details here?

[2020-05-15 19:26] msfussell commented on #168
@yaron2  Is this fix?

[2020-05-15 19:31] msfussell commented on #189
@mkosieradzki @jjcollinge Looks like the PR is merged, however there are no docs on how to use this.
Can you create a  PR for a Howto doc that can be included with the middleware section on how to use this JWT token?

[2020-05-15 19:34] msfussell commented on #191
@aloneguid - are you interested in adding Azure Blob Storage as a state store?

[2020-05-15 19:39] msfussell commented on #210
@RicardoNiepel - Can this issue now be closed  and can you also update the Event Hub section to Autoscaling a Dapr app with KEDA documentation?

[2020-05-15 19:40] msfussell commented on #224
@youngbupark - Is someone from Azure Global team working on this? If so, can you assign this issue to them?

[2020-05-15 20:01] youngbupark commented on #224
no this is not their scope. they are working only on state store. I think we can close it for now. Right now, no requests from the customers.

[2020-05-15 20:01] #224 closed

[2020-05-15 20:31] jjcollinge commented on #164
No I left this as is given @yaron2 comment above - metadata is set on creation and not updated if changed. Is this something you’d want to see?

[2020-05-16 03:21] abhirockzz opened #337 "Dapr PubSub component for Redis Channel (PubSub)"
## Describe the proposal

Currently, there is support for Redis Streams. Redis provides a [`PubSub` feature based on Channels](https://redis.io/topics/pubsub) - this is pure pub-sub (not load-balanced queuing). Here are its salient characteristics (from the Redis docs):

*1. published messages are characterized into channels
2. Subscribers express interest in one or more channels, and only receive

[2020-05-16 03:23] abhirockzz commented on #337
If this sounds reasonable, I can work on implementing this

[2020-05-16 06:28] KaiWalter opened #338 "telemetry forwarded to Application Insights is incomplete"
## Expected Behavior

When using the native trace exporter and the Application Insights forwarder I would expect, that all requests, traces and dependencies telemetry is rendered to Application Insights.

## Actual Behavior

For a sample case - actor is instantiated by a service invocation (or messagebus binding), pub/subs 2 others services and is updated by these - only this is recorded in Applic

[2020-05-16 13:05] yaron2 commented on #338
cc @youngbupark @shalabhms

[2020-05-16 16:46] shalabhms commented on #338
@KaiWalter , we have released Runtime version: 0.7.1 to address some fixes.
Could  you please try 0.7.1 and update the result ?

[2020-05-16 17:10] KaiWalter commented on #338
@shalabhms sorry, is https://github.com/dapr/cli/releases the right place to look for 0.7.1? Or would I need it to build myself?

[2020-05-16 17:16] yaron2 commented on #338
For running locally, you can use:

dapr init --runtime-version 0.7.1

[2020-05-16 17:41] KaiWalter commented on #338
Thanks @yaron2 @shalabhms - after reinstalling CLI, runtime was upgraded to 0.7.1; next time I'll use the more elegant parameter you provided.

OK, with 0.7.1 there is a slight improvement: now I get pub/sub `dependencies`like `PublishEvent: ComplianceCheck` and `requests` for the pub/sub like `DeliveredEvent: ComplianceCheck`.

I am still missing - maybe this will be supported later :

1. telemet

[2020-05-17 05:00] shalabhms commented on #338
@KaiWalter , I have a question about point 1. Is the scenario working earlier in 0.6.0 and found to regressed ?  You should see telemetry for service invocation .

We have tracking issue https://github.com/dapr/dapr/issues/1513 in 0.8.0 for user app to get trace id from Dapr side car.

[2020-05-17 12:22] trondhindenes opened #339 "aws components should be able to use default aws credentials resolution"
## Expected Behavior
One of the great things with AWS is the well-documented and consistent way all sdks resolve credentials. For the aws go libraries, this process is documented here: https://docs.aws.amazon.com/sdk-for-go/v1/developer-guide/configuring-sdk.html, but it really is the same for all sdk languages.
It seems like at least the sqs binding in dapr expects a hard-coded credential. This b

[2020-05-17 18:40] KaiWalter commented on #338
@shalabhms I downgraded runtime and .NET SDK to `0.6.0` but with that configuration I do not even get the `dependencies` I originally reported.

Reverting back to `0.7.1` gave me back the behaviour I stated earlier immediately.

[2020-05-18 16:40] #324 closed

[2020-05-18 20:19] shalabhms commented on #338
Thanks @KaiWalter for confirmation. Yes, in 0.7.1 tracing is improved . There is one issue dapr/dapr#1513 that we target in 0.8.0. If you find gaps, please raise the issue and we will address the in upcoming milestone.

[2020-05-18 23:48] ksivamuthu commented on #191
I'm interested to do if it is free to take.

[2020-05-19 08:26] aloneguid commented on #191
@msfussell I'm happy for @ksivamuthu to do it, I'm not too active for a next month or so. Looking forward to contribute to some other component soon.

[2020-05-20 06:34] cvictory opened #343 "[Proposal] The dapr need to invoke out-system with internal rpc framework, can we add some component about service invacation."
## Describe the proposal
In our internal system, we use [dubbo](http://dubbo.apache.org/en-us/) as our rpc framework. Now i want introduce into out system as follow:

![image](https://user-images.githubusercontent.com/4089452/82411306-2425ea00-9aa4-11ea-9c71-28b50c4a50c5.png)

We should use dapr to invoke our system (Dubbo server), and every invocation contains request and response. But the output

[2020-05-20 06:54] cvictory opened #344 "[Proposal] Dapr state component should add some feature about data changed notification."
## Describe the proposal
The state component api is as follow:
[code]
The state feature in java sdk is as follow ：

I want to add some state listener. when data or state changed, the app can be notified.
So we should add some Api in java sdk , such as :
[code]
We shoud add new Api in Store component interface:
[code]

More detail scene:
The app invoke addStateListener , and the app implements List

[2020-05-20 17:01] amanbha commented on #327
@cmendible Thanks for sharing the proposal and PR, this will definitely be helpful in dev environments. As I understand user will have to set the env var DAPR_ENABLE_JSON_SECRET_STORE before running Dapr, do you think it would be good if cli can set this up?

[2020-05-20 19:56] cmendible commented on #327
A switch for dapr run so any child process can access the env var? Once we add the component we can add an issue in the Dapr repo to discuss this feature right?

[2020-05-21 00:02] #332 closed

[2020-05-21 02:17] amanbha commented on #327
Yes, this env is used by this component in dapr process to enable this json secret store, so cli can just set the env var before launching Dapr.

[2020-05-21 15:51] cmendible commented on #327
@amanbha I just opened https://github.com/dapr/dapr/issues/1589 to track this.

[2020-05-21 17:00] amanbha commented on #327
Thanks @cmendible I have moved it to dapr cli

[2020-05-22 11:10] elyst opened #345 "Add Apache Pulsar pubsub component"
## Describe the proposal

This will add Apache Pulsar as a pubsub component.

[code]
Parameters:

- host (required) is het pulsar host address.
- subscriptionName (required) is the name dapr subscribers receive.
- enableTLS (required) makes it possible to disable/enable TLS.

Reference: [Pulsar Link](https://pulsar.apache.org)

[2020-05-22 17:13] youngbupark commented on #7
@yaron2 @amanbha will we version component-contrib in this milestone?

I think we have to create release script to make tag version automatically.. it is going to be complicated to release all repos ....

cc/ @msfussell @orizohar

[2020-05-23 05:26] trondhindenes commented on #339
fyi we now have a generic "aws credentials" abstraction that behaves correctly, but I'll leave this open until we've switched to it in all aws clients

[2020-05-25 11:33] jjcollinge commented on #189
I think we may be able to use the request context to pass the JWT downstream - although this is unstructured so I’ll need to do some tests. Then we can start with some standard OIDC scope/claims handling and build from there. Will update once I’ve tried it  out.

[2020-05-26 11:26] #326 closed

[2020-05-26 12:49] karoldeland opened #349 "Support ClientAuth with SSL for Kafka"
## Describe the proposal
It seems that the ClientAuth SSL authentication is not supported in by the Kafka pubsub component.

kafka.go :
[code]

We are using SSL with Client Certificate to authenticate a consumer or a producer. The sarama provider seems to support it. Is it possible to consider supporting this auth mecanism?

[2020-05-26 13:38] yaron2 commented on #349
Yes, that's a very plausible requirement.

[2020-05-26 23:27] #339 closed

[2020-05-27 03:54] RichiCoder1 commented on #189
@jjcollinge Looking forward to that! Agreed on policy language. For anything beyond that, some sort of integration with OPA ala https://github.com/dapr/dapr/issues/1350 would probably be preferred.

[2020-05-27 07:59] trondhindenes commented on #339
@yaron2 I was hoping we'd have updated docs in place, including how to document optional vs required params before closing this.

[2020-05-27 10:08] jjcollinge commented on #189
I put a quick (and probably inaccurate) diagram together to try to make sure we're all on the same page. I guess open questions are, is the best abstraction to have different authorization middlewares i.e. `authz_opa`, `authz_basic`, etc. that can be assembled into a pipeline (with this PR https://github.com/dapr/dapr/pull/1557 we could use selectors). Or do we provide an interface such as `Author

[2020-05-27 14:49] RichiCoder1 commented on #189
That looks awesome! I think just a generic middleware would great, as I could imagine there might be cases where you want to terminate a request before it even gets to the authz middleware. So you might want to make policy decisions on both ends.

One helpful thing would likely be to added some sort of context dictionary so the OAuth/Bearer Middleware could make the token/parsed claims available s

[2020-05-27 14:51] RichiCoder1 commented on #189
Also, if we allow pre & post OPA, and ensured that OPA policies [could manipulate things like headers](https://github.com/open-policy-agent/opa-istio-plugin#example-policy-with-object-response), you could potentially do custom token logic but still use the generic Bearer middleware for example. That may be a contrived case though.

[2020-05-27 22:12] #245 closed

[2020-05-28 22:51] #345 closed

[2020-05-29 12:53] youngbupark commented on #225
@brooke-hamilton Can you please update the progress?

[2020-05-29 12:55] #327 closed

[2020-05-29 12:57] youngbupark commented on #191
@ksivamuthu Can you please create docs as well ?

[2020-05-29 12:59] youngbupark commented on #191
@ksivamuthu please follow [this doc style](https://github.com/dapr/docs/tree/master/contributing#contributing-to-how-tos) when you create the howto.

[2020-05-29 19:06] brooke-hamilton commented on #225
Thanks for checking - I'm ready to submit a PR for review and feedback.

Apart from submitting the review PR, remaining work includes implementing the TransactionalStore interface, consistency flags, benchmark tests, and likely some renaming of things internal to the package.

[2020-05-29 19:07] yaron2 commented on #225
Thanks, submitting the PR as soon as possible would be great :)

[2020-05-29 22:27] mukundansundar commented on #334
version 1.26.0 of linter is used.

[2020-05-29 22:40] #334 closed

[2020-05-29 22:43] youngbupark commented on #225
@brooke-hamilton Thanks for the update. I moved this issue to 0.9.0 milestone.

cc/ @yaron2 @amanbha @msfussell @orizohar

[2020-05-31 09:02] thebillkidy commented on #311
Any update on this? Currently still there when using normal `dapr run` in runtime version `0.7.1`

[2020-06-02 19:06] programaka opened #354 "ECONNREFUSED for the first few seconds after app is started in Kubernetes"
I am using blob storage output binding and I am getting "Error: connect ECONNREFUSED 127.0.0.1:3500" for the first few seconds when deploying my app in Kubernetes.

I also noticed the same issue in my pub-sub subscriber app when saving orders to Cosmos DB using Dapr output bindings and I didn't see this happening before. Were there any recent changes that could break this?

What's interesting is t

[2020-06-06 01:23] #7 closed

[2020-06-08 17:49] amanbha opened #355 "MongoDb: url is not set correctly when username and password is not provided"
the url will not be set when username and password is not provided  https://github.com/dapr/components-contrib/blob/master/state/mongodb/mongodb.go#L272

[2020-06-08 18:46] your-azure-coach opened #356 "Issue with Azure Storage SAS Authentication"
## Expected Behavior

I'm using both the Azure Table Storage and Blob Storage output binding within Kubernetes (miniKube).  I'm using them in the context of testing he Dapr Workflows features that was recently released.  Just want to invoke both output bindings via the API.

## Actual Behavior

The two output bindings fail with an **HTTP 403 Forbidden**.  I think it has something to do with timezo

[2020-06-09 23:30] olegchorny opened #357 "MQTT over TLS"
Hello @kumaya
Is possible to leverage mqtt pubsub with enabled encryption on the server side?
It seems like I need to pass the tls flag somehow, but I didn't manage to find the right approach yet.

[2020-06-10 05:53] kumaya commented on #357
@olegchorny Thank you for reaching out.

Currently, the pubsub mqtt implementation does not support tls configuration.

However, this can be done by enhancing the [mqtt metadata](https://github.com/dapr/components-contrib/blob/master/pubsub/mqtt/metadata.go) to accept relevant certificates and then setting `opts.SetTLSConfig()` while creating the connection.

@yaron2 If accepted, I can take it up.

[2020-06-10 18:06] LMWF opened #358 "[sql store] Reminder callbacks continue after reminder is unregistered"
From gitter.  SQL is being used as the actor store.  When redis is used the behavior is as expected.

## Expected Behavior

Unregistering a reminder should succeed and no subsequent callbacks for this reminder should occur.

## Actual Behavior

Unregistering a reminder succeeds but reminder callbacks continue happening.

This error - "items was not updated" appeared https://github.com/dapr/compone

[2020-06-11 06:46] perokvist opened #377 "Client Sample - Serialization Error - (CosmosDB state store)"
Running the [client sample ](https://github.com/dapr/dotnet-sdk/blob/master/samples/Client/DaprClient/Program.cs)(with only the state calls), using the client nuget (instead of sdk project ref) **AND** the CosmosDB state component;

Write, read and delete is expected to run.

But, on running the sample - it does write, then fails at read with the following ex;

[code]

The item in cosmosDB looks l

[2020-06-12 12:33] simonrhart opened #359 "HTTP error 500 context deadline exceeded when attempting to persist state to a MongoDB instance"
## Expected Behavior

To invoke the Dapr sidecar directly i.e. http://localhost:3500/v1.0/state/mongostore to store state against a MongoDB database instance and return HTTP 201 return code in that the payload has persisted in the database.

## Actual Behavior

I continuously have a return code of HTTP 500 with a response text of:
`
{
    "errorCode": "ERR_STATE_SAVE",
    "message": "context dead

[2020-06-12 16:35] orizohar commented on #225
@brooke-hamilton - Thanks for this contribution. On top of this PR, can you please add a PR for the docs repo that provides guidance on using this component here https://github.com/dapr/docs/tree/master/howto/setup-state-store ?
There is a template for these howtos you can find here https://github.com/dapr/docs/blob/master/contributing/howto-template.md

[2020-06-15 17:26] cmendible opened #360 "Refactor JSONSecretStore to LocalSecretStore and remove the use of DAPR_ENABLE_JSON_SECRET_STORE env variable"
Refactor JSONSecretStore into LocalSecretStore and remove the use of the DAPR_ENABLE_JSON_SECRET_STORE environment variable as suggested here: https://github.com/dapr/dapr/issues/1633

[2020-06-16 17:23] youngbupark commented on #311
I found the bug in mdns service discovery logic. Please look at the fix #362

[2020-06-16 17:29] XavierGeerinck commented on #311
That looks awesome! Is there any way I can test this myself easily?

[2020-06-16 19:55] youngbupark commented on #311
For selfhost mode, you can download binaries from
 https://github.com/dapr/dapr/actions/runs/137600612
Then replace `daprd` in /usr/local/bin/ with the new downloaded binary.

For Kubernetes mode, use helm.
[code]

[2020-06-16 19:56] #311 closed

[2020-06-16 22:32] #360 closed

[2020-06-17 15:05] jjcollinge opened #364 "ASB lock renewal not isolated per subscription"
## Expected Behavior
When subscribed to multiple ASB topics, only messages belonging to that subscription entity should be renewed.

## Actual Behavior
Currently lock renewal attempts to renew all locks on every subscription which leads to the following error:
[code]

## Steps to Reproduce the Problem
Subscribe to multiple topics and cause sufficient back pressure for message locks to require rene

[2020-06-17 16:17] amanbha commented on #338
@KaiWalter Is this still an issue with 0.8.0

[2020-06-17 16:18] #231 closed

[2020-06-17 18:57] jjcollinge commented on #364
I’ll fix this up ASAP please assign me

[2020-06-17 18:59] yaron2 commented on #364
Assigned

[2020-06-20 16:01] mchmarny opened #366 "Add output support to Twitter binding"
Input binding works for query stream that was defined in the binding YAML. Add support for runtime output binding where query can be passed in as part of of the input parameter metadata

[2020-06-24 17:23] Haishi2016 commented on #155
Sorry for the late response. On @mkosieradzki's comments: 1) the session provider we use does support external session store. We need to improve on docs to explain how to configure those and provide necessary configuration surface. 2) As far as I understand it 307 is not a good practice for the oAuth workflow, as it's subject to impersonation attacks.

I propose we close this issue and follow up i

[2020-06-24 18:27] your-azure-coach commented on #356
Gentle bump :-)

[2020-06-24 19:37] your-azure-coach commented on #356
Nevermind - time sync issue between my Kubernetes and host.  This solved my problem: https://thorsten-hans.com/docker-on-windows-fix-time-synchronization-issue

[2020-06-24 19:37] #356 closed

[2020-06-25 09:29] shalabhms commented on #359
@simonrhart ,

Regarding - "I can successfully communicate with the MongoDB instance using other applications outside of Dapr."

What is the address that you are using in connecting the MongoDB instance?

[2020-06-25 09:43] simonrhart commented on #359
@shalabhms

In my Dapr app I have written my own repository instead of using the Dapr one and this is the connection string/ctor code that works ok:

`
mongodb://root:<mypassword>@localhost:27017
`

Where <mypassword> is my actual password of course.

The client code I am using this is:

`
  IMongoClient mongoClient = new MongoClient(connectionString);
`

In Robo 3T I am just using: localhost:2701

[2020-06-25 10:32] jjcollinge commented on #359
I believe I saw this issue when writing the conformance tests for mongo (https://github.com/dapr/components-contrib/pull/336/commits/4492d887ff2e4ff53fce92e798ce87b3e800fa2d) <- this has fixes in.
- Firstly, there's an [issue on this line](https://github.com/dapr/components-contrib/blob/a6a0e3e3bc7639705641c31ab849d2b3a969ba1a/state/mongodb/mongodb.go#L279) where it is using `defaultTimeout` inste

[2020-06-25 22:13] shalabhms commented on #359
Thanks @jjcollinge for bringing the issue details.

#370 has fixed the issue now.

[2020-06-25 23:07] #359 closed

[2020-06-25 23:07] #355 closed

[2020-06-29 21:36] khous opened #374 "EnableTLS property effects the opposite in pulsar.pubsub"
## Expected Behavior

Setting EnableTLS in the pulsar pubsub component should require valid TLS certs

## Actual Behavior

Setting EnableTLS removes the require for valid certificates

## Steps to Reproduce the Problem

Create a pulsar component with enabletls set to false
Let the pulsar instance run with a self signed certificate for TLS

[2020-06-29 21:39] #374 closed

[2020-06-30 20:32] #152 closed

[2020-07-01 08:56] simonrhart commented on #359
Thanks for fixing chaps, will test when it has been merged

[2020-07-01 23:19] youngbupark opened #375 "Multi() transaction operations api for redis should use HSET or HDEL"
## Steps to Reproduce the Problem

1. Set `key_for_hset` to `hset_value` using [set method](https://github.com/dapr/components-contrib/blob/a086a42f2b0af5e0416560b10cbed8d15743921b/state/redis/redis.go#L279)
2. Upsert `key_for_hset` to `set_value` using [multi method](https://github.com/dapr/components-contrib/blob/a086a42f2b0af5e0416560b10cbed8d15743921b/state/redis/redis.go#L296)
3. Get `key_for

[2020-07-01 23:24] youngbupark commented on #375
cc/ @yaron2 @amanbha

[2020-07-01 23:46] yaron2 commented on #375
cc @Haishi2016

[2020-07-02 15:02] #364 closed

[2020-07-02 15:29] jjcollinge opened #376 "Goroutine leak in ASB pubsub when message cannot be completed/abandoned"
Currently there is a potential for goroutines to leak when a network interruption causes the provider to be unable to complete/abandon any inflight messages. Ideally we'd timeout a context on the `complete/abandon` calls but unfortunately this is currently not honored - tracking this issue here: https://github.com/Azure/azure-service-bus-go/issues/173. This causes the provider to have zombie gorou

[2020-07-03 01:15] LMWF commented on #377
Transferred to components-contrib repo, this seems like an issue there.

[2020-07-03 21:55] alexthissen opened #378 "Support separate Azure Service Bus subscriptions for same topic with different route"
When creating subscriptions on the same topic, but with a different route, the component for Azure Service Bus should honor a separate ASB subscription per combination.

Currently the implementation for the Azure Service Bus pub/sub component will only honor one of the topic/route combinations. It seems the AppID-topic tuple is used to register a subscription. This does not allow multiple subscrib

[2020-07-04 09:35] jjcollinge commented on #378
@alexthissen thanks for raising this issue. @yaron2 I believe the current ASB implementation is consistent with the other pub sub on this; is this something we’d want to support? - I’m happy to add route to the subscription ID if so.

[2020-07-04 15:48] mchmarny commented on #226
This foundational capability for many use-cases.

[2020-07-04 15:50] mchmarny commented on #226
#380 implements this as binding which can be used to:

* execute local method
* publish events to topic
* invoke another output binding (http or email)

[2020-07-05 13:26] mchmarny opened #381 "Fix double envelope wrap when cloud events are being published"
## Expected Behavior

Currently Dapr creates Cloud Events v0.3 envelope when new content is published before it's send to the subscriber(s). When that content is already a Cloud Event, that payload is wrapped into yet another payload.

## Actual Behavior

Dapr recognizes the submitted content (`[]byte`) as Cloud Events and uses it as the CloudEvent without creating a new one.

## Steps to Reproduc

[2020-07-05 13:26] mchmarny opened #387 "Fix double envelope wrap when cloud events are being published"
## Expected Behavior

Currently Dapr creates Cloud Events v0.3 envelope when new content is published before it's send to the subscriber(s). When that content is already a Cloud Event, that payload is wrapped into yet another payload.

## Actual Behavior

Dapr recognizes the submitted content (`[]byte`) as Cloud Events and uses it as the CloudEvent without creating a new one.

## Steps to Reproduc

[2020-07-07 23:39] orizohar commented on #225
@brooke-hamilton - are you opening a PR on the docs repo for the "how to" for this?
We'd really want to get this into 0.9 and code freeze is end of this week 7/10/2020

[2020-07-08 13:47] brooke-hamilton commented on #225
@orizohar, I will submit the PR today. Thanks for the pointer on the date.

[2020-07-08 14:02] mchmarny commented on #226
The PR implementing this landed (#380) so I'm closing this issue. The docs for how to use it have also PR'd [here](https://github.com/dapr/docs/pull/672)

[2020-07-08 14:02] #226 closed

[2020-07-08 17:58] LMWF commented on #387
Discussed in pub/sub scoping review - this is needed before 1.0

[2020-07-08 23:08] brooke-hamilton commented on #225
@orizohar, the PR for documentation is here: https://github.com/dapr/docs/pull/675

[2020-07-09 20:56] #225 closed

[2020-07-10 18:56] vinayada1 commented on #387
Done

[2020-07-10 18:56] #387 closed

[2020-07-13 11:37] mtaghavi2005 opened #388 "Azure Blob Storage Component- Add "decode base64" option to output binding"
## Describe the proposal

In order to save some file types with binary content on Azure Blob Storage we need to decode base64 payload to corresponding object array. Otherwise, they will be stored on Blob Storage with base64 encoding content and get corrupted.

It would be great if there is an option (decodeBase64) just like what is already done for Azure Service Bus Component ( #232 ).

[code]

[2020-07-13 11:56] mtaghavi2005 commented on #388
I've already done it in following branch:
[https://github.com/mtaghavi2005/components-contrib/tree/add-decode-base64-to-azure-blob-storage](https://github.com/mtaghavi2005/components-contrib/tree/add-decode-base64-to-azure-blob-storage)

If it is applicable, I will submit a PR.
Thank you in advance.

[2020-07-13 17:11] yaron2 commented on #388
Yes, this can be a good addition.
Feel free to submit a PR.

/cc @lynn-orrell.

[2020-07-13 18:04] mchmarny opened #390 "JSON array strings are not parsed in envelope correctly"
JSON array (`[]string{"v1", "v2", "v3"}`) are not being parsed as valid JSON. This case is tested in end to end testing right now, add unit tests to cover this scenario.

[2020-07-13 20:31] #390 closed

[2020-07-14 21:55] #377 closed

[2020-07-16 01:39] LMWF commented on #358
I can't repro this with the current master branch when using sql as the state store.  I tried some different reminder periods to see if that made a difference and still did not observe this - the reminder did not continue firing after it was unregistered, and the actual state for the corresponding reminder key in sql was correct.

This issue https://github.com/dapr/dapr/issues/973 would cause the

[2020-07-16 02:01] LMWF commented on #375
What's the problem in this issue?

[2020-07-17 01:11] mchmarny opened #394 "Invalid cron component package name"
The `cron` binding has an invalid name (`twitter`). Should be `cron`

[2020-07-17 03:24] amanbha commented on #358
closing as not repro.

[2020-07-17 03:24] #358 closed

[2020-07-18 01:10] LMWF opened #397 "sql store component uses too many connections"
From gitter.  In a load test using sql store the user hit port exhaustion.

The component should not be creating a new connection for each call.

## Steps to Reproduce the Problem

Use sql store

Perform many store operations

[2020-07-18 01:12] LMWF opened #398 "sql store component cannot deserialize data when using grpc"
## Steps to Reproduce the Problem

This can be reproed by running the state sample using the .net or java sdk.

[2020-07-21 17:51] #394 closed

[2020-07-21 17:58] mchmarny opened #402 "Add option for state support to make schedules durable across sidecar restarts"
this would allow Dapr schedules to survive Dapr sidecar restarts. For example:

[code]

[2020-07-22 15:49] #191 closed

[2020-07-22 16:56] yaron2 opened #403 "Support wildcard topics for Kafka Pub/Sub"
This issue is to have support for subscribing to wildcard topics with Kafka Pub/Sub.

As a user, I want to subscribe to the following topic: `a.*` and receive events published to a topic that follows this pattern, for example `a.b`.

[2020-07-22 16:58] yaron2 commented on #403
This is a specific customer ask, probably should go into 1.0.

/cc @LMWF

[2020-07-22 20:32] yaron2 commented on #357
@kumaya can you take this?

[2020-07-23 05:03] kumaya commented on #357
@yaron2 I can work on this.

[2020-07-23 17:04] mukundansundar opened #404 "Conformance Tests - Iteration 1 - Build Framework and API tests"
## Describe the proposal
Design and Build the framework for conformance tests for building blocks.

RELEASE NOTE: N/A

[2020-07-23 17:05] mukundansundar opened #405 "Conformance Tests - Finalize the components certification process"
## Describe the proposal
Finalize the proposal for the components certification process. #404

Create Proposal for the components certification program.

RELEASE NOTE: N/A

[2020-07-23 17:07] mukundansundar opened #406 "Conformance Tests - Decide and finalize the list of components for GA"
## Describe the proposal
Decide and finalize the list of components for GA for v1.0. #404

[2020-07-23 17:11] mukundansundar opened #407 "Conformance Tests - Implement API Tests for StateStore"
## Describe the proposal
Implement a sample test suite for Redis StateStore. #404
Test the statestore interface completely.
Generate a report on test end.
The redis setup is external to this for now.
List and create issues for other tests that need to implemented as needed.
#404

- [x] basic APIs init, set, get, delete, bulkset, bulkdelete
- [ ] transaction APIs

[2020-07-23 17:12] mukundansundar opened #408 "Conformance Tests - Implement API test for SecretStore"
## Describe the proposal
Implement the API test suite for secret store.
Use Kubernetes Secret Store.
Make sure the tests are abstract and can be easily extended to other secret stores.
Component setup is external to this for now.
List and create issues for other tests that need to implemented as needed.
#404

[2020-07-23 17:13] mukundansundar opened #409 "Conformance Tests - Implement sample API tests for Bindings"
## Describe the proposal
For a single Binding Redis, implement all the API conformance tests.
#404

[2020-07-23 17:14] mukundansundar opened #410 "Conformance Tests - Implement sample API tests for PubSub"
## Describe the proposal
For Kafka Pubsub implement sample API tests.
#404

[2020-07-23 17:17] mukundansundar opened #411 "Conformance Tests - Document the conformance tests process"
## Describe the proposal
Document the conformance tests writing, running, and base tests needed for different building blocks.
Have it in components-contrib/docs
#404

[2020-07-23 17:19] mukundansundar opened #412 "Conformance Tests - Iteration 2 - Enhance existing tests for all building blocks"
## Describe the proposal
For the different building blocks enhance existing conformance tests with more test scenarios.

[2020-07-23 17:21] mukundansundar opened #413 "Conformance Tests - Define and implement additional tests for StateStore"
## Describe the proposal
For the Redis Statestore implement additional tests for
- Serialize/Deserialize of data
- Open Connection Ports
- Concurrent Requests
- Reconnection Scenarios
#412

[2020-07-23 17:23] mukundansundar opened #414 "Conformance Tests - Define and implement additional tests for SecretStore"
## Describe the proposal
For the Kubernetes SecretStore define and implement additional tests scenarios:
- Serialize/Deserialize of secrets
- Concurrent requests
#412

[2020-07-23 17:25] mukundansundar opened #415 "Conformance Tests - Define and implement additional tests for Bindings"
## Describe the proposal
For the Redis Binding add additional test scenarios:
- Test API for output binding
- Concurrent requests
- Not supported operations
- Reconnection scenarios
#412

[2020-07-23 17:26] mukundansundar opened #416 "Conformance Tests - Define and implement additional tests for PubSub"
## Describe the proposal
For the Kafka pubsub add additional tests scenarios:
- Concurrent Requests
- Reconnection scenarios
#412

[2020-07-23 17:28] mukundansundar opened #417 "Conformance Tests - Iteration 3 - Implement conformance tests for components"
## Describe the proposal
For components selected to be GA, implement the conformance tests.
Follow the sample tests defined for each building block and create one for specific components.

[2020-07-23 17:30] mukundansundar opened #418 "Conformance Tests - Iteration 4 - Complete the tests for conformance"
## Describe the proposal
For all remaining components identified as GA/ other components, have conformance tests defined and implemented following the documentation and samples.

[2020-07-29 14:54] tomkerkhove commented on #74
Would love to have Event Grid as well - Either in-cluster or custom topic!

[2020-07-29 22:26] #397 closed

[2020-07-30 06:24] cuipengfei opened #420 "vaultAddress alwasys gets assigned the value of componentVaultAddress, no matter empty or not"
https://github.com/dapr/components-contrib/blob/ee97c3c56ada888e0740497131c2161f6a0a5539/secretstores/hashicorp/vault/vault.go#L81-L86

[2020-07-30 06:25] silverjava opened #421 "Would this code cause vaultAddress empty without setting defaultVaultAddress?"
https://github.com/dapr/components-contrib/blob/65575593c1540ee75e0a9c5eeff6d0ceed52de1e/secretstores/hashicorp/vault/vault.go#L86

Hi guys,

I'm really interested in this project and thanks for building it. When I was reading the code, I feel whether the code line above would cause vaultAddress empty although the right behavior should set defaultVaultAddress other than empty strimg?

[2020-07-30 07:02] silverjava commented on #421
Please check if the following test case makes sense:

[code]

[2020-07-30 23:09] #398 closed

[2020-08-03 22:04] mchmarny opened #422 "RethinkDB state store support"
Implement RethinkDB state store support

[2020-08-04 08:48] tomkerkhove commented on #74
Looks like this was merged and done but not documented on https://github.com/dapr/components-contrib/blob/master/pubsub/Readme.md, is that correct?

[2020-08-04 13:19] yaron2 commented on #74
There's an Event Grid binding, not Pub/Sub.

[2020-08-04 13:40] mchmarny opened #424 "HTTP output binding to preserve tracing context"
The HTTP binding right now does not preserve the request tracing context from user invocation. The output binding request doesn't include context so the parent trace ID would have to be predictably populated into the request metadata

[code]

[2020-08-04 20:09] shalabhms opened #425 "Remove retry options from State Apis in components"
During review in Dapr maintainers meeting for state building block, it was decided to remove the retry policies for state as retries will be introduced in Dapr in a more cohesive fashion for all building blocks based on community feedback.

Dapr runtime has now the changes to remove the retry policies in State API calls.

This issue to remove retry options from state apis in components-contrib. Th

[2020-08-06 22:02] shalabhms commented on #424
@mchmarny , this is known that we are currently not passing context to component code. Curious to know , are you tracing in binding component?

/cc @youngbupark

[2020-08-07 14:33] alexthissen commented on #378
Any news on this?

[2020-08-08 06:50] jjcollinge commented on #378
Nothing as of yet. I’m curious if the use case, could you expand it for me please? Why not have one handler that invokes 2 functions rather than dapr invoking 2 handlers with the same message?

[2020-08-09 03:18] mchmarny commented on #424
I get that we are not doing it globally, the HTTP output binding could really benefit here as we are losing context in many workflow use-cases. Could predictable key in metadata be used for this?

[2020-08-09 03:22] yaron2 commented on #424
That can work.

[2020-08-10 19:22] yaron2 opened #427 "Create guidance for naming operation kinds for output bindings"
Give developers info about how to pick a name for operation kinds for bi-directional bindings.

[2020-08-10 19:24] #427 closed

[2020-08-11 01:34] yaron2 commented on #357
hey @kumaya, any update?

[2020-08-11 07:00] kumaya commented on #357
@yaron2 I am weighing on options to provide client certificate and key in metadata as string variable. Are there any better ways inbuilt/best practices to provide the cert and key variable as input parameters ?

[2020-08-11 17:50] #425 closed

[2020-08-11 18:33] mukundansundar commented on #405
# PROPOSAL
## Overview

Have a Dapr component certification program that gives enterprise users the confidence that certified components meet a certain set of technical requirements that ensure the functional compatibility and robustness of the component.

## Goals

In general, the certification program confirms that the component being certified is:
 - Complaint with the APIs defined by Dapr
 - D

[2020-08-13 22:58] LMWF opened #433 "Component changes for multi pubsub"
This is an issue for changes in this repo corresponding to https://github.com/dapr/dapr/issues/1709

[2020-08-14 18:05] #433 closed

[2020-08-15 18:56] shalabhms commented on #424
Have the tracing issue in dapr/dapr repo. closing this issue and using other one as reference https://github.com/dapr/dapr/issues/1913

[2020-08-15 18:56] #424 closed

[2020-08-18 21:51] mukundansundar opened #437 "Wrap flag parsing in Once"
## Describe the proposal

Wrap the flag.Parse() in https://github.com/dapr/components-contrib/blob/master/authentication/kubernetes/client.go#L33
as sync.Once so that parsing is only done once.

[2020-08-19 13:48] jjcollinge commented on #376
The [fix](https://github.com/Azure/azure-service-bus-go/issues/173) has now been merged downstream so we need to rev the sdk version and remove the temporary fix.

[2020-08-20 02:15] zhangwanli666 opened #438 "kafka bindings and pubsub need handling kafka message headers"
## Describe the proposal
In our usage scenario, the kafka header carries some business information such as tenant-related information, which is lost after the conversion to http calls, and this information in the message body cannot solve our current usage scenario.

[2020-08-20 18:15] mukundansundar opened #439 "Upgrade Golang Lint to 1.31.0"
## Describe the proposal
Upgrade Golang Lint to 1.31.0

[2020-08-21 14:15] rdiaz82 opened #441 "[Proposal] Database component based on bindings"
# Goal

# Context
The current implementation of Dapr allows users to save the information into the database and it also allows users to get the state from the database only given a key or a group of keys in the case of bulk operations. This way to work is very useful for keeping a state between services call or for applications where data is stored following a key-value architecture.

The limitati

[2020-08-24 05:11] h2floh opened #442 "[Proposal] Discussion for additional HTTP middleware OAuth flows"
Hi!

I would like to add some more HTTP middleware OAuth flows. I have two things I would like to discuss first:

1. How to structure the code
2. Naming convention and code placing
3. What flows would make sense to proceed with

## 1. How to structure the code

Currently there are only two components, the OAuth Authorization Grant flow, which will redirects the user to the login page of the Identi

[2020-08-25 18:44] mchmarny opened #445 "EventHub consumer groups not used due to reversed partition metadata logic"
## Expected Behavior

Dapr using the set `consumerGroup` metadata in Event Hub component.

## Actual Behavior

EventHub component doesn't use set `consumerGroup` resulting in only one application receiving the events.

## Steps to Reproduce the Problem

The [specific portion of the Event Hub component code](https://github.com/dapr/components-contrib/blob/c6623da87eaad01af0b9acd7171b478be955e460/bi

[2020-08-28 00:07] LMWF opened #446 "Cosmosdb component should be looking for metadata["partitionid"] in ExecuteStateTransactionRequest not inside each individual request"
## Expected Behavior

Starting v0.10.0 the cosmosdb component should be looking for `metadata["partitionid"]` in `ExecuteStateTransactionRequest` not inside each individual request.

This doesn't affect actor usage, only the "non-actor" transaction api.

## Actual Behavior

The cosmos component is looking for `metadata["partitionid"]` in each individual request so unless this is done you may get `

[2020-08-28 00:09] LMWF commented on #446
https://github.com/dapr/components-contrib/blob/5fdcbe9fe5d22c466b37697156b5a5f76b8255a2/state/azure/cosmosdb/cosmosdb.go#L310

[2020-08-28 11:40] gunniwho commented on #81
I have a question about vaultTokenMountPath: so given that I configure the Vault component with the vaultTokenMountPath /tmp/.vault-token like in the example above, where exactly (which pod) should the token be mounted? Thanks!

[2020-08-29 19:38] anubhavmishra commented on #81
@gunniwho the Vault token is usually mounted in the home directory like "~/.vault-token" but you can change it to any location of your choice. Read more: https://www.vaultproject.io/docs/commands#token-helper

[2020-08-29 21:10] gunniwho commented on #81
@anubhavmishra but wouldn't it have to be mounted in the daprd sidecar container? How would I go about getting a token in there?

[2020-08-31 03:42] Haishi2016 opened #447 "Move bulk get to state store interface"
## Describe the proposal
Current state store interface doesn't have a bulk get method (though it has bulk set and bulk delete). Dapr API offers bulk get API, which loops through requested keys and invoke the underlying store as separate queries. This forbid us from implementing query optimizations based on a group of keys, which would be the common motivation of using bulk operations.

We should a

[2020-08-31 21:13] anubhavmishra commented on #81
I would expect something to perform a Vault login using the [Kubernetes Auth Method](https://www.vaultproject.io/docs/auth/kubernetes). This can be done by an init container or a sidecar. You can also do this by using the [Vault Agent]() and here is the guide: https://learn.hashicorp.com/tutorials/vault/agent-kubernetes. The secret can be mounted using a shared mount between containers that is acc

[2020-09-01 00:44] LMWF commented on #447
This sounds like a good idea and should be discussed before bulk get is added on the sdk sides.

[2020-09-01 00:58] yaron2 commented on #447
This doesn't affect the SDKs at all, nor does it affect the existing implementation of Bulk Get. the API stays the same for the user.
This talks about adding an optional method for Bulk Get for state stores that support it, and where it isn't supported, the implementation behaves like it does today.

[2020-09-03 11:15] abserari opened #448 "the natsstreaming has a nats logger but not a dapr logger"
the natsstreaming has a nats logger but not a dapr logger. and there is no log.Info or log.Debug function call in code. it seems like that natsstreaming should have a pull-request first to convert logger and add log.Debug call like other components' realization.

https://github.com/dapr/dapr/issues/1996

so I update it and if it needs to update.

[2020-09-03 14:19] yaron2 commented on #448
Yes, this needs updating.

[2020-09-03 17:18] yaron2 opened #450 "Enable MQTT Pub/Sub to support multiple topics"
/cc @kumaya

[2020-09-03 17:18] yaron2 commented on #450
Closed via https://github.com/dapr/components-contrib/pull/443

[2020-09-03 17:18] #450 closed

[2020-09-03 21:08] hafizkurniaaji opened #451 "[Proposal] Add YugabyteDB as a state store"
## Describe the proposal
Implement & add support for YugabyteDB open-source distributed SQL as state store in Dapr.
https://github.com/yugabyte/yugabyte-db

[2020-09-04 01:58] #448 closed

[2020-09-04 16:56] #446 closed

[2020-09-05 16:43] RichiCoder1 opened #454 "Component Properties"
## Ask your question here
This somewhat related to a question I asked elsewhere, but is there a technical reason why Component metadata is is a map of strings, versus a free form field? Or that the `value`s at least have to be strings? It's likely far to late to change, but it is somewhat constricting to have only strings available for middleware configuration.

[2020-09-05 17:55] abserari opened #455 "Add Qos to rabbitMQ binding"
## Describe the proposal
make rabbitMQ input binding could configure the Qos of Consumer.

## task
- [x] update code
- [ ] update doc to notify the Qos arguments. I find no doc about the input binding Yaml so I don't know how to update it.

## Refer
https://github.com/rabbitmq/rabbitmq-server/pull/1408
https://www.rabbitmq.com/confirms.html#channel-qos-prefetch
https://www.rabbitmq.com/consumer-pr

[2020-09-05 17:59] abserari commented on #455
I completed the code here with two-line codes. https://github.com/abserari/components-contrib

[2020-09-05 18:24] yaron2 commented on #455
@abserari can you open a PR?

[2020-09-06 06:44] abserari opened #458 "[redis failover feature] add redis failover feature to redis state store Components"
## Describe the proposal
![image](https://user-images.githubusercontent.com/32089134/92319851-2b6f0480-f04f-11ea-85fc-bc715b9df2bd.png)

I completed code here. https://github.com/abserari/components-contrib/tree/redis-failover-feature

[2020-09-09 05:09] abserari commented on #455
hello, I find no way to write the doc about how to set up an input binding component.

[2020-09-10 01:59] yaron2 commented on #455
https://github.com/dapr/docs/blob/master/reference/specs/bindings/rabbitmq.md

[2020-09-10 23:21] philliphoff commented on #388
For the sake of consistency, should this capability also be applied to the Azure blob-backed state component?

[2020-09-10 23:27] philliphoff opened #462 "Support of Azure Blob Metadata (for Blob state storage)"
## Describe the proposal

Azure Blobs support both system (e.g. content type) and user-defined metadata.

This should also be supported within the Azure Blob state storage component, as [it currently is for the Azure Blob (output) binding component](https://github.com/dapr/components-contrib/issues/280).

[2020-09-11 18:35] Haishi2016 commented on #375
We use hash set operations because we need to attach a custom ETag field. This is critical to our concurrency control.

[2020-09-12 19:59] yaron2 opened #463 "OPA middleware component"
An HTTP Middleware to support Open Policy Agent REGO expressions via a Middleware component.

[2020-09-12 20:00] yaron2 commented on #463
@RichiCoder1 can you comment here so I can assign this to you?

[2020-09-12 20:01] RichiCoder1 commented on #463
@yaron2 comment

[2020-09-12 20:02] yaron2 commented on #463
Closed via #456

[2020-09-12 20:02] #463 closed

[2020-09-20 20:36] yaron2 opened #465 "Update github.com/a8m/documentdb for CosmosDB state component"
We need to update the package "github.com/a8m/documentdb" to the latest version, as currently Consistency values are broken.

The Cosmo API changed to only accept header values for that start with a capital letter, ie. "Strong" and "Eventual". The current package version uses "strong" and "eventual", which results in the following error:

[code]

[2020-09-20 20:37] yaron2 commented on #465
Reported by @dabedin

[2020-09-21 17:59] artursouza commented on #445
The logic pointed out in the description is correct and not inverted. I talked to Mark C. and I will focus on reproducing the problem first. The root cause is still TBD.

[2020-09-21 17:59] artursouza commented on #445
Changed it to medium since it requires some more investigation.

[2020-09-22 20:37] youngbupark commented on #388
@philliphoff That's fair. I will create separate issue to handle this.

cc/ @mchmarny @msfussell @yaron2

[2020-09-22 20:40] youngbupark commented on #388
@philliphoff you already created the issue :)

[2020-09-22 22:13] #375 closed

[2020-09-23 00:14] artursouza commented on #445
I used the binding quickstart to replay this scenario. These are the yaml files needed to replay this scenario in kubernetes:

Pre-reqs:
- Create one EventHub namespace + topic.
- Create a storage account and container.

all.yaml
[code]

`kubectl apply -f all.yaml`

Wait for 1 minute or two. Then count how many rows are output per subscriber pod:

[code]

Load seems to be somewhat distributed amon

[2020-09-23 00:19] mchmarny commented on #445
OK, let me try to get this replicated with my setup. For now, I'm going to remove the `P1` label and do some more research.

[2020-09-23 00:19] artursouza commented on #445
I also reduced the number of replicas of the subscriber from 3 to 1 and then back to 3. After some seconds, all instances start to get traffic:

[code]

[2020-09-23 00:21] mchmarny commented on #445
Just for ref, how did you create EventHub namespace and topic? Was this scripted somewhere?

[2020-09-23 00:22] artursouza commented on #445
I created manually in ms portal. I can give you the yaml off-line so you can reuse it.

[2020-09-23 15:04] youngbupark commented on #388
@mtaghavi2005 Can you please double-check your change with the latest Dapr edge build ?

Download Link - https://github.com/dapr/dapr/actions/runs/268901219

1. Download correct os and arch binary
2. replace ~/.dapr/bin/daprd with downloaded daprd.
3. Test

[2020-09-23 15:04] #388 closed

[2020-09-23 15:45] KaiWalter opened #469 "support Get operation for Azure Blob Storage output binding"
Currently Azure Blob Storage output binding only supports `create` operation. We'd like to have also `get` operation supported by the output binding.

## background

We have a scenario with payloads >1MB which cannot be put on Azure Service Bus queues (not even with Premium plan). Instead we want to put payload in blob storage, some metadata into the queue, let the queue trigger a Dapr input bindi

[2020-09-23 15:54] KaiWalter opened #470 "return effective URL of Azure Blob Storage document created when using an output binding"
When no `blobName` is specified, [the component auto generates an UUID as blob filename](https://github.com/dapr/docs/blob/master/reference/specs/bindings/blobstorage.md#additional-information). To use the document for further processing it would be nice to have the URL and/or the blob filename of the created document available in the response of the component.

[2020-09-23 16:24] KaiWalter opened #471 "extend input bindings with binding expressions to wire up related output bindings"
Azure Functions has this notion of [binding expressions](https://docs.microsoft.com/en-us/azure/azure-functions/functions-bindings-expressions-patterns) which allows to wire up input bindings (in Azure Functions terminology) with a trigger binding.

C# Sample: Correlation Id or queue message is used to lookup document (large message payload) from Blob Storage:

[code]

[2020-09-23 16:25] KaiWalter commented on #471
this would give us what we try to achieve with the Blob Get outbound binding #469 in on sweep

[2020-09-23 19:05] mtaghavi2005 commented on #388
@youngbupark sure! I will do that.

[2020-09-23 19:08] mchmarny opened #472 "Add RethinkDB state component for time-series data use-cases"
## Expected Behavior

## Actual Behavior

## Steps to Reproduce the Problem

[2020-09-23 21:42] mtaghavi2005 commented on #388
@youngbupark It works as expected on Windows! (dapr_windows_amd64) :)

[2020-09-23 22:42] mukundansundar commented on #469
not imported in dapr/dapr

[2020-09-23 22:43] #469 closed

[2020-09-23 22:44] yaron2 commented on #469
1. This is already imported, as it's an existing binding change.
2. Issues opened for components-contrib are closed in contrib, changes specific to the Dapr runtime should be opened in `dapr/dapr` repo.
3. During the release phase, the latest components-contrib is pulled and merged.

[2020-09-23 23:55] #465 closed

[2020-09-24 00:42] #470 closed

[2020-09-25 06:06] #472 closed

[2020-09-25 22:11] mfcollins3 opened #480 "Apple Push Notification Service Output Binding"
## Overview

I would like to propose creating an output binding component for sending push notifications to mobile devices using the Apple Push Notification Service. The output binding component would use the APNs HTTP/2 protocol to communicate directly with the Apple Push Notification Service and not require third-party subscriptions to Azure Notification Hubs or AWS SNS.

## About the Apple Push

[2020-09-27 09:17] moluzhui opened #485 "How is MQTT's will_set implemented in the dapr python sdk"
## Ask your question here
Python's MQTT package provides the [will_set](https://www.eclipse.org/paho/index.php?page=clients/python/docs/index.php#option-functions) setting to implement that when the disconnect is to send a pre-set MQTT message

Now, project currently transferred to Dapr , which only supports `HTTP and GRPC` forms to connect to Dapr Sidecar, then whether the will_set function of Py

[2020-09-29 09:46] TenSt opened #486 "Force HTTPS on final redirect from oauth2 middleware"
**Case:** A web-app which is exposed over HTTPS and access API that are behind darp + oauth2 middleware.

**Problem:** 'Location' header in the final redirect from dapr oauth2 middleware contains HTTP and redirect request is blocked by browser with mixed-content error.

**Solution:** add new key to metadata. If key is true - force HTTPS on final redirect to not get blocked by browser.

**Justifica

[2020-09-29 14:12] yaron2 commented on #486
Thanks for raising this, a PR would be welcome.

[2020-09-29 22:23] TenSt commented on #486
Thanks @yaron2. I've created new PR and issue in the docs repo to cover it.

[2020-09-30 00:15] yaron2 commented on #441
Sorry for the long pause on this one, we (Dapr maintainers) are currently focused on the 1.0 release.

This issue was raised multiple times by many users and community members, and I think the Dapr project should take this on. This probably won't make it in time into 1.0 but it can very land after.

Regarding the design:

I think we can actually add this to the State Store API instead of using bin

[2020-09-30 15:59] youngbupark commented on #485
dupe https://github.com/dapr/dapr/issues/2135. Please look at my comment on the original issue.

[2020-09-30 15:59] #485 closed

[2020-09-30 16:07] youngbupark commented on #458
@abserari Thanks for the contribution.

cc/ @mukundansundar @yaron2

[2020-09-30 16:07] #458 closed

[2020-09-30 16:07] youngbupark commented on #422
@mchmarny can we close this ?

[2020-09-30 16:09] #455 closed

[2020-09-30 16:09] mchmarny commented on #422
Done

[2020-09-30 16:09] #422 closed

[2020-10-01 17:12] exegete46 opened #488 "Sort, de-duplicate, and update State Store List."
## Describe the proposal

The [Readme for sate stores](https://github.com/dapr/components-contrib/blob/703f9bf04ee3e32aa4ff1fd5cf350e202c0f1373/state/Readme.md) currently has duplicates and is not in alphabetical order.

I feel it would be more useful if the list were ordered.  It also appears that additional stores have been added.

Potential Additions:

* Aerospike
* Azure Blob Storage
* Postgre

[2020-10-06 18:16] #488 closed

[2020-10-07 17:10] halspang commented on #264
This was resolved in https://github.com/dapr/components-contrib/pull/300

[2020-10-07 17:10] #264 closed

[2020-10-08 21:42] lynn-orrell opened #492 "Azure Blob Storage Binding Expecting String for Data"
The Azure blob storage binding now expects the data property to contain a string rather than accepting a nested json object. Unfortunately, the documentation isn't clear as to what the payload should be from an http perspective.

Notice here that the payload is represented as a string value: https://github.com/dapr/docs/blob/master/reference/api/bindings_api.md#payload

Notice here that the payloa

[2020-10-09 17:26] #480 closed

[2020-10-12 19:54] #439 closed

[2020-10-12 21:34] youngbupark commented on #492
req.Data is bytes array ([]byte). before serializing data, we need to check if the data is bytes or the object.

https://github.com/dapr/dapr/blob/3d21cd1df19a234a00ad072e3ddc96c9b4f3d1be/pkg/http/api.go#L305-L311

this issue is the same issue as what we have in state store in the last release.  We need to prioritize this issue as P1.

cc/ @yaron2 @msfussell @mukundansundar @artursouza

[2020-10-13 18:25] yaron2 opened #495 "Remove CloudKMS from Secret Stores"
CloudKMS was superseded by the Google Cloud Secrets API implementation. CloudKMS needs to be removed as it doesn't support several features that are required by Dapr.

[2020-10-13 18:27] cmendible commented on #495
@yaron I'll help with this one!

[2020-10-13 23:16] #495 closed

[2020-10-15 04:06] msfussell opened #498 "Update component YAML manifest version from dapr.io/v1alpha1 to dapr.io/v1"
The issue tracks the change for the component YAML schema from dapr.io/v1alpha1 to dapr.io/v1.

[2020-10-15 11:17] youngbupark commented on #498
This needs to be moved to dapr/dapr.

[2020-10-16 15:51] wcs1only opened #502 "[Unit Tests] components-contrib: Gate PRs to ensure no PR reduces test coverage"
## In what area(s)?

/area test-and-release

## Describe the feature

Enable PR gating on unit test coverage to ensure we do not regress on test coverage. For now the agreed upon rule is that no PR should reduce the test coverage. We may expand these rules later.

Part of dapr/dapr#2226
## Release Note

RELEASE NOTE: **ADD** Added codecov rules to ensure that no PR reduces unit test coverage.

[2020-10-16 20:47] aronchick opened #503 "Azure ServiceBus requires too high permission to just listen to a topic"
## Expected Behavior

When using this sample:

[code]

The policy requires (Manage, Listen, Send) even though only "Listen" should be required.

Using anything but "Manage" for permission results in a 401 when executing this file.

[2020-10-16 21:02] wcs1only opened #504 "[Unit Test] components-contrib: Coverage Audit"
As part of dapr/dapr#2226 we need to perform a unit test coverage audit for this package. The purpose of this audit is to identify unit test coverage gaps that we would like to close ahead of v1.0.

Audit Guidelines:
1. We're not shooting for a particular coverage percentage, rather we're looking to add tests which deliver on ensuring correctness and reliability. We prefer efforts that deliver cov

[2020-10-21 13:21] Admiralkheir opened #505 "[Propasal] Add Ack wait and MaxInFlight Parameters to Nats Streaming Component"
Hi, I think we need these parameters on component.yaml. According to the document these parameters are using in subscription code. [Source Link](https://docs.nats.io/developing-with-nats-streaming/acks#acknowledgements)
Default is like this,
- AckWait: 30 sec
- MaxInFlight: 1024

[2020-10-22 21:51] #486 closed

[2020-10-22 22:04] lynn-orrell commented on #503
The desired behavior can be achieved by setting the following component metadata:
1. `disableEntityManagement` to `true`
2. `consumerID` to a pre-created subscription name on the topic

[2020-10-22 22:06] lynn-orrell opened #506 "Dapr pub/sub publish is stripping Cloud Event fields"
If an already created Cloud Event is sent to Dapr to be published via the pub/sub api, Dapr is recreating the Cloud Event and ignoring (failing to propagate) existing Cloud Event properties.

https://github.com/dapr/components-contrib/blob/5e9140f1dbba55581b6fe5d0fe0a0530af30411c/pubsub/envelope.go#L72-L92

[2020-10-22 23:12] lynn-orrell opened #507 "Enhance pub/sub to normalize all received messages to the Cloud Event spec"
Currently, messages received via the pub/sub component building block are delivered to the application "bare". This proposal aims to normalize all messages to the Cloud Event spec that are sent from Dapr to the application.

For example, an existing, non-daprized application may be publishing simple json messages to a topic. I'll use an example coffee order for this discussion.

[code]

Let's assu

[2020-10-23 02:48] abserari commented on #506
What CloudEvent content is not good?

[2020-10-23 03:06] abserari commented on #507
According to https://github.com/cloudevents/spec/blob/master/primer.md#creating-cloudevents, I suggest that all received messages be directly nested in CloudEvent as data while ensuring that the external event is encoded as JSON instead of cloudevent+json. In this way, according to the CloudEvent primer, the internal data can be arbitrarily coded, so that the internal data can be parsed through th

[2020-10-23 04:22] lynn-orrell commented on #507
I'm not sure I agree with that based on this paragraph in the [Creating Cloud Events](https://github.com/cloudevents/spec/blob/master/primer.md#creating-cloudevents) section:

Based on the way I read the spec, if we receive a "bare" message, we should do our best to construct a new Cloud Event and retain the original metadata about the actual event source. We can also add additional metadata to th

[2020-10-23 04:30] abserari commented on #507
I agree with you, that's right. What I want to express is to include bare information directly on one layer of CloudEvent. We can also add some extra information for other purposes in our outer EventenVolope.

and sorry for my Vague expressions, I refer to the last paragraph of this cloud events section.  So I think this section indeed express our discuss the subject and guide a technical standard

[2020-10-23 05:12] msfussell opened #508 "Remove Exporter Components now OpenTelemetry is adopted."
The exporter components can be removed since these are redundant when OpenTelemetry forwarded is used. The exporter are now all available here https://github.com/open-telemetry/opentelemetry-collector/tree/master/exporter

[2020-10-23 17:04] tcnghia opened #512 "Rename the 'native' exporter component"
## Describe the proposal

The `native` exporter is actually our OpenTelemetry exporter. The name is a bit non-descriptive (and maybe confusing) so it could benefit our users if we rename this to something else.

A few ideas:

- If we also switch metrics to OpenTelemetry (tracked [here](https://github.com/dapr/dapr/issues/2296)), then we can just rename `native` to `opentelemetry-collector` or even

[2020-10-23 17:04] tcnghia commented on #512
cc @yaron2 @msfussell @youngbupark WDYT

[2020-10-23 17:17] yaron2 commented on #512
If we are only keeping one exporter, it should move out of contrib and into `dapr/dapr`.

[2020-10-28 19:44] nrjohnstone opened #514 "Have Dapr support multiple instances registered with same app-id and load balance requests across them"
Currently looking at using Dapr in our data center to provide a transparent way for a legacy worker process to access a REST API.

Proposal was to deploy the REST API to each of the nodes where the worker process also runs, and then use Dapr as a side car process registering the app with the same service name on each node.

This does not work however as there is no native concept of load balancing

[2020-10-29 23:20] yaron2 commented on #514
@skyao can you help with this?

[2020-10-29 23:58] artursouza commented on #445
The test shown the distribution of messages to be working correctly. Closing it as not reproducible.

[2020-10-29 23:58] #445 closed

[2020-11-02 08:28] skyao commented on #514
Ok, let me check what happens.

[2020-11-02 15:58] yaron2 commented on #514
@skyao here's some context:

See [here](https://github.com/dapr/components-contrib/blob/a27e486ef91407586a10630a9a22c91e9d389d60/nameresolution/mdns/mdns.go#L105), this is where Dapr searches the network for the given app ID in Self Hosted service discovery. This method needs to change to keep a map of instances per app ID, as today this function only handles a single instance of an app-id. Once t

[2020-11-02 16:00] yaron2 commented on #505
@abserari can you comment here so I can assign this issue to you? thanks!

[2020-11-02 16:01] yaron2 commented on #505
Closes via #511

[2020-11-02 16:01] #505 closed

[2020-11-03 17:32] yaron2 opened #515 "Azure blob storage binding doesn't save JSON values"
First reported by @KaiWalter

When saving a JSON payload to an Azure Blob Storage binding, an error is returned for "invalid syntax".

[2020-11-03 18:05] #515 closed

[2020-11-04 08:07] yavuzturk96 opened #518 "State Management Couchbase Components, Deserialize Problem"
Im using State Management with Couchbase. When i was use dotnet-sdk with couchbase, i cant convert my json state to my model. Redis or other states works great but in couchbase im facing this problem.

#### My Couchbase Yaml
[code]
#### Dotnet-sdk Version
[code]

#### Sample Http Request:
`http://localhost:<dapr-port>/v1.0/state/statestore/productState`

#### Response:
[code]

#### Error
[code]

[2020-11-07 06:43] abserari commented on #506
https://github.com/dapr/components-contrib/pull/509 I try one here. Could give me some advice to promote this change. I think code change is enough and should represent it in the doc.

[2020-11-08 00:39] pattisapu01 opened #520 "Service discovery and invocation not working reliably on Dapr self host mode on windows."
## Expected Behavior
I am using project tye + dapr to orchestrate dapr side cars as processes in self host mode. I should be able to do service invocation.

## Actual Behavior
Service Invocation is not happening. Getting an error "{"errorCode":"ERR_DIRECT_INVOKE","message":"couldn't find service: orders"}"
Windows  10 version: 18362.1139,
Net core 3.1
Dapr: CLI version: 0.11.0, Runtime version: 0.

[2020-11-09 15:25] amolenk opened #521 "Remove consumerID from pub/sub sample configs"
For the pub/sub building block components, the consumerID is always set to the application id (https://github.com/dapr/dapr/blob/baed8143e2251a6fd2095925308e9c8b5ec1cfe8/pkg/runtime/runtime.go#L962):

[code]

This means that the user can never override it in config. If this is the intended behavior,  the `consumerID` property should be removed from the configuration samples. Right now, both the NA

[2020-11-09 16:20] yaron2 commented on #521
You are correct, consumer groups should be removed.

Could you submit a PR to docs to fix this please?

[2020-11-09 16:39] amolenk commented on #521
Sure

[2020-11-10 00:09] #309 closed

[2020-11-10 02:05] dybxin opened #524 "use vault secretstore occured error"
## Ask your question here
[code]
## Additional information
[code]
[code]
[code]
[code]

[2020-11-10 19:15] #521 closed

[2020-11-12 10:10] cmendible opened #522 "Azure Key Vault Secret Store can only read latest version of a secret"
## Expected Behavior

Azure Key Vault Secret Store should use the secret version from metadata, if provided. The current implementation can only read the latest version (note that the last parameter is an empty string):

https://github.com/dapr/components-contrib/blob/20278e7f3af897bd622d8c17bf0159f38c2cd72c/secretstores/azure/keyvault/keyvault.go#L63

The proposed solution should read the version

[2020-11-13 17:46] yaron2 commented on #522
This will be fixed in the next RC release.

[2020-11-13 17:49] yaron2 commented on #503
@lynn-orrell is correct. those permissions are required because Dapr managed the lifecycle of topics. If you use the property mentioned, you can do without Manage permissions.

[2020-11-13 17:49] #503 closed

[2020-11-13 17:52] #522 closed

[2020-11-16 18:18] jjcollinge commented on #514
@yaron2 do you think we should include basic load balancing capabilities in Dapr as described above for mDNS or do we delegate that to the external networking i.e. in Kubernetes it's handled by a service not Dapr - locally it can be handled by a Daprized load balancer or proxy if required. Just wondering if it's a core capability if it's different between environments.

[2020-11-16 18:22] jjcollinge commented on #514
On second thoughts - not sure the above matters as it doesn't affect the runtime.

[2020-11-16 18:27] yaron2 commented on #514
The mDNS implementation should have basic load balancing capabilities, yes.

[2020-11-17 06:41] abserari commented on #507
https://github.com/dapr/components-contrib/pull/509

[2020-11-17 23:24] yaron2 opened #526 "Document when to release a new version of a component"
Put developer documentation in place that describes when to create a new package and version of a given component.
The guideline here is that every `metadata` field change, addition or removal constitutes a major version bump.

[2020-11-17 23:53] yaron2 opened #527 "Add CVE information"
CVE is a public record of security vulnerabilities.

We want to add a section that details how an CVE entry for Dapr looks like, including but not limited to version of the runtime, version of the API and component, and SDK version.

[2020-11-18 08:47] dybxin opened #533 "how-to:Use secrets building block retrieves the secret from the Map structure"
## Ask your question here
how-to:Use secrets building block retrieves the secret from the Map structure?

local-secret-store.yaml
[code]

secrets.json
[code]
after `dapr run `, i use the flattened key to access the secret.

[code]
i got errorCode: `ERR_STATE_GET`

[2020-11-18 15:08] trondhindenes opened #529 "Getting a weird error when trying to log more"
## Ask your question here
I'm trying to add a bit more logging to the aws-related components. Most of them have a "getClient" func which returns an authenticated session, and I thought it would be helpful to debug-log the authenticated user/identity

However:
(snipped from https://github.com/dapr/components-contrib/blob/master/bindings/aws/sqs/sqs.go#L134)

Given this code:
[code]
I get a runtime

[2020-11-18 15:26] yaron2 commented on #529
@youngbupark can you assist here?

[2020-11-18 17:58] mukundansundar commented on #529
@yaron2 I think the logger is not initialized properly for sqs. https://github.com/dapr/components-contrib/blob/master/bindings/aws/sqs/sqs.go#L36-L38

For reference see https://github.com/dapr/components-contrib/blob/master/bindings/aws/sqs/sqs.go#L36-L38

[2020-11-18 18:44] trondhindenes commented on #529
@mukundansundar thanks for pointing me in the right direction - it turns out that https://github.com/dapr/components-contrib/blob/master/bindings/aws/sqs/sqs.go#L36 is the culprit, the return statement should be
`return &AWSSQS{logger: logger}` to properly wire up the logger.
Thanks again! closing this.

[2020-11-18 18:58] mukundansundar commented on #529
@trondhindenes can you add a fix PR for this issue and link it to this issue?

[2020-11-18 19:04] trondhindenes commented on #529
@mukundansundar yup! Doing it now

[2020-11-18 20:20] jjcollinge commented on #514
So just looking at the implementation of this, @yaron2 does your comment above suggest having a background goroutine periodically browse mDNS and maintain an in memory map of appId to address list whilst keeping an index of the currently returned address, then in the `ResolveID` call we use some algo (i.e. round robin) to select the next address and update the index? We'd need to be careful to set

[2020-11-19 16:51] yaron2 commented on #518
We are starting the work to fix this.

[2020-11-19 16:53] yaron2 commented on #492
This is now fixed in 1.0-rc1.

[2020-11-19 16:53] #492 closed

[2020-11-19 17:25] youngbupark commented on #512
We decided to deprecate exporters in components and move to opentelemetry collector.  @tcnghia can you change this issue's title?

[2020-11-19 17:27] youngbupark commented on #504
This needs to be aligned with conformance test work items.

[2020-11-19 17:30] youngbupark commented on #376
@jjcollinge Can you please work on this ?

[2020-11-19 17:53] jjcollinge commented on #376
yes, I can try and get a PR open tonight.

[2020-11-19 19:02] youngbupark commented on #376
Thanks a lot!

[2020-11-19 20:09] jjcollinge commented on #376
Just updated this but need to do some more testing to ensure doesn't have side effects - will have to wait until tomorrow.

[2020-11-20 11:48] trondhindenes opened #535 "components initialize without guaranteeing success"
This issue is related to components using the AWS sdk, but the "bug" could exist elsewhere too.

When daprd initializes a binding, it calls the "init" method on the corresponding binding. In the case of AWS-sdk based bindings, this returns a client that can be used to make whatever calls are necessary. However, even tho the init call succeeds, there's no guarantee that the binding is actually read

[2020-11-20 11:48] trondhindenes commented on #535
very interested in @yaron2 's thoughts on this.

[2020-11-23 07:15] XavierGeerinck opened #536 "RabbitMQ Pub/Sub Missing QoS Initialization?"
I am currently having an issue that I am not able to receive messages on +1 consumer (only one receives the messages). My consumer id is the same and everything is coming on the same queue.

When reading through RabbitMQ documentation, it appears that I have to set the prefetch count (https://www.rabbitmq.com/tutorials/tutorial-two-go.html) but it appears that this is not being set in the Dapr Rab

[2020-11-23 07:24] yaron2 commented on #536
This is by design, as in Dapr Pub/Sub an app ID acts as a consumer ID, which means that only one instance within a consumer group will get a copy of a message.

Ad you correctly mentioned, the binding can be used if you need to change this behavior.

[2020-11-23 07:36] sd797994 opened #537 "can't load oauth2 middleware in dapr1.0-rc1 kubernetes"
## Ask your question here
env:
win10+docker desktop + kubernetes 1.18.8  + dapr 1.0-rc1
question:
follow this guide:(https://v1-rc1.docs.dapr.io/operations/security/oauth/),when i set an oauth2 component like this
`
apiVersion: dapr.io/v1alpha1`
`kind: Component`
`metadata:`
`  name: oauth2`
`  namespace: default`
`spec:`
`  type: middleware.http.oauth2`
`  version: v1`
`  metadata:
`
when i reloa

[2020-11-23 07:37] XavierGeerinck commented on #536
Thanks for your fast response @yaron2 will change it to a binding then! 😊 might it be interesting to update the documentation to include this btw?

[2020-11-23 09:07] haibingzhao opened #538 "Question: how to get object from s3"
## Ask your question here
put object to s3 can use output [binding.s3](https://github.com/dapr/components-contrib/blob/f647d9eedbfd98ec8fb297d18cee9ceb3c332dc2/bindings/aws/s3/s3.go)

how to get object from s3? which API can I use?

[2020-11-23 10:21] trondhindenes opened #539 "Dapr crashes if AWS permissions are too strict"
## Expected Behavior
This one is partly related to AWS, and the fact that we don't verify a working AWS session as part of component init (see https://github.com/dapr/components-contrib/issues/535).

I guess we need to consider changing the "init" method of all bindings/components so that this call includes code to actually verify identity, permissions, etc. - though it would break a truckload of

[2020-11-23 20:00] mukundansundar commented on #406
Initial set of components slated for GA:
Type | Component
-----|-------------
Binding | Azure Blob Storage
Binding | Azure Event Grid
Binding | Azure Storage Queue
Binding | HTTP/HTTPS
Middleware | OAuth2
Middleware | RateLimit
NameRes | Kubernetes
NameRes | mDNS
Pub/Sub | Azure Event Hubs
Secret Store | Kubernetes
State Store | Azure CosmosDB
State Store  | Redis

[2020-11-23 21:07] yaron2 commented on #538
Currently there's no support for getting S3 objects, however Dapr has a way to support that using Bi-directional bindings.

If you want to add support for this, we (maintainers) will support you and welcome this addition. You can see an example of the Azure Blob Storage binding support for GET blob: https://github.com/dapr/components-contrib/blob/686b42fd1850705801a0660ac1df76c6551ae35c/bindings/a

[2020-11-23 21:08] yaron2 commented on #538
Also, if you don't have the time to contribute a PR for this but are blocked by this for using Dapr, we can try and assign a community member to do this.

[2020-11-23 21:11] #536 closed

[2020-11-23 21:12] yaron2 commented on #536
Yes, feel free to submit a PR for this where you see fit in the docs repo.

[2020-11-23 21:13] #529 closed

[2020-11-23 21:21] yaron2 commented on #539
I think adding a verification method is a good idea, I would actually use a separate Interface for it to make this change incremental and not an all at once thing.

Something like:

[code]

That way the Dapr runtime can check if a component implementation is of a `Verifier` type, and if it is call the `Verify()` method.

[2020-11-23 21:25] yaron2 commented on #514
The way I see it:

the mDNS implementation should periodically check all the appIDs on the network and keep a map of an ID and it's address list.
When a new invocation request comes in, Dapr checks if there are any entries for the given ID. If none are present, an mDNS browse will happen. If no new entries are discovered, an error is returned for address not found. If entries are discovered, the m

[2020-11-23 21:32] yaron2 commented on #514
@jjcollinge I took the liberty of assigning this to you. This is important to get in for the nearest RC2 milestone..

[2020-11-24 00:57] trondhindenes commented on #539
Sounds good. Happy to try to implement this, tho there's a good chance i might get stuck.

[2020-11-24 15:53] jjcollinge commented on #514
@yaron2 np - I can look into this.

I'm going to implement this as an address cache, so the first request to a new appId will always be a browse but subsequent requests will use the cache. The cache will store ipv4 and ipv6 entries (separately) and have a TTL on them. New requests for existing appIds will renew the TTL but once expired a new browse will be required on the next request. I'll then j

[2020-11-24 17:00] jjcollinge commented on #514
@yaron2 np, will look at getting this done asap. "periodically check all the appIDs on the network" - this is the interesting bit. If we implement this as an address cache - then when we see an appId, we check if it's in the cache, if it has addresses in the cache, we select the appropriate one using round robin. If it is not in the cache we need to browse the network for the appId - we don't know

[2020-11-24 17:13] trondhindenes commented on #539
Hm, I'm afraid this is a bit above my league. My plan was to simply extend the existing interfaces (such as `Store` , `InputBinding` etc) with a new `Verify` method, but I realize that's not what you're thinking here.

Is there any existing functionality in the codebase I can mimic? If not I'm afraid I'm gonna have to pass this one on to someone more familiar with golang (and dapr internals).

(pi

[2020-11-24 17:37] yaron2 commented on #539
That's perfectly fine, I realize this is something that needs to be kick started first by us Maintainers.
I will bring this up on next maintainers meeting and we will see how to triage this. Once the first verifier is implemented it will be easy for others to pick this up.

[2020-11-24 18:57] trondhindenes commented on #539
great, thanks!

[2020-11-25 00:22] mchmarny commented on #506
Note, the CE extension names are unpredictable (`ce-*`) so this will have to include some form of parsing into map[string]interface{} and then adding one by one.

[2020-11-26 03:35] skyao commented on #447
@Haishi2016  I opened a issue here and now we are working on this PR

https://github.com/dapr/dapr/pull/2467

[2020-11-26 06:45] skyao opened #542 "[Proposal]: make state key prefix configrable"
## Current Design

In state api (both grpc and http) of dapr runtime, dapr will add a prefix in the key for all state operations like get/save/delete.

[code]

This feature make all the states within the app (with same app id) can be seperated from other app, even their key is the same. This feature works well in this case.

## Requirement Backgroup

Yet we have some others user case:

1. We need

[2020-11-30 17:06] skyao commented on #542
@yaron2 how about this proposal? We need this feature now. If OK, I will summit PR soon.

[2020-12-01 08:30] yaron2 commented on #542
This is a good feature to have, it was requested before. It needs to be opt in. Please submit a design proposal here before a PR so we can discuss.

[2020-12-02 19:09] eNeRGy164 opened #545 "Add Postmark as an output binding for sending e-mails"
## Describe the proposal

Like the SendGrid binding, adds [Postmark](https://postmarkapp.com/) as an output binding.

Example component
[code]

It will be heavily inspired by the current SendGrid binding metadata, as the platform supports the same settings (like CC, BCC, HTML body).

Example payload
[code]

[2020-12-05 06:13] #376 closed

[2020-12-05 15:29] yaron2 opened #548 "Add access level to Azure Blob Storage"
Allow the container setting to determine the public access level.

[2020-12-05 15:38] #548 closed

[2020-12-06 13:33] skyao commented on #542
Where should we set this configuration for "stateKeyPrefix"? I checked the configuration and relasted spec, I think they are some global configerations which will be applied in all the dapr runtime for all the applications.

But for state key strategy, this configuration should not be global but set on different level. So I prefer to add this configuration into state component yaml file as a metad

[2020-12-06 13:37] EdwinVW opened #550 "Local file secrets store does not flatten hierarchy correctly"
## Expected Behavior

I use the local file secrets store with the following configuration:

[code]

and the following secrets file:
[code]

The configured `nestedSeparator` is a colon, so I expect to be able to get the value of the secret using the key `passwords:redis`.

This behavior is described in the [dapr docs](https://v1-rc1.docs.dapr.io/operations/components/setup-secret-store/supported-se

[2020-12-07 02:55] skyao commented on #542
@yaron2 I raised a PR now, please help to review this solution which uses components yaml to implment this proposal. If OK, I will continue to add more unit test.

[2020-12-07 09:08] artursouza commented on #550
I actually just ran into this bug now and was about to create a bug for my PR. I have a PR in a minute.

[2020-12-07 09:09] artursouza commented on #550
BTW, in the meantime, remove the separator metadata since ":" is the default anyway. That workaround works for me.

[2020-12-07 13:34] EdwinVW commented on #550
Check, works like a charm.

Thanks for the PR!

[2020-12-07 17:26] #550 closed

[2020-12-07 17:43] #518 closed

[2020-12-07 17:44] yaron2 commented on #518
@yavuzturk96 this is now fixed and will come out in 1.0-rc2 next week.

[2020-12-08 14:02] skyao commented on #542
@yaron2 Help to review this proposal in the PR.

[2020-12-09 22:28] #545 closed

[2020-12-09 23:04] tcnghia commented on #512
The exporter components are deprecated (see dapr/dapr#2337). So this can be closed.

[2020-12-09 23:04] #512 closed

[2020-12-10 02:25] dybxin commented on #533
@youngbupark i'm sorry, Did anyone follow up on this issue?

[2020-12-11 09:30] trondhindenes opened #554 "redis pubsub doesn't recover from (or signal) redis failures"
## Expected Behavior
It looks like dapr's is missing some health check functionality to ensure that pubsubs are healthy. I'm seeing this when using redis pubsub: If the redis container gets reset, there's no indication from dapr that anythings wrong. I would expect dapr to "re-initialize" its pubsub, or at least signal an unhealthy state using its health endpoint

## Actual Behavior
Nothing happen

[2020-12-14 20:50] #514 closed

[2020-12-14 21:37] trondhindenes opened #555 "Redis pubsub messages are not properly handled"
## Expected Behavior
I'm not an expert in redis streams, but we're working on seeing what kind of metrics we can get out of it in order to see if it's viable to implement dapr-pubsub using redis streams.

The expected behavior is that when dapr has successfully delivered a message from sender to receiver the message should be handled according to the specification of the underlying pubsub driver (

[2020-12-15 02:27] xiazuojie commented on #542
key-prefixing should be opt-in, not opt-out. That is, no prefixing by default.

[2020-12-15 02:30] yaron2 commented on #542
We kept the existing behavior as default

[2020-12-15 03:58] artursouza opened #556 "Automatically update service bus topic based on Dapr Configuration"
## Describe the proposal

For existing topics in Service Bus, allow topic config to be updated automatically based on Dapr Configuration: https://v1-rc1.docs.dapr.io/operations/components/setup-pubsub/supported-pubsub/setup-azure-servicebus/

[2020-12-15 06:52] trondhindenes commented on #555
Investigating this a little further, the unexpected "ok" seems to come from the fact that our app didn't properly respond to dapr using an expected payload (https://docs.dapr.io/reference/api/pubsub_api/#expected-http-response) - we simply returned an `return {'status': 'ok'}` which dapr didn't know how to handle.

That said, I would still consider this a fairly important bug:
- the redis pubsub s

[2020-12-17 05:40] msfussell opened #559 "Update the Secrets Component documentation"
1) Get Secrets Interface documentation needs updating. This PR https://github.com/dapr/components-contrib/issues/309 needs to be applied to this document
https://github.com/dapr/components-contrib/tree/master/secretstores.

type SecretStore interface {
	// Init authenticates with the actual secret store and performs other init operation
	Init(metadata Metadata) error
	// GetSecret retrieves a secr