[2021-08-12 17:31] berndverst commented on #964
@tanvigour let's close this when the deprecation is announced in the 1.4 release notes and docs.

[2021-08-12 20:28] #441 closed

[2021-08-12 21:37] berndverst commented on #1036
Hi @andycwk, I am not surprised it's crashing. I am currently working on getting this component ready for GA and I noticed that it doesn't work at all. After much research I found that this is caused by a bug in the underlying SQL library when combined with Go 1.16.

You can expect that component to be fixed (and hopefully also generally available) in the next Dapr release.

This is the underlying

[2021-08-12 21:38] berndverst commented on #1036
/assign

[2021-08-12 21:48] andycwk commented on #1036
Ah cool, I was planning on getting a fix in for this - but then life stepped in and gave me a swift kick :/

If you need me to beta test it just shout up 👍

[2021-08-12 21:52] berndverst commented on #1036
@andycwk sounds great -- would definitely love to have you verify this once we have one of the release candidates for the 1.4 release.

[2021-08-13 03:51] fjvela commented on #1048
/assign

[2021-08-13 03:51] fjvela commented on #1019
/assign

[2021-08-13 15:22] fjvela commented on #1048
@mike-geiger  can you update release note?
RELEASE NOTE: **FIX**  binding SMTP multiple recipients

[2021-08-13 16:58] mike-geiger commented on #1048
@fjvela done.

[2021-08-13 17:03] #920 closed

[2021-08-14 00:24] #1019 closed

[2021-08-14 01:15] #895 closed

[2021-08-15 00:48] #1004 closed

[2021-08-15 21:36] #773 closed

[2021-08-16 07:12] TalalMahmoodChaudhry commented on #951
Hi @yaron2 one question to this:

You state here that recommended use for dapr and Event Hub is binding componenet:
https://discord.com/channels/778680217417809931/778680217417809934/874326568825126932

However bindings do not support tracing IDs. Will this be supported for Event Hub binding in the future?
https://discord.com/channels/778680217417809931/781589820128493598/869281938567991356

[2021-08-16 07:54] fjvela opened #1080 "Update S3 binding"
## Describe the feature
Update S3 binding:

- update create operation: support upload files in base64 (https://docs.dapr.io/reference/components-reference/supported-bindings/s3/#upload-a-file doesn't work), return location and version id
- add get operation
- add delete operation
- add list operation

## Release Note

RELEASE NOTE:
- **UPDATE** S3 binding. Create operation: support upload files in

[2021-08-16 07:54] fjvela commented on #1080
/assing

[2021-08-16 07:56] fjvela commented on #1080
/assign

[2021-08-16 10:50] fjvela opened #1082 "SMTP binding doesn't allow send mail with a SMTP server without auth"
## Expected Behavior

Allow config SMTP binding without user and password in order to use a SMTP server without authentication by user and password

## Actual Behavior

SMTP binding requires always to provider and user and password to authenticate with a SMTP server

## Steps to Reproduce the Problem

## Release Note

RELEASE NOTE: FIX allow setup SMTP binding without user and password

[2021-08-16 10:51] fjvela commented on #1082
/assign

[2021-08-16 14:14] sthussey opened #1084 "SASL OAUTHBEARER support in Kafka binding"
## Describe the feature
In enterprise settings, authentication - particularly federated authentication - is a requirement for shared platforms like a message queue or event stream such as Kafka. Dapr is a great tool-set for easing access to EDA, but is lacking in some enterprise-grade features like better support of federated authentication. I'm looking for interesting in adding support for federa

[2021-08-16 18:21] denniszielke opened #1085 "Kafka endpoint for EventHub only works for bindings and not for pubsub"
## Expected Behavior

I created an EventHub namespace with Kafka support, created an eventhub.
When creating a kafka pubsub component I would expect it to load successfully.

## Actual Behavior

I am getting the following error message during startup

`FATA[0006] process component pubsub-important error: kafka: client has run out of available brokers to talk to (Is your cluster reachable?)  app_id

[2021-08-16 19:10] CodeMonkeyLeet commented on #1085
@denniszielke The Dapr EventsHub pubsub component is being deprecated in favor of the binding only (see https://github.com/dapr/components-contrib/issues/951) because it has numerous issues integrating with the Dapr pubsub model such as topics handling, so this issue is probably not going to get a lot of traction.

[2021-08-16 19:20] denniszielke commented on #1085
@CodeMonkeyLeet, yes I understand that the native EventHub will be deprecated, but in this case I am using the Kafka protocol head for EventHub (so dapr does not know that I am using EventHub - it is interacting with the Kafka). My understanding is that the EventHub deprecation is due to EventHub behaviour.

[2021-08-16 20:10] denniszielke commented on #1085
My guess is that this issue is related to the handling of TLS in the Kafka pubsub component.

[2021-08-16 20:17] CodeMonkeyLeet commented on #1085
@denniszielke Sorry, got my wires crossed, I see what you mean now. The kafka bindings and pubsub component configurations are indeed different, see [pubsub](https://docs.dapr.io/reference/components-reference/supported-pubsub/setup-apache-kafka/) vs. [bindings ](https://docs.dapr.io/reference/components-reference/supported-bindings/kafka/) component configurations.

Semantically, the Dapr pubsub

[2021-08-16 23:47] CodeMonkeyLeet commented on #1080
@tanvigour @artursouza Target of opportunity for v1.4 release?

[2021-08-17 15:12] ubhanja opened #1088 "Deploying Azure COSMOS DB Binding crashes the POD"
I have a producer deployment (yaml is attached) which is posting data to Azure service bus queue binding in DAPR. This producer works fine with Azure Service BUS binding. I created a new Cosmos DB Binding (attached is the binding Yaml). As soon as the binding is deployed in default namespace the producer pod crashes. I increased the request and limit memory but still the issue continues. If I dele

[2021-08-17 16:42] artursouza commented on #1006
The original scope is about making sure errors from app does not result in an Ack in Kafka input binding. We should keep scope limited to that until the resiliency work in sidecar brings retry as a first class experience in Dapr.

[2021-08-17 18:15] tanvigour commented on #1080
looks like there's already a PR for this, so yeah we can add it to 1.4

[2021-08-17 18:17] tanvigour commented on #1080
I don't have rights to can @artursouza add it to 1.4?

[2021-08-17 22:17] #1082 closed

[2021-08-17 22:26] pkedy opened #1090 "Add multi-valued secrets to the local file store"
## Describe the feature

Currently, the local file store returns nested keys by concatenating them using a `nestedSeparator` (default is `:`) and the request must target a specific key. Example:

secrets.json
[code]

[code]

To mimic secret stores, this component should also support multi-valued secrets. Example:

[code]

There should be a setting to allow for one level of keys and flatten/concate

[2021-08-17 22:29] #901 closed

[2021-08-17 22:47] #1057 closed

[2021-08-18 17:02] artursouza commented on #378
As of now, Azure Service Bus component in pubsub does offer a `ConsumerID` attribute. So, this can be achieved by having two separate pubsub components connecting to the same ASB endpoint but using a different `ConsumerID` each. This metadata attribute is not yet document, so I have created an issue to track that: https://github.com/dapr/docs/issues/1727

[2021-08-18 17:14] ubhanja opened #1092 "POD Crashes when deploying cosmos DB binding"
I have a producer deployment (yaml is attached) which is posting data to Azure service bus queue binding in DAPR. This producer works fine with Azure Service BUS binding. I created a new Cosmos DB Binding (attached is the binding Yaml). As soon as the binding is deployed in default namespace the producer pod crashes. I increased the request and limit memory but still the issue continues. If I dele

[2021-08-18 22:11] CodeMonkeyLeet commented on #1092
Given the errors in your pod logs:
[code]
This suggests an issue in the configuration of your daprcosmosbindings, which are blanked out in the logs you've provided. I'd test that your cosmosdb configuration works independently first (e.g. maybe by replacing the kafka in the [bindings quickstart](https://github.com/dapr/quickstarts/tree/master/bindings) and verifying that the producer sample can st

[2021-08-18 22:24] CodeMonkeyLeet commented on #1088
Dupe of #1092?

[2021-08-19 00:22] CodeMonkeyLeet commented on #1084
@yaron2, any thoughts on this? Dapr has concessions for OAuth handling for service invocation via middleware, but doesn't extend to bindings. At the same time, there have been asks for more direct access to sarama supported auth scenarios (e.g. https://github.com/dapr/components-contrib/issues/349 for SSL, not OAuth) which may point to this being easier to manage on a per component basis.

[2021-08-19 02:33] ubhanja commented on #1088
Sorry . It is dupe . I will remove .

Sent from my iPhone

[2021-08-19 05:13] ubhanja commented on #1092
Yes that would ne helpful. If you need further details , pls ping me.

[2021-08-19 05:13] #1088 closed

[2021-08-19 05:14] ubhanja commented on #1088
Duplicate of 1092. Closing this.

[2021-08-19 10:24] thanhlq opened #1094 "Middleware bearer for multiple client apps"
Hi everybody,

I am intending to use the [bearer middleware](https://github.com/dapr/components-contrib/blob/master/middleware/http/bearer/bearer_middleware.go) for multiple client apps (for instance I have a web app & a mobile app).

So, there is a way allowing me to define mulitple CLIEND_ID / IssuerUrl ?

Thank you very much,

[2021-08-19 18:55] CodeMonkeyLeet commented on #1092
@ubhanja I think you misunderstood me: I've already tried this with using cosmosdb binding in a minimal environment like the quickstart, and the cosmosdb component inits successfully. I'm suggesting that you test your cosmosdb configuration similarly in an isolated setting to help debug your failure, because the failure is very early in initializing the output binding, which usually indicates an i

[2021-08-19 22:46] #1090 closed

[2021-08-19 23:42] CodeMonkeyLeet commented on #1094
I don't believe that the existing bearer middleware implementation supports that yet though it sounds like an useful feature enhancement to have.

[2021-08-20 00:00] artursouza commented on #1046
Anyone can approve a PR - if their approval is authoritative or not, is a matter of config in GitHub. I don't think we should add a formal concept of component owner for the reasons Yaron also mentioned here. I do think we can add component owners as reviewers to PRs as a best effort thing. We might even be able to extract that automatically based on the files being modified.

[2021-08-20 00:34] artursouza commented on #1080
I made some small comments in the PR. For community contributions, we add to the milestone when it is about to be merged because we cannot predict when the PR will be merged.

[2021-08-20 00:47] #1036 closed

[2021-08-20 05:59] ubhanja commented on #1092
@CodeMonkeyLeet  can you please share your sample cosmosdb binding

[2021-08-20 11:43] ubhanja commented on #1092
@CodeMonkeyLeet  I think I got the issue. CosmosDB with DocumentDB is working fine. When I use Mongo client the binding is crashing the POD. i.e if it is  https://******.documents.azure.com:443/ it works fine. but for  https://******.mongo.azure.com:443/ it fails . Can you please confirm that COSMOS DB Binding only works for Cosmos DB Document DB

[2021-08-20 15:07] yaron2 commented on #1092
Yes, I can confirm that.
You can try using the Dapr MongoDB state store component.

[2021-08-21 00:08] Oceanswave commented on #1033
Seems like this was fixed, but is once again breaking on :latest

[2021-08-21 00:13] artursouza commented on #1033
@daixiang0  Can this be fixed again and validated as part of the build? I see that we are skipping running tests in arm32.

[2021-08-24 14:52] TalalMahmoodChaudhry opened #1096 "Support specifying table name for PostgreSQL state store"
## Describe the feature
Currently, it is not possible to specify the table name where dapr will store the state in PostgreSQL.

https://github.com/dapr/components-contrib/blob/master/state/postgresql/postgresdbaccess.go#L27

Add a metadata property (e.g. `table_name`) which will be used by dapr to store the state

## Release Note
<!-- RELEASE NOTE: **ADD** New feature in Dapr: PostgreSQL state sto

[2021-08-25 02:28] artursouza commented on #951
Updated issue (again) to describe the new goal of rewriting the Azure EventHub component with an abstraction that better matches the Dapr API for pubsub, respecting the pubsub name and pubsub topic concepts.

[2021-08-25 03:29] #1013 closed

[2021-08-25 08:23] LLKennedy opened #1098 "Message Ordering for GCP Pub/Sub Subscriptions"
## Describe the feature

When creating subscriptions with GCP Pub/Sub, some services require message ordering to be enforced. [GCP's pubsub.SubscriptionConfig struct](https://pkg.go.dev/cloud.google.com/go/pubsub#SubscriptionConfig) supports this as a configuration option, but when dapr/components-contrib creates a subscription, it [only sets the topic value](https://github.com/dapr/components-con

[2021-08-28 14:47] sthussey commented on #1084
Just wanted to come back to this - I'd be happy to put together a PR with something in place if there is interest in merging it.

[2021-08-28 15:11] ItalyPaleAle opened #1103 "Update all other Azure components to use the common auth layer (and support Azure AD auth)"
This is a "spin-off" from #972 given how it was merged with only 2 components updated.

Goal of this issue is to track what Azure components still need to be updated to support authentication via the "common auth layer" (implemented in #972). This enables components to authenticate with Azure using Azure AD, including support for service principals and MSI.

While updating components to use the co

[2021-08-28 16:08] #1028 closed

[2021-08-28 17:42] jjcollinge commented on #668
/no-stale

[2021-08-30 06:00] ecafkoob opened #1105 "sentinel-go middleware need cgo"
## Ask your question here

Sentinel-go relies on gopsuti for system information. For example, CPU load, etc. The dapr compiler disables cgo by default . This causes sentinel-go to not work properly.  Will all plugins that rely on cgo be affected? I think it is possible to turn on the cgo option at compile time?

[2021-08-30 06:44] pandagodyyy opened #1109 "Does dapr support scram-sha-512 sasl for Kafka"
## In what area(s)?

## Ask your question here
I deployed Kafka with Strimzi , it  only support

- Mutual TLS client authentication (on listeners with TLS enabled encryption)
- SASL SCRAM-SHA-51
- OAuth 2.0 token based authentication

https://strimzi.io/docs/operators/latest/overview.html#security-configuration-authentication_str

And out dapr support secured connecting with kafka with saslUser an

[2021-08-30 09:07] pparth commented on #953
+1

[2021-08-30 15:54] #1098 closed

[2021-08-30 16:08] CodeMonkeyLeet commented on #943
@artursouza might be something to track for 1.5 ... just needs a bit of investigation and config perhaps.

[2021-08-31 00:52] daixiang0 commented on #1105
Do you meet that dapr run into crash since sentinel-go, dapr does not depend on it directly.

[2021-08-31 03:37] ecafkoob commented on #1105
I'm just curious if there is other middleware that uses cgo. I haven't had any crashes due to sentinel-go. I just think that the absence of cgo might affect the proper functioning of sentinel-go. It's just the warnings that are printed out that might be confusing to me. Not a big problem
<img width="1833" alt="image" src="https://user-images.githubusercontent.com/12779980/131437332-6f083253-d3d0-4

[2021-08-31 21:43] yaron2 commented on #1084
@sthussey it'd be great if you can add this to the existing components. Re: general purpose, lets open a separate issue for that :)

[2021-09-01 00:10] CodeMonkeyLeet commented on #894
Closing this issue as the addition and the move of logic into `Close() error` is handled by #1093.

Using https://github.com/dapr/dapr/issues/3555 to track the broader question of replacing wait on SIGTERM with appropriate cancellation contexts.

[2021-09-01 00:10] #894 closed

[2021-09-01 18:17] CodeMonkeyLeet commented on #1105
My understanding is that Dapr tries hard to avoid any dependency on cgo for portability reasons. The only previous instance of a cgo dependency I've come across was in a test.

@yaron2, thoughts on this?

[2021-09-02 15:02] beiwei30 opened #1117 "add state conformance test for postgresql"
## Expected Behavior

add state conformance test for postgresql (dapr/dapr#3533)

## Actual Behavior

## Steps to Reproduce the Problem

## Release Note

RELEASE NOTE:

[2021-09-02 16:51] #896 closed

[2021-09-02 17:09] #898 closed

[2021-09-03 09:53] beiwei30 opened #1122 "Add mysql conformance test"
## Expected Behavior

I am wondering if mysql can pass state conformance test, need to add and verify, and fix if necessary.

## Actual Behavior

## Steps to Reproduce the Problem

## Release Note

RELEASE NOTE:

[2021-09-03 09:53] beiwei30 commented on #1122
/assign

[2021-09-03 09:55] beiwei30 opened #1123 "Need to support first-write/strong for mysql and postgresql"
## Expected Behavior

Right now, mysql and postgresql doesn't support first-write/strong for state-set and strong/eventual for state-get. Need to investigate how to achieve it since both DBs are popular.

## Actual Behavior

## Steps to Reproduce the Problem

## Release Note

RELEASE NOTE:

[2021-09-04 17:53] #1039 closed

[2021-09-05 08:06] #1041 closed

[2021-09-05 11:36] #1042 closed

[2021-09-05 15:40] #719 closed

[2021-09-05 15:40] #751 closed

[2021-09-05 19:04] #1043 closed

[2021-09-07 17:19] fjvela opened #1125 "Update GCP Storage Bucket"
## Describe the feature
Update GCP Storage Bucket binding:

- update create operation: support upload files in base64 (https://docs.dapr.io/reference/components-reference/supported-bindings/gcpbucket/#upload-a-file doesn't work), return object url to download
- add get operation
- add delete operation
- add list operation

## Release Note

RELEASE NOTE:
- **UPDATE** GCP Storage Bucket binding. Cre

[2021-09-07 18:03] #1080 closed

[2021-09-08 08:49] TalalMahmoodChaudhry opened #1127 "New blob_path_prefix spec metadata field in Azure Event Hubs binding spec"
# Current Behavior
Event Hub Binding Spec does not distinguish its checkpoint files (there's one per partition) in the container to work across multiple Event Hubs, a separate storage container is needed for each Event Hub.

# New Behavior with Feature
Add a new field `blob_path_prefix` in the spec metadata field. This way one container can be used for multiple Event Hub Bindings.

# Release Note

[2021-09-08 09:42] jjcollinge commented on #1063
/no-stale

[2021-09-08 14:47] fjvela commented on #1125
/assing

[2021-09-08 17:45] fjvela commented on #1125
/assign

[2021-09-09 01:50] #1007 closed

[2021-09-09 04:56] #903 closed

[2021-09-09 10:23] mikalst commented on #1042
@krishnabhargav  Did you find any workaround to this, e.g. a liveness probe for automatically restarting the pod? My binding consequently stops triggering after ~2 hours with the error:

```time="2021-09-09T09:13:28.744302123Z" level=error msg="error reading from input binding <queueName>: context canceled" ... scope=dapr.runtime type=log ver=1.3.0```

What's funny is that I have three nearly iden

[2021-09-09 11:40] tilm4nn opened #2668 "Propagate arbitrary/configurable http headers from publisher to subscribers"
## In what area(s)?
/area runtime
/area docs

## HTTP request header propagation

It would be great if dapr sidecars used for pub/sub could be configured to forward certain headers from the publisher request to the subscriber request.

Example Use Case:
For collection of distributed traces in a microservice environment we use Datadog and for instrumentation of our Java-based micro services the Dat

[2021-09-09 12:24] codecorner-mpi opened #1130 "The Azure Storage Queue output binding component adds extra double quotation marks to the message text."
## Expected Behavior

The queue message text should be equal to the text inside the payload data field.

## Actual Behavior

The queue message text is surrounded by double quotation marks for payload data field value type: string.

## Steps to Reproduce the Problem
Create a new binding component with type: bindings.azure.storagequeues
Invoke the output bindings endpoint on a running Dapr instance,

[2021-09-09 22:38] CodeMonkeyLeet commented on #1051
Bug remains active pending a fix.

[2021-09-09 23:09] CodeMonkeyLeet commented on #1053
Bug remains active. More generally, all the MQTT conformance tests are flakey, with the Vernemq profile being the most common failure, followed by EMQX then Mosquitto.

[2021-09-10 15:25] yaron2 commented on #920
This is merged, thanks for your contribution @theonefx

[2021-09-10 15:30] #1056 closed

[2021-09-10 23:01] CodeMonkeyLeet commented on #1130
@codecorner-mpi I can't repro this, are there additional steps in the repro that are not mentioned here?

![image](https://user-images.githubusercontent.com/31784195/132926000-ff5b3e8d-c819-4466-bcea-7c19d70662a5.png)

[2021-09-10 23:10] CodeMonkeyLeet commented on #1127
This is not currently controlled by the Event Hubs bindings component in Dapr today. That component relies on the `azure-event-hubs-go/v3` SDK provided `NewStorageLeaserCheckpointer`, which only takes the container name and encapsulates creation and management of the checkpoint files.

For Dapr to independently support this feature, it would need to implement its own `LeaserCheckpointer` so that i

[2021-09-11 08:18] Weidaicheng opened #1135 "Default TTL support in Redis State Store"
I saw there was a PR in #1059 which provided the ability to use default TTL state store in Redis, but when I tried to use this by configuring my statestore component like this, it did work, can I ask how should I do this right, thanks in advance.

![image](https://user-images.githubusercontent.com/18458093/132941443-f482e045-a894-44ef-80ba-57c1ee426a16.png)

[2021-09-11 15:00] #1122 closed

[2021-09-13 04:06] artursouza commented on #964
This will be fixed as part of #951

[2021-09-13 04:07] artursouza commented on #1006
#955 Should include this issue, so component can be GA-ed.

[2021-09-13 04:08] artursouza commented on #955
Fix #1006 should be a pre-req for this component to be GA-ed.

[2021-09-13 04:10] artursouza commented on #954
Issue #826 must be fixed for this component to be GA-ed.

[2021-09-13 04:18] artursouza opened #1137 "Integration test framework"
Create an integration test framework to enable the following:

* Install the infrastructure (setup and tear down).
* Configure the component configuration (setup and tear down).
* Setup the schema, for some databases.
* Allow to test with multiple authentication mechanisms (Connection String, AAD).
* Test against real endpoint, with a Dapr sidecar.
* Test on Standalone Mode ~and K8s~
* Run automat

[2021-09-13 04:22] artursouza opened #1138 "Create certification test for CosmosDB state store"
After completing #1137, write an integration test for CosmosDB.

Test scenarios:

** Handle connection drop of 1 minute, a.k.a. "reconnect" - offer "pull the plug" mode in the test framework.
*** Test should perform a write operation with retry over 2 minutes and succeed, following with a GET proving the data was written. Write operation must last at least 1 minute to show that the outage was corr

[2021-09-13 04:24] artursouza opened #1139 "Create certification test for Azure ServiceBus pubsub"
After completing #1137, write an integration test for ASB pubsub.

Test scenarios:

** Handle connection drop of 1 minute, a.k.a. "reconnect" - offer "pull the plug" mode in the test framework.
*** Test should perform a write operation with retry over 2 minutes and succeed, following with a GET proving the data was written. Write operation must last at least 1 minute to show that the outage was co

[2021-09-13 04:42] artursouza opened #1140 "Create a new CosmosDB state store component with official Azure SDK"
Today, Dapr uses an OSS library for CosmosDB. Once Azure has an official SDK for CosmosDB, we should write a new version of the component as a drop-in replacement of the current implementation. The new component should have the same name, just a new version (`v2`)

[2021-09-13 18:23] yaron2 opened #1141 "Update Azure Service Bus Go SDK to latest"
^ title.

[2021-09-13 18:24] yaron2 commented on #1141
Closed via https://github.com/dapr/components-contrib/pull/1132.

[2021-09-13 18:24] #1141 closed

[2021-09-14 01:26] jiaanguo commented on #818
Hello, May I ask how that adding back procedure goes? When will Etcd support available again? That will be great help, many thanks!

[2021-09-14 13:11] riezebosch opened #1144 "RabbitMQ binding uses text/plain as content type"
## Expected Behavior

Message on the bus has a content type describing the content type (application/cloudevent+json). It makes it hard for consumers other than dapr to do assumptions or make decisions based on the received message.

## Actual Behavior

The RabbitMQ binding _always_ publishes messages as `text/plain` instead of a hint that it might be a cloud event.
https://github.com/dapr/compone

[2021-09-14 14:13] codecorner-mpi commented on #1130
@CodeMonkeyLeet
I created a new binding component with type: bindings.azure.storagequeues
[code]
I invoked the output bindings endpoint on a running Dapr instance using HTTP(tested with cUrl, PowerShell and Postman):

[code]
This is the message text in Azure Storage Queue:

![obraz](https://user-images.githubusercontent.com/83015326/133273722-ebf86f48-34be-4d83-948a-e62eb4ca0c1d.png)

[2021-09-14 17:06] subash89 opened #1145 "Dapr AWS SSO not picking up AWS_CREDENTIALS_PROFILES_FILE to read credentials"
Steps to recreate:
1. In your ~/.aws/config provide a AWS_PROFILE which will do external credential source.(https://docs.aws.amazon.com/cli/latest/userguide/cli-configure-sourcing-external.html)
In my case, it dumps credentials to a custom path directed via AWS_CREDENTIALS_PROFILES_FILE ~/.aws/myorg-credentials

2. Now when start daprd and app with dynamod state component, and when app tries to re

[2021-09-14 17:54] CodeMonkeyLeet commented on #1130
@artursouza @yaron2 It's unclear if this behavior is intended. The issue is that the storage queue binding treats the `data` blob for an `InvokeBindingRequest` as a raw byte array. When going through a programmatic interface, string values are generally cast directly into byte arrays, but when invoked through HTTP, the value in the string map as parsed from JSON already contains the quotation mark

[2021-09-14 20:20] nstrause1 opened #1146 "OPA HTTP Middleware Does Not Block Requests"
Hello, I'm trying to get the OPA Middleware to work, but it's not behaving like I would expect.

I'm creating a simple deny all policy and configuring one of my services to use that middleware:
[code]

I'm then invoking this service from another Dapr service using the service invocation API. I would expect any request to be denied. It seems like all requests are still being allowed though.

I do s

[2021-09-15 05:16] daixiang0 commented on #1145
/CC @CodeMonkeyLeet

[2021-09-15 07:30] bgelens commented on #874
We are experiencing the same on dapr 1.2 using just pubsub. Multiple clusters at the same time. Only thing we can do is restart rollout.

`2021-09-15T05:52:09.809Z  time="2021-09-15T05:52:09.809304727Z" level=error msg="azure service bus error: error receiving message on topic REDACTED, link detached, reason: *Error{Condition: amqp:link:detach-forced, Description: The link 'SfpRLmiAbJgr9e1tqh8pHkZ

[2021-09-15 08:03] jjcollinge commented on #874
@bgelens thanks for reporting this - is it possible you could raise a separate issue specific to pubsub please and link it back here? Could you please provide as much detail as you can about when you see this error occur in that issue too so I can try to repro?

[2021-09-15 08:53] #1062 closed

[2021-09-15 10:45] bgelens opened #1148 "PubSub Azure Service Bus periodically stops working due to authentication issues"
## Expected Behavior

Continue to operate normally

## Actual Behavior

Periodically our pubsub with Azure Service Bus stops working due to authentication issues. We have this issue on multiple clusters where (it looks like) our Acceptance cluster basically has it on the same day as our Production cluster (probably because we accept Acceptance and roll through Production on the same day)

AFAICT,

[2021-09-15 10:45] bgelens commented on #1148
@jjcollinge if there is anything more you need, please let me know

[2021-09-15 11:16] jjcollinge commented on #1148
This looks good, thanks for raising it. Due to the nature of the issue it may take a while to root cause this but I'll work with the SDK team to see if we can repro. One thing to mention is that we bumped the version of the SDK Dapr is using here in [this PR](https://github.com/dapr/components-contrib/pull/1132) which I believe will be released in Dapr v1.5. This does include a bunch of changes to

[2021-09-15 12:26] bgelens commented on #1148
We are about to upgrade our clusters to 1.3 end of month. I could run an early build in Dev but not sure how I can test with 1.5 at this time as 1.4RC7 is the latest available.  Any pointers? Or should I wait for a pre-release post 1.4 GA?

[2021-09-15 16:27] jjcollinge commented on #1148
There won't be any release candidates for 1.5 for a while - if you want to test sooner you'll need to build from source and include [this](https://github.com/dapr/components-contrib/commit/45f577e137a6188be88606c1f9c9be34ff6adc04) change. You can follow [these](https://github.com/dapr/components-contrib/blob/master/docs/developing-component.md) instructions to clone both `dapr` and `components-con

[2021-09-15 17:20] CodeMonkeyLeet commented on #1145
I'm not particularly familiar with the AWS authentication provider in Dapr, but just looking at [credential handling](https://github.com/dapr/components-contrib/blob/45f577e137a6188be88606c1f9c9be34ff6adc04/authentication/aws/aws.go#L17) suggests that it only works with static credentials provided through the component metadata fields (`AccessKey`, `SecretKey` and `SessionToken` and token properti

[2021-09-16 08:44] hdget opened #1150 "bearer middleware need add whitelist field to bypass verifying some specific url like healthz"
## issue description

if enable bearer http middleware, the consul name resolution cannot check the service healthz successfully

## feature request

If enable bearer http middleware, if using consul name resolution config, it will verify consul healthz http request too.
As access token may be changed from time to time, it is not easy to configure consul to carry a fixed access token,
in this scen

[2021-09-16 11:08] arkakk93 opened #1151 "Not all system properties available while subscribing to Azure IoT Hub Events"
## Expected Behavior

Should be able to extract additional system properties for D2C IoT Hub messages from the delivered HTTP subscription message
Example: message-id (Reference: https://docs.microsoft.com/en-us/azure/iot-hub/iot-hub-devguide-messages-construct#system-properties-of-d2c-iot-hub-messages)

## Actual Behavior

Currently the only supported list of system properties is listed here: htt

[2021-09-17 01:13] daixiang0 commented on #1150
The access token is common, do we have a better solution for it rather than bypass?

/cc @artursouza @pkedy

[2021-09-17 07:53] bgelens commented on #1148
@jjcollinge We are moving to 1.4 in production instead of 1.3.

I'm not allowed to run a custom build on our clusters. If time permits, I'll try to setup a repro environment (no promises)

[2021-09-17 15:08] yaron2 commented on #826
@pkedy @berndverst do you have bandwidth to look into this? I spoke to @slacksach this morning and this is a real issue for production.

[2021-09-17 15:08] yaron2 commented on #826
/cc @artursouza

[2021-09-17 17:21] #1144 closed

[2021-09-17 20:37] CodeMonkeyLeet commented on #1151
Seems like a reasonable extension of #227 to include user settable IoT Hub system properties.

[2021-09-18 17:37] #1073 closed

[2021-09-20 14:43] fjvela commented on #1130
From my point of view dapr must delete double quotation, in storage binding it's deleted. Also if you add a new message from azure explorer to the queue, it don't add extra quatation.

I can create a PR to fix the problem.

[2021-09-20 16:10] CodeMonkeyLeet commented on #1130
@fjvela Yes, please feel free to submit a PR to address the issue

[2021-09-20 17:35] fjvela commented on #1130
/assign

[2021-09-20 17:41] fjvela commented on #1130
/assign

[2021-09-20 17:51] CodeMonkeyLeet opened #1157 "Support BYO test runner Service Principal credentials to setup-azure-conf-test.sh"
## Describe the proposal
The setup-azure-conf-test.sh script to provision Azure resources needed for the conformance testing of Azure components always generates a new RBAC enabled Service Principal for running the conformance tests today, and will rotate the secrets on a previously generated SP of the same name if rerun.

To allow GitHub workflow to reuse the same AZURE_CREDENTIALS for running th

[2021-09-21 07:17] nk-thouc opened #1160 "NATS Jetstream Auto-Acknowledgement functionality"
Async Subscriber for NATS Jetstream (basically auto-ack functionality for subscribers).

**Description:**
NATS Jetstream supports async subscriber where you can enable auto-ack (which is normally the default config in NATS Jetstream). Right now we have to send Dapr an http response for it to send the next message. Would be cool if auto-ack functionality is added so that there isn't a need to wait

[2021-09-21 16:17] berndverst commented on #956
/assign

[2021-09-21 16:21] fjvela commented on #1130
@codecorner-mpi can you update the release note: "**FIX** Azure Storage Queue remove extra double quotation"?

[2021-09-21 23:15] artursouza commented on #1130
The right way to handle this type of scenario is to handle Content-Type in dapr. Which must be parsed in the runtime too.

[2021-09-22 06:51] pkedy commented on #1150
The simplest solution is likely to prevent middleware from processing altogether for `/healthz`. This feels more like a bug than an enhancement.

[2021-09-22 14:40] marxxxx opened #1161 "Does Azure Service Bus Binding Support Sessions?"
Does Azure Service Bus Binding Support Sessions?

I see there has been some work regarding Topics [here](https://github.com/dapr/components-contrib/issues/289) but the outcome of the issue is unclear to me and i also don't see sessions mentioned anywhere in the documentation.

A quick test showed that i don't receive messages with queue input binding on queues using sessions.

We need to receive m

[2021-09-22 15:42] jjcollinge commented on #1161
Currently neither bindings or pubsub support sessions AFAIK. I have a [PR](https://github.com/dapr/components-contrib/pull/1071) to enable the session id to be set on the message metadata when using pubsub with ASB topics. However, the Dapr ASB subscription isn't actually session aware. It's something I've been meaning to look into again when I've got time but I wouldn't expect anything in the nea

[2021-09-22 19:30] berndverst commented on #958
/assign

[2021-09-22 20:15] CodeMonkeyLeet opened #1162 "MySQL state store conformance test should support `first-write` tests"
## Describe the proposal
The `first-write` tests test the interaction between the use of ETags and concurrency settings, so components that test `ETags` should also be updated to run the `first-write` state store conformance tests and the component should be passing them.

Follow-up to #1124.

Depends on #1123.

[2021-09-22 20:16] CodeMonkeyLeet opened #1163 "Postgres state store conformance test should support `first-write` tests"
## Describe the proposal
The `first-write` tests test the interaction between the use of ETags and concurrency settings, so components that test `ETags` should also be updated to run the `first-write` state store conformance tests and the component should be passing them.

Follow-up to #1118

Depends on #1123

[2021-09-22 20:29] #1085 closed

[2021-09-22 20:31] berndverst commented on #1014
/assign

[2021-09-22 22:00] berndverst commented on #956
This component is in good shape. All conformance tests pass and the authentication logic has already been updated to support all Azure auth mechanisms.

Will revisit this once we have determined our definition of GA.

[2021-09-23 18:48] richgo opened #1166 "Pass the message body in OPA middleware"
## Describe the proposal
As an engineer building GraphQL APIs I would like to be able to apply Rego policies outside of my code base so that policies can be standardised. Whilst it is possible to call out to OPA from a resolver in Apollo/Hot chocolate etc or even deploy a WASM file with my Graph implementation, doing so requires adding libraries like opah to my codebase.

This can be solved by pas

[2021-09-23 20:49] artursouza opened #1167 "New criteria to GA components"
## Background
There is a desire to certify as GA more components. However, aspects of the current certification requirements seem arbitrary or even insufficient. See https://docs.dapr.io/operations/components/certification-lifecycle/#certification-levels for current certification criteria for the different lifecycle stages of a Dapr component.

## Proposed change to General Availability (GA) crite

[2021-09-23 22:55] Forrest-zhao commented on #1167
@artursouza, could you elaborate on the removal of "maintained across multiple versions of components-contrib repo"? IMO. keeping the maintenance of multiple versions is necessary for GA components to provide the consistent support model of a managed service.

[2021-09-24 00:01] artursouza commented on #1167
This statement is ambiguous. The current GA components only have one version but that same version is present in multiple releases of components-contrib. Having a component in multiple versions of components-contrib does not increase the quality of the component, having a consistent battery of tests does.

Anther point in this proposal, is that a Dapr component is not a managed service. It can be

[2021-09-24 00:20] yaron2 commented on #1167
I disagree @artursouza , Dapr's support model is inferred automatically here. Any decision regarding component level maturity automatically applies directly to Dapr's support model of issuing patches (P0 bugs, security fixes) and maintaining backward compatibility for a component.

[2021-09-24 00:23] yaron2 commented on #1167
Also in terms of GA, as @dmitsh proposed, we can look at maturity levels of other projects. the current criteria was taken from the nearest thing to CNCF maturity level, which is [Kubernetes maturity levels](https://kubernetes.io/docs/reference/using-api/deprecation-policy/).

Kubernetes uses alpha, beta and GA which is also known as stable.

[2021-09-24 20:55] #1157 closed

[2021-09-24 23:53] CodeMonkeyLeet opened #1168 "MySQL state store should support `value` as JSON type with special handling for byte data"
## Describe the feature
MySQL state store currently stores the `value` field as `text` in its schema to satisfy the conformance tests as introduced in #1124.

Capturing the feature desire from the related https://github.com/dapr/components-contrib/pull/1118#discussion_r715889836 on the postgresql state store, there are advantages to keeping the data type as `JSON` since it can allow queries in the

[2021-09-24 23:54] CodeMonkeyLeet commented on #1168
FYI @dmitsh since you were CC'ed in the original comment

[2021-09-25 02:48] Taction commented on #1135
What does `it did work` actually mean? What are the expected and actual behaviors?

[2021-09-25 23:45] #1094 closed

[2021-09-26 00:10] #1046 closed

[2021-09-26 01:58] daixiang0 commented on #1167
I agree stable is more equal to GA in cloud native world. With my experience in Kubernetes, those levels would iterate through multiple releases to ensure upgrade.

I propose that we can mark one as GA which is mostly used and "stable" for each component, then iterate others.

[2021-09-26 15:08] #1092 closed

[2021-09-27 03:42] beiwei30 commented on #1167
Shouldn't we escalate this requirement to 'Now' instead of 'Future'? By doing this, we can make sure the "GA" components always satisfy the corresponding component API.

[2021-09-27 04:41] jdgomeza commented on #277
In case somebody else is facing the same issue, you can set the `concurrency` metadata to 1 to get the messages in the correct order when you run a single app instance.

https://docs.dapr.io/reference/components-reference/supported-pubsub/setup-redis-pubsub/#spec-metadata-fields

[2021-09-27 13:00] fbridger opened #1170 "Specify Default Values in Local environment variables (secretstores.local.env) yaml?"
## Does the Local environment variables (secretstores.local.env) supports specifying default values?
I am trying to include Secrets as ENV VARs for Local Development purposes and I was wondering if there was a way to specify default values if ENV VARs does not exist.

I don't know if this is currently supported but I was thinking that default values could be specified like this:
[code]

[2021-09-27 23:53] berndverst commented on #1014
#1152 should be in good shape now to address this.

User agents of the form `dapr-$version`, e.g. `dapr-1.3.5`, `dapr-1.4.2-rc.6` and `dapr-edge` are sent for the various services. Depending on the service this is the entire user agent / metadata or just a substring of the user agent.

[2021-09-28 00:41] artursouza commented on #1167
If we set this bar now, we will not have any component marked as GA anytime soon. We can retroactive write perf tests for GA components once we decide we can have a test plan and framework to enable perf testing.

[2021-09-28 02:02] daixiang0 opened #1171 "[Proposal] middleware with WASM"
## Describe the proposal

As [middleware doc](https://docs.dapr.io/developing-applications/middleware/) said, implement a new one needs many steps. If we implement WASM for it, developers can use and change custom middleware anytime, no need to wait for PRs to merge. It is great practice and pattern I think.

Also, developers can easily change middleware logic without restart Dapr.

In total, impl

[2021-09-28 13:23] callebjo opened #1172 "Be able to use non default username with redis statestore and pubsub component"
## Describe the feature

Currently no support for non default username is available for redis statestore and  pubsub.
Add username as optional property for redis statestore and pubsub components.
Allowing  to connect to statestore/pubsub using different user than default redis user.

This change would allow use of memoryDB managed AWS service for statstore and pubsub.

## Release Note

RELEASE NOT

[2021-09-28 16:08] halspang commented on #957
/assign

[2021-09-28 16:10] tanvigour commented on #951
/assign

[2021-09-28 16:10] tanvigour commented on #960
/assign

[2021-09-28 16:26] dmitsh commented on #1167
Regarding "GA vs. stable" discussion, I personally prefer the later.
IMO, “GA” has a connotation of a managed service with associated SLA, which does not apply to an open source project.

[2021-09-28 16:28] orizohar commented on #1167
I very much agree. I think "stable" is a better name in the context of Dapr components

[2021-09-28 16:31] willtsai commented on #1167
I prefer "stable" over "GA" as well for the same reasons enumerated above.

[2021-09-28 16:32] berndverst commented on #1167
I also agree that "stable" is better.

[2021-09-29 02:12] CodeMonkeyLeet commented on #1151
The existing EventHubs bindings implementation exposes all the `Event.SystemProperties` extracted by the azure-event-hubs-go/v3 SDK, with the expectation that additional properties should be retrievable from the [`Annotations` map](https://github.com/Azure/azure-event-hubs-go/blob/e9f5ac3a5bc593912f87617b22c5ead786d761e1/event.go#L73) but a cursory check using just az CLI simulated events don't ge

[2021-09-29 02:27] Taction commented on #1172
/assign

[2021-09-29 17:54] CodeMonkeyLeet commented on #1170
Can you elaborate on your scenario? The use case seems like it overlaps with the local file secretstore and it seems like it would be a gotcha for local development if a secret value can end up being different silently when an env variable was not set.

[2021-09-29 22:11] dmitsh commented on #826
hey @slacksach ,

I've been trying to reproduce this issue, but with little success.
In fairness, I didn't use same versions as your's. But if we have a bug in Dapr, that shouldn't really matter.

I stood up an AKS cluster running k8s v1.21.2, and deployed Rabbitmq cluster v3.8.21.
In my test scenario I have a publisher that writes to 2 topics, and a subscriber that reads from them. I scaled the s

[2021-09-30 00:52] berndverst opened #1175 "State Store Components: DB structure changes including stored procedures require DB Migrations"
## Describe the proposal

Several state store components like SQL Server, Postgres and others use Stored Procedures. When Stored Procedures are modified we need a way (migration) to replace the existing stored procedure with the latest version. The same is true for any database schema changes.

A specific example:
As part of the #949 work towards the SQL Server component GA status conformance test

[2021-09-30 00:52] berndverst commented on #1175
FYI @CodeMonkeyLeet

[2021-09-30 01:06] berndverst commented on #1175
As an aside, we need to ensure our test infrastructure actually performs these migrations.

Wherever we run upgrade tests we also need to add state store components to ensure the migrations worked as expected.

FYI @artursouza

[2021-09-30 01:29] berndverst commented on #1175
#1163 / #1123 / #1118 / #1117 adding first-write support for Postgres almost certainly requires a stored procedure change and hence should version the stored procedure to allow for migration / upgrade.

[2021-09-30 05:20] #1125 closed

[2021-09-30 17:04] yaron2 commented on #1167
There are examples in the OSS ecosystem of both - for example, Istio uses `stable` while Kubernetes uses `GA` - neither are managed services.

This topic will be discussed in the next Dapr STC meeting.

[2021-09-30 20:41] greenie-msft commented on #968
@artursouza , dapr-bot closed this PR due to it being stale. There is still a docs issue/pr open for it. Should this be reopened?

[2021-10-01 03:02] slacksach commented on #826
Hi @dmitsh,

Thanks for this and for publishing your code/config. I'll have a run through tomorrow to see if I can find out where my setup is different

[2021-10-01 12:21] luk355 opened #1178 "SQL Server state component broken for version 1.1.2"
We are running into following issue when upgrading from v1.0 to v1.1.2 while using `state.sqlserver` component. As recommended upgrade path by Dapr is to go through 1.1, we are stuck with the upgrade.

## Expected Behavior

Daprd sidecar will start ok for Dapr v1.1.2 with `state.sqlserver` component.

## Actual Behavior

Daprd component crashes with following stack trace:

[code]

I believe this i

[2021-10-01 14:04] fbridger commented on #1170
I believe you are right. I'll try using a File SecretStore.

Thanks @CodeMonkeyLeet!

[2021-10-01 14:04] #1170 closed

[2021-10-01 15:28] dmitsh commented on #826
@slacksach,  I repeated the test with Dapr v1.0.1 (as opposed to the latest v1.4.2), but still could not reproduce the issue.
Will wait for your comments.

[2021-10-01 15:46] slacksach commented on #826
@dmitsh was able to Repro it on our Dapr v1.3.2 environment
NET 5.0
Dapr v1.3.2

I scaled replicas to 10 from 1 in an app that is both a Publisher and a Subscriber, here's the screenshot showing the incorrectly bound events:
![image](https://user-images.githubusercontent.com/75119677/135649110-c66c28a8-d466-40a2-bbad-2a75ea976982.png)

Actions annotated as follows using the Dapr.AspNetCore library

[2021-10-01 15:50] dmitsh commented on #826
Thanks @slacksach, any chance you can run my bits in your env?

[2021-10-01 16:15] slacksach commented on #826
@dmitsh sure thing, I'll probably get to that this evening, sorry for the delay, hectic times hehe

I did notice in the logs the following showing the behaviour happening:
[code]

[2021-10-01 16:21] dmitsh commented on #826
@slacksach , one difference between your and mine cases is that you scale up both publishers and subscribers, while I only scale up the subscribers. Let me do the same and re-run it.

[2021-10-01 16:33] slacksach commented on #826
That's a good point, in our case our API is both a Publisher and a Subscriber within the same application.

I noticed that it is possible to exacerbate the situation by scaling up then down back up again and so on, the list of rogue bindings climbs each time.

[2021-10-01 16:41] slacksach commented on #826
That's a good point, in our case our API is both a Publisher and a Subscriber within the same application.

I noticed that it is possible to exacerbate the situation by scaling up then down back up again and so on, the list of rogue bindings climbs each time and does not appear to be predictable.

[2021-10-01 16:56] slacksach commented on #826
One other thing we noticed was that setting:
    - name: durable
      value: "false"

in the component the RabbitMQ Queue is still creating as a durable
![image](https://user-images.githubusercontent.com/75119677/135658837-c168e204-e9ca-4c4f-8044-123c56017d2a.png)

[2021-10-01 20:35] dmitsh commented on #826
I noticed that as well, will investigate

[2021-10-01 23:40] dmitsh opened #1181 "rabbitmq ignores 'durable' metadata"
rabbitmq ignores 'durable' metadata

## Expected Behavior

rabbitmq component should properly set 'durable' queue attribute

## Actual Behavior

## Steps to Reproduce the Problem

## Release Note

RELEASE NOTE:

[2021-10-01 23:40] dmitsh commented on #1181
/assign

[2021-10-02 00:27] #1181 closed

[2021-10-02 00:37] dmitsh commented on #826
I've added another executable for combined pub/sub (https://github.com/dmitsh/dapr-demo/blob/main/cmd/pubsub/pubsub/main.go) and deployed it in my cluster (https://github.com/dmitsh/dapr-demo/blob/main/deployments/pubsub/pubsub.yml)
So far so good, but I will keep monitoring.
Please try it in your env.

Regarding 'durable', I sent a PR https://github.com/dapr/components-contrib/pull/1183, which wa

[2021-10-02 00:39] dmitsh commented on #826
@slacksach , another question. How quick does this issue occur in your setup?

[2021-10-02 05:08] #1096 closed

[2021-10-02 10:38] slacksach commented on #826
Hi @dmitsh, issue occurs immediately, as soon as the deployment is scaled to multiple instances.

[2021-10-02 10:39] slacksach commented on #826
Hi @dmitsh, issue occurs immediately without requiring any messages to be published, as soon as the deployment is scaled to multiple instances.

[2021-10-02 13:07] slacksach commented on #826
@dmitsh, good news, well hopefully. I've managed to reproduce this one entirely locally and put together a sample .NET Core Project and associated deployment manifests/pubsub component etc..
https://github.com/slacksach/daprpublisherrepro
Apologies that I've not yet run it using the code you provided but hopefully the repro helps.

[2021-10-02 18:39] sthussey commented on #1084
I'm working on the PR for this. First draft of code is finished, just need to take time to setup an integration environment to test it.

https://github.com/sthussey/components-contrib/tree/feat/kafka-oidc-support

[2021-10-04 16:33] CodeMonkeyLeet commented on #802
Still in flight

[2021-10-04 17:37] berndverst commented on #1092
/assign

[2021-10-04 17:44] berndverst commented on #1178
/assign

[2021-10-04 17:44] berndverst commented on #1178
@artursouza @yaron2 @msfussell any thoughts?

The SQL Server state store component is not considered GA / stable yet and certainly not in 1.0 / 1.1.2. The 1.0 -> 1.1.2 upgrade path seems to be broken for users of that component.

Should we create a 1.1.3 release to update the MSSQL library version used to fix this issue and make upgrading easier?

[2021-10-04 17:47] #668 closed

[2021-10-04 18:19] artursouza commented on #1178
@luk355 Can you try skipping to 1.2.2? We usually avoid skipping versions since that is not a tested upgrade path but it might be worth in your situation.

[2021-10-04 18:53] berndverst commented on #1178
@luk355 the first Dapr release that uses a different version of `github.com/denisenkom/go-mssqldb v0.0.0-20210411162248-d9abbec934ba` is actually v1.4.

We will not be creating patch releases for v1.1, v1.2 and v1.3 to update this library. I specifically addressed the issue you are encountering by upgrading the library in v1.4 forward. The SQL Server component is Alpha.

My recommendation is to di

[2021-10-04 22:22] dmitsh commented on #826
@slacksach , thank you for setting up the repo. I was able to reproduce the issue.
I also noticed multiple AMQP errors 503 (unexpected command received).
I did a quick test and updated rabbitmq version from 3.8.9 to 3.9.7.
After that I could not reproduce the errors.
It seems that this problem has been addressed in one of the latest rabbitmq releases.

Could you give it a try?

[2021-10-04 22:24] artursouza commented on #968
@pkedy @yaron2 do we want to allow CGO in dapr?

[2021-10-05 02:32] dmitsh commented on #826
@slacksach , I need to take it back :)
I was able to reproduce it in my setup with 3.9.7.
It happens less frequent compared to with 3.8.9, but still happens.
I keep digging ...

[2021-10-05 09:19] slacksach commented on #826
Thanks @dmitsh, saw your reply just before I was about to push upgrade on my instances hehe :), if there's anything I can do to assist please let me know.

[2021-10-05 23:12] halspang opened #1185 "Misconfigured Azure Service Bus Binding Inconsistent Behavior"
## Expected Behavior

A misconfigured component should have consistent behavior. Either consistently handling it or throwing an exception to help resolve the issue.

## Actual Behavior

An Azure Service Bus binding with a misconfigured queue name (`testQueue`) will successfully create a queue with a different name (`testqueue`). After the first pass subsequent passes fail as it tries to recreate t

[2021-10-05 23:12] halspang commented on #1185
/assign

[2021-10-05 23:23] halspang commented on #1185
When creating a queue, it specifically states that they are case-insensitive and automatically sets all names to be lowercase. I recommend following suit and simply handling the name instead of throwing an error.

Thoughts @artursouza @berndverst?

[2021-10-06 00:03] pkedy commented on #953
Draft of test plan

## Test plan

### Basic conformance tests

* Bring up a 3-node Kafka cluster
    * Configured to have 10+ partitions per topic
* Start 1 sidecar/application
    * Test: Send 1000+ unique messages with keys set
    * App: Simulate periodic errors
    * Component: Retries on error
    * App: Observes successful messages
    * Test: Confirms that all expected messages were receive

[2021-10-06 01:36] berndverst commented on #959
My current plan is to use Azure Container Registry with Identity Assignment to verify this. I'm working on a PoC and then a new GitHub Workflow.

[2021-10-06 16:51] #943 closed

[2021-10-06 18:40] #1185 closed

[2021-10-06 19:54] #1172 closed

[2021-10-07 19:53] dmitsh opened #1187 "RabbitMQ component does not handle channel closing properly"
## Expected Behavior

RabbitMQ component should close channel before reconnecting

## Actual Behavior

RabbitMQ component does not close channel before reconnecting

## Steps to Reproduce the Problem

## Release Note

RELEASE NOTE:

[2021-10-07 21:54] neumann1990 opened #1188 "TLS with Kafka pubsub component"
I'm trying to use the Kafka pubsub component to connect to a Kafka listener with TLS enabled. Are there any hooks to provide the dapr sidecar with a CA chain for verifying the Kafka TLS cert, similar to the `caCert` config value for the [MMQT pubsub component](https://docs.dapr.io/reference/components-reference/supported-pubsub/setup-mqtt/)?

[2021-10-07 22:21] CodeMonkeyLeet opened #1189 "Support Azure Service Bus metadata handling in bindings component"
## Describe the feature
Per the implementation of #1071 it looks like the Azure Service Bus (ASB) queues bindings component should also be improved to support all [ASB message properties](https://docs.microsoft.com/en-us/rest/api/servicebus/message-headers-and-properties#message-headers). From the code it looks like only MessageID and CorrelationID are explicitly handled on Invoke, and Label is ad

[2021-10-08 03:25] #1187 closed, assigned to dmitsh

[2021-10-10 11:26] Admiralkheir opened #1191 "Add AckWait, MaxDeliver, and MaxAckPending Properties for NATS Jetstream"
We need these properties for using JetStream. We are using Nats Streaming now but wanted to change it with JetStream

AckWait: Ack Wait is the time in nanoseconds that the server will wait for an ack for any individual message. If an ack is not received in time, the message will be delivered.

MaxDeliver: The maximum number of times a specific message will be delivered. Applies to any message that

[2021-10-11 04:31] dmitsh commented on #826
@slacksach , I keep working on this issue. So far I pushed a PR that addresses an issue of open channels (#1190).
This seems to improve stability and significantly reduce frequency of the issue occurrences.
However, I still see occasional errors reported by RabbitMQ server: `operation basic.consume caused a connection exception not_allowed: "attempt to reuse consumer tag '<queue name>'"` and wrong

[2021-10-11 21:37] CodeMonkeyLeet commented on #1053
This looks like a robustness issue in the underlying paho.mqtt.golang library:

- The test has a default 1 minute timeout for the Read operation that is not getting triggered. What kills the test is the test framework itself detecting the deadlocked process after 15 min, hence the long timeout.
- The hang happens in the [`mqttMsg.Ack()`](https://github.com/dapr/components-contrib/blob/ca8cf5c1fc20

[2021-10-12 00:20] dmitsh commented on #826
@slacksach , I'm somehow convinced that the problem is *not* in Dapr.
I triple-checked every call to `amqp.Channel.QueueBind` for correctness of parameters. The problem happens when this call returns error `unexpected command received`. After that the UI shows incorrect binding.
I created issue https://github.com/streadway/amqp/issues/516 and will follow up on it.

[2021-10-12 01:54] Taction commented on #1188
I'll look into this and add tls support for it.

[2021-10-12 01:54] Taction commented on #1188
/assign

[2021-10-12 05:39] beiwei30 commented on #1167
agree, I vote 'stable' too.

[2021-10-12 09:06] slacksach commented on #826
Thanks @dmitsh, I would agree, definitely seems to be an issue in the underlying package. If you need any further info from my side please let me know.

[2021-10-12 17:37] berndverst opened #1193 "Add @berndverst as approver for components-contrib"
This is a request to add @berndverst as approver for components-contrib.

PRs:

https://github.com/dapr/components-contrib/pulls?q=is%3Apr+author%3Aberndverst+

#1176
#1159
#1152
#1079
#1078
#1059
#1011
#996
#991
#990
#1180 (open right now)

Issues created:
#1060
#1175

Please also see the conversations in Discord in #general and #components-contrib

[2021-10-13 00:08] halspang commented on #957
## Working Test Plan
### Conformance Tests (Existing)
- Verify Init (no errors)
- Verify operations (no errors/ensure all operations are covered in conformance tests)
- Verify read (no errors, includes data verification from create)
- Verify create (no errors, data validated in read)

### Integration Tests (Existing/Planned)
- Verify Queue level TTL is respected (exists)
- Verify Message level TTL

[2021-10-13 02:35] mukundansundar commented on #951
/assign

[2021-10-13 19:07] berndverst commented on #959
### Component test plan

- [] [Integration] Authentication using managed service identity
- [] [Integration] Authentication using service principal
- [] [E2E] Run Secret Store test app with KeyVault as secret store provider. Verify get, set, list operations.

[2021-10-13 19:14] berndverst commented on #958
## Component test plan

- [ ] Conformance tests passing
- [ ] Integration / E2E test verifying data sent to output binding is written to Cosmos DB
- [ ] Integration test -- expected failure for invalid partition key specified, or partition key missing from document
Possibly
- [ ] Graceful handling of connection resets / interruption

[2021-10-13 19:28] berndverst commented on #949
## Component test plan

- [ ] [Integration] Test default vs custom SQLServer `schema` name handling
- [ ] [Integration] Test indexed properties actually indexed / not indexed. Error cases?
- [ ] [Integration] Test keyType / keyLength combination and allowed value range
- [ ] [Nice to have] remove duplicate tests across integration and conformance tests
- [ ] [Integration] Component must retry / re

[2021-10-13 19:39] tanvigour commented on #950
/assign

[2021-10-13 20:01] tanvigour commented on #950
## Test Plan Draft

### Existing tests (Conformance test)
- Test for mixed data types
- Test for init
- Test for ping
- Test for operations  :  get , set delete, bulkdete, transaction, etag, first-write

###  Proposed tests
-  Test for existing  table name vs new table handling (functional)
-  Test for authentication using Azure auth layer : https://github.com/dapr/components-contrib/issues/1103
-

[2021-10-13 20:11] yaron2 opened #1197 "AWS ECS name resolution component"
It'd be great to add support for service invocation in AWS ECS so that Dapr sidecars can communicate between them securely.

Name resolution components sit here: https://github.com/dapr/components-contrib/tree/master/nameresolution.

Info on AWS ECS dns: https://aws.amazon.com/blogs/compute/service-discovery-for-amazon-ecs-using-dns/.

For anyone who wants to pick this up, please respond `/assign`

[2021-10-13 21:14] dmitsh commented on #954
Proposed plan:

Run pubsub with 2 pods, each for a distinct consumerID.

[test 1]: consistency
 - verify number of published messages equals to number of received messages per consumerID
 - verify that consumers don't receive messages from unsubscribed topics

[test 2]: scaling
 - scale up one of the pubsub pods (one of the consumerIDs)
 - verify consistency (as in test 1)

[test 3]: reconnect
- s

[2021-10-14 05:36] yaron2 commented on #1188
Triaged into 1.5.

[2021-10-15 08:53] cysnet opened #1199 "When Consul is used as a name resolution component, the same appid cannot achieve load balancing, and the dapr started later will overwrite the previous dapr"
![image](https://user-images.githubusercontent.com/35944271/137460463-52c3f9e9-672e-428d-892d-8cd6e1261ace.png)
I started two backend services on two dapr instances, but only the backend started later in consul, and load balancing cannot be achieved.
One instance ip is 192.168.43.131, another is 192.168.43.132. But only the one started later can be registed in consul.

And the config of the two da

[2021-10-15 18:59] #1070 closed

[2021-10-15 23:31] halspang commented on #1103
Azure Service Bus pubsub and bindings are handled in: https://github.com/dapr/components-contrib/pull/1201

This was done as part of the GAing process for the binding and I figured while I was there I'd get pubsub too.

[2021-10-17 10:36] Admiralkheir commented on #1191
Of course I would, but I don't have much experience in go language, I usually develop applications on the .net side.

[2021-10-17 16:36] darren-wang commented on #1085
I met the same problem!

[2021-10-17 16:48] darren-wang commented on #1188
Can you have a look into my issue with kafka as pubsub backend? Thanks a lot!
https://github.com/dapr/dapr/issues/3766

[2021-10-17 23:17] #1127 closed

[2021-10-19 11:03] mhozhda-agiliway opened #1205 "Add logic to utilize sqs/sns fifo queues and topics with dapr pubsub"
After some research and discussion on discord it occurs there is currently no possibility to use AWS SQS/SNS FIFO queues/topics with dapr pubsub component. By default dapr creates standard queues and topics. And if I try to specify the name of existing FIFO topic (e.g. 'mytopic.fifo') it creates new topic named 'mytopicfifo' as nameToAWSSanitazedName method from snssqs.go  just deletes dot as not

[2021-10-20 01:54] yavuztor commented on #1171
@daixiang0 that would be a great feature. I have been thinking about this as well. Good news is that today at [DaprCon Day 1](https://youtu.be/7ax-ltJjM58) , @yaron2 mentioned that it is getting in the roadmap. Looking forward to seeing this feature land on a release.

[2021-10-20 14:01] fbridger commented on #1197
@daixiang0 I've noticed an unmentioned [dns nameresolution component](https://github.com/dapr/components-contrib/tree/master/nameresolution/dns)

Might this solved our problem and be used for ECS Service Discovery?

[2021-10-20 16:02] olitomlinson commented on #1205
Is there an opportunity to make a generic setting here that may work for different broker implementations?

I ask because there is no `enable FIFO` switch in Azure Service Bus like there is in AWS (such as by appending `.fifo` to the end of a queue name)

The way to enable FIFO/Ordered messages in Azure Service Bus is by using a [Session ID](https://docs.microsoft.com/en-us/azure/service-bus-messa

[2021-10-20 17:40] artursouza opened #1209 "CosmosDB state stores changes order of operations in transaction"
## Expected Behavior

When an app performs the following transaction in state store:
[code]

The expected result in the database is that key1 is not present and key2 is present, respecting the order of the operations.

## Actual Behavior

The result in the database is that key1 and key2 are present, not respecting the order of the operations.

## Steps to Reproduce the Problem

Perform a transacti

[2021-10-20 17:40] artursouza commented on #1209
This requires the stored procedure to be rewritten.

[2021-10-20 17:49] artursouza opened #1210 "New conf test scenario for state stores: transaction order"
## Describe the proposal

As per #1209, CosmosDb implementation does not respect the order of transactions. This was caught as we changed our E2E tests on AKS to use CosmosDB and one of the E2E tests covered this scenario while our conformance tests don't.

This proposal is to add the following scenario to conformance tests for state stores and fix the state stores that do not pass this test:

1.

[2021-10-20 19:12] dmitsh opened #1211 "Add Query StateStore API implementation for Redis StateStore"
## Describe the feature
Per https://github.com/dapr/dapr/issues/3662, we have added Query StateStore API and implemented it for ModgoDB and CosmosDB (https://github.com/dapr/components-contrib/pull/1153)

We need to implement this API for Redis StateStore

## Release Note

RELEASE NOTE:

[2021-10-20 23:18] artursouza opened #1214 "New conf test for state store: max payload size"
## Describe the proposal

Add max payload size checks in conformance tests using a parameter to check size boundaries. This is to revive the test scenario deleted from E2E test and put that in the right place: conformance tests.

See test and discussion here: https://github.com/dapr/dapr/pull/3785#discussion_r733038382

[2021-10-21 18:27] rabollin opened #1216 "Certify MQTT pubsub component and GA"
1. Verify MQTT pubsub with 2 or 3 messaging services runs on MQTT protocol
2. It should handle queues, topics & subscriptions
3.  Add Conformance tests covering all the specifications of the component

[2021-10-21 20:50] CodeMonkeyLeet opened #1218 "Azure SQL state store conformance tests are flakey"
## Expected Behavior

Azure SQL state store conformance tests pass consistently.

## Actual Behavior

Looking at the trend of [conformance test failures](https://github.com/dapr/components-contrib/actions/workflows/conformance.yml?query=is%3Afailure) Azure SQL fails about 7% of the time, always in Init, although with different failure signatures.

The vast majority are due to the opaque error:
[co

[2021-10-21 21:17] #1146 closed

[2021-10-21 22:05] #1168 closed

[2021-10-21 23:25] andrey-dubnik opened #1220 "OPA does return HTTP-200 where response is set to 301"
## In what area(s)?

## What version of Dapr?

1.4

## Expected Behavior

I would expect following policy to return 301 status code. I'm not sure if my understanding correlates with what I can see as a result of the test scenario but I'm getting HTTP-200 returned where I would expected to see 301...

[code]

## Actual Behavior

Request returns HTTP-200

< HTTP/1.1 200 OK
< Server: echoserver
< Dat

[2021-10-21 23:25] yaron2 commented on #1220
[Transferred to correct repository].

[2021-10-22 01:51] Taction commented on #1220
@andrey-dubnik Can you take a look if you have configured middleware config? I don’t know opa very well, but it will not take effect until the middleware pipelines is configured: [https://docs.dapr.io/developing-applications/middleware/](https://docs.dapr.io/developing-applications/middleware/)

[2021-10-22 09:58] arkakk93 opened #1225 "Support for partition key while publishing to Azure Event Hubs"
## Describe the feature
Able to set partition key while publishing messages to Azure Event Hubs.
With this capability of assigning partition key while publishing - the user can maintain the order of the events under required scenarios

Similar to : https://github.com/dapr/components-contrib/issues/667

[2021-10-24 00:09] msfussell opened #1228 "GCP Tasks Binding Component"
## Describe the feature
GCP Cloud Tasks provides scalable queues. Cloud Tasks is a fully managed service that allows you to manage the execution, dispatch, and delivery of a large number of distributed tasks. Using Cloud Tasks, you can perform work asynchronously outside of a user or service-to-service request.
https://cloud.google.com/tasks/?hl=en_US&_ga=2.22107259.-1333873937.1635031715

Current

[2021-10-25 09:14] amimimor opened #1230 "restrict sns/sqs pubsub subscription permissions"
## Describe the feature

The pubsub/aws/snssqs component, when creating the SNS-subscription-SQS assets, provides excessive permissions. The recommended policies are described by AWS [here](https://docs.aws.amazon.com/sns/latest/dg/subscribe-sqs-queue-to-sns-topic.html) The component can use the more stricter policy template as provided by the above documentation

## Release Note

RELEASE NOTE:

[2021-10-25 17:45] taojwmware opened #1231 "Kinesis client library needs update"
Dapr seems to use an old version (2 years old) of [vmware-go-kcl](https://github.com/dapr/components-contrib/blob/master/go.mod#L121). The later version ([v1.5.0](https://github.com/vmware/vmware-go-kcl/releases/tag/v1.5.0)) supports bug fixing, KPL records, shard rebalance, and enhanced fan-out.

[2021-10-25 22:40] #1188 closed, assigned to Taction

[2021-10-26 13:56] #1216 closed, assigned to nobody

[2021-10-26 22:42] CodeMonkeyLeet opened #1234 "MQTT messages are always acked even if handler returns an error"
## Expected Behavior

MQTT pubsub and bindings components only `Ack()` a message if the app's callback returns without error, as documented by the Dapr APIs.

## Actual Behavior

paho.mqtt.golang lib that Dapr MQTT components depend on [always `Ack()`](https://github.com/eclipse/paho.mqtt.golang/blob/v1.3.5/router.go#L210-L211) the message when the handler returns, even though both the [pubsub](ht

[2021-10-26 23:19] CodeMonkeyLeet opened #1235 "MQTT bindings can hang on `Close()`"
## Expected Behavior

MQTT bindings always make forward progress on `Close()`

## Actual Behavior

Conformance test runs show that MQTT bindings tests fail about 3-5% of the time in a deadlock on invocation of `Close()`, hitting the 15-minute test framework timeout. For example:
- https://github.com/dapr/components-contrib/runs/4012498465?check_suite_focus=true#step:30:50
- https://github.com/dapr

[2021-10-27 05:11] #1235 closed, assigned to CodeMonkeyLeet

[2021-10-27 20:38] #1218 closed, assigned to CodeMonkeyLeet

[2021-10-28 08:02] arkakk93 opened #1243 "EventHub.properties are not available while subscribing to Azure IoT Hub Events"
## Expected Behavior

Scenario: IoT enrichment properties are supplied as EventHub.properties when sent to the Event Hub using the routing. These properties are currently not exposed while accessing Dapr.
Because of this it creates a dependency to use the SDK

## Actual Behavior

EventHub.properties are not available while subscribing to Azure IoT Hub Events

Briefly mentioned in the other issue:

[2021-10-28 09:28] dillenmeister opened #1244 "Cosmos state store ignores ETags for multi operations"
## Expected Behavior

Trying to upsert a state (using multi) with an ETag that does not match the ETag in cosmos should not update the document (when the concurrency mode is first write). A transaction should fail if at least one of the ETags does not match.

## Actual Behavior

The ETag is ignored and the state is always updated. This behavior is expected if the concurrency mode is last write, bu

[2021-10-28 21:14] greenie-msft opened #1246 "CosmosGraphDB binding component is wrongly named. Should be CosmosDBGremlinAPI"
## Expected Behavior

The binding component currently named CosmosGraphDB is wrongly named and should be CosmosDBGremlinAPI

As mentioned in the CosmosDB documentation: https://docs.microsoft.com/en-us/azure/cosmos-db/graph/graph-introduction#introduction-to-graph-databases

## Actual Behavior
Binding component should be renamed to Azure/CosmosDBGremlinAPI

[2021-10-29 05:51] saber-wang opened #1249 "cron binding currently calls all copies of a service"
Currently, it will cause repeated execution. Can a service be called only once，Similar to competing consumers pattern?

[2021-10-29 15:50] yordan-pavlov opened #1250 "GCP pub/sub subscription stops working after error"
## Expected Behavior

GCP pub/sub subscription should be resilient to temporary service / network issues.

## Actual Behavior

When the Subscription::Receive method returns an error, the subscription is not reconnected automatically and only starts working again after the dapr process is restarted; see https://github.com/dapr/components-contrib/blob/master/pubsub/gcp/pubsub/pubsub.go#L238

An exam

[2021-10-30 03:03] yaron2 commented on #1250
Thanks for reporting this. Would you be interested in submitting a PR to fix this?

[2021-10-30 04:30] yaron2 commented on #1197
@fbridger @abogdanov37 @daixiang0 a general purpose DNS component can certainly do the trick here, but I want to get in the weeds about how this is going to work.

for example, one implementation can be that the ID of the target app IS actually the target DNS address. Or, we can configure the base DNS address in a component, like:

[code]

And then the app-id is `customera` and `customerb`. Though

[2021-10-30 07:18] CrazyHZM opened #1252 "Update to Go 1.17"
## Describe the feature
Update components-contrib to compile with Go 1.17.

## Release Note

RELEASE NOTE:

[2021-10-30 12:09] wmeints opened #1253 "Body of email empty in SMTP binding when invoking the binding over gRPC"
## Expected Behavior

The data sent to the SMTP binding is correctly translated to e-mail content.

## Actual Behavior

The body of the e-mail is empty when you invoke the SMTP binding over gRPC.

## Steps to Reproduce the Problem

I noticed this behavior when using the SMTP output binding in Python. When executing the following code:

[code]

The client sends the metadata to the correct binding w

[2021-10-30 13:12] wmeints opened #1255 "Warning generated by SMTP binding when username and password are both set."
## Expected Behavior

The SMTP binding generates a warning when no username and password are provided.

## Actual Behavior

The SMTP binding generates a warning when username AND password are set.

## Steps to Reproduce the Problem

1. Create a binding configuration for SMTP:

[code]

2. Start an app with `dapr run`.

## Release Note

RELEASE NOTE:

[2021-10-30 14:38] fbridger commented on #1197
Having to configure the namespace or domain would definitely work on our implementation.

However, there may be scenarios where you may want to use different namespaces or domains for DNS entries like customera.ecssd.com and customerb.otherecssd.com.

So I would try to keep things as simple as possible (minimum yaml configuration) and allow AppIds to fully contain the entire DNS entry. If this is

[2021-10-31 22:00] #1253 closed

[2021-10-31 23:47] taojwmware commented on #1231
https://github.com/dapr/components-contrib/pull/1257 for updating the library dependency only. Will create a new issue and PR for simplifying the coding as well by using the enhanced fanout feature provided by the new library.

[2021-11-01 02:54] #1135 closed

[2021-11-01 10:51] amimimor opened #1260 "PubSub AWS SNS SQS component - use SQS FIFO"
## Describe the feature
To use exactly once message delivery guarantees with message ordering when using SQS, a user (here daprd) must choose an SQS queue of FIFO type and queue name suffixed with `.fifo` (see [AWS docs](https://docs.aws.amazon.com/AWSSimpleQueueService/latest/SQSDeveloperGuide/sqs-configure-create-queue.html)) upon the queue creation.
The ability to use SQS FIFO is currently miss

[2021-11-01 12:05] taojwmware opened #1261 "Need to replace deprecated golang/protobuf/ptypes package"
## Expected Behavior

The build should pass ci-lint.

## Actual Behavior

Some components use deprecated packages and cause a build failure. See https://github.com/dapr/components-contrib/pull/1257

## Steps to Reproduce the Problem

[code]
It uses ptypes package and it is marked as deprecated which causes ci-lint error.
https://pkg.go.dev/github.com/golang/protobuf/ptypes

## Release Note

RELEAS

[2021-11-01 12:17] taojwmware commented on #1252
Open https://github.com/dapr/components-contrib/issues/1261 for replacing deprecated protobuf/ptypes package which causes ci-lint failure.

[2021-11-01 13:28] abogdanov37 commented on #1197
Hi everyone! In current ```dns``` implementation I based on NAMESPACE. In my opinion, it is enough. If you have any cases in with it is not work please share it.

[2021-11-01 13:40] fbridger commented on #1197
@abogdanov37 Do you mean the namespace that is configured in the config.yaml

Example:
[code]

If this is the case, doing a Service Invocation from `customerA`  to `customerB` like  `http://localhost:3500/v1.0/invoke/customerB/method/ping` would result in a HTTP request to `customerB.default` (`[AppId]`.`[namespace]`) ?

[2021-11-01 15:14] yordan-pavlov commented on #1250
@yaron2 I would be happy to submit a PR for this.
Also, it appears that this is an issue with the GO GCP pub/sub library which has been reported here https://github.com/googleapis/google-cloud-go/issues/4257 and fixed in version 1.12.2.

In that case, I wonder if it would be enough to just upgrade to v 1.12.2 of the GCP pub/sub library? Or do you think it would still be useful to implement a recon

[2021-11-01 16:03] yaron2 commented on #1197
Actually, thinking about this more, for simple "bring your own DNS" use cases (which I come to realize are important) we should decouple the name resolution component from the "discovery" aspect of it.

I propose the following:

An app can specify the address of the service it's calling via an HTTP header for HTTP requests and a new proto field on the `Invoke` method for gRPC calls.

### Example

[2021-11-01 17:42] mhozhda-agiliway commented on #1260
Already created an issue a few days ago: https://github.com/dapr/components-contrib/issues/1205

[2021-11-01 18:30] #1260 closed

[2021-11-01 18:41] amimimor commented on #1205
I'll jump in (late) and add that the created queue name is anyways dependent on the `Subscription` (either dynamic or preconfigured in yaml) defined and is set to the `AppName` of the consumer, so adding of `.fifo` is pointless in the sense that it is not expected that someone would call their application `myservice.fifo` just to trick the system to use SQS FIFO. However it is a interesting proble

[2021-11-01 23:54] yaron2 commented on #1205
@olitomlinson @amimimor I think it'd be valuable to add FIFO as a concept. Granted, not all implementations will support this and so I favor an implementation specific (yet consistently named) `FIFO` metadata item that will provide a hint to the component to use FIFO if possible.

[2021-11-02 01:17] daixiang0 commented on #1249
What do all copies of service mean? A HA kafka? Please share more details to help us understand.

[2021-11-02 01:22] daixiang0 commented on #1261
Are you interested in fixing it?

[2021-11-02 01:48] saber-wang opened #1263 "the Route of subscription API does not work on pubsub.pulsar"
time="2021-11-02T09:40:16+08:00" level=info msg="Connecting to broker" remote_addr="pulsar://ip:prot"
time="2021-11-02T09:40:16+08:00" level=info msg="TCP connection established" local_addr="ip:prot" remote_addr="ip:prot"
time="2021-11-02T09:40:16+08:00" level=info msg="Connection is ready" local_addr="ip:prot" remote_addr="pulsar://ip:prot
time="2021-11-02T09:40:16+08:00" level=info msg="Connecti

[2021-11-02 02:03] saber-wang commented on #1249
@daixiang0
cron
[code]

Deploy 2 replicas of a service, observe the log output and find that each replica is called once every 20s ，The expectation is to call only one replica every 20s

yml:
[code]

logs:
![image](https://user-images.githubusercontent.com/45062099/139774431-16a2cce3-b7a5-42f0-b74a-1703ad7dcd41.png)

![image](https://user-images.githubusercontent.com/45062099/139774484-7815198c-39

[2021-11-02 06:34] yaron2 commented on #1250
Perhaps upgrading the SDK version is enough. It would be great if you can report back and open a PR for this when possible.

[2021-11-02 09:04] olitomlinson commented on #1205
@yaron2

do you see this metadata property going down a boolean switch route

i.e. `"FIFO": true`

or a string in which to specify a SessionID | MessageGroupID

i.e. `"SessionId" : "r9i203i0r3"`

[2021-11-02 16:16] stefanJ-hub commented on #984
hi @yaron2  @artursouza

we are now running on 1.4.3 and are still seeing these logs

`azure service bus error: error receiving message on topic xxx.yyy.zzz, link detached, reason: *Error{Condition: amqp:link:detach-forced, Description: The link 'z81DsiUfL56M7AT-CuNsMyFBQpXT9gYmN3EQoWT1n3nZ6AeQWsixxx' is force detached. Code: RenewToken. Details: Unauthorized access. 'Listen' claim(s) are required

[2021-11-02 17:38] #1230 closed

[2021-11-02 20:30] richgo commented on #1171
The team over at Gloo have done a great job on enovy with their wasme cli: https://docs.solo.io/web-assembly-hub/latest/reference/cli/wasme/. Something similar would work pretty well for DAPR?

[2021-11-02 22:32] CodeMonkeyLeet commented on #1255
Fixed by #1256

[2021-11-02 22:32] #1255 closed

[2021-11-02 23:13] CodeMonkeyLeet opened #1268 "Certification tests cannot be run in dev container, windows or WSL"
## Expected Behavior

Documented Dapr developer environments should support all related developer activities including running certification tests.

As a min bar, there probably needs to be some additional documentation around the dev experience for writing and running certification tests (analogous to tests/conformance/README.md perhaps) that calls out the supported platforms.

## Actual Behavior

[2021-11-02 23:15] CodeMonkeyLeet commented on #1268
@pkedy if you're writing docs for the certification tests, just call this out and this can probably be parked as by-design.

[2021-11-02 23:19] yaron2 commented on #1205
Personally, I prefer `"FIFO: true"`.

[2021-11-03 10:34] olitomlinson commented on #1205
@yaron2

Not sure this will work, as I described above Azure Service Bus doesn't have a concept of enabling FIFO / ordered delivery with a Boolean so the consistency that you're after can't be achieved. Unless I'm missing something?

Maybe a FIFO object, would be better so then it can be extended to support a Session ID / Message Group ID in the future

[code]

At which point `sessionId` becomes o

[2021-11-03 12:19] abogdanov37 commented on #1197
Yes!

[2021-11-03 12:33] abogdanov37 commented on #1197
IMHO. In this case, we move the discovery function to client. And we will have problems with deployment in different environments. For example, deploy on test and on prod.  We should change addresses in all calls.
In another case, if we want to divide discovery ability from name resolution we should exclude consul name resolution.

[2021-11-03 14:07] jjcollinge commented on #1205
@olitomlinson FYI, I was looking to enable session support in ASB soon in a similar way to how the Azure Functions trigger works i.e. you can use a boolean operator like `enableSessions` and we provide a mechanism to handle each session in order (see here for details: https://github.com/dapr/components-contrib/issues/289). It's not a perfect mechanism and I was planning to also allow the consumer

[2021-11-03 16:47] CodeMonkeyLeet commented on #1263
@saber-wang This looks like an issue with your publisher config that is using the topic `persistent://public/default/DaprDemoEvent` and not the `DaprDemoEvent` topic configured by your subscriber.

[2021-11-03 17:47] jjcollinge commented on #1205
Regarding the common FIFO discussion, I guess my first question is, does trying to use common metadata for FIFO provide a valuable abstraction? If the Dapr runtime has to read the metadata value to do something outside the context of the specific pubsub provider then having a consistent metadata name makes sense, however, I don't think that's the case here? I think this metadata value will only be

[2021-11-03 18:17] CodeMonkeyLeet commented on #1249
@saber-wang there seem to be a couple of misconceptions here:

- The [cron binding](https://docs.dapr.io/reference/components-reference/supported-bindings/cron/) does not take a `route` parameter.
- There is no backing service to the cron binding. It runs local to the dapr sidecar, so scaling out your app also scales out the number of cron triggers.

As mentioned, if you would like to use a compet

[2021-11-03 19:02] olitomlinson commented on #1205
In the application code, which is about to publish to the topic, there needs to be a way to specify the Session ID / Message Group Id. I'm assuming that would be done by setting a new metadata property here :

https://docs.dapr.io/reference/api/pubsub_api/#metadata

...so a new property `metadata.sessionId` alongside the existing `metadata.ttlInSeconds` and `metadata.rawPayload`

This would then f

[2021-11-03 19:16] jjcollinge commented on #1205
Understood, thanks. The change to allow setting the sessionId in request metadata for ASB has already been merged and will be available in v1.5 but there's nothing stopping us adding support for this in SQS if we decide it is useful. It's good to discuss these things so appreciate your thoughts. I'll have a think about the common metadata a little more and get back to you. 👍

[2021-11-03 20:56] olitomlinson commented on #1205
I appreciate the discourse, and hopefully this might help shape the future somewhat :)

[2021-11-04 01:03] saber-wang commented on #1249
@CodeMonkeyLeet  Thank you for your answers and suggestions

[2021-11-04 01:03] #1249 closed

[2021-11-04 01:09] saber-wang commented on #1263
@CodeMonkeyLeet But when I changed pulsar to redis, everything was normal, and it was clear that `persistent://public/default/DaprDemoEvent` was created and subscribed in the log.

[2021-11-04 01:45] Taction commented on #1263
@saber-wang Thanks for reporting this.
It seems that pulsar has formated the topic into its own form. When publishing msg to dapr, we should use the original topic instead of using the topic get from msg.
Or we can document that to instruct users to define the topic following the pulsar's rule(define `persistent://public/default/DaprDemoEvent` instead of `DaprDemoEvent ` when using pulsar), but th

[2021-11-04 02:10] saber-wang commented on #1263
@Taction Make a suggestion,can pulsar support more metadata? For example, support for setting up tenants and namespaces

[2021-11-04 02:19] Taction commented on #1263
Can you list the metadata you want or suggest? It's best to have a link to the official documentation.

[2021-11-04 02:26] saber-wang commented on #1263
@Taction `https://pulsar.apache.org/docs/en/concepts-multi-tenancy/`  Tenants and Namespaces

[2021-11-04 03:22] #959 closed

[2021-11-04 16:53] CodeMonkeyLeet opened #1277 "Support configuring broker version in Kafka bindings component"
## Describe the feature
Per https://github.com/dapr/dapr/issues/3806 for Kafka pubsub, the Kafka bindings component hardcodes the Kafka version the component expects the broker to be using, which can unnecessarily restrict compatibility in an end user's environment.

Given https://github.com/dapr/components-contrib/pull/1275, it would be good for Kafka bindings to support the `Version` metadata as

[2021-11-05 03:07] daixiang0 commented on #1277
Does it mean Dapr need to maintain multi-version of Kafka?

[2021-11-05 03:08] daixiang0 commented on #1263
I think Tenants and Namespaces are useful, are you interested in adding them? @saber-wang

[2021-11-05 03:11] saber-wang commented on #1263
@daixiang0 Sorry, I’m not very familiar with GO

[2021-11-05 13:45] regul4rj0hn commented on #349
Sorry to necro this one, but is there any chance we could get this feature for Kafka pub-sub with SSL authentication?

[2021-11-05 16:15] CodeMonkeyLeet commented on #1277
@daixiang0 what you mean? Dapr itself is agnostic to the Kafka versions as far as I can tell, it's primarily a feature that the sarama lib the Kafka components in Dapr rely on that expose the ability to configure the client to be compatible with downlevel versions of the Kafka brokers. The change is simply for the Dapr Kafka binding to expose the configuration option that sarama already provides.

[2021-11-05 16:46] #953 closed

[2021-11-05 16:47] #949 closed

[2021-11-05 16:48] #1137 closed

[2021-11-05 16:49] artursouza commented on #954
Reopening since there were new issues uncovered during testing.

[2021-11-05 21:49] CodeMonkeyLeet opened #1281 "Azure EventGrid bindings conformance test fails in ~15% of runs"
## Expected Behavior

Azure EventGrid bindings conformance test should pass reliably.

## Actual Behavior

The EventGrid bindings tests continue to fail about 15% of the time in automation, which is the highest of any conformance test.

[code]

This is a continuation of failure signature seen in https://github.com/dapr/components-contrib/issues/1003, where the `verify_read` test is failing because

[2021-11-06 00:17] CodeMonkeyLeet opened #1282 "MQTT bindings conformance tests have a ~1% failure rate on Create test"
## Expected Behavior

MQTT bindings conformance tests should pass reliably.

## Actual Behavior

MQTT bindings conformance tests have a ~1% failure rate on Create test with the following failure signature:

[code]

Tracing the MQTT code, this seems internal to the paho.mqtt.golang lib, and may be related to https://github.com/eclipse/paho.mqtt.golang/issues/410. Dapr uses the default `AutoReconnec

[2021-11-06 01:51] Taction commented on #1263
/assign

[2021-11-06 17:34] yordan-pavlov commented on #1250
@yaron2 testing over the past few days is looking good - it appears that upgrading the GCP pub/sub library to version 1.12.2 solves the problem. I plan to submit a PR for this next week.
I did test a reconnect loop as well, and after the library upgrade it didn't get triggered for `server_shutting_down` errors (because they are now handled internally by the pub/sub subscription), but there are sti

[2021-11-08 02:19] daixiang0 commented on #1277
Oh, I get it, thanks for your careful explain.

[2021-11-09 00:04] CodeMonkeyLeet opened #1284 "AWS SNSSQS pubsub component should be consistent in error wrapping"
## Expected Behavior

AWS SNSSQS pubsub component consistently returns errors from the underlying AWS SDK wrapped in an error meaningful to the component's operation.

## Actual Behavior

Some failures from the same function return a wrapped error and some log a wrapped error but return the raw err.

## Steps to Reproduce the Problem

This is mostly code cleanup from https://github.com/dapr/compon

[2021-11-09 01:52] daixiang0 commented on #1171
@richgo thanks for your great demo!

Recently I am thinking of it and share the draft here:

1. WASM can do more things than HTTP, `middleware.wasm` or `middleware.http.wasm`? I choose the latter as it is easier to start and I do not find a good use case outside HTTP for now.
2. Should we use the envoy interface or support it? I prefer to support it. The current middleware interface is simple but

[2021-11-09 05:51] yaron2 commented on #1250
Sounds good, please submit the PR when ready.

[2021-11-09 14:36] yordan-pavlov commented on #1250
@yaron2  please have a look at the PR for upgrading the GCP pub/sub library here https://github.com/dapr/components-contrib/pull/1285.
I will be submitting a separate PR for a reconnect loop + some error logging.

[2021-11-10 12:34] amimimor commented on #1284
I'll soon handle this issue when working on #1205

[2021-11-10 17:59] richgo commented on #1171
Hi @daixiang0

1) I think given it is an http middleware that makes sense to reside in middleware/http.
2) middleware.http.wasm.basic and middleware.http.wasm.enovy seem like a good idea. Gives scope to start with basic and tackle the more complex envoy api later.
3) Also a good shout.

let me know when you have a branch going. I'm keen to have a tinker :)

[2021-11-10 18:16] CodeMonkeyLeet commented on #802
This is still a long-term gap in the mysql component that prevents it from using secrets in a Kubernetes deployment.

[2021-11-10 19:05] #1178 closed

[2021-11-10 22:49] CodeMonkeyLeet commented on #1281
Event Grid diagnostic logs on failed deliveries confirms that Event Grid is getting 404 (not found) from the ngrok endpoint in the failure cases, hence no retries from Event Grid. For example:

[code]

While ngrok has seen [outages](https://status.ngrok.com/incidents/ns6dr0bpsgkl) like this, the pattern of failures seen in the conformance test history is not correlated with the reported ngrok outa

[2021-11-11 00:16] ItalyPaleAle commented on #1103
With #1290 I'm adding support for authenticating against the new "track 2" SDKs and I've updated the Key Vault secret store component. Support for the new auth library is required for all new SDKs, including Table Storage and the upcoming Cosmos DB.

[2021-11-11 01:49] daixiang0 commented on #1171
@pkedy @artursouza @yaron2 WDYT?

[2021-11-11 02:04] prabhakarreddy1234 opened #1294 "Panic while using cosmos db output binding"
## In what area(s)?
cosmos db binding

docs - https://docs.dapr.io/reference/components-reference/supported-bindings/cosmosdb/

## What version of Dapr?
1,4
self hosted

## Expected Behavior

doing a POST on http://localhost:58219/v1.0/bindings/cosmosdb-output should create an item in cosmos container.

## Actual Behavior

[dapr-second-dapr_e1dcfc90-c]: panic: reflect: call of reflect.Value.Elem o

[2021-11-11 04:07] mukundansundar commented on #1189
/assign

[2021-11-11 08:52] daixiang0 commented on #1171
Intel QAT(QuickAssist Technology) can enhance security and compression performance. Dapr, an open-source distributed application runtime, widely used in CSPs like Alibaba and Azure, uses automatic mutual TLS as default in internal communication. To enable QAT in Dapr, we plan to reimplement the sentry component with CGO + OpenSSL as QAT supports OpenSSL optimization. Also, Dapr still does not supp

[2021-11-11 12:17] bgelens commented on #1148
@jjcollinge Do you want to keep this issue open so I can report back on 1.5 experience?

[2021-11-11 18:59] yaron2 commented on #1294
Moved to correct repository.

[2021-11-11 18:59] yaron2 commented on #1294
Moved to correct repository.

[2021-11-12 00:38] yaron2 opened #1297 "Remove Cloud state component"
Cloud state is now in a discontinued state and the project is not actively maintained or worked on.

There is also no way to guarantee the existing Cloud state images will remain hosted.

As such, I propose to remove this Alpha component.

[2021-11-12 05:58] mukundansundar commented on #951
I will be creating a certification issue and adding the Test Plan for the same shortly.

[2021-11-12 11:54] bgelens commented on #1148
@jjcollinge I've upgraded 2 of our clusters to 1.5. Our production for now remains on 1.4.2 for now which allows to compare.

We did start to notice issues occur on the publishing side as well, this is where we loose data with 1.4 as they are not retried and currently we did not expect the need to handle this.

[code]

Do you know if work in the 1.5 release maybe addresses this? We are thinking ab

[2021-11-12 11:56] nicklasfrahm opened #1300 "REST gateway for automatic API exposure"
## Describe the proposal

An HTTP service that translates HTTP requests automatically to CloudEvents similar to the table below.

| HTTP | CloudEvent Type |
| --- | --- |
| `GET /apis/petstore.example.com/pets` | `com.example.petstore.pets.find` |
| `POST /apis/petstore.example.com/pets` | `com.example.petstore.pets.create` |
| `GET /apis/petstore.example.com/pets/{id}` | `com.example.petstore.pet

[2021-11-12 18:07] artursouza commented on #1297
I agree. If someone has the strong need to have this component (unlikely) they can still get an older version of the runtime or build their own custom image of the sidecar.

[2021-11-12 22:13] artursouza commented on #1148
@bgelens we plan to start work on resiliency for all building blocks in 1.6. At this point, I would recommend to have retry logic to publish on the app.

This is the issue to tackle this: https://github.com/dapr/dapr/issues/3586

[2021-11-13 04:29] yaron2 commented on #1171
I like these designs, as they stay well within the boundaries of existing middleware.

I'd love to see a POC of a basic wasm middleware working.
Also, I think store monitor can be a second phase thing, as in most environments, especially Kubernetes, ops teams will most likely rollout restart deployments to get the new files.

[2021-11-13 07:22] mukundansundar commented on #951
## Current Behaviour
- Authentication mechanism: connection string to the given event hub. (Can only connect to single event hub)
- Publish : Can only publish to the connected event hub. Does not support partition key.
- Subscription: Currently can only support a single subscriber connecting to a particular event hub using a single storage container.
- Entity Management: Does not support on the fl

[2021-11-13 07:24] mukundansundar commented on #951
@artursouza @yaron2 @CodeMonkeyLeet @berndverst Please chime in your thoughts on this.

[2021-11-14 14:06] fbridger commented on #1197
@yaron2 @artursouza Any thoughts about this PR on how we could allow the "bring your own DNS" feature so Dapr can work in environments like AWS ECS?

[2021-11-15 21:34] pkedy opened #1305 "[Proposal] Create an adapter to use PubSub components as Bindings"
Currently, there are several bindings that have a pubsub counterpart (E.g. Kafka, Rabbit, Pulsar, NATS, Redis). In many cases the code in the PubSub component is far more robust. Given the similarity between bindings (Data + Metadata) and pubsub (Topic + Data + Metadata), an adapter could be used that specifies the read/invoke topics to subscribe and publish to. The primary motivation is that adap

[2021-11-16 01:53] daixiang0 commented on #1305
It is a design issue as bindings are more abstract than pubsub, we should better guide users to choose the most suitable one instead of making the two more obscure.

[2021-11-16 02:53] daixiang0 commented on #1171
Sure, I will do a POC soon.

As said before, I agree that store monitor is not what we need to do for now.

For store monitor itself, I prefer to support hot reload rather, rollout deployments usually mean service interruption(maybe partly), which is the reason why hot reload/restart becomes popular.

[2021-11-16 17:33] pkedy commented on #1305
Hi, @daixiang0! I don't disagree with this statement. I have opinions about this duality as well; however, users are _already_ using the binding versions of pubsub components and experiencing issues that are not present in the pubsub component. This proposal isn't intended to debate the merit of bindings for message brokers. Instead, this proposal aims to solve is the fact that there is similar co

[2021-11-16 19:03] berndverst opened #1307 "Azure Auth Tests: Refactor use of `MSI_ENDPOINT` and make related tests run sequentially"
This is a work item to investigate how to make the MSI / Azure Managed Identity tests pass without use of the `MSI_ENDPOINT` environment variable.

If this cannot be removed the tests should be run in sequence at least.

This was originally introduced in https://github.com/dapr/components-contrib/pull/1132, then reverted in https://github.com/dapr/components-contrib/pull/1291, then reintroduced in

[2021-11-16 19:03] berndverst commented on #1307
cc @ItalyPaleAle

[2021-11-16 21:47] ItalyPaleAle commented on #1307
I've done some digging into the code of `azure/go-autorest/autorest/adal`

Looks like the environmental variables `MSI_ENDPOINT` and `MSI_SECRET` are used by the SDK to determine the environment the app is running in and which is the endpoint of the MSI. In this case, with `MSI_ENDPOINT` only set, the SDK thinks it's running on CloudShell.

Sadly the current SDK doesn't seem to have an option to p

[2021-11-16 23:25] berndverst commented on #950
@tanvigour @artursouza important update:

This component should switch to the new / current Track 2 SDK for Table Storage.

This SDK supports BOTH the Azure Table Storage (as part of a Storage Container) as well as the Cosmos DB Table API.

https://github.com/Azure/azure-sdk-for-go/tree/main/sdk/data/aztables

IMO we should not GA this component using the existing outdated SDK

[2021-11-17 04:32] lysilver commented on #1199
I have encountered the same problem. I can only register the latter one if I want to register more appid

[2021-11-17 05:21] lysilver commented on #1199
dapr version 1.5
Dapr registers with Consul. After the same appid, one service takes the place of the first service

[2021-11-17 09:17] jjcollinge opened #1309 "Migrate ASB PubSub to use new ASB Go SDK"
The [Azure Service Bus SDK](https://github.com/Azure/azure-service-bus-go) currently used in the Azure Service Bus PubSub component is now (as of 2021-11-12) considered deprecated in favor of the [new SDK](https://github.com/Azure/azure-sdk-for-go/tree/main/sdk/messaging/azservicebus). The new SDK is currently in preview but is preparing for GA and appears to already have feature parity with what

[2021-11-17 16:05] MoeweX opened #1355 "Actor is permanently blocked when registering reminders with MongoDB"
## Expected Behavior

When I ask an actor to register multiple reminders, I want him to register all these reminders.

## Actual Behavior

The actors stops doing anything after the first reminder registration. This also blocks the application that invoked the actor's method for reminder registration.  After a couple of minutes, an exception appears that also kills the application, see output: The

[2021-11-17 16:36] rlugmania opened #1310 "Subscription fails to deserialize a Batch message created on a topic in ASB"
## Expected Behavior

Dapr.io  should handle properly batch messages published as ServiceBusMessageBatch

## Actual Behavior

Dapr.io fails to deserialize a  batch message, the code is expecting to receive an object instead of a list and the returning error is:

 msg="Error in app's handler: ReadMapCB: expect { or n, but found M, error found in #1 byte of ...|Message 3|..., bigger context ...|Mess

[2021-11-17 17:58] #874 closed

[2021-11-17 18:38] CodeMonkeyLeet commented on #1261
This will be addressed by removing the component. See #1297

[2021-11-17 18:46] CodeMonkeyLeet commented on #1243
FYI @mukundansundar

[2021-11-18 00:29] CodeMonkeyLeet commented on #951
A couple of questions and clarifications:
- What do items marked **TODO** mean? Are they specifically the set of items implemented in #1292?
- To clarify, there are no plans to add support for receiving on a specific `partitionKey`, only publish, correct? Might be useful to discuss why, as that's a functional parity difference with the bindings.
   - This is also relates to the implementation choi

[2021-11-18 01:37] berndverst commented on #1294
This is already fixed by #1180 in Release 1.5

Please upgrade to Dapr Runtime 1.5.0

[2021-11-18 01:39] #1246 closed

[2021-11-18 06:27] amimimor commented on #1205
I'm becoming available to implementing the aforementioned feature. Have we gone into conclusion about structuring of the metadata?

Regarding the concept of Message Group ID ("MGI") in SQS FIFO, as mentioned here, it only applies to ordering of publisher messages belonging to a particular MGI. However, if there is just one MGI, it limits the consumption to a single consumer at a time (no concurren

[2021-11-18 08:17] mjtansin opened #1311 "Mongodb authentication will fail, in case of databasename other than 'admin'"
## Expected Behavior

We could set DatabaseName to an name other then 'admin'.
We could set authentication database name.
For mongodb, we should set `--authenticationDatabase`, but there's no such key provided in state.mongo component.
## Actual Behavior
If databaseName is not 'admin', authentication will fail.
`time="2021-11-18T07:55:17.339768961Z" level=fatal msg="process component chatstore err

[2021-11-18 10:35] amimimor opened #1313 "PubSub AWS SNS/SQS - Disable Entity Management"
## Describe the feature
Similar to PubSub Azure Service Bus component metadata field `disableEntityManagement` - for users who prefer to provision their cloud resources outside of the Dapr context with tools such as Terraform, CloudFormation or any other infrastructure provisioning/management tool, be able to toggle off the creation of SNS topics, SNS-SQS subscriptions and SQS queues.

## Release

[2021-11-18 16:36] mukundansundar commented on #951
Yes these are the ones that are not currently available and are done as part of the PR.

As part of the rewrite is it a requirement to support subscribing to individual partitions? Taking Kafka as the Stable component for reference, the current Kafka component as far as I can see does not support consuming from specific partitions and does use the high level client to consume from topics.

It is p

[2021-11-18 18:25] CodeMonkeyLeet commented on #1151
Removing `stale` tag and updating:

- `message-id` is now provided via #1221
- `user-id` could be provided using the azure-event-hubs-go v3.3.16 release
   - The v3.3.16 release depends on the updated go-amqp v0.16.0, which contains breaking changes
   - The azure-service-bus-go SDK used in the service bus pubsub and bindings components also depends on go-amqp, so it needs to be updated at the sam

[2021-11-18 20:37] #1175 closed

[2021-11-18 23:30] #1261 closed

[2021-11-18 23:30] #1297 closed

[2021-11-19 01:44] Taction commented on #1311
Thanks for reporting this. Would you be interested in submitting a PR to fix this?

[2021-11-19 16:07] artursouza commented on #1309
Please, consider using a new component version in Dapr. This way, the current component can still be used until the new one goes through the certification process. This can be done in a way that is compatible and users would only need to change the version in the component resource to migrate.

[2021-11-19 17:15] yaron2 commented on #1309
+1 to both. We're seeing a lot of users reporting issues with the current SDK, yet some have taken a dependency on it in production and using a V2 would be a great way to allow for A/B testing.

[2021-11-19 18:50] #1231 closed

[2021-11-19 22:19] jjcollinge commented on #1309
Sounds like a good approach. We've opened an issue on the SDK to track missing features we'll need for parity https://github.com/dapr/components-contrib/blob/master/pubsub/azure/servicebus/servicebus.go. I think @halspang and @tanvigour are also potentially looking at this.

[2021-11-20 02:07] CodeMonkeyLeet commented on #1281
The additional logging confirms that the EventGrid service is somehow sending to the message to the wrong URI:

From a failed delivery event log:
[code]

The `urlPath` is https://565e-20-124-206-162.ngrok.io/api/events, however, the test expected that it created the subscription with https://2259-20-122-43-178.ngrok.io/api/events:

[code]

The extended ngrok logs confirm that https://2259-20-122-4

[2021-11-20 02:27] mjtansin commented on #1311
I viewed the code, and found the way to slove this problem by adding key 'params'  and value '?authSource=admin'. So, it's not a bug. It's better to update [mongo state store](https://docs.dapr.io/reference/components-reference/supported-state-stores/setup-mongodb/).

[2021-11-20 11:53] Admiralkheir commented on #1056
Hi @yaron2 , Can you activate this issue again?

[2021-11-21 01:49] slacksach opened #1318 "RabbitMQ Component is not closing/disposing connections during Sidecar Component change/reload"
## Expected Behavior
Dapr should dispose of RabbitMQ connections or re-use where applicable

## Actual Behavior
Over the course of 3 hours, we observed a 4x growth in active connections to RabbitMQ when using Dapr 1.4.3

This was able to cause a Production RabbitMQ outage on a 3-Node RabbitMQ Cluster

## Steps to Reproduce the Problem
1. Create a pod with a Dapr sidecar and 10x topics, each with a

[2021-11-21 01:49] slacksach commented on #1318
cc @yaron2 @pkedy @dmitsh - Since it is nearly 2am UK time, I'll add some more details in the morning.

[2021-11-21 07:18] yaron2 commented on #1123
Reopened

[2021-11-21 15:49] slacksach commented on #1318
closing as this is fixed in - https://github.com/dapr/components-contrib/issues/1187

[2021-11-22 04:54] beiwei30 opened #1319 "go mod tidy issue in tests/certification"
## Expected Behavior

When run `go mod tidy` under test/certification, the following issue will show up:

[code]

## Actual Behavior

## Steps to Reproduce the Problem

## Release Note

RELEASE NOTE:

[2021-11-22 09:13] mjtansin opened #1321 "Error occurs in saving actor states using mongodb as statestore"
## Expected Behavior

Actor's states could be saved correctly.

## Actual Behavior

`Dapr.DaprApiException: error saving actor transaction state: error during transaction, aborting the transaction: multiple write errors: [{write errors: [{readConcern level 'snapshot' is not supported in sharded clusters when enableMajorityReadConcern=false. See https://dochub.mongodb.org/core/disabled-read-concern

[2021-11-22 10:16] slacksach commented on #1318
@yaron2 @pkedy @dmitsh - This appears to still be an issue in Dapr v1.5.0, we upgraded from v1.4.3 and we're still seeing this exponential connection growth in Production, we've separated out the VHOST so we're now sure it is coming from the Dapr RabbitMQ component side.

Environment
Kubernetes 1.21.2
RabbitMQ 3.8.9 via Operator
Dapr v1.5.0

50 or so separate pubsub components (To work around the

[2021-11-22 10:20] slacksach commented on #1318
@yaron2 sure, https://github.com/dapr/components-contrib/issues/826, this one is still a major issue for us, the only workaround is to use 1 pubsub component per topic otherwise we cannot run multiple replicas of pods.
Unfortunately running 1 pubsub per topic now highlights the connection closing/disposing issue, at the moment we're just having to keep an eye on it and regularly recycle all our Da

[2021-11-22 16:37] dmitsh commented on #1318
@slacksach, we've been working on improving RabbitMQ, and there was some progress. We missed the cutoff time to submit these changes in 1.5.0 release, but they will be available in the upcoming minor release 1.5.1.
In the meantime, I would suggest trying daprd from the master branch.

[2021-11-22 16:46] slacksach commented on #1318
thanks @dmitsh,

I wonder if this may also be caused when components are re-loaded due to a save or update, we see this in the logs, which is sometimes followed by connection growth but may be unrelated.

`{"app_id":"companies-api","instance":"companies-api-5df789d5f7-bqz58","level":"error","msg":"error from operator stream: rpc error: code = Unavailable desc = error reading from server: EOF","sco

[2021-11-22 17:57] slacksach commented on #1318
@dmitsh good news, have found the source (You may have already fixed this but logging here for others)

We are using https://fluxcd.io/docs/ as part of our GitOps process, every 10 minutes this runs against our GitHub repository then reconciles.

When it reconciles, it annotates all our managed objects, of which our RabbitMQ PubSub components are part,

This then triggers the Dapr Sidecar to reloa

[2021-11-22 18:31] yaron2 commented on #1318
When the items are reloaded, the operator will update the sidecar that a new component has been added. daprd does not check to see if this component is already loaded, and this explains the opening of new connections.

[2021-11-22 18:45] yaron2 commented on #1311
Hey @Taction, please contact me on Discord: my user is yaron2 :)

[2021-11-22 19:07] ga0x1ang opened #1322 "Support path-style access for S3 bindings"
## Describe the feature
While AWS S3 is deprecating path-styled access, a lot S3 API compatible products are still supporting it.
For example, MinIO is using path-style by default.
With this feature, S3 binding can be used by more S3 compatible products.

S3 SDK supports path-style access by passing **S3ForcePathStyle** = true to client.
S3 Binding can achieve it through existing **mergeWithReques

[2021-11-23 01:41] Taction commented on #1311
@yaron2 I can't send you a message directly, I have sent you a friend request. My user is Taction.

[2021-11-23 02:57] #1263 closed

[2021-11-23 06:16] eggboy commented on #848
Hi, I'm having exactly the same issue with Dapr 1.5. @denniszielke, Have you managed to find a workaround?

[2021-11-23 08:51] mukundansundar commented on #951
@yaron2 @artursouza  Can you review this design proposal?

[2021-11-23 09:57] denniszielke commented on #848
Unfortunately no.

[2021-11-23 11:29] slacksach commented on #1318
For anyone else using Flux GitOps Toolkit v2, apply this annotation to your Dapr Component manifests which will prevent the issue until a fix is found.

[code]

[2021-11-23 18:09] pkedy opened #1327 "Certification Framework: Add monitoring / alerting"
## Describe the feature

Like the E2E tests in dapr/dapr, certification tests should send alerts to Discord when certification tests fail 3 times in a row.

## Release Note

RELEASE NOTE: **ADD** Certification tests send alerts for components with successive failure.

[2021-11-23 18:12] pkedy opened #1328 "Certification framework: Additional provisioning mechanisms"
## Describe the feature

Currently, the certification framework has the ability to provision local docker containers (via docker compose) and apply terraform. It might (or might not) make sense to also include other cloud vendor specific provisioning tools (CloudFormation, ARM, etc.)

## Release Note

RELEASE NOTE: **ADD** Additional cloud resource provisioning mechanisms for certification tests

[2021-11-24 02:38] rainfd commented on #1322
I aggre with it. I will commit the code later.

[2021-11-24 02:52] rainfd commented on #1051
already fix in #1317

[2021-11-24 08:44] dillenmeister commented on #1244
Initially I didn't know if the bug was in the dotnet-sdk or in the dapr component, so I reproduced it using an asp net core app. I know it's not an issue with the sdk now, so I updated the issue description with a curl request instead and moved the program to this comment instead.

The first endpoint ("/save") which doesn't use the transaction API works as expected. The second endpoint ("/save-tra

[2021-11-24 11:50] Inx51 opened #1331 "Storage bindings data property as base64?"
How come that the storage components (at least localstorage) handles the data as a json property with the data as a base64?
[code]
From my knowledge base64 increases the total size of data by around 33%, so a file of 10Mb will as base64 get increased to 13.3Mb.
A very large file of 1Gb would end up as 1.3Gb over the "wire", thats 300Mb of "wasted" bandwidth and CPU calc.
Why not simply use a more

[2021-11-24 18:58] CodeMonkeyLeet commented on #1282
No failures since the patch fix went in, resolving as fixed.

[2021-11-24 18:58] #1282 closed

[2021-11-25 09:58] jigargandhi opened #1334 "Add support to use custom certificates in http output bindings"
## Describe the feature
Need support to add custom certificates in http pipeline,
The certificate's url will be provided in configuration file for example
[code]

## Release Note

RELEASE NOTE: **ADD** Support for custom certificates for https output binding.

[2021-11-25 11:44] mhozhda-agiliway opened #1335 "AWS SQS/SNS Wrong queue access policy (broken in last version (1.5.0))"
## Expected Behavior

When some service is subscribed to many topics it's queue should have an access policy than allows all subscribed topics to publish events to the queue.

## Actual Behavior

Currently the generated queue access policy has a condition that only allows one of the topics to publish events to it.
Tested that it is not always the same topic (I assume the last subscribed topic rewr

[2021-11-25 11:45] mhozhda-agiliway commented on #1335
@amimimor Sorry for tagging you directly, but probably you can implement a quick fix for it

[2021-11-25 12:20] slacksach opened #1336 "Operator stream EOF error every 60 minutes in daprd - K8s"
Across multiple different clusters, in both HA and Single instance configurations we see this error every 60 minutes,

## Expected Behavior
`"error from operator stream: rpc error: code = Unavailable desc = error reading from server: EOF","scope":"dapr.runtime","time":"2021-11-25T12:06:38.347853275Z","type":"log","ver":"1.5.0"}`

Should not see an EOF error or reload components

## Actual Behavior

[2021-11-25 12:26] #1336 closed

[2021-11-25 14:20] pkedy commented on #1334
What about also the ability to pull a certificate from an external source (e.g. secret or in the future configuration API)? Having the secret on the local filesystem means the daprd image would need to be customized to add the cert file, then require the sidecar injector to use that custom image. This is possible but maybe not what all users would want to do. Also cert rotation would be easier if

[2021-11-25 14:21] pkedy commented on #1319
@halspang Did you fix this and perhaps just not create a PR yet?

[2021-11-26 13:28] amimimor commented on #1313
I've finished implementing this but waiting for other PR's to finish

[2021-11-26 13:29] amimimor opened #1339 "PubSub AWS SNS/SQS Certification Tests"
## Describe the feature
implement certification tests and stabilize AWS Pubsub SNS/SQS component

## Release Note

RELEASE NOTE:

[2021-11-26 15:16] jigargandhi commented on #1334
@pkedy Yeah we will definitely need to pull in certificates from multiple sources, i will try to spec out fetching of certificate from different sources. When the need arises, we can add certificate fetching from Configuration API as a source and implement it too.

[2021-11-26 16:41] yaron2 commented on #1335
@amimimor please comment here with /assign.

[2021-11-26 23:18] #1214 closed

[2021-11-27 13:27] kalpchipsoft commented on #1148
Updated to dapr 1.5. But still getting this error.  Any other configuration that I can recheck? Getting this error frequently!
`{"app_id":"operationprocessservice","instance":"operationprocessservice-55f668865b-bpsv7","level":"error","msg":"azure service bus error: error receiving message on topic Operation, link detached, reason: *Error{Condition: amqp:link:detach-forced, Description: The link 'K

[2021-11-28 10:06] #1225 closed

[2021-11-28 21:17] yaron2 commented on #1211
Reopened.

[2021-11-29 09:52] bgelens commented on #1148
@jjcollinge we have been running 1.5 for about 2 weeks now (in production). So far it looks way more stable. We still have the detached / renewtoken errors in the sidecar logs but we have learned to not be triggered by them, they seem to recover just fine, every retry is a single one. It might be good to reduce the noise in the logging about these events and only log when x amount of reconnects ar

[2021-11-29 17:14] dmitsh opened #1343 "typo in query JSON"
Query JSON expects "page" instead on "pagination"

[2021-11-29 17:14] dmitsh commented on #1343
/assign

[2021-11-29 17:44] #1343 closed

[2021-11-30 06:25] jagjeetst opened #1350 "Kafka pub/sub not working with DAPR version 1.5"
# Kafka run out of available brokers
## in DAPR version 1.4 , DAPR pub/sub using kafka works perfectly, but with DAPR version 1.5 pub/sub with kafka ends with issue that Kafka run out of available brokers and DAPR shutting down.

[2021-11-30 10:53] #1319 closed

[2021-11-30 15:14] dillenmeister commented on #1209
1) If state operations with the same key appears more than once, isn't it always only the last operation that will matter? Would this be a solution instead of respecting the order, or are there use cases where you want to update the same state twice? The suggested conformance test (#1210) would pass if only the last operation per key was executed.

[code]

2) Can two operations with the same key e

[2021-11-30 18:17] artursouza commented on #1350
Can you provide more details on your scenario? Also, some logs can help.

[2021-11-30 18:17] artursouza commented on #1350
/cc @pkedy

[2021-11-30 18:19] artursouza opened #1351 "Panic on azure blob storage state store"
## Expected Behavior

Invalid Azure storage account name does not cause a panic and gives proper error message.

## Actual Behavior

Providing an invalid Azure storage account name to Azure storage state store causes panic.

![image](https://user-images.githubusercontent.com/130954/144105602-7f5ca996-75b2-49f8-af7d-ae46edc3f463.png)

## Steps to Reproduce the Problem

Use azure blob storage state

[2021-11-30 18:23] yaron2 commented on #1350
Also please paste your component YAML here.

[2021-12-01 04:48] yaron2 opened #1352 "Redis configuration store notifies the app twice"
When subscribing to a key update, the app gets notified twice.

How to reproduce:

Use the following client code:

[code]

Dapr component:

[code]

Add key:

[code]

Run Dapr:

[code]

Change key:

[code]

See the app notified twice.

[2021-12-01 04:48] yaron2 commented on #1352
/cc @LaurenceLiZhixin

[2021-12-01 06:13] jagjeetst commented on #1350
**Error facing**
time="2021-12-01T11:30:34.2787635+05:30" level=fatal msg="process component pubsub error: kafka: client has run out of available brokers to talk to (Is your cluster reachable?)" app_id=notifications instance=softobiz-jagjeet scope=dapr.runtime type=log ver=1.5.0

Could not update sidecar metadata for cliPID: PUT http://127.0.0.1:3600/v1.0/metadata/cliPID giving up after 5 attempts

[2021-12-01 08:10] AppSentinel opened #1353 "Whether senitinel is valid for the grpc method"
The test code is a simple grpc example  :
for(var i = 0;i<100;i++)
            {
                var data = new HelloRequest
                {
                    Id = "test",
                    Name = "test name"
                };

                var ret = await _daprClient.InvokeMethodGrpcAsync<HelloRequest, HelloReply>("daprbackend", "SayHello", data);

                ViewData["Reply"] = $"

[2021-12-01 11:57] subash89 commented on #1334
I believe secret store is a good place to keep certs. Would be nice if we can utilize the secret store api to pull from and copy into the daprd volume mount on a user specified path.  Thoughts ?

In addition to custom certificates, one more use case I see is Root CAs. For example, in enterprises usually does not internally use public CA signed certs, but internal ones. In such case it would be hel

[2021-12-01 15:43] chuntaojun opened #1354 "I hope namesolution can support polarismesh"
## Describe the feature

I hope namesolution can support polarismesh, If accept, i'wll do it

polarismesh: https://github.com/polarismesh/polaris

## Release Note

RELEASE NOTE:

[2021-12-01 23:19] yaron2 commented on #1191
Reopened

[2021-12-02 08:58] shivamkm07 commented on #952
/assign

[2021-12-02 10:29] trondhindenes commented on #826
We're seeing this as well - it only started happening for us when apps started subscribing to more than 2 topis (I believe)

[2021-12-02 11:14] beiwei30 opened #1356 "go.sum diff in tests/certification/pubsub"
Most pull requests fail due to go.sum diff in tests/certification/pubsub/[kafka, rabbitmq]

## Expected Behavior

## Actual Behavior

## Steps to Reproduce the Problem

## Release Note

RELEASE NOTE:

[2021-12-02 11:23] jagjeetst commented on #1350
Hello @yaron2  @artursouza  , any update on above please. I am in middle of this implementation.
Thanks.

[2021-12-02 11:40] jagjeetst commented on #1350
@yaron2  @artursouza  , I was trying on Discord , if we can connect there. I have sent you request from username jagjeet.
If you are more active on that, we can discuss there too. Thanks.

[2021-12-02 12:48] yaron2 commented on #1350
This happens when running locally with the Dapr CLI, am I correct?

[2021-12-02 16:00] dmitsh commented on #826
We fixed several issues in RabbitMQ (https://github.com/dapr/components-contrib/pull/1278).
These changes will be available in the v1.5.1 release.
@slacksach , @trondhindenes , could you try the RC https://github.com/dapr/dapr/releases/tag/v1.5.1-rc.2 ?

[2021-12-02 17:13] trondhindenes commented on #826
@dmitsh Nice! I'm afraid we just moved to a one-topic-per-pubsub model, we couldn't live with the issues even in nonprod. So I'm afraid I'm not able to test the rc.

[2021-12-02 20:03] pkedy commented on #1350
This error message from the underlying library (Sarama) occurs if cannot connect to brokers in general. Its a little misleading but I would make sure the credentials are correct.

Outside of that, id does seem like there were some changes to the component's settings, but I could see where there could be an issue. I'll take a second look though.

[2021-12-02 21:47] yaron2 commented on #951
I would leave backwards compatibility out and not support an event hubs connection string, mainly because it causes a surprise behavior of ignoring the topic field which is supposed to be a required part of the API spec of pub/sub.

[2021-12-03 02:10] daixiang0 commented on #1354
Is it widely used?

[2021-12-03 02:17] daixiang0 opened #1358 "[Proposal] common DNS interface"
## Describe the proposal

As well known, CSPs usually have their own DNS components, if a CSP wants to introduce Dapr, they would like to implement here. One DNS for one CSP introduced brings more maintenance cost.

Why not provide a common DNS interface for this case, just need to config DNS address then any CSP can use own DNS server?

/cc @yaron2 @artursouza

[2021-12-03 03:58] jagjeetst commented on #1350
Yes, when running on locally, this issue starts coming.

[2021-12-03 04:00] jagjeetst commented on #1350
Is there any issue with library (Sarama) that creates issue with DAPR runtime version 1.5 but works fine for DAPR runtime version 1.4 ?

[2021-12-03 15:33] Taction commented on #1352
This is related to dapr, I've fixed that. @yaron2

[2021-12-03 16:05] yaron2 commented on #1352
Correct, thanks!

[2021-12-03 16:05] #1352 closed

[2021-12-04 05:06] rainfd commented on #1331
Firstly, dapr only support json-schmea spec. Other components follow the same rule. Change the binding schmea for the specific component is not a good idea.
Secondly, base64 format is more safety. You can see some detail in this answer [Why do we use Base64?](https://stackoverflow.com/a/3538079/5509717)

[2021-12-05 16:48] sthussey commented on #1328
Having just worked through some additions to one of the certification tests, it would also be useful to support running against local Kubernetes via something like KinD as a alternative to docker-compose.

[2021-12-05 16:50] sthussey commented on #1305
Might this also be improved by simply refactoring pubsub and binding components to use shared code like the Redis components? That would allow some foundational aspects like service connectivity, authentication, etc... to be used in both even if the functionality diverges.

[2021-12-06 20:20] pkedy commented on #1350
I have tried to reproduce this using 1.5.1 and was not successful. My settings are identical to your except for I am not using SASL for auth (thus authRequired is "false").

I also tried setting `authRequired` to "true" and setting `saslUsername` and `saslPassword` to non-empty strings. I can confirm that bad authentication/credentials will manifest as this error.

[code]

Can you confirm that you

[2021-12-06 23:31] dmitsh commented on #826
@slacksach , @trondhindenes , we have released v1.5.1, which contains the fix for RabbitMQ race condition.
https://github.com/dapr/dapr/releases/tag/v1.5.1
Please give it a try and let us know.

[2021-12-06 23:55] slacksach commented on #826
Thanks @dmitsh, I'll retry with my repro, will likely be Wednesday before I get a chance to properly test

[2021-12-07 05:31] jagjeetst commented on #1350
yes , @pkedy   , SASL credentials were correct and how I can confirm them is, when I run this command in powershell,
**dapr init --runtime-version=1.4.0**
then after changing runtime version of DAPR, pub/sub starts working for me with given SASL username and password with authRequired True

on the other side when I change runtime version for DAPR > **dapr init --runtime-version=1.5.0**
then with t

[2021-12-07 20:27] amimimor commented on #1284
@CodeMonkeyLeet I think I've resolved this issue in #1205. Can you close this if you think so too?

[2021-12-08 01:29] dream2zz opened #1367 "mqtt metadata is not enough"
https://github.com/dapr/components-contrib/blob/cac03dbe874f6aee9148dc3002b734b8ea5d9c4f/bindings/mqtt/metadata.go#L8

there is need other field, just like  username,password , etc...  Reference: [ClientOptions](https://github.com/eclipse/paho.mqtt.golang/blob/77d851e09af4fbb4ab43624c033683e6070579b6/options.go#L61).

[2021-12-08 02:04] daixiang0 commented on #1367
@Dream2zz are you willing to post a PR?

[2021-12-08 04:02] mukundansundar commented on #951
I am ok with leaving backwards compatibility out if that is what is decided.
//cc @yaron2 @artursouza

[2021-12-08 05:35] artursouza commented on #951
Regarding your concerns:

"Entity management for event hub increases complexity of the code as well as moving more into management of infrastructure rather than only on the app integrations." - This is OK. Let's not worry about upgrading the management client yet. It can be a new PR later on.

"With the use of event processor host abstracting away partition and checkpoint management, support for b

[2021-12-08 07:35] tanvigour commented on #1358
Are you talking in terms of DNS for dapr while specifying in CSP headers?

[2021-12-08 10:42] amimimor commented on #1335
@yaron2 we need to re-open this issue as I found and fixed another issue related to the fix (`localstack` testing appear to be inadequate in terms of resource access policies)

[2021-12-08 12:19] #1252 closed

[2021-12-08 17:16] yaron2 commented on #1211
@dmitsh are you planning to work on this for 1.6?

[2021-12-08 18:02] dmitsh commented on #1211
wasn't planning. @manojrupireddy, are you still interested in pursuing this task?

[2021-12-08 22:20] #1335 closed

[2021-12-09 11:49] slacksach commented on #826
@dmitsh @yaron2 - Looks good, tested with 15 replicas using my Repro and all SUCCESS, awesome work guys thank you! - Happy for you to close as fixed in v1.5.1

[2021-12-09 14:42] WhoAteDaCake opened #1371 "RabbitMQ: channel not initialized, even if channel exists"
## Expected Behavior
Dapr to send messages, since channel exists

## Actual Behavior

Dapr complains about.
error in subscriber for scraper-scraper in ensureSubscription: channel not initialized"

## Steps to Reproduce the Problem

I'm not quite sure? It started happening since I've updated to 1.5.1

![logs](https://user-images.githubusercontent.com/16735813/145417059-c83b7213-0df3-4248-a2e9-d38b9

[2021-12-09 16:43] slacksach commented on #826
@dmitsh @yaron2 unfortunately although the rogue messages issue doesn't exist we still see this which causes the PODs to terminate, sometimes they start, sometimes not :(
{appid}-{topicName}: Exception (503) Reason: \"unexpected command received\""

[2021-12-09 17:51] dmitsh commented on #826
@slacksach , what is the way to reproduce this?

[2021-12-09 17:52] berndverst commented on #1140
The SDK won't be ready until sometime in v1.7 or later. Moving this out of the milestone

[2021-12-09 17:54] berndverst commented on #954
@dmitsh can this be closed now since 1.5.1 release?

[2021-12-09 18:05] slacksach commented on #826
Hi @dmitsh, I'm unable to reproduce it on my local repro repository. At the moment it only occurs in our Azure environments, I'll keep investigating to see if I can get it to fail locally with the same errors.

[2021-12-09 18:09] dmitsh commented on #826
I can try and reproduce it in Azure, if you could provide instructions

[2021-12-09 18:10] dmitsh commented on #826
And just to clarify, do you still see incorrect binding in Azure?

[2021-12-09 19:34] amolenk opened #1372 "RabbitMQ: Failed to subscribe"
## Expected Behavior

Dapr sidecar subscribes to RabbitMQ topics configured by app.

## Actual Behavior

After upgrading from 1.4.0 to 1.5.1, the sidecar tries to subscribe, throws a `channel not initialized` error, and gives up after a couple of times.

[code]

## Steps to Reproduce the Problem

1. Clone eShopOnDapr sample app: https://github.com/dotnet-architecture/eShopOnDapr
2. Run `docker-com

[2021-12-09 19:55] WhoAteDaCake commented on #1372
I think this is the same problem I'm having as well at https://github.com/dapr/components-contrib/issues/1371

[2021-12-09 23:29] #1268 closed

[2021-12-10 14:01] WhoAteDaCake commented on #826
I've attempted to use 1.5.1 within AKS and also am getting channel not initialised error, even if channel exists https://github.com/dapr/components-contrib/issues/1371

[2021-12-10 16:40] dmitsh commented on #1371
@WhoAteDaCake , could you provide instructions on how to reproduce this issue?

[2021-12-10 16:41] dmitsh commented on #1371
/assign

[2021-12-10 16:41] dmitsh commented on #1372
/assign

[2021-12-10 16:50] dmitsh commented on #1372
@amolenk , could you come up with a test scenario that has lesser footprint? That would help speed up troubleshooting.

[2021-12-10 17:00] WhoAteDaCake commented on #1371
Sorry, but I couldn't catch the exact scenario. I'll try to replicate over the weekend. It started happening as soon as I updated from 1.3.1 -> 1.5.1. We reverted back now and the issue has stopped

[2021-12-10 17:18] dmitsh commented on #1372
I followed the instructions, but didn't encounter any errors in the log.
In any case, it would help to have a smaller test scenario with a set of steps to reproduce the issue.

[2021-12-12 09:22] Taction commented on #1372
Haven't reproduced this issue in my local environment, too. This demo  https://github.com/dotnet-architecture/eShopOnDapr seems to be using the Redis pubsub. @amolenk can you help check your sample configs?

[2021-12-12 10:21] amolenk commented on #1372
@dmitsh @Taction The current main branch of eShopOnDapr now uses Redis for pub/sub as a temp workaround. This of course screws up the repro, sorry. I'll try to create a smaller repro sample tomorrow.

[2021-12-13 08:29] amolenk commented on #1372
I've got a smaller repro set up in this repository: https://github.com/amolenk/DaprRMQRepro/blob/master/docker-compose.yml

The sample uses Dapr 1.5.1. If I run `docker-compose up`, the sidecar fails to subscribe to RabbitMQ:

[code]

If I change the Dapr version to 1.4.3, it does work:

[code]

With 1.4.3, it succeeds because the component tries to reconnect after a while. Looks like this behavio

[2021-12-13 11:19] Taction commented on #1372
@dmitsh Just FYI, I think this may be caused by daprd can not reach rabbitmq during init component(maybe rabbitmq starts later than daprd). And I think https://github.com/dapr/components-contrib/blob/master/pubsub/rabbitmq/rabbitmq.go#L183 better add reconnect logic.

[2021-12-13 17:22] #1313 closed

[2021-12-13 17:23] yaron2 commented on #1313
Thanks for this! merged.

[2021-12-14 00:01] dmitsh commented on #1372
@amolenk , thank you again for creating the repro repo.
I think I fixed the problem.
Could you try it by replacing `image: "daprio/daprd:1.5.1"` with `image: "dmitsh/daprd:dev-rmq-linux-amd64"` in `docker-compose.yml`?

[2021-12-14 00:07] dmitsh commented on #1371
@WhoAteDaCake , I have a fix for #1372.
Could you try it with your test case by changing `daprd` image from `daprio/daprd:1.5.1` to `dmitsh/daprd:dev-rmq-linux-amd64` ?

[2021-12-14 01:06] sthussey commented on #1084
PR #1229 is still in progress.

[2021-12-14 01:09] yaron2 commented on #1084
Reopened

[2021-12-14 05:13] mukundansundar commented on #951
I have reopened the PR #1292. Please review @yaron2 @artursouza.

[2021-12-14 05:18] mukundansundar opened #1379 "Certify Azure Events Hub as Stable in pubsub"
## Describe the proposal
Certify Azure Events Hub as Stable in pubsub.
As part of the work done following rewrite, #951 , add certification test plan and certification tests to certify Azure Events Hub as Stable.

[2021-12-14 06:02] shivamkm07 commented on #952
# MQTT certifcation testing

This project aims to test the MQTT Pub/Sub component under various conditions.

## Test plan

### Basic Test

* Bring up a MQTT cluster
* Start 1 sidecar/application(App1)
    * Publishes 1000+ unique messages
    * App: Simulate periodic errors
    * Component: Retries on error
    * App: Observes successful messages
    * Test: Confirms that all expected messages wer

[2021-12-14 06:16] amolenk commented on #1372
@dmitsh Thanks for the fix! I tested it with both the small repro and the full eShopOnDapr app, and they both work perfectly fine with the `dmitsh/daprd:dev-rmq-linux-amd64` image.

[2021-12-14 07:30] shivamkm07 commented on #952
MQTT messages are still always Acked even if handler returns an error. But it seemingly requires change in paho.mqtt.golang lib and there already is an issue opened potentially addressing this.

See #1234 for more details.

[2021-12-14 07:36] mukundansundar commented on #952
The certification plan looks good to me.

With this in mind ... I am not comfortable with certifying this as Stable without a fix or a workaround for this as this basically breaks Dapr PubSub API conformance at that point.

[2021-12-14 08:04] mukundansundar commented on #1379
## Test Plan
### Pubsub Certification Tests
  - Test partition key, in order processing single publisher/subscriber (done as part of conformance tests)
  - Test single publisher / single subscriber
    - Start an app with 1 publisher and 1 subscriber
    - The publisher publishes to 2 topics
    - The subscriber is subscribed to 1 topic
    - Test: Sends 100+ unique messages
    - App: Simulates p

[2021-12-14 09:43] WhoAteDaCake commented on #1371
It seems to be working as expected now. Thank you for your work @dmitsh

[2021-12-14 10:31] slacksach commented on #826
@dmitsh the incorrect binding issue seems to have gone away in my local testing which is great. I'll do another Azure test later today to confirm, I'll use the latest image you mentioned in #1371

[2021-12-14 16:44] dmitsh commented on #954
I think we will close it in 1.6.
There were issues #1371 and #1372 that I've addressed, but the fix for them is not in 1.5.1

[2021-12-14 17:56] oscarprol commented on #1109
Is it Closed on v1.6 ?

func updateAuthInfo(config *sarama.Config, saslUsername, saslPassword string) {
	config.Net.SASL.Enable = true
	config.Net.SASL.User = saslUsername
	config.Net.SASL.Password = saslPassword
	config.Net.SASL.Mechanism = **sarama.SASLTypePlaintext**
}

[2021-12-14 21:26] andreatosato commented on #1371
This not resolve my problem.

I create this branch repository: https://github.com/andreatosato/dapr-cloudchampion/tree/rabbitmq-error
[code]

/cc @dmitsh

[2021-12-14 21:28] yaron2 commented on #1371
Reopened for now.

cc @artursouza

[2021-12-14 21:47] dmitsh commented on #1371
@andreatosato , could you elaborate what is the problem? From the log I can see that your application has connected to rabbitmq pub/sub.

[2021-12-14 22:00] andreatosato commented on #1371
When application start, DAPR must create topic on rabbit.
Then this is the error:

[code]

[2021-12-14 22:02] dmitsh commented on #1371
Right, but after that the component is reconnected:
time="2021-12-14T21:22:11.8985535Z" level=warning msg="rabbitmq pub/sub: subscriber is reconnecting in 3s ..." app_id=cloudchampion-web instance=c821022bbc95 scope=dapr.contrib type=log ver=edge

Does your application work as expected?

[2021-12-14 22:17] andreatosato commented on #1371
My sample don't work fine, this is my error application:
[code]

[2021-12-14 22:31] dmitsh commented on #1371
could you provide the steps to reproduce the error?

[2021-12-15 05:47] artursouza commented on #1379
Please, add 1 new network scenario:
* Validate the publisher continues to work after connectivity to event hubs is blocked and then recovered.

[2021-12-15 05:47] artursouza commented on #1379
Otherwise, LGTM

[2021-12-15 05:49] artursouza commented on #952
Please, add a new network scenario where the publisher is also validated that can recover from a reconnection.

[2021-12-15 05:50] artursouza commented on #952
Can this be addressed in the dependency too? I am OK if we cut a PR against the dependency's repository.

[2021-12-15 05:51] artursouza commented on #952
Please, compare this test with the plan from RabbitMQ and Kafka. You might take more scenarios from those here.

[2021-12-15 07:28] andreatosato commented on #1371
I create 3 topic in my sample.
I have clean rabbit (empty configuration, no exchange, no queue, no topic).

When start application for the first time, Dapr raise error.

In my sample, run docker compose, start web application.
I have only index page.
Insert number, than text and click button... Application crash

[2021-12-15 09:23] shivamkm07 commented on #952
Updated test plan accordingly

[2021-12-15 12:41] dmitsh commented on #1371
could you be more specific with the steps?

[2021-12-15 12:45] andreatosato commented on #1371
From visual studio 2022:
- run docker compose
- open web container on index
- compile form
- - number
- - text
- - click button

Error appear

[2021-12-15 13:14] andreatosato commented on #1371
docker-compose  -f "C:\Users\AndreaTosato\Source\Repos\dapr-cloudchampion\docker-compose.yml" -f "C:\Users\AndreaTosato\Source\Repos\dapr-cloudchampion\docker-compose.override.yml" -f "C:\Users\AndreaTosato\Source\Repos\dapr-cloudchampion\obj\Docker\docker-compose.vs.debug.g.yml" -p dockercompose2803362638168428963 --ansi never up -d --build --remove-orphans

This is command generated from VS 2022

[2021-12-15 15:55] dmitsh commented on #1371
This command starts docker containers, but does not trigger the application flow.
Do you have to run your application on Windows? Is there a way to isolate the issue and reproduce it in a platform-agnostic way?

[2021-12-16 00:38] dmitsh commented on #1371
I think I found it. Could you try this image: `dmitsh/daprd:dev-rmq1-linux-amd64` ?

[2021-12-16 08:03] flyznex opened #1381 "Name Resolution with Consul, Consul component health check port need change port to new DAPR_PUBLIC_PORT"
## Describe the proposal
Name Resolution with Consul, Consul component health check port need change port to new DAPR_PUBLIC_PORT.
Related [Dapr PR 3603](https://github.com/dapr/dapr/pull/3603). Dapr change to use public port to expose metadata and health check.

[2021-12-16 11:58] andreatosato commented on #1371
Works now!
Thanks @dmitsh

Can you release dapr 1.5.2 this change?

[2021-12-16 16:44] dmitsh commented on #1371
Most likely it will be released in 1.6 next month.

[2021-12-16 16:47] yaron2 commented on #1371
@dmitsh is correct, this will go into 1.6.

[2021-12-16 18:41] #958 closed

[2021-12-17 15:49] XavierGeerinck commented on #952
Question: will MQTT v5 be supported? According to the implementation (https://github.com/dapr/components-contrib/blob/29848e1ff68a56bdf0272513e3af9c925ab56535/pubsub/mqtt/mqtt.go#L286) Dapr uses https://github.com/eclipse/paho.mqtt.golang while as this repository states that for MQTT v5 this library should be used: https://github.com/eclipse/paho.golang

P.S. MQTT v5 is needed for Azure IoT Hub Br

[2021-12-17 18:38] yaron2 commented on #952
We should make sure v5 is used, based on what I've seen.

[2021-12-17 23:59] #1371 closed

[2021-12-18 03:31] rabollin commented on #952
MQTT v5 support is being assessed and in consideration as it has multiple enhancements over the current version.

[2021-12-19 05:46] shivamkm07 commented on #952
@XavierGeerinck @yaron2 [MQTT v5](https://github.com/eclipse/paho.golang/releases) is still in beta release, so it can't be used till it gets to stable.
As per latest discussion with @artursouza , the plan is to get the current mqtt component to GA using MQTT3 and once MQTT v5 gets to stable, we can either upgrade thereafter or have a different component supporting v5. Let me know if it's good.

[2021-12-19 12:05] #1300 closed

[2021-12-20 10:24] StiviiK opened #1384 "Azure Service Bus Queue Messages will not be delivered"
We are running a Azure Kubernetes Service Cluster + an private-link enabled Azure Service Bus (ASB), with Dapr 1.4.3 and multiple .NET services in the Cluster.
We're using different Components from Dapr including `secretstores.azure.keyvault` and `pubsub.azure.servicebus` for communication between Service using ASB Queues and ASB Topics. The connection from Dapr to the ASB is utilising an Azure Pr

[2021-12-20 12:36] XavierGeerinck commented on #952
Azure IoT Hub is going with MQTT v5 as well so I think Dapr should follow. But I would check this off with the Microsoft IoT Hub team? in the end they will benefit from this.

[2021-12-20 14:08] halspang commented on #1309
@artursouza - Can you triage this? I'm working on this, though we are currently blocked until either I add another feature to the track 2 SDK or they update it. Specifically, it's missing the ability to set the prefetch count.

[2021-12-21 02:41] ItalyPaleAle commented on #1307
👋 bot

[2021-12-21 09:05] amimimor opened #1385 "Pub/Sub AWS SNS SQS - disableEntityManagement - SQS policy should not created"
## Expected Behavior

Issue #1313 introduced the option to disable the creation of SNS topic, SQS queues and the subscription of the first to the second. The implementation didn't take into account the need to also disable the creation of the SQS' publish message security policy.

## Actual Behavior

SQS policy should not be created/edited by daprd if the user set up `disableEntityManagement` to b

[2021-12-21 09:06] amimimor commented on #1385
/assign @amimimor

[2021-12-21 10:17] mbimbij opened #1387 ""Bind variables cannot be used for table names" with cassandra state component"
close #1388

## Expected Behavior
I should be able to get and post simple data

## Actual Behavior

When trying to query or insert data into cassadra statestore, i get:
[code]
or
[code]

## Steps to Reproduce the Problem
Reproduced in self-hosted mode

here is the content of the yaml component file:
[code]
I ran the dapr sidecar in a standalone mode:
`dapr run --app-id test --dapr-http-port 3500`

[2021-12-21 12:32] mbimbij commented on #1350
I face the very same issue trying the pubsub example with kafka module:

[code]

Here is the config of my kafka pubsub component:

[code]

[2021-12-21 14:12] jigargandhi commented on #1197
/assign

[2021-12-21 14:29] jigargandhi commented on #1197
I can take up the work forward
We can implement cloud specific DNS resolution based on the same DNS component in components contrib.
Of course this will need to provide configuration for authentication in the component yaml.

@fbridger for your suggestion regarding full DNS entries, what would be the use cases for that, do you think that services may also be called externally, can we use CNAME for

[2021-12-21 15:36] fbridger commented on #1197
AWS ECS has integrated Service Discovery. We would like to simply be able to simply use the DNS name provided by this feature. I think this also applies to many other DNS components.

https://docs.aws.amazon.com/AmazonECS/latest/developerguide/service-discovery.html

https://aws.amazon.com/es/blogs/aws/amazon-ecs-service-discovery/

[2021-12-21 22:16] yaron2 commented on #1350
Can you try this outside of Powershell and see if that makes a difference? Also, I see from your `brokers` section that you're trying to reach a broker on a remote machine? can you try running Kafka locally and see if that makes a difference?

[2021-12-21 22:17] yaron2 commented on #1350
Remove the `http://` from `brokers` value.

[2021-12-22 04:41] artursouza commented on #960
The IoT hub from "integration test" needs to move to conformance test because the "integration tests" are not officially supported in a GitHub pipelines and it overlaps in objective with our certification tests.

Instead of retry, let's validate reconnection. Add a scenario where the connection to EvenHubs is stopped for a few seconds and validate that publish and subscribe continues to work after

[2021-12-22 08:41] amimimor opened #1389 "tests/certification - network interrupt tool not working on macOS, target on Docker Desktop for Mac"
## Expected Behavior

For local development of components and testing them, the network testing utility should be able to interrupt process that are being run using Docker Desktop for Mac. A possible solution might be that the network interruption function, be able to accept a (network) device parameter and be adapted to running in non-root environment. Otherwise, it should clearly report back its

[2021-12-22 20:42] #1385 closed

[2021-12-24 02:58] yaron2 commented on #1322
keep alive

[2021-12-24 02:59] yaron2 commented on #1322
Closed via #1360

[2021-12-24 02:59] #1322 closed

[2021-12-24 16:54] #1310 closed

[2021-12-25 02:24] #1294 closed

[2021-12-25 06:47] #1205 closed

[2021-12-26 12:06] mbimbij commented on #1350
I didn't see your answer @yaron2 .

(copy-pasting my reply from discord, it may help someone in a similar situation, just googling)

[2021-12-26 20:37] amimimor commented on #1339
/assign @amimimor

[2021-12-26 20:39] amimimor opened #1393 "PubSub AWS SnsSqs - Conformance Tests"
## Describe the feature
Conformance tests for PubSub AWS SnsSqs

## Release Note

RELEASE NOTE:

[2021-12-26 20:39] amimimor commented on #1393
/assign @amimimor

[2021-12-27 05:35] #1387 closed

[2021-12-28 07:39] #1123 closed

[2021-12-28 18:34] #1084 closed

[2021-12-28 20:29] greenie-msft commented on #968
@pkedy @yaron2 @artursouza  pinging again. Are we going to close this PR? We have a associated docs PR that's very out of date.

[2021-12-29 07:26] 1046102779 opened #1398 "proposal: nameresolution add report API"
We need to enhance the capabilities of nameresolution. When nameresolution's ResolveID  method obtains the address of the Runtime service, if access to this address fails or times out, it should actively report to the nameresolution that the service address is unhealthy or unavailable.

[code]

[2021-12-29 07:47] 1046102779 commented on #1398
At the same time, we should support multiple name service instances, because all component instances of component-contribs have addressing features, so they can be provided to them, such as binding.http...

[2021-12-29 08:16] ls-2018 opened #1399 "kafka inputbinding Infinite loop due to none topics"
## Expected Behavior
The CPU can be maintained at a lower level
## Actual Behavior
1. Worry about allocating too many objects, resulting in too much GC pressure
2. The CPU is overloaded due to an infinite loop. If it is a K8S environment with limited resources, it is easy to OOM

## What version ?
1.5.0

## Steps to Reproduce the Problem
[code]
 Since there is no Topics field
bindings/kafka/kafka.

[2021-12-29 09:17] #1321 closed

[2021-12-30 02:48] daixiang0 commented on #1398
How users use Report API? If any error, it would return an error from `ResolveID`.

[2021-12-30 02:53] 1046102779 commented on #1398
Yes.  The Dapr Runtime took the initiative to inform namesolution of the call result, and let nameresolution process the failed request IP according to its own strategy

[2021-12-30 02:55] daixiang0 commented on #1398
So Report API is used by Namesolution? Is it a common function for Namesolution?

[2021-12-30 03:00] 1046102779 commented on #1398
Yes. Nameresolution can start the fuse mechanism according to the reporting situation of  micrologic server, and Dapr Runtime can actively report, which can enhance the health status of micrologic server.

[2021-12-30 03:02] daixiang0 commented on #1398
If so, sound like a good feature.

/cc @yaron2 @artursouza I accept it, WDYT?

@1046102779 are you interested in adding it?

[2021-12-30 03:14] 1046102779 commented on #1398
hah, of course. I'am a Dapr member.

[2021-12-30 16:00] jjcollinge commented on #1148
@bgelens glad to hear v1.5 is more stable so far. Please keep us up to date should things change. There's also some background working going on for a V2 service bus component that hopefully will improve stability even more. @kalpchipsoft do you see any bad behaviour other than this error being logged - or does Dapr recover ok? You may be safe to ignore this error for the time being if it behaves o

[2021-12-30 18:38] #1327 closed

[2021-12-30 19:55] slacksach commented on #1318
Can this be re-opened, it remains unsolved.

[2021-12-31 00:46] dmitsh commented on #1318
@slacksach , could you help us to find a minimalistic repro?

[2021-12-31 01:56] Taction commented on #1399
Thank you for reporting this issue. This problem can be solved by adding backoff retry, you can refer to https://github.com/dapr/components-contrib/blob/master/pubsub/kafka/kafka.go#L316 .
Would you be interested in submitting a PR for this?

[2021-12-31 16:19] lucasjellema opened #1400 "Implement StateStore for the OCI ObjectStorage Service"
## Describe the proposal
The OCI Object Storage Service is a cloud service on Oracle Cloud Infrastructure, very similar in nature to AWS S3 and Azure BlobStorage. This services support creating, retrieving, deleting objects that represent state. It has concurrency control through ETags. I believe that especially for Daprized applications running on OCI – either on OKE, the OCI container engine for

[2021-12-31 20:06] yaron2 commented on #1334
/keep-alive

[2021-12-31 23:28] yaron2 commented on #1400
Thanks @lucasjellema this will be a welcomed addition to Dapr and the very first Oracle Cloud component.

[2022-01-03 07:34] kalpchipsoft commented on #1148
@jjcollinge No bad behaviour.

[2022-01-03 17:20] yaron2 commented on #1148
That's great to hear, thanks for the feedback @bgelens and @kalpchipsoft. Closing this issue for now.

[2022-01-03 17:20] #1148 closed

[2022-01-03 22:21] dmitsh commented on #1211
Natively, Redis only offers primary key access. However, with the help of two modules, it is possible to store and query JSON documents:

- RedisJSON allows to store and manipulate values as JSON objects (https://oss.redis.com/redisjson/)
- RediSearch enables secondary indexing and searching capability (https://oss.redis.com/redisearch/).

The current Redis component implementation does not requir

[2022-01-03 23:13] artursouza commented on #1211
This starts to feel like a different implementation of the redis state store component.

[2022-01-03 23:28] dmitsh commented on #1211
it can be the same component, but there should be an agreement that if JSON content type is declared, the underlying Redis service should include RedisJSON and RediSearch modules.

[2022-01-04 03:36] #964 closed

[2022-01-04 16:09] slacksach commented on #826
Closing as the duplicate bindings issue appears resolved, have confirmed with local tests. Thanks @dmitsh @yaron2

[2022-01-04 16:09] #826 closed

[2022-01-04 19:05] pkedy commented on #1211
One thing to consider is that if the users are getting their Redis from a managed cloud offering (e.g. AWS ElastiCache for Redis), does that offering have the required modules @dmitsh mentioned installed. Given this features relies heavily on the modules being active/installed, it could limit the value that could come from this feature. Would users not shift to a Document DB style database when th

[2022-01-05 04:15] dmitsh opened #1407 "bug: bindings.azure.blobstorage conformance test failure"
bindings.azure.blobstorage conformance test consistently fails on json unmarshaling:

=== RUN   TestBindingsConformance/azure.blobstorage/list
time="2022-01-05T04:05:14.666958398Z" level=info msg="List test running ..." instance=fv-az108-811 scope=bindingsTest type=log ver=unknown
    bindings.go:227:
        	Error Trace:	bindings.go:227
        	Error:      	Received unexpected error:

[2022-01-05 05:32] mukundansundar commented on #951
will close once conformance tests are fixed

[2022-01-05 14:41] bgelens commented on #1148
@jjcollinge @yaron2 Had a new incident today where messages where not received anymore and we had to restart the pod again. From the logs there were a couple of noticeable errors that stood out. It seems the component was not able to recover from this.

[code]

[code]

The only way to get messages processed again was to restart the deployment (therefore creating new pods / sidecars)

For the rest

[2022-01-05 15:02] pkedy opened #1408 "Kafka Pub/Sub: Set metadata as headers"
## Describe the feature

Currently is it not possible to set headers for Kafka messages. It would be reasonable to allow metadata to be set as `Headers` for Kafka messages (except for partitionKey which is used to set `Key`).

## Release Note

RELEASE NOTE: **ADD** Kafka PubSub uses metadata as message headers (except for partitionKey)

[2022-01-05 15:53] bgelens commented on #1148
Hey @jjcollinge, thanks for the quick response.

These are the consecutive logs from the same topic subscription. It looks like it's trying to recover but as the messages where building up in the topic subscription, they where not received anymore

[code]

It'll be hard to reproduce as we where pretty much stable for the past 6 weeks or so.

Let me know if you need anything else

[2022-01-05 18:19] berndverst commented on #1407
/assign

[2022-01-05 18:56] Gehhilfe commented on #1399
In my opinion, backoff and retry is here not the right solution. When no topic is set, it is not possible to consume any messages from kafka, or?

Therefore, I would propose to log an error and don't even try to consume any messages. What is your opinion?

Of course, retry and backoff can be useful for transient errors. Maybe a combination of failing fast when it's clearly not possible and retry a

[2022-01-06 02:34] Taction commented on #1399
Thank you for your advice, agree that error logs are essential. Considering that the topic may be created after the service has been started, I think retry may be more appropriate. Making retry count configurable may be better, and it should default to no limit. If users do have configured a wrong topic, the backoff retry will not use too many resources. What is your opinion?

[2022-01-06 10:17] Gehhilfe commented on #1399
I have tested the following scenarios:

No topic provided or whitespace string that it is looping with `ERRO[0001] error from c: no topics provided `
´ or `ERRO[0000] error from c: kafka server: The request attempted to perform an operation on an invalid topic. `

A topic is provided which is not existing, it will block until a topic is created, and a message is received.

I will create a PR which

[2022-01-06 10:59] israelevi-code opened #1413 "Add support to S3 based state store"
i think it would be great if  a statestore that based on S3 API will be implemented - i would like to use minIO in my cluster and S3 protocol is anyway widely used.
In addition the state store API does not support streaming and i think that for large blobs its a must

Thanks

[2022-01-06 15:06] Taction commented on #1399
Sorry for my misunderstanding, @Gehhilfe you are right. Since `topics` metadata is only used for input binding. If it is not specified, this component should not start a goroutine for input binding.

[2022-01-06 15:22] Taction commented on #1399
Users who don't what to use input bindings, may not define  `topics` metadata. So a warn log would be enough because the config is correct.

[2022-01-06 17:32] T-REX-XP opened #1414 "Azure Service Bus - Sidecar and main container can’t interoperate after a long period of time(3-4 weeks)"
## In what area(s)?
 /area runtime

## What version of Dapr?

## Expected Behavior
- Communication between the main container and their sidecar should work all time, even if any messages don't send for a long time.
- It will be great to see logs in case binding to Azure Service Bus has been broken

## Actual Behavior
Does anyone faced with a situation when the sidecar and main container can't inte

[2022-01-06 18:09] #1407 closed

[2022-01-06 18:10] #1408 closed

[2022-01-06 19:04] jjcollinge commented on #1414
In relation to @R-Lamberson's issue with ASB pubsub publish - I'd suggest that this is because we currently cache the publish topics indefinitely, if the connection is idle for a while and reset by the peer then this connection is dead but we don't recreate it and will attempt to use it. We can add either a TTL to the cache or I think a better solution is to handle the connection reset error expli

[2022-01-07 02:00] daixiang0 commented on #1413
Could you share more about this case? The size of the state data should not be big I think, is it a real case for you?

[2022-01-07 05:28] shivamkm07 commented on #1234
\assign

[2022-01-07 05:30] shivamkm07 commented on #1234
/assign

[2022-01-07 06:07] shivamkm07 commented on #952
Seemingly MQTT doesn't guarantee ordering of messages(https://stackoverflow.com/questions/30955110/is-message-order-preserved-in-mqtt-messages) and so removed order part from test plan. Also verified the same while running tests.

[2022-01-07 08:03] israelevi-code commented on #1413
The thing is that dapr doesn’t have different abstraction for in-memory store ( we are using redis via dapr API for storing session state data which is small ) vs persistent stores ( Mongo for documents and MinIO for blobs).
Blobs in our system are neural networks models that might take hundreds of MB’s each. A train server save those models inside minIO and the key is passed to the runtime servic

[2022-01-07 08:32] #1353 closed

[2022-01-07 08:59] T-REX-XP commented on #1414
Yes, I can confirm that we are using the component with type binding.
`type: bindings.azure.servicebusqueues`

[2022-01-07 09:05] shivamkm07 commented on #1234
paho.mqtt.golang lib fix to support switching off auto acks: https://github.com/eclipse/paho.mqtt.golang/pull/578

[2022-01-07 14:23] R-Lamberson commented on #1414
@yaron2  @jjcollinge  I upgraded 1.5.1 and I am getting similar behavior but a new error message - see open issue #4031

I agree that having the dapr client handle the connection error would be more seamless, however is there a way I can handle recreating / resetting the dapr client when I get a connection state like this?

[2022-01-07 18:33] #952 closed

[2022-01-07 18:58] artursouza commented on #1393
After PR is merged, please, cut a PR in docs to mark this component as Beta.

[2022-01-07 19:06] #1399 closed

[2022-01-07 19:34] #1393 closed

[2022-01-07 23:35] #1191 closed

[2022-01-08 08:24] enthusiva opened #1422 "Add support to NATS Jetstream backed state store"
NATS now has a stable API to use its jetstream backend as a key value store. It would be great if Dapr can support this KV store so I can use NATS for both pub/sub and state store.

reference:
https://github.com/nats-io/nats-architecture-and-design/blob/main/adr/ADR-8.md

[2022-01-08 11:16] #1356 closed

[2022-01-08 14:57] lucasjellema opened #1423 "Support Instance Principal authentication in OCI ObjectStorage State Store"
Allow authentication against OCI to be done based on instance principal (in addition to the user & private key based authentication).

Dapr Workloads running on Oracle Cloud Infrastructure - VM, bare metal instances, Containers on OKE - should be able to leverage instance based authentication instead of being force to inject user credentials including a private key. Instance principal authenticati

[2022-01-08 14:58] lucasjellema commented on #1423
Note: I intend to provide the implementation of this enhancement shortly.

[2022-01-09 02:29] #1354 closed

[2022-01-09 03:21] shivamkm07 commented on #1234
@artursouza this can be closed now.

[2022-01-09 04:09] yaron2 commented on #1234
Let's keep it open to track until it's updated in Dapr and resolved.

[2022-01-09 09:01] fingthinking opened #1425 "Http StatusCode always 200"
I load ratelimit component to my dapr runtime. But it return http status code with 200 always whatever the server response is success or failure.

## Expected Behavior

return status code not 200 when the server response is failure.

## Actual Behavior

return http status code with 200 always whatever the server response is success or failure.

## Steps to Reproduce the Problem

different with sta

[2022-01-09 20:30] lucasjellema commented on #1423
Implementation is available as : https://github.com/dapr/components-contrib/pull/1424

[2022-01-09 20:57] amimimor opened #1426 "Pubsub AWS SNS/SQS - assets operations timeouts, retrying, backoffs"
## Describe the feature
The feature provides the following capabilities:
* allow the user to define a timeout for AWS assets related operations, instead of relying on `net/http` timeouts. Assets operations being, but not limited to: SNS topics creation/verification, SQS queues creation/verification, Subscriptions, STS caller identity calls, etc.
* use `context` and `cancel` in all AWS go sdk API c

[2022-01-09 20:57] amimimor commented on #1426
/assign @amimimor

[2022-01-10 03:19] daixiang0 commented on #1425
@fingthinking Check the code, the statusCode is returned by "github.com/didip/tollbooth", if you do not reach limit, it would return no error.

[2022-01-10 05:48] fingthinking commented on #1425
OK! Thank you for your answer. But even if I actively set the status code to 500, the status code is always 200, which is not what I expected. I think it is a bug. Do you have another point of view?

[2022-01-10 07:01] lucasjellema opened #1428 "Allow configuration of OCI ObjectStorage state store with OCI configuration file"
## Describe the feature

A very common way for providing configuration settings to tools (CLI, Terraform, Ansible, SDKs) and applications working with Oracle Cloud Infrastructure is through a configuration file (typically called config and located in ~/,oci/config) that contains the tenancy details and credentials for connecting to OCI (APIs). The ObjectStorage state store ideally should allow thi

[2022-01-10 09:04] jjcollinge commented on #1425
I'll try to repro this today and push a fix if needed.

[2022-01-10 10:06] jjcollinge commented on #1425
This is indeed a bug, thanks for reporting, I've added a test and a fix for this in #1429

[2022-01-10 19:45] paulyuk commented on #1318
Hey @slacksach any chance we could get in touch with you?  I'd love to not only make sure you this issue settled, but I've also been hoping to learn more about Swoop's solution that builds on Dapr.  my microsoft.com email is paulyuk@, discord is paulyuk and my twitter is @paulyuki99.

[2022-01-10 20:05] skmaingi opened #1431 "Dapr RabbitMQ binding failing"
## Expected Behavior

Invoke microservice using RabbitMQ binding without failure.

## Actual Behavior

RabbitMQ Binding is failing when the system remains idle for several hours leading to RabbitMQ - Dapr connection getting closed.

RabbitMQ Log:

[code]
[rabbitmq log.txt](https://github.com/dapr/components-contrib/files/7841577/rabbitmq.log.txt)

## Steps to Reproduce the Problem

1. Deploy dapr

[2022-01-10 23:31] slacksach commented on #1318
hi @paulyuk sure thing, I've dropped you an email, happy to discuss our solution and this issue.

[2022-01-11 02:44] fingthinking commented on #1425
LGTM, thank u. I will test this PR.

[2022-01-11 16:03] codesmon commented on #130
I see this has been closed. For our project the ability to use MSI to access the Cosmos State (and Actor state) stores, and ServiceBus as critical to out continued use of Dapr. Would it help for me to split these out into separate issues or can this be reopened?

[2022-01-11 16:07] dmitsh commented on #1431
/assign

[2022-01-11 16:09] dmitsh commented on #1431
@skmaingi, I was able to deploy the setup. Is there a way to decrease the duration of the test cycle?

[2022-01-11 16:56] #1328 closed

[2022-01-11 16:56] AaronCrawfis commented on #130
@dapr/maintainers-components-contrib

[2022-01-11 17:44] artursouza commented on #954
Changed scope to certification tests as claiming component to stable will now require a "grace period" of 1 release.

[2022-01-11 17:45] #954 closed

[2022-01-11 17:45] artursouza commented on #956
Changed scope to certification tests as claiming component to stable will now require a "grace period" of 1 release.

[2022-01-11 17:46] artursouza commented on #955
Changed scope to certification tests as claiming component to stable will now require a "grace period" of 1 release.

[2022-01-11 17:47] #1234 closed, assigned to shivamkm07

[2022-01-12 19:45] dmitsh commented on #1431
@skmaingi, I could not to reproduce the issue after 24 hours.

My k8s cluster runs in AKS, and I'm using Bitnami's char to deploy RabbitMQ:
[code]

The main difference is that I'm running the latest dapr code, and not v1.5.
The new dapr release v1.6 is expected in the upcoming weeks.
In the meantime, could you try my custom image `docker.io/dmitsh/dapr:dev-linux-amd64` and see whether you could re

[2022-01-12 21:03] jjcollinge opened #1434 "Write ASB Binding v2 using new Go SDK"
The Azure Service Bus SDK currently used in the Azure Service Bus Binding component is now (as of 2021-11-12) considered deprecated in favor of the new SDK. The new Go SDK is currently in preview but is preparing for GA. There is a migration guide which can be used to assist in the migration. I propose that we plan to write a new ASB binding component (v2) using the new SDK assuming we can achieve

[2022-01-12 21:07] artursouza commented on #1358
I am concerned about pushing Dapr down to layer 4. Can someone provide an example of a scenario where this would benefit cloud native developers? This can help ground the discussion to concrete points.

[2022-01-12 22:03] skmaingi commented on #1431
Hi @dmitsh,. We have tasks that will run for over 24 hours i.e. perform_task(topic: Topic). When those tasks run, the system could remain idle for hours waiting for other requests to process

[2022-01-12 22:04] skmaingi commented on #1431
Thank you @dmitsh. I will test with your custom image

[2022-01-12 22:14] skmaingi commented on #1431
@dmitsh could this issue be related to this https://github.com/dapr/dapr/issues/2301
There is a timeout error we get for tasks that take several hours or days to complete.
[code]

[2022-01-13 03:47] zhenlei520 opened #1436 "After using redis as pubsub, the message will not be deleted after being processed by the subscriber"
After dapr uses redis as pubsub, after the message is processed by the subscriber, the message will be processed by the ACK mechanism, but the processed message is not deleted. This lacks the function of deleting the message that has been consumed. Currently, it only supports setting maxlen to ensure the total length of the Stream, but doing so will waste space. It is recommended to increase the p

[2022-01-13 03:49] zhenlei520 commented on #1436
After the message is processed, the ACK mechanism will be used to prevent repeated consumption, but it does not delete the processed message. I hope to add a function that the message will be deleted after a certain period of time after consumption, or provide a message to be deleted after a certain period of time. Option to delete immediately after consumer consumes

[2022-01-13 07:22] sczyh30 commented on #1026
Refer https://github.com/alibaba/sentinel-golang/issues/424

[2022-01-13 08:48] beiwei30 commented on #1026
reopen

[2022-01-13 08:49] beiwei30 commented on #1026
@sd797994 pls. track https://github.com/alibaba/sentinel-golang/issues/424

[2022-01-13 12:25] Taction commented on #1436
When multiple services subscribe to the same topic, it can be difficult to determine an appropriate time to delete messages. In particular, it is difficult to determine whether messages should be deleted when one of these services is down. What do you think?

Redis pubsub has a `maxLenApprox` metadata defined maximum number of items inside a stream, does this meet your needs? You can refer to here

[2022-01-13 12:40] zhenlei520 commented on #1436
When multiple services subscribe to the same topic, if some services are not started, redis does not know that there are still services that are not executed, and after the message is acked, when the previously unstarted service is restarted, the message that has been acked is still acked. Will it be redelivered?

[2022-01-13 12:47] Taction commented on #1436
Services with deferent `consumerID `(defaults to appid if not set) are independent when consuming messages. So if `multiple services` have different appid, messages will be redelivered.

[2022-01-13 12:49] Taction commented on #1436
@zhenlei520 You can refer to here for more details: https://docs.dapr.io/developing-applications/building-blocks/pubsub/pubsub-overview/#consumer-groups-and-competing-consumers-pattern

[2022-01-13 15:27] #1426 closed

[2022-01-13 15:31] #1425 closed

[2022-01-13 17:02] #1351 closed

[2022-01-13 17:03] yaron2 commented on #1351
@Gehhilfe can you please comment here with `/assign`? Thanks!

[2022-01-13 17:18] Gehhilfe commented on #1351
/assign

[2022-01-13 17:26] #1250 closed

[2022-01-13 20:00] Gehhilfe opened #1437 "Add nkey based authentication for nats jetstream pub/sub"
## Describe the feature
When using nats jetstream pub/sub I would like to use NKey based authentication https://docs.nats.io/using-nats/developer/security/nkey

For this, the existing nats jetstream metadata needs to extended with a jwt and a seed key property. During connecting to a nats.UserJWT option can be added with a callback providing jwt and a callback singing the challenge.

See https://g

[2022-01-14 01:47] artursouza commented on #951
Code is merged.

[2022-01-14 01:47] #951 closed

[2022-01-14 01:51] artursouza commented on #1379
Moving this to 1.7 since the rewrite was done but cert tests are pending.

[2022-01-14 01:54] #957 closed

[2022-01-14 02:06] #956 closed

[2022-01-14 02:28] #1367 closed

[2022-01-14 03:56] zhenlei520 commented on #1436
Yes, what you said makes sense, but if you specify maxLenApprox, when the accumulation exceeds the number, it will also be deleted without delivery.

I checked the introduction of Streams in the redis documentation, and I think this is caused by the problem of redis. If redis can provide a function of binding a consumer group to a message, it will be fine. Bind the consumer group to the message wh

[2022-01-14 04:44] dmitsh commented on #1431
@skmaingi, I deployed Dapr v1.5.0 but still could not reproduce the error in my setup.
I suspect that closing the channel happens in rabbitmq container independently of Dapr.

How do you deploy rabbitmq service? What version?

Regarding dapr/dapr#2301 I'm not sure this is the case. IIUC, you are sending data to rabbitmq, which is output binding functionality.

[2022-01-14 06:41] tarrantro opened #1439 "Hashicorp vault secret path is fixed, not configurable. Request a feature to enable configurable secrets engine."
## Describe the feature

Now, dapr hashicorp secretstore is hardcoded secret engine(secret). So the secretstore can only access keyvault path named after secret/xxx. If I have a vault path like kv2/xxx/xxx. I will not be able to use this secretstore.

code: csecretstores/hashicorp/vault/vault.go, 180
	vaultSecretPathAddr := fmt.Sprintf("%s/v1/secret/data/%s/%s?version=0", v.vaultAddress, v.vaultKV

[2022-01-14 10:00] skmaingi commented on #1431
@dmitsh
RabbitMQ deployment
[code]
values.yaml
[code]

[2022-01-14 17:09] Gehhilfe commented on #1437
/assign

[2022-01-14 19:16] dmitsh commented on #1431
@skmaingi, I checked the binding code and confirmed that dapr does not close any channels. So I'm pretty convinced the closure of the channel happens outside dapr.

Where do you run your k8s cluster, on site or in the cloud?
If you are using AKS, please try Bitnami's version of RabbitMQ for AKS:
[code]
I also checked parameters of my rabbitmq deployment and found one difference, compared to yours:

[2022-01-14 20:35] b26 commented on #1148
I have similar issues but they are not authentication based and its on GCP not Azure. I don't see any sort of authentication errors in the logs.

![image](https://user-images.githubusercontent.com/2287343/149581201-1e5502af-f4d1-41cf-a1da-cc39b8397586.png)

sometimes undelivered messages can explode. the only solution is to restart the pod.

[2022-01-15 06:22] lucasjellema opened #1444 "State Store implementation based on Oracle Database"
## Describe the proposal
An implementation of the State Store building block based on Oracle Database (similar to the implementations for MySQL, PostgreSQL, SQLServer). The relational database is used to persist data to and retrieve state data from. The component ideally supports both an on premises (including cloud IaaS) installation of Oracle Database as well as the managed OCI Autonomous Databa

[2022-01-16 01:17] saranvasu commented on #1037
is this issue still open? Can I start working on this?

[2022-01-16 01:55] Taction commented on #1439
Thanks for reporting this. In fact, there is a related pr #842. Added engine path metadata.

[2022-01-16 10:42] amimimor opened #1445 "#1426 bugs - visibility timeout reset; disable entity management in DLQ"
## Expected Behavior

I've introduced 2 bugs in https://github.com/dapr/components-contrib/pull/1433 that need fixing (PR will follow this):
1. reset message visibility is reset the message timeout to a new default instead of zero
2. writing SQS settings when DLQ is used although we shouldn't if the user asked to `disableEntityManagement`

## Actual Behavior

1. reset visibility to zero
2. don't w

[2022-01-16 10:42] amimimor commented on #1445
/assign

[2022-01-17 02:08] daixiang0 commented on #1444
/cc @artursouza

[2022-01-17 11:50] lucasjellema commented on #1444
I am looking for the exact API definition for StateStores, especially in the areas of ETag (concurrency) and Time To Live. The required behavior is not clear to me - and the E2E test does not really cover these areas either. The state store implementations seem to be not in exact mutual alignment. Can you direct me towards the final word on the StateStore API?

[2022-01-18 02:36] daixiang0 commented on #1358
@artursouza maybe the title mislead you :(

Many CSPs/software provide their own name resolution, like
- https://github.com/polarismesh/polaris
- https://github.com/hashicorp/consul

Now we have some DNS implemented, but like other components, implement needs much time. If we can directly use third-party DNS with abstract calls,  developers will benefit from it. What I propose maybe not be an API,

[2022-01-18 08:58] skmaingi commented on #1431
Thank you @dmitsh
I noticed timeout exception in RabbitMQ logs after binding request.
[code]

[2022-01-18 09:35] pravinparab opened #1449 "Require Ouput Binding Java Code for MySQL DB"
Require Ouput Binding Java Code for MySQL DB

[2022-01-18 10:13] pravinparab opened #1450 "Failing insert query while doing output binding using Java SDK code"
Hi Team,

1) Please find below code snapshot for output banding, but while running on dapr its run sucessfully but in mysql database level insertion not happend

String BINDING_NAME = "checkout";
String BINDING_OPERATION = "exec";
DaprClient client = new DaprClientBuilder().build();
client.invokeBinding(BINDING_NAME, BINDING_OPERATION,"insert into testdapr(ID,Data) values(3,'B')").block();

2) Cre

[2022-01-18 18:31] #1445 closed

[2022-01-18 19:24] skmaingi commented on #1431
@dmitsh You are right "I suspect that closing the channel happens in rabbitmq container independently of Dapr."

I read this from RabbitMQ [consumers link]( https://www.rabbitmq.com/consumers.html)

"Delivery Acknowledgement Timeout

In modern RabbitMQ versions, a timeout is enforced on consumer delivery acknowledgement. This helps detect buggy (stuck) consumers that never acknowledge deliveries.

[2022-01-18 22:00] dmitsh commented on #1431
Thank you for confirming, @skmaingi . Do you require any further assistance?

[2022-01-20 13:22] skmaingi commented on #1431
@dmitsh currently no. I made some updates to test consumer timeout.
Thank you very much for your support and assistance in troubleshooting the issue.

[2022-01-20 13:22] #1431 closed

[2022-01-21 03:03] #1436 closed

[2022-01-22 08:05] #1381 closed

[2022-01-23 21:45] r-c-correa opened #1456 "Add Query StateStore API implementation for PostgreSQL StateStore"
## Describe the feature
We have Query StateStore API implemented for MongoDB and CosmosDB.

We need to implement this API for PostgreSQL StateStore.

[2022-01-23 22:16] sthussey commented on #1350
Not sure if this is still an issue, but my guess is this is due to a breaking change in 1.5.1 where TLS is no longer enabled automatically when SASL authn is used

[2022-01-24 11:39] pravinpushkar opened #1458 "Certification tests for Azure CosmosDB Gremlin Api output binding"
## Describe the feature
Certify Azure cosmosdbgremlinapi as GA in output binding

## Release Note

RELEASE NOTE:

[2022-01-24 11:39] pravinpushkar commented on #1458
/assign

[2022-01-25 12:20] Taction commented on #1150
/assign

[2022-01-25 12:23] Taction commented on #1150
I'd like to pick this up.

Add a configurable whitelist, defaults to bypass the health check request.

[2022-01-26 05:11] #1437 closed

[2022-01-26 14:27] #1309 closed

[2022-01-26 14:39] jjcollinge commented on #1309
/no-stale - @halspang are you tracking this work anywhere else?

[2022-01-26 14:45] jjcollinge commented on #1150
@Taction I just thought - what do you think about solving this problem with [this proposal](https://github.com/dapr/dapr/issues/4167), so rather than having specific behavior in the bearer middleware, being able to use the existing middleware selectors to avoid attaching the bearer middleware to those routes. This could be expressed in a CEL expression using something like so `path != "/v1.0/healt

[2022-01-26 15:22] Taction commented on #1150
@jjcollinge I've read your proposal and origin pr, I think it is a great idea! It provides a more flexible way to define the usage of middleware. My only concern is that there are some paths in the format like`/v1.0/invoke/{id}/method/{method:*}`, better to have a path list for users(not sure if there already have one that I missed). I am not familiar with CEL expression, but this idea is great.

[2022-01-26 15:30] jjcollinge commented on #1150
@Taction great! I think in CEL you can provide lists and use regex so hopefully it's flexible enough to specify complex criteria to match a path but I'm very new to it so I'll have to explore further.

[2022-01-26 16:03] Gehhilfe opened #1464 "Support JetStream wildcard subscription"
## Describe the feature

NATS JetStream allows wildcard subscription e.g. topic.* matching topic.a or topic.> matching topic.a.b.c.d . Therefore streams can have multiple different topics when wildcards are used.

Subscribing with wildcards is working, but received messages cant be routed back to application, because the subscribed topic is different to received topic of the message.

Therefore I

[2022-01-26 16:03] Gehhilfe commented on #1464
/assign

[2022-01-26 17:02] halspang commented on #1434
I've starting working on this and the pubsub issue as part of the certification efforts for the binding. They're coupled in Dapr since they share the same libraries and you can't update one without the other.

[2022-01-26 17:02] halspang commented on #1434
/assign

[2022-01-26 17:03] halspang commented on #1309
No, this should be the tracking issue and I am working on it for 1.7. I've migrated the SDK, just need to iron out some weird runtime stuff.

[2022-01-27 02:56] #1307 closed

[2022-01-28 08:53] #1389 closed

[2022-01-28 16:09] arkakk93 opened #1764 "Dapr invoke binding with Event Hub publishes multiple messages"
**Description**
For each event that I publish using Azure Event Hub binding, there are several events that get published to the event hub.
The service is deployed on AKS cluster

**Using following to publish:**
await this.daprClient.InvokeBindingAsync("componentName", "create", object, new Dictionary<string, string> { { "partitionKey", "someId"} });

**Details**
_Component Used_

apiVersion: dapr.

[2022-01-29 03:04] tarrantro commented on #1439
Thanks for the reply, I checked the PR and seems it will add vaultEnginePath in new HSV component for engine path. Just want to know when will it be release? Do we have schedule?

Original

From:"Taction"< ***@***.*** &gt;;

Date:2022/1/16 9:56

To:"dapr/components-contrib"< ***@***.*** &gt;;

CC:"290535018"< ***@***.*** &gt;;"Author"< ***@***.*** &gt;;

Subject:Re: [dapr/components-contrib] Hashi

[2022-01-29 08:07] jjcollinge commented on #1171
/no-stale

[2022-01-29 12:24] anton-rlgx opened #1467 "Support any shape (any keys) of Redis Stream entries in pubsub subscriber"
## Describe the feature
Support any shape (any keys) in Redis Stream entries in pubsub subscriber, not only "data" key. At the moment only pre-defined structure of stream entry is expected in subscriber, i.e. "data" key. This limits usage of pubsub to only Dapr publishers or those publishers that can define format themselves when publishing, but it's not the case for integrating with publishers th

[2022-01-30 02:00] #1384 closed

[2022-01-31 15:58] jjcollinge opened #1468 "No option to configure which IP type to listen on for mDNS"
## Expected Behavior
User's can configure which IP type (IPv4/IPv6) they want Dapr to listen on for mDNS discovery. This should default to both as is done today using the zeroconf default but have an option to exclude either type.

## Actual Behavior
Only supports listening on both, this causes issues if no interface is available.

## Release Note

RELEASE NOTE: ADD Configuration to set which inte

[2022-01-31 17:08] #1277 closed

[2022-01-31 17:09] yaron2 commented on #1277
@light-pan can you please comment `/assign` here? it's so you get the credit in the 1.7 release :)

[2022-01-31 17:12] yaron2 commented on #1400
/keep-alive

[2022-01-31 17:14] yaron2 commented on #1400
Closed via https://github.com/dapr/components-contrib/pull/1401.

[2022-01-31 17:14] #1400 closed

[2022-02-01 03:29] shubham1172 commented on #1210
/assign

[2022-02-01 13:01] pravinparab opened #1469 "process component vault error: couldn't create client using config: couldn't read system certs: crypto/x509: system root pool is not available on Windows"
Hi Team,

We are trying to configure Hashicorp Vault component in Dapr. Following is the configuration of vault.yaml file.
We are getting **process component vault error: couldn't create client using config: couldn't read system certs: crypto/x509: system root pool is not available on Windows** error msg while running dapr side car service.
Let us know if any changes required.

===================

[2022-02-01 13:18] Taction commented on #1469
This is because the vault component will always load the tls configuration whether it is used or not. I have created pr #842 which fixes this issue, if `skipVerify` is true the tls config will not be loaded.

Can we consider merging this pr in v1.7? /cc @artursouza

[2022-02-01 16:39] yaron2 commented on #1469
Sure, we can merge this in 1.7. I left a docs question on the PR.

[2022-02-01 17:01] lucasjellema opened #1470 "Query StateStore API implementation for Oracle Database StateStore"
## Describe the feature

Extend the Oracle Database state store component to also implement the Query API.
It will join the MongoDB and CosmosDB and PostgreSQL state stores in supporting this API.

## Release Note

RELEASE NOTE: **ADD** Support Query API in the Oracle Database state store

[2022-02-02 09:03] jjcollinge commented on #1468
Uploading initial report for context
![image](https://user-images.githubusercontent.com/7241190/152123784-20cd325a-2644-443e-ba42-925f4fc2e934.png)

[2022-02-02 09:37] jjcollinge commented on #1468
Looking into this more, the initial log when registering is expected as this behaviour was introduced in [this change](https://github.com/grandcat/zeroconf/commit/be8fc7be298c73e239ec340e0fd6a0499a077ce9#diff-366e46a40f6f60b4f7614eb0976bb51820364bf5ca6ccc4787eb49d7bdbef3e6). However, when trying to resolve a service we currently use the default zeroconf value which is to use IPv4 and IPv6 which wi

[2022-02-02 20:09] artursouza commented on #1469
See my comments in the PR. We also would need to add vault to conformance tests for secret store. This will help make sure we don't break existing users.

[2022-02-03 02:14] #1456 closed

[2022-02-03 06:50] Taction commented on #1439
@tarrantro will be merged in the next release version v1.7.

[2022-02-03 08:42] jjcollinge opened #1472 "Close method on Resolver interface"
## Ask your question here
I'm not sure if there's already been discussions around this topic (I can't find any) - is there any reason we cannot add a `Close()` method to the [`resolver`](https://github.com/dapr/components-contrib/blob/8297fc929bc602156eb19daf76c2282c4bbf268a/nameresolution/nameresolution.go#L17) interface to allow any components that use stateful services to unregister? This would

[2022-02-03 23:37] #841 closed

[2022-02-04 08:43] shubham1172 commented on #1209
I was able to reproduce the issue with the following snippet. On every alternate run, I see that both k1 and k2 are present (problematic), and the other times only k2 is present (as expected).

[code]

[2022-02-04 17:43] shubham1172 opened #1474 "Replace inactive postmark dependency with an active fork"
For postmark bindings, we use https://github.com/keighl/postmark which has a non-standard license and is not under active development.

Per https://github.com/dapr/dapr/issues/4158, we should move to a fork of the original dependency, https://github.com/mrz1836/postmark, which is actively being developed and has a MIT license.

[2022-02-06 05:32] light-pan commented on #1277
/assign

[2022-02-07 10:15] lucasjellema opened #1475 "Create Conformance Test for OCI Object Storage statestore"
## Describe the feature

Implement a conformance test for the OCI Object Storage state store that allows automated verification of the functionality

## Release Note

RELEASE NOTE:

I am  not sure this deserves a mention in the release notes; it seems like an internal change.

[2022-02-07 10:17] lucasjellema opened #1476 "Create conformance test for Oracle Database state store"
## Describe the feature

Create conformance test for Oracle Database state store to allow automated verification of the proper functioning of this component.

## Release Note

RELEASE NOTE:

Probably not relevant for release notes, or is it?

[2022-02-08 05:23] daixiang0 commented on #1472
Agree to add it.

[2022-02-08 06:36] shubham1172 opened #1477 "Update darabonba-openapi for meeting compliance requirements"
**Problem**

https://github.com/alibabacloud-go/darabonba-openapi currently uses https://github.com/alibabacloud-go/alibabacloud-gateway-spi which is unlicensed. There is an active PR in the repository to add an Apache license, https://github.com/alibabacloud-go/alibabacloud-gateway-spi/pull/1

**To do**
- track updating `alibabacloud-gateway-spi` in `darabonba-openapi`
- update the `darabonba-ope

[2022-02-08 06:37] yaron2 commented on #1477
@beiwei can you help eith

[2022-02-08 06:38] yaron2 commented on #1477
@beiwei30 can you help getting this PR merged? https://github.com/alibabacloud-go/alibabacloud-gateway-spi/pull/1

[2022-02-08 06:43] shubham1172 opened #1478 "Update nacos-sdk-go for meeting compliance requirements"
**Problem**
https://github.com/nacos-group/nacos-sdk-go currently uses https://github.com/toolkits/concurrent which is unlicensed. Per this active issue, https://github.com/nacos-group/nacos-sdk-go/issues/394, they are moving to golang's sync/semaphore which will make the SDK compliant.

**To do**
- track the concurrent library update in `nacos-sdk-go`
- update the `nacos-sdk-go` version in this r

[2022-02-08 06:48] shubham1172 opened #1479 "Update pulsar-client-go for meeting compliance requirements"
**Problem**

https://github.com/apache/pulsar-client-go/pulsar uses https://github.com/beefsack/go-rate today that uses a GPL license. There is an active issue https://github.com/beefsack/go-rate/issues/10 to update the license to a more permissive one.

**To do**
- track license change in `go-rate`
- track consumption of the new `go-rate` package in `pulsar-client-go`
- update the `pulsar-client-

[2022-02-08 06:53] shubham1172 opened #1480 "Update couchbase/gocb for meeting compliance requirements"
**Problem**
https://github.com/couchbase/gocb/ depends on https://github.com/couchbaselabs/jsonx which is unlicensed. The active issue, https://github.com/couchbaselabs/jsonx/issues/1, tracks adding an acceptable license to the same.

**To do**
* track the license update for `couchbaselabs/jsonx`
* update `couchbase/gocb` to use the latest version of `couchbaselabs/jsonx`
* update the `couchbase/g

[2022-02-08 06:59] shubham1172 opened #1481 "Track dependency updates for armon/consul-api to meet compliance requirements"
**Problem**
https://github.com/armon/consul-api uses MPL-2.0 and is non compliant with CNCF guidelines. It is consumed in Dapr using two dependency paths as shown in the graph below:
![image](https://user-images.githubusercontent.com/22132944/152934122-86cad9de-80fe-4a0b-8024-fbcdc6a7d764.png)

**To do**
This is a two part work item
1. Update the https://github.com/kubernetes-sigs/controller-runti

[2022-02-08 07:01] shubham1172 commented on #1474
/assign

[2022-02-08 07:05] shubham1172 commented on #1478
/assign

[2022-02-08 07:06] shubham1172 commented on #1479
/assign

[2022-02-08 07:06] shubham1172 commented on #1480
/assign

[2022-02-08 07:06] shubham1172 commented on #1481
/assign

[2022-02-08 07:06] shubham1172 commented on #1477
/assign

[2022-02-08 10:10] mukundansundar commented on #1481
moving to dapr/dapr repo.

[2022-02-08 11:53] Taction commented on #1439
Close since the related pr has been merged.

[2022-02-08 11:53] #1439 closed

[2022-02-08 12:36] Taction opened #1485 "Add conformance tests for vault secret store"
## Add conformance tests for vault secret store

This will help make sure changes will not break existing users.

This is a sub-issue of #1469.

[2022-02-08 12:38] Taction commented on #1485
/assign

[2022-02-08 12:40] Taction commented on #1485
Anyone who is interested in that feel free to go on. It may take a bit long time before I can fix this.

[2022-02-08 12:42] Taction commented on #1469
Sorry for the late reply as I was on vacation. I created another issue #1485 to track this. Besides vault needs init as well as save the test data to it, I have viewed the conformance tests code and have not found a proper place(or any examples) to do these before running the test code, any suggestions about it?

[2022-02-08 15:52] kamilzzz opened #1487 "Streaming support for object storage bindings (S3, Blob Storage, GCP Buckets)"
As I can see, right now bindings for object storages support either writing a text as a blob or any blob data by encoding it as `base64`.
The same goes for reading where we can read either a plain value of a blob or `base64` encoded value.

In both cases whole file/blob has to be read into memory and then it can be uploaded (in case of writing) or processed (in case of reading).

Are there any pla

[2022-02-08 20:00] #1444 closed

[2022-02-09 06:31] shubham1172 commented on #1478
Changes are checked-in, waiting for next release to take up the changes.

[2022-02-09 20:26] wimvdc opened #1489 "[DynamoDB] Support for time to live (state store)"
## Intro

The state store implementation for DynamoDB currently lacks time to live support.

## Proposal:

- As described in the spec, fetch `ttlInSeconds`from the metadata of a request (if present)
- Since DynamoDB expects the value to be "_[...] value must be a timestamp in [Unix epoch time format](https://en.wikipedia.org/wiki/Unix_time) in seconds [...]_", we add that value to the current epoc

[2022-02-09 22:44] dmitsh opened #1490 "statestore query API: remove 'value' prefix from the key names in query JSON"
I propose a minor change in the syntax of the query JSON format.
This will eliminate unnecessary ambiguity.

Here is an example of the current query JSON object:
[code]

This query returns all entries with jsonPath `.person.org` equals to `Dev Ops` or `Hardware`.
Notice that `value` prefix in the filter of the query JSON is not part of the original user object, which looks like that:
[code]

IMO,

[2022-02-09 22:52] berndverst commented on #1490
I strongly support this proposal.

If we proceed with this, please coordinate change of SDK E2E tests prior to the runtime release which will include this change.

[2022-02-09 23:29] yaron2 commented on #1489
Hi @wimvdc, this will be a most welcome contribution.

Assigned to you and triaged into the next milestone.

[2022-02-10 01:11] dmitsh commented on #1490
/assign

[2022-02-10 04:53] msfussell commented on #1490
I like this approach, but why do you need to keep the "." in front of person? can it be this?

{
  "filter": {
    "IN": { "person.org": [ "Dev Ops", "Hardware" ] }
  }
}

[2022-02-10 06:05] dmitsh commented on #1490
I've been following JSON path format, which seems appropriate when querying JSON objects.

[2022-02-10 10:44] israelevi-code commented on #1487
Totally agree , also regarding S3 , can the binding be more general to any S3 API provider (like minIO) and not just AWS?

[2022-02-10 15:55] shersh opened #1494 "SaveState as json object in MongoDb instead of String"
## Describe the feature
Save state in MongoDb as Object instead of string.
If you save state using any SDK it will convert to ByteString when communicate with dapr environment and MongoDb Store component will save it just as string and you cannot use MongoDb in full performance with indexing and quering.

[2022-02-10 19:58] #1490 closed

[2022-02-11 11:52] bgelens opened #1495 "Azure ServiceBus pub sub send message. Connection reset by peer"
## Expected Behavior

Connection reset by peer result in retry backoff behavior similar to server busy

## Actual Behavior

Instead of re-opening the previous issue #1148 I open this new one as it is only related to publishing

cc: @jjcollinge

Azure ServiceBus Pub Sub experiences some issues every now and then where the exception is "connection reset by peer"

I've investigated the issue a bit an