[2022-08-20 21:50] #1970 closed

[2022-08-22 01:19] Taction commented on #1980
Sure, I'll look into this later.

[2022-08-22 05:04] ItalyPaleAle commented on #1977
I understand your argument and I agree with you that it's confusing that each component uses different names for what are essentially the same things.

However, right now the names are not necessarily "random", as they are aligned with the terminology used by every cloud provider.

For example, for Google Cloud it's normal to authenticate with `private_key_id` and `private_key` ([docs](https://clo

[2022-08-22 06:10] 1046102779 commented on #1977
Since we have standardized and abstracted the capabilities, such as `secretstores`, `state`, `lock`, `pubsub`, and etc. I think the semantics should be unified; for the adaptation of cloud vendors, they can be mapped and explained in the official documents.

Each instance in each standardized component should have its own standard semantics to adapt to the cloud products of each cloud vendor. The

[2022-08-22 17:55] mcandeia opened #1990 "Define a common metadata object across components"
## Describe the proposal

The structs for the components metadata are being redefined in each component. This is good because it allows components to have different metadata, but on the other hand it does not allow components share a common structure to define common abstractions, such as the component name that is only supported by the bindings metadata.

This will be used soon, for creating plug

[2022-08-22 17:55] mcandeia commented on #1990
/assign

[2022-08-22 18:15] bencz opened #1991 "Mongodb state-store not working"
When creating/configuring the state-store as mongodb, writing and initializing works correctly, but when trying to read some information from the state-store, a serialization error occurs.

Another point, when comparing the creation of the actors' reminders partitions in other databases, such as PgSQL, in mongo db, every time the application is restarted, more N partitions of the reminders are cre

[2022-08-22 18:36] bencz opened #1993 "Rethinkdb causes a panic error on daprd"
When trying to run a test using Rethinkdb as the state-store, I got the following error:

[code]

## Steps to Reproduce the Problem

Download the attached project
Run docker-compose (watch out as docker-compose has an override file)
Check the sidecar error

[DaprMongoDbBug.zip](https://github.com/dapr/components-contrib/files/9396742/DaprMongoDbBug.zip)

[2022-08-22 19:38] berndverst commented on #1990
LGTM

[2022-08-23 00:26] #1922 closed

[2022-08-23 00:32] #1860 closed

[2022-08-23 01:07] #1906 closed

[2022-08-23 03:39] saber-wang opened #1999 "[redis Configuration]After the dapr is started, the newly added key cannot be subscribed"
## Expected Behavior

If do not specify a key, you can subscribe to the newly added configuration item.

## Actual Behavior

Cannot subscribe to the newly added configuration item

## Steps to Reproduce the Problem

1. Do not specify key subscription configuration
[code]
2. Add a key that does not exist in redis
3. Observation log (no output)

[2022-08-23 05:54] saber-wang opened #2000 "[redis Configuration Api]The specified redisDB should be supported"
## Describe the proposal
Refer to redis state storage: https://docs.dapr.io/reference/components-reference/supported-state-stores/setup-redis/

[2022-08-23 14:19] mcandeia commented on #1990
I decided to take another approach for this issue, but first, let's go to the facts,

## The problem

The PR changed the way we instantiate the metadata object for all components, so, instead of having

[code]

We're going to have

[code]

I managed to change all 4xx occurrences on the entire code-base to rewrite the way it's being instantiated.

However, because our certification tests run agains

[2022-08-23 14:20] ostreek opened #2001 "Add prefix option to AWS SSM Parameter Store secret store implementation"
## The problem

There is one AWS SSM Parameter Store per account/region, which is designed to [organise parameters hierarchically](https://docs.aws.amazon.com/systems-manager/latest/userguide/sysman-paramstore-hierarchies.html). This differs from, for example, Azure Key Vault, which allows multiple vaults to be created. The key vault secret store implementation requires you to specify the vault to

[2022-08-23 16:24] berndverst commented on #1990
Incorrect. This is by design so that any change checked into contrib can be evaluated against certification tests on PR. The Dapr runtime does not need to be updated for this unless a new API is introduced / API is modified, or a new component is registered.

We must keep the local replace of contrib. This is a hard requirement.

[2022-08-23 16:37] berndverst commented on #1990
Thanks for putting together these options.

I think we should go with the **temporary branch / fork of dapr/dapr** which we will only import in `tests/certification` within contrib.

After your change lands in dapr/dapr master we can then update the certification tests to the real `dapr/dapr` again.

[2022-08-23 19:57] addjuarez opened #2004 "Stable certification for Apache Zookeeper in State store"
The Zookeeper state store requires certification tests to be created.
Add conformance tests if not present.

[2022-08-23 19:57] addjuarez commented on #2004
/assign

[2022-08-23 22:51] yaron2 commented on #2008
Moved to correct repository. Thanks for reporting this @bab5470, it's currently not supported it seems.

[2022-08-24 16:17] berndverst commented on #2001
LGTM. Just make sure the prefix metadata is optional so existing behavior can also be retained.

[2022-08-24 17:19] yaron2 commented on #2001
LGTM

[2022-08-25 00:45] MotaOcimar opened #2012 "How to use Dapr SignalR Output Binding?"
It's not clear to me how to use Dapr's SignalR output Binding.

If I understand correctly, SignalR works with communication between three parties:
- A server, which will provide functions to be called by clients, as well as being able to call functions from connected clients;
- Clients, which can call server functions, as well as provide functions to be called by the server;
- A Hub, which will ma

[2022-08-25 02:09] addjuarez commented on #2004
I do not believe this component is currently functional, I was not able to get it to pass conformance tests in its current state.

[2022-08-25 02:12] addjuarez opened #2013 "Apache Pulsar pubsub as Stable"
The Pulsar pubsub requires certification tests to be created.
Add conformance tests if not present.

[2022-08-25 06:59] naah69 commented on #1960
ok and thanks，it worked，but i find new problem that is rocketmq event had packaged duplicate.

rocketmq：
![image](https://user-images.githubusercontent.com/25682169/186594347-ce76804f-fcf6-40be-b3bb-6f8b41a49930.png)

redis:
![71QurIJNGA](https://user-images.githubusercontent.com/25682169/186596418-d8f10721-4393-4df5-9805-5a87df87ce7c.jpg)

[2022-08-25 10:32] #1893 closed

[2022-08-25 12:22] jinjianfeng-chn commented on #1960
Please look at the source content in the screenshot.
If rawPayload == false, The data content will be replaced with CloudEvent.
What Cloudevent is serialized by JSON is what you send.
![5BF75CFF-8D68-4DAD-8B02-0BFCAF6725BC](https://user-images.githubusercontent.com/18299550/186661970-c87942c1-80f0-4c1f-ab7f-960e51e1185f.png)

You can close it this way on this side.
http:
`?metadata.rocketmq-key=da

[2022-08-25 12:25] jinjianfeng-chn commented on #1960
Please look at the source content in the screenshot.
If rawPayload == false, The data content will be replaced with CloudEvent.
What Cloudevent is serialized by JSON is what you send.
![5BF75CFF-8D68-4DAD-8B02-0BFCAF6725BC](https://user-images.githubusercontent.com/18299550/186663602-a5532f68-7b95-4001-b47c-92e1bd082e06.png)

You can close it this way on this side.
http:
?metadata.rocketmq-key=dap

[2022-08-25 17:11] #1990 closed

[2022-08-25 22:21] berndverst commented on #1549
@shubham1172 was this ever resolved? The component is still not registered at this time.

[2022-08-25 22:50] berndverst opened #2014 "Proposal: Structured component metadata info requirement"
## Describe the proposal

This is a proposal to capture and require component metadata information to be provided alongside each component in a structured manner according to a defined schema.

## Why
This has several advantages:
- Automatically generate component documentation to be in line with components-contrib code. No more manual creation of docs PRs for component metadata.
- We can generate

[2022-08-26 00:40] berndverst commented on #2012
Take a look at this issue which my provide some information:
https://github.com/dapr/components-contrib/issues/147

And maybe this part of the docs is helpful: https://docs.dapr.io/reference/components-reference/supported-bindings/signalr/#additional-information

Beyond that I cannot provide any further assistance as I am not familiar with SignalR. Maybe @yaron2 can help here.

[2022-08-26 00:42] berndverst commented on #2013
@addjuarez please rename this issue to "Stable certification for Apache Pulsar in Pubsub" or something like that.

Right now this issue sounds like the component is stable but missing tests. However, the component is Alpha.

[2022-08-26 00:43] berndverst commented on #2004
Please rename to "Stable certification for Apache Zookeeper in state store"

[2022-08-26 02:09] berndverst commented on #1993
@bencz the issue will be addressed in release 1.9. https://github.com/dapr/components-contrib/pull/1930

I just took a look at the RethinkDB component and have determined that the Etag capability is not supported by RethinkDB. As such this component cannot be used as actor state store. I see you are trying to use it this way, so I wanted to let you know! I will be updating the docs to remove this.

[2022-08-26 02:10] #1993 closed

[2022-08-26 02:11] berndverst commented on #1932
Please note that RethinkDB does not support Etags and as such cannot be used as actor state store. I have just completed the work to make this component Beta, but have determined that Etags are not truly supported. Please do not use this component as actor state store. We will be updating the docs to make this clear.

[2022-08-26 06:28] mukundansundar opened #2016 "Metadata/RecordHeaders not correctly read and propagated in Kafaka pubsub"
## Expected Behavior

When RecordHeaders are set in an event, it must be read and propagated to the application correctly on consuming that Kafka event.
RecordHeaders for an event are set when say for example Dapr publish API is called with metadata passed in for that request. See below.
[code]
[Source permalink](https://github.com/dapr/components-contrib/blob/bcea284c7b0c1a5a07294021a2bb6cc74909d

[2022-08-26 06:29] mukundansundar commented on #2016
@dapr/maintainers-components-contrib I think this needs to be in 1.9 for sure

[2022-08-26 07:10] naah69 commented on #1960
it work! thank you very much!

[2022-08-26 07:10] #1960 closed

[2022-08-26 08:33] shubham1172 commented on #1549
No, the performance issue is yet to be analyzed again after the SDK was upgraded.

[2022-08-26 08:56] vivekthakur-ai commented on #1858
Hi,

Please consider a scenario when a microservice is connected to Hashicorp Vault using Dapr and a database. Hashicorp vault is managing the database credentials (Static role for this scenario) and Microservice is getting the credentials from Dapr (by Vault) and Creating a connection pool to connect to database using the credentials and performs the operation.
Suppose there is a password rotatio

[2022-08-26 11:35] MotaOcimar commented on #2012
@chenkennt, I saw that you answered the [StackOverflow question](https://stackoverflow.com/questions/50930551/how-do-i-pass-the-accesskey-value-to-an-azure-signalr-server-in-c). Can you help me?

[2022-08-26 14:20] bencz commented on #1993
@berndverst

RethinkDB works a little differently... there is no transaction in it because it doesn't need to... as queries or upserts are processed by the db in an atomic way, just adjust the update/insert query to validate the ETag field

Check this: https://rethinkdb.com/docs/consistency/
And this: https://stackoverflow.com/questions/40364666/proper-upsert-atomic-update-counter-field-or-insert-

[2022-08-26 16:32] cwe1ss opened #2018 "Feature request: disableEntityManagement for bindings.azure.servicebusqueues"
## Describe the feature
I am trying to use the component `bindings.azure.servicebusqueues` to send messages to a queue. Even though I have manually created the queue upfront, the component seems to need a shared access signature with `Manage` rights to initialize properly.

If I don't provide `Manage` rights, I receive the following error (in Azure Container Apps):
[code]

As far as I understand,

[2022-08-26 17:09] berndverst commented on #1991
Which Dapr version are you running? And which Dapr SDK and version are you using? Could you also share the Mongo DB version? Is this in Docker?

[2022-08-26 17:11] berndverst commented on #1999
Sounds like whenever a key is not found there should be an attempt to refresh the list of known keys.

Which configuration store is this? Redis? This problem will be specific to the configuration store. (We have multiple configuration stores now)

[2022-08-26 17:18] berndverst commented on #2018
Pretty straight forward. Just need to introduce this metadataoption and rewrite the following code block to only trigger if `!a.metadata.disableEntityManagement`:

https://github.com/dapr/components-contrib/blob/master/bindings/azure/servicebusqueues/servicebusqueues.go#L109-L128

[2022-08-27 05:20] saber-wang commented on #1999
@berndverst  Yes, the current test is redis.

[2022-08-27 05:24] saber-wang opened #2023 "Configuration API supports k8s configmap"
## Describe the feature
Supports using k8s configmap to store configuration.

[2022-08-27 06:49] #2018 closed

[2022-08-27 09:18] #1900 closed

[2022-08-28 10:51] i-am-shodan commented on #1844
still broken

[2022-08-28 10:51] i-am-shodan commented on #1764
still broken

[2022-08-29 06:15] #1981 closed

[2022-08-29 08:34] chenkennt commented on #2012
In order to SignalR service, client needs to first do a negotiate with server to get the url of the service and access token. Dapr SignalR binding doesn't have a built-in support for this, so you need to implement it by yourself. You can refer to this doc about how to expose a negotiate endpoint manually:
https://docs.microsoft.com/en-us/azure/azure-signalr/signalr-reference-data-plane-rest-api#im

[2022-08-29 09:10] chenkennt commented on #2012
Here is a code snippet that shows how to do the negotiate and send message using Dapr binding (using node.js and express). Hope it helps.

[code]

Then call `/send` the send the message and use the following code in browser to receive it:
[code]

[2022-08-29 12:40] famarting opened #2026 "Redis pubsub - bug in reclaimPendingMessage"
## Expected Behavior

In Redis pubsub when there are pending messages that have been deleted from the stream the logic in [`reclaimPendingMessages`](https://github.com/dapr/components-contrib/blob/master/pubsub/redis/redis.go#L329) fails to `ack` and therefore remove those pending messages. Resulting in messages that are stuck in pending state forever.

## Actual Behavior

In the function `reclaim

[2022-08-29 13:18] 1046102779 opened #2027 "Proposal: Configuration Subscribe&Unsubscribe Abstract Design"
## Background
For the current configuration Subscribe and Unsubscribe API, when implementing most configuration instances, it may fail to meet expectations due to poor design, or cause resource leak.

## Questions and Analysis
### Case 1

[code]

In theory,  if we do not do anything, for each key, a goroutine will be started to watch the configuration change(key1, key2, key3); then if another Subs

[2022-08-29 15:13] kayvonkhosrowpour opened #2029 "Support for Priority Queues in RabbitMQ with pubsub"
## Describe the feature
RabbitMQ supports the ability to create [priority queues](https://live.rabbitmq.com/priority.html) through the `x-max-priority` property. Although dapr supports priority queues through the `maxPriority` attribute in the [binding spec](https://docs.dapr.io/reference/components-reference/supported-bindings/rabbitmq/), there is no support in pubsub.

This feature request is to

[2022-08-29 15:55] bencz commented on #1991
Hi
I did the test with Dapr 1.8.3 and 1.8.4
I'm using the dotnet-sdk version 1.8.0
The mongodb, I have used the managed Atlas MongoDB ( https://www.mongodb.com/ )
I did the test with the free version of Atlas MongoDB and with the payed version too, I just got the same problem

[2022-08-29 18:12] berndverst commented on #2027
Please take a look: @dapr/maintainers-dapr @dapr/maintainers-components-contrib @dapr/approvers-dapr @dapr/approvers-components-contrib

[2022-08-29 18:16] berndverst commented on #2014
@yaron2 @artursouza as co-maintainers, do you have any objections to this?

This would really help with keeping documentation in sync in the future -- instead of requiring a separate docs PR, we can just enforce that the metadata info is provided in this structured format and then generate the component docs from there.

[2022-08-29 20:05] #1983 closed

[2022-08-30 11:06] famarting commented on #2000
The redis configstore should be using the common redis metadata utilities no? The ones located here https://github.com/dapr/components-contrib/tree/master/internal/component/redis

[2022-08-30 11:27] anoymouscoder commented on #2008
/assign

[2022-08-30 16:38] #1982 closed

[2022-08-30 20:39] helbing commented on #1983
/assign

[2022-08-31 05:44] anoymouscoder commented on #2008
According to my findings, currently secure amqp is supported. Based on [official rabbitmq documentation](https://www.rabbitmq.com/uri-query-parameters.html), you can set the parameters for tls in the uri, eg. `amqps://localhost:5671?cacertfile=/path/to/ca_cert.pem&keyfile=/path/to/key.pem&certfile=/path/to/cert.pem`.
We are currently using the `dial` method of amqp library(ref: https://github.com/

[2022-08-31 13:39] SoTrx opened #2036 "Synchronous replication for Redis pub/sub"
## Describe the proposal
This is a proposal to add an option to use [synchronous replication](https://redis.io/docs/manual/data-types/streams/#persistence-replication-and-message-safety) with Redis Streams used as a Pub/Sub backend.

## Why
While not transforming Redis into a reliable collection, providing a way to lower the chance of data loss at the cost of speed can make sense for some business

[2022-08-31 19:52] mcandeia opened #2037 "Query API: Set filters when Unmarshalling Query struct"
## Describe the proposal

The default [query unmarshal](https://github.com/dapr/components-contrib/blob/master/state/query/query.go#L98) doesn't set the Filters field as it does for the others fields - sort and page.

It's not a problem for any of our current state component since filters has only been used for building the `Filter` [interface](https://github.com/dapr/components-contrib/blob/maste

[2022-08-31 19:52] mcandeia commented on #2037
/assign

[2022-08-31 20:03] berndverst commented on #2037
Feel free to open a PR @mcandeia - just make sure it doesn't break any conformance or certification tests. If it does, you may need to update some components' Query API implementation.

[2022-09-01 02:19] 1046102779 commented on #2027
/cc @LaurenceLiZhixin @beiwei30  @berndverst @daixiang0 @yaron2 @artursouza  @ItalyPaleAle @skyao

[2022-09-01 07:00] ItalyPaleAle commented on #2027
(This issue should probably be moved to dapr/dapr)

Thanks for the writeup. One possible problem that I see, and for which I have experience due to my work on pubsubs, the fact that each call to "subscribe" has its own handler may be a problem. Perhaps having a single handler would be a better design?

Here's a proposal:

1. We define a handler that is invoked every time there's a config update. D

[2022-09-01 07:20] 1046102779 commented on #2027
What do you mean is that dapr runtime cannot have an active `Unsubscribe` operation. If there is an intersection between two consecutive requests, it will not do any subscription processing and return an error?

[2022-09-01 07:29] ItalyPaleAle commented on #2027
I am not following you. What do you mean?

[2022-09-01 07:39] bencz commented on #1991
@berndverst
I just did some debug, and I found a very interesting problem...

The actor state model is:

[code]

Ok, so, ActorDetailsId is a integer... I just added a "Console.WriteLine" on this method, https://github.com/dapr/dotnet-sdk/blob/0c9d6a45c8d3792a92d7141056c390bea098d02b/src/Dapr.Actors/Runtime/DaprStateProvider.cs#L46 , to print the stringResult variable, this is what I got:

![image]

[2022-09-01 07:39] 1046102779 commented on #2027
If there is an intersection between two consecutive requests, the dapr runtime directly return an error;  MicroLogic Developer may ask: why can't  dapr runtime handle this for me?

[2022-09-01 07:43] bencz commented on #1991
Also, I just did a test, and I hard coded the right json on stringResult variable, I, this problem has been "solved"
So, it's looks like a serialization problem from dapr to client or state-store do dapr... I don't know...

[2022-09-01 07:53] berndverst commented on #1991
I'm pretty sure that we cannot preserve integer type and always return it as float/double given JSON serialization. That part seems expected to me. I'll have to dig into that again.

[2022-09-01 08:13] bencz commented on #1991
with a custom converter, it is possible to resolve, in parts, this problem...
for example, like this:

[code]

It could be a problem, if we share the same "ActorDetails" class with other projects and needs to make a serialization too

[2022-09-01 09:27] MaticDiba commented on #852
Hi @yaron2 is there any update regarding this issue? We are experiencing the same as @rtrindvg on k8s.

[2022-09-01 16:01] #2037 closed

[2022-09-01 17:50] MotaOcimar commented on #2012
Thank you very much @chenkennt!!!
It was exactly what I was looking for.

[2022-09-01 17:56] #2012 closed

[2022-09-01 18:18] MotaOcimar commented on #2012
@chenkennt one more question:
How can I get the user id on the server?
That same user id that goes in [the "user" field of "metadata"](https://docs.dapr.io/reference/components-reference/supported-bindings/signalr/#additional-information)

[2022-09-01 18:39] MotaOcimar commented on #2012
A general question now:
It would be useful to have some Dapr API to help with SignalR negotiation.
Is this something that might fit within the scope of Dapr?

[2022-09-01 18:40] #2001 closed

[2022-09-01 18:43] berndverst commented on #2012
No this does not make sense in Dapr. Dapr provides APIs that are not integration / implementation specific and can be used with a variety of components / integrations.

If you can think of an entirely new component abstraction (building block) with a set of APIs that would apply to multiple integrations, feel free to create a proposal for that in the Dapr/Dapr repo.

[2022-09-01 18:45] #2026 closed

[2022-09-01 20:06] berndverst commented on #968
We should close this. We do not want to allow CGO. Pluggable components will help here and allow Alibaba to provide a Confluent Kafka component.

Objections @artursouza @yaron2 ?

(We should also close https://github.com/dapr/docs/pull/1669 https://github.com/dapr/docs/issues/1582)

[2022-09-01 21:46] artursouza commented on #968
We should close this as "won't fix" and recommend using pluggable components after 1.9 release.

[2022-09-01 21:48] #968 closed

[2022-09-01 22:36] berndverst commented on #1991
@bencz the .NET SDK maintainer (@halspang ) and I for components-contrib got together to talk about this problem (Hal is also an expert on our actor runtime).

We recommend that you either use a String type to represent the Actor ID or use a Decimal type, unless you want to use a custom serializer.

[2022-09-01 23:28] amulyavarote commented on #1984
PostgreSQL Output Binding Certification

The purpose of this module is to provide tests that certify the PostgreSQL Output Binding as a stable component.

Certification Tests:

** PostgreSQL Output Binding Certification**

The purpose of this module is to provide tests that certify the PostgreSQL Output Binding as a stable component.

**Certification Tests**
- Verify the postgres is created/presen

[2022-09-02 02:06] chenkennt commented on #2012
User ID can be set in the `sub` claim when generating the token:

[code]

[2022-09-02 02:40] anoymouscoder commented on #2008
@yaron2 @bab5470 Could you confirm it, not sure I fully understand the intent of this issue.

[2022-09-02 06:10] #1913 closed

[2022-09-02 14:20] RcXu opened #2045 "Support for Distribute Transaction with Service Invoke"
## Describe the proposal
A distributed transaction manager building block is implemented based on the service invoke API. This building block provides 4 API :
beign: open a transaction;
commit: Submit a transaction;
rollback: rollback the transaction;
getState: query the execution status of the current transaction.
And distributed transaction building block can also implement a variety of distribu

[2022-09-02 14:58] ItalyPaleAle commented on #2045
Please see my comment here: https://github.com/dapr/components-contrib/pull/2046#pullrequestreview-1095004547

[2022-09-02 17:20] halspang commented on #1991
The different underlying stores encode data in their own ways. Mongo, if it thinks it cannot convert a number to be an `int32` it'll store it as a `double`. I'm not sure why it thinks those numbers cannot be stored as an int, but I believe that to be what's happening.

A test, that may be easier, is to try storing your `int`s as `long`s. According to the mongo docs, `long`s don't seem to get conve

[2022-09-02 17:47] berndverst commented on #1991
The problem is that Go unmarshals integers in JSON as float64, and then the Mongo Driver BSON library will naturally insert this as float / double.

Here is a simple test case that shows that Go treats numbers in JSON as floats:
https://go.dev/play/p/BsEfqT9CQgh

[2022-09-02 18:34] berndverst commented on #1991
So the issue is here:
https://github.com/dapr/dapr/blob/683a436ff1367e4ff2d27da2d79069c04ec2c46d/pkg/http/api.go#L1268

This only impacts HTTP calls. Currently all Actor APIs are HTTP only. Additionally, to be impacted you would need to use a state store that has native support for JSON documents - most of our state stores do not.

Impacted: MongoDB, RethinkDB, not sure about others.

@yaron2 @art

[2022-09-02 18:39] berndverst commented on #1991
@halspang using longs can't mitigate this given the problem is the JSON deserialization.

[2022-09-02 20:45] artursouza commented on #1991
We have gRPC API for actors too but only the Java SDK (I think) uses that.

[2022-09-02 20:56] artursouza commented on #1991
Moving this to dapr/dapr as this issue is impacting documentdb state stores broadly.

[2022-09-02 23:19] tmacam opened #2047 "Secret components should advertise Multiple Key-Values support"
## Describe the feature

In the [Secret API Documentation](https://docs.dapr.io/reference/api/secrets_api/#response-body) it is stated:

There are two classes of secret stores but there isn't a way to tell them apart at run-time. This limits the ability of conformance tests to verify the behavior of secret stores supporting multiple keys.

The proposal is to, similarly to what is done with State S

[2022-09-03 00:03] berndverst commented on #2047
I support this. Also I like the longer feature key you suggested "MULTIPLE_KEY_VALUES_PER_SECRET"

[2022-09-04 18:57] jpiquot opened #2052 "CosmosDb does not respect initTimeout"
## In what area(s)?
/area runtime

## What version of Dapr?
1.8.4
Using DotNet SDK

## Expected Behavior
The cosmos db api calls should use the timeout defined in the component file (initTimeout).

## Actual Behavior
When the initTimeout is not defined, we can see that the timeout is 5 seconds as expected. But when defining the initTimeout to any value (for example 1m), the timeout is 10 seconds.

[2022-09-05 01:23] daixiang0 commented on #1977
I agree. Although developers may be more familiar with Azure or something else, they still can get benefit from standard semantics.

[2022-09-05 11:47] akkie opened #2050 "Metadata serialization for duration based values do not work anymore"
## Expected Behavior

Previously it was possible to define a duration based value as string in the format: 45s

An example is the Zeebe worker binding:

[code]
https://docs.dapr.io/reference/components-reference/supported-bindings/zeebe-jobworker/

The implementation is based on: https://github.com/dapr/components-contrib/blob/master/metadata/duration.go#L25

There were no changes to this code. Th

[2022-09-05 16:02] XavierGeerinck opened #2051 "panic: interface conversion: interface {} is string, not map[string]interface {}"
When wanting to call a CosmosDB binding I receive the following panic, which I guess happens when 1) partitionKey is not found 2) the data provided is a string

[code]

This happens when a component is defined like this:

[code]

Attaching the respective line that breaks:

https://github.com/dapr/components-contrib/blob/bcea284c7b0c1a5a07294021a2bb6cc74909da35/bindings/azure/cosmosdb/cosmosdb.go#L

[2022-09-06 04:08] artursouza commented on #2050
Triaging this to 1.9 as it might be a regression - chances are this will surface an issue in runtime.

[2022-09-06 07:39] #1914 closed

[2022-09-06 12:52] XavierGeerinck opened #2053 "[Binding] Azure Digital Twin support"
## Describe the feature

I would love support for Azure Digital Twin. It's one of the most difficult components to work with from Azure, but enables interesting use cases in the IoT world.

Could be as easy as creating a component description as follows:

[code]

So that we can invoke a binding that adds data to a specified model

## Release Note

RELEASE NOTE:
**ADD** Azure Digital Twin support

[2022-09-06 16:30] DeepanshuA commented on #1917
/open

[2022-09-06 16:47] tmacam commented on #2047
Should this block #1926 or should conformance and certification be done with the current model?

[2022-09-06 21:14] artursouza commented on #2051
Which version of Dapr?

[2022-09-06 21:14] artursouza commented on #2047
I support his.

[2022-09-06 21:19] XavierGeerinck commented on #2051
1.8

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: Artur Souza ***@***.***>
Sent: Tuesday, September 6, 2022 11:14:27 PM
To: dapr/components-contrib ***@***.***>
Cc: Xavier Geerinck ***@***.***>; Author ***@***.***>
Subject: Re: [dapr/components-contrib] panic: interface conversion: interface {} is string, not map[string]interface {} (Issue #2051)

Which version

[2022-09-06 22:58] berndverst commented on #2047
@artursouza personally this is P2 -- the reason being that Keyvault and File are the only secret stores that support multiple keys and we have fairly good tests for keyvault.

[2022-09-06 23:00] berndverst commented on #2047
@tmacam this does not block https://github.com/dapr/components-contrib/issues/1926. The certification test can proceed.

[2022-09-07 08:29] #1358 closed

[2022-09-07 11:25] fbridger commented on #1358
@daixiang0 was this feature implemented? Could you point me to the PR?

[2022-09-07 11:45] sarsharma opened #2056 "Cron binding as Stable"
* The [Cron Binding](https://docs.dapr.io/reference/components-reference/supported-bindings/cron/) requires certification tests to be created.
* Add conformance tests if not present.

[2022-09-07 11:52] sarsharma commented on #2056
/assign

[2022-09-08 01:03] daixiang0 commented on #1358
If you mean AWS ECS service discovery, please track #1197.

For now, DNS still does not have a common interface.

[2022-09-08 02:39] #1938 closed

[2022-09-08 10:49] anoymouscoder commented on #2008
@yaron2 Hi, do you have time to confirm this? https://github.com/dapr/components-contrib/issues/2008#issuecomment-1232489072

[2022-09-08 22:18] #1138 closed

[2022-09-09 06:20] pravinpushkar opened #2060 "Implement Subscribe and Unsubscribe for Azure App Configuration component"
## Describe the feature
Enhance in `Azure App Configuration` component for Configuration store building block to support `Subscribe` and `Unsusbcribe` feature. Currently only `get` is supported.

Related to #1541

RELEASE NOTE: **ADD** Support for Subscribe and Unsubscribe to Configurations in **Azure App Configuration**

[2022-09-09 09:10] nelson-b opened #2079 "Unable to access azure key vault with managed identity using Dapr"
**Prerequisite completed:**

1. Installed dapr engine in local machine(docker desktop)
2. Able to install dapr binaries.
3. Able to run the dapr engine.
4. Added spec type: secretstores.azure.keyvault yaml configuration to connect the azure key vault.
5. Able to run and view dapr dashboard.

**YAML file:**

apiVersion: dapr.io/v1alpha1
kind: Component
metadata:
  name: azurekeyvault
spec:
  type:

[2022-09-09 11:32] maXA1m opened #2061 "Azure configstore component does not pull all keys using connection string"
## Expected Behavior

Should work without errors and pull all the keys.

## Actual Behavior

Fails with internal exception:
Status(StatusCode="Internal", Detail="fail to get [] from Configuration store service-configstore: failed to load all keys, error is no Host in request URL")

## Steps to Reproduce the Problem

1. Setup configstore yaml file and set valid connection string to appConfigConnect

[2022-09-09 11:47] maXA1m opened #2062 "Azure configstore component cannot get a key using connection string"
## Expected Behavior

Should work without errors, authorize, and get requested key.

## Actual Behavior

Fails with internal exception:

Status(StatusCode="Internal", Detail="fail to get [KEYNAME] from Configuration store service-configstore: GET <https://cfgstore.azconfig.io/kv/KEYNAME>

RESPONSE 401: 401 Unauthorized
ERROR CODE UNAVAILABLE

Response contained no body

## Steps to Reproduce the P

[2022-09-09 14:11] maXA1m commented on #2062
Component metadata file:
`apiVersion: dapr.io/v1alpha1
kind: Component
metadata:
  name: service-configstore
  namespace: service
spec:
  type: configuration.azure.appconfig
  version: v1
  metadata:
  # WARN: can't set both appConfigHost and appConfigConnectionString fields in metadata
  #- name: appConfigHost
  #  value: https://cfgstore.azconfig.io
  - name: appConfigConnectionString
    value:

[2022-09-10 02:50] #1933 closed

[2022-09-10 06:59] cmendible commented on #2061
Can you try:

[code]
where `components` contains your `azappconfig` component configuration.

[2022-09-10 07:02] cmendible commented on #2062
This one is caused by this filter:

https://github.com/dapr/components-contrib/blob/2b5650c2faa41f0a8d82862583497103776be49f/configuration/azure/appconfig/appconfig.go#L176

Current implementation only returns values for keys with label == `*`

[2022-09-10 07:26] maXA1m commented on #2061
I have Dapr cli 1.8.4 and cannot try azure configstore.
I use docker-compose with edge version and network_mode pointing to my service, what could I try in this case?

[2022-09-10 07:28] maXA1m commented on #2062
Do you plan to extend it with ability to pass label as `IReadOnlyDictionary<string, string>? metadata`?

[2022-09-10 08:05] maXA1m commented on #2061
`time="2022-09-10T08:02:30.0259446Z" level=info msg="gRPC API Called: /dapr.proto.runtime.v1.Dapr/GetConfigurationAlpha1" app_id=service-api instance=5f577496262e scope=dapr.runtime.grpc.api-info type=log ver=edge
time="2022-09-10T08:02:31.273503Z" level=debug msg="rpc error: code = Internal desc = fail to get [] from Configuration store service-configstore: failed to load all keys, error is no Ho

[2022-09-12 11:58] pravinpushkar commented on #2060
the SDK for Azure app config https://github.com/Azure/azure-sdk-for-go does not support any out of the box method for subscribing the changes to App Configuration objects.

According to the documentation here  https://docs.microsoft.com/en-us/azure/azure-app-configuration/howto-best-practices, I can see there can be two approaches -
1. Pull based  -  Create a sentinel key and poll for the changes

[2022-09-12 12:33] mukundansundar commented on #2060
I belive we should implement the pull based approach with a sentinel key.

@berndverst @ItalyPaleAle thoughts?

[2022-09-12 12:46] ItalyPaleAle commented on #2060
Not sure I like the idea of the "sentinel key" because that would require operators to be aware of that. Is there another approach that doesn't depend on external Azure services and yet works in a way that people would expect?

[2022-09-12 14:49] pravinpushkar commented on #2060
I did not find any other approach apart from these.
The sentinel key is just the optimisation that the doc is suggesting to limit the no of calls. The other thing I was thinking, can we mandate the sentinel key to passed as metadata if subscribe feature is to be used with azure app config store.

I have created an issue to check with the go-sdk team here for getting view as well -
https://github.c

[2022-09-12 17:59] ItalyPaleAle commented on #2060
Yes, I think that would be good.

However, I still have problems with the fact that when using a sentinel keys, administrators need to remember to always update the sentinel key when they change any other value. Considering the target audience of services like App Configuration,  which includes business users, that may be adding extra friction that doesn't sound great. If people were to forget to

[2022-09-12 22:40] yash-nisar opened #2068 "Add support for operations like "DELETE" and "GET" for Redis output binding"
## Describe the feature

Currently, Redis only supports the [`CREATE` operation](https://github.com/dapr/components-contrib/blob/master/bindings/redis/redis.go#L75). We can perhaps add the following additional operations for Output Bindings as well:

`DELETE` operation: https://redis.io/commands/del/
`GET` operation: https://redis.io/commands/get/

Following this, the certification tests and docs

[2022-09-12 23:51] mcandeia commented on #2047
I don't know if is my lack of knowledge, but it seems to me that the problem is that our secret store is not uniform, therefore, not predictable.

The problem here is to "flatten" the keys when the secret store supports json, if assuming consistent behavior doesn't solve the problem?

For example:

Always return JSON when supporting JSON and return plain-text when not supporting JSON? + specifying

[2022-09-13 00:04] tmacam commented on #2047
I agree with @mcandeia: secrets interface is odd. If we checked out how most of the secret stores interfaces are defined we would reach a `getSecret(secretName) -> secretValueAsRawBytes` API.

Our interface, however is such that even for a secret store that only supports a single value per secret, we are still wrapping the response in a map such as `getSecret(secretName) -> { secretName: secretVal

[2022-09-13 00:21] artursouza opened #2071 "Is Redis actually transactional?"
Our docs report Redis state store as "Transactional" because it allows to send multiple Update/Delete operations at once and to be executed "together". But does it actually have ACID guarantees?

https://docs.dapr.io/reference/components-reference/supported-state-stores/

https://github.com/go-redis/redis/issues/1602

[2022-09-13 01:51] artursouza opened #2072 "Native support for message TTL in RabbitMQ PubSub"
## Describe the feature
RabbitMQ PubSub does not support Message TTL natively, although the broker does support it. Handle messageTTL metadata like it is done in ASB: https://github.com/dapr/components-contrib/search?l=Go&q=FeatureMessageTTL

## Release Note

RELEASE NOTE: **ADDED** native support for message TTL in RabbitMQ PubSub

[2022-09-13 02:19] Taction commented on #2072
I'll add support for this.

[2022-09-13 02:19] Taction commented on #2072
/assign

[2022-09-13 05:57] #2050 closed

[2022-09-13 09:45] pravinpushkar commented on #2061
@cmendible I am facing one weird issue while retrieving the values -
 My configuration store contains these values -
![Screenshot 2022-09-13 at 3 07 12 PM](https://user-images.githubusercontent.com/33649292/189868812-cb386eed-7933-45cc-88bc-1a167e03d200.png)

But When I try to retrieve, it gives me older values (which have been deleted or updated few hrs back) -
[code]

[2022-09-13 09:54] pravinpushkar commented on #2061
On further investigation, it seems some issue with `getAll` -
[code]

[2022-09-13 10:14] cmendible commented on #2061
Haven't seen that. Probably cause I've not updated values in my tests.

Current filter should retrieve everything according to the SDK documentation:

https://github.com/dapr/components-contrib/blob/9681a71a2a087ac0568affd42efedb39ee3d864b/configuration/azure/appconfig/appconfig.go#L204

[2022-09-13 15:00] yaron2 opened #2074 "Enable pre-signed URLs for AWS S3"
Enable users to generate a pre-signed URL when saving a blob to S3: https://docs.aws.amazon.com/AmazonS3/latest/userguide/ShareObjectPreSignedURL.html.

[2022-09-13 17:36] yaron2 commented on #2014
+1

[2022-09-13 19:48] doccompany opened #2075 "Query State is not working with cockroachDB and .net Dapr Client"
## Expected Behavior

Query should retrieve the stored record.

## Actual Behavior

Query doe not return any records.

## Steps to Reproduce the Problem

Store the state as below
[code]

Retrieving state works fine:
`var x = (await _daprClient.GetStateAsync<a>(StoreName, "Api--2"));`

However, query state always return no record:
[code]

The data stored in database is binary:
[code]

[2022-09-13 21:59] doccompany commented on #2075
I managed to store the json into cockroachDB but the query with EQ: {"b", "c" } or EQ: {"value.b", "c"} still returns nothing.
[code]

[2022-09-13 22:55] #2047 closed

[2022-09-14 00:12] #1780 closed

[2022-09-14 07:21] 1046102779 commented on #2014
On the basis of the metadata defined above, we can add a metadata key validation. In this way, in the non-init phase, we can restrict and constrain the incoming dynamic metadata through enumeration values such as `required`, `optional` and denied`.

[code]

[2022-09-14 09:55] ItalyPaleAle commented on #2014
@1046102779 We originally proposed `required` as a boolean because we assumed that a metadata property would either be required or optional. What is the use case for `denied`?

Also as for validation, want to clarify that at this stage we do not plan to have support for "complex" validation rules (we will only have support for marking a property as required and for specifying its type, such as str

[2022-09-14 11:26] 1046102779 commented on #2014
In the financial payment business scenario, we use the `pubsub` component. We hope to use the delayed msg `deliverAfter` param of pulsar to control duration that the delayed message stays in the queue. This time is fixed and cannot be changed. So we don't want MicroLogic to dynamically pass this param through metadata. So with denying this action.

In other scenarios, we may restrict MicroLogic mo

[2022-09-14 12:22] 1046102779 commented on #2027
Case 1, how should we deal with it? There is an intersection of the key lists of the two subscription requests.

[code]

[2022-09-14 12:27] ItalyPaleAle commented on #2027
In this case, application will end up being subscribed to `key1`, `key2`, `key3`, `key4`. Because the handler that receives messages is the same, re-subscribing to the same key is idempotent.

[2022-09-14 12:35] 1046102779 commented on #2027
After the second subscription request and return `subscribeID2`, and then cancel the subscription `subscribeID2`.  Will it cancel the subscription of key2 and key3?

[2022-09-14 12:50] 1046102779 commented on #2014
@berndverst

[code]

Here are a few questions to ask:
1. Is `jsonschema` officially defined, or is it defined by the MicroLogic developers themselves?
2. Where are all defined `jsonschema` files loaded? And the configurations such as `required` and `sensitive` exist in the object of the Component (`components-contrib repo`) or the object of Dapr Runtime (`dapr repo`)? Or somewhere else?
3. Does th

[2022-09-14 13:16] ItalyPaleAle commented on #2014
I opened the PR here: https://github.com/dapr/components-contrib/pull/2077

The schema is officially defined: https://github.com/dapr/components-contrib/blob/190a304365c1c9f645a84a414b0b7d568977595d/component-metadata-schema.json (auto-generated from https://github.com/dapr/components-contrib/blob/190a304365c1c9f645a84a414b0b7d568977595d/.build-tools/pkg/metadataschema/schema.go ).

The component

[2022-09-14 13:16] ItalyPaleAle commented on #2027
I am not following sorry

[2022-09-14 13:25] 1046102779 commented on #2014
Thanks. @ItalyPaleAle .

My PR should require the `components-contrib` repo to provide a method for obtaining `metadata`, including `metadata.Base` data in the object.

[2022-09-14 13:28] 1046102779 commented on #2027
Thanks.

OK, I'll ask the proposer of the configuration API. @LaurenceLiZhixin @beiwei30 .

[2022-09-14 20:56] #1915 closed

[2022-09-14 21:45] #1772 closed

[2022-09-15 03:04] #1984 closed

[2022-09-15 10:38] pravinpushkar commented on #2061
@maXA1m Show you email late, here is my config yaml -

[code]

basically you can copy the endpoint directly from azure portal and put here in value section of `appConfigConnectionString`

[2022-09-15 12:17] maXA1m commented on #2061
@pravinpushkar Thanks, looks similar to my config, but I cannot get configuration store component working, I think there is some problem with authentication.

[2022-09-15 23:30] #1939 closed

[2022-09-16 05:52] #1952 closed

[2022-09-16 07:44] daixiang0 commented on #1977
@1046102779 the goal is to update related docs?

[2022-09-16 07:52] 1046102779 commented on #1977
No, I need to do more things.

I plan to continue to use the table to sort out the metadata parameters used by all the current component instances, and then show everyone that the current parameters are not standard, and then standardize them in components-contrib or API design to unify the greatest common divisor parameter list.

How do you think about this issue?

[2022-09-16 08:11] daixiang0 commented on #1977
If you want to introduce a new API or standard them, properly discuss it in the discord channel to get more direct and quick input.

[2022-09-16 09:32] CaRaH-Lee opened #2087 "The field name is not included while using postgre db for querying"
## Describe the feature

In my project,i used the mysql as my main data storage media,it worked perfectly
today,i changed the mysql to the postgre,it reported an error:
_== APP == Dapr.DaprException: Binding operation failed: the response payload could not be deserialized. See InnerException for details.
== APP ==  ---> System.Text.Json.JsonException: The JSON value could not be converted to IDemo

[2022-09-16 09:47] #1953 closed

[2022-09-16 09:48] shivanisinghnitp commented on #2052
/assign

[2022-09-16 10:05] pravinpushkar commented on #2061
@maXA1m I do not see any authentication error. Can you try these steps below -

[code]
[code]

[2022-09-16 10:14] pravinpushkar commented on #2061
The problem is with `delete`and `update` . The deleted keys keep showing in the getAll call. Where as if I add a new key that also comes, which is correct.

See below logs -
For update -

➜  examples git:(feature/config_unsubscribe_api) ✗ curl -X GET http://localhost:3500/v1.0-alpha1/configuration/pravin-app-config-2\?key\=config1

**{"config1":{"value":"val111"}}**%
➜  examples git:(feature/confi

[2022-09-16 11:07] pravinpushkar commented on #2060
Yes, This is surely problematic. Other issue is polling approach. As the configuration keys are something that are not updated frequently, so there is always going to be issue setting the poll interval interval. Higher value means config setting wont be available quickly and lower value mean unnecessary network calls.

But in order to support subscribe/unsubscribe for this component and also to pr

[2022-09-16 13:05] shubham1172 opened #2090 "Support bulk publish in Azure Events Hub"
## Describe the feature
Support Bulk Publish API in Azure Events Hub.

New metadata to be added -
- MaxBulkSizeInBytes: Maximum size of a bulk request in bytes from Dapr to Azure Event Hub.

Docs issue - https://github.com/dapr/docs/issues/2804

## Release Note

RELEASE NOTE: **ADD** Bulk publish support in Azure Event Hub

[2022-09-16 15:45] shubham1172 commented on #2090
/assign

[2022-09-16 15:56] ItalyPaleAle commented on #2060
I agree.

Perhaps I changed my mind then, and wonder if a solution based on Event Hubs would be better.

[2022-09-18 22:31] #1895 closed

[2022-09-19 03:59] #1633 closed

[2022-09-19 08:31] pravinpushkar commented on #2061
Probable reason for getting older keys also with getAll is this - https://github.com/Azure/azure-sdk-for-go/issues/19135
We might need new sdk version to fix this.

[2022-09-19 12:09] 1046102779 commented on #1977
# state
## aerospike
|No.|params| required|alias|default value|
|---|---|---|---|---|
|1| hosts|true|-|-|
|2| namespace| false| -|-|
|3| set |false|-|-|

## alicloud.tablestore

|No.|params| required|alias|default value|
|---|---|---|---|---|
|1|endpoint|false|-|-|
|2|accessKeyID|false|-|-|
|3|accessKey|false|-|-|
|4|instanceName|false|-|-|
|5|tableName| false|-|-|

## aws.dynamodb

|No.|params| r

[2022-09-19 15:46] XavierGeerinck opened #2095 "[Azure Event Hub] Cloud Events not available from PubSubs such as Azure Event Hubs"
## Expected Behavior

Cloud Event Properties are not being passed from the PubSub. I expect that when I have an item on Azure Event Hub in Cloud Events spec (e.g. by creating an Azure Digital Twin to Event Hub endpoint that publishes in that format - https://learn.microsoft.com/en-us/azure/digital-twins/concepts-event-notifications#digital-twin-change-notifications) that I can receive the Cloud Ev

[2022-09-19 16:12] mukundansundar commented on #2095
Related to https://github.com/dapr/dapr/issues/3642

[2022-09-19 16:49] XavierGeerinck commented on #2095
Thanks! Closing in favor of that one

[2022-09-19 16:49] #2095 closed

[2022-09-19 19:32] #2016 closed

[2022-09-20 04:23] pravinpushkar commented on #1999
Related issue is here in runtime - https://github.com/dapr/dapr/issues/5183
IMO the problem is in current impln for subscribe all in runtime. The solution may span both runtime and specific components.

[2022-09-20 12:17] pravinpushkar opened #2096 "Azure config store - GetAll return outdated values"
GetAll returns older and outdated values.
Expectation  -  when keys are modified or deleted on azure config store, it should return the updated values.

Related discussions are found here also - https://github.com/dapr/components-contrib/issues/2061

See below logs -
For update -

➜  examples git:(feature/config_unsubscribe_api) ✗ curl -X GET http://localhost:3500/v1.0-alpha1/configuration/pravin-

[2022-09-20 12:19] pravinpushkar commented on #2096
/assign

[2022-09-20 12:23] pravinpushkar commented on #2061
@cmendible  I have created a new issue and pull request to fix the getAll results. See above.

@maXA1m I could not reproduce the connection string issue that is mentioned originally in this issue. Feel free to close this one if it is not needed anymore.

[2022-09-20 14:49] shubham1172 opened #2098 "Support bulk subscribe in Azure Service Bus"
## Describe the feature
Support Bulk Subscribe API in Azure Service Bus.

New metadata to be added -

- MaxBulkSubCount: Maximum number of messages to fetch at once from the broker. If lesser messages are available, it will still fetch them without waiting to complete `MaxBulkSubCount`.

## Release Note

RELEASE NOTE: **ADD** Bulk subscribe support in Azure Service Bus

[2022-09-20 18:17] berndverst opened #2101 "EventHubs components to use Azure SDK for Go ("Track 2 SDK")"
The EventHubs components should be refactored to use the Azure SDK for Go (Track 2 SDK)

https://github.com/Azure/azure-sdk-for-go/tree/sdk/messaging/azeventhubs/v0.2.0

(Check for a newer version when working on this issue)

As part of this issue support for AAD auth should be added - see #1103.

[2022-09-20 18:21] berndverst commented on #1103
Needs to be implemented in EventHubs. Probably together with this issue: https://github.com/dapr/components-contrib/issues/2101

[2022-09-20 18:38] shubham1172 commented on #2098
Note, the timeout between messages in bulk is not configurable in the SDK yet, and the default is 20ms. This means that the SDK waits for 20ms after getting the first message before publishing the bulk of messages back.

Once it is configurable in the SDK, it can be made configurable here as well. Issue: [Azure/azure-sdk-for-go#19172](https://www.github.com/Azure/azure-sdk-for-go/issues/19172)

[2022-09-20 18:40] shubham1172 commented on #2090
Closing as completed with #2089

[2022-09-20 18:40] #2090 closed

[2022-09-21 10:30] mandarj123 opened #2183 "Dapr Adds -producer automatically ahead of consumerId"

[2022-09-21 13:06] shubham1172 commented on #2098
/assign

[2022-09-21 13:07] shubham1172 opened #2105 "Support bulk publish in Azure Service Bus"
## Describe the feature
Support Bulk Publish API in Azure Service Bus.

## Release Note

RELEASE NOTE: **ADD** Bulk publish support in Azure Service Bus

[2022-09-21 17:26] pravinpushkar commented on #2060
Only issue is dependency on another service.

We can write handlers using event hubs or service bus for the eventgrid events/notifications . I did a small POC using service bus and I was able to get the add/modify/ events correctly.

[2022-09-21 19:09] maxdebayser opened #2108 "Redis query indices with TAG fields cause dapr to crash"
## Expected Behavior

I want to add an a search index for a Redis statestore with a TAG field because I need an exact match. In my application I'm using UUIDs and they happen to be separated by hyphens. However the default TEXT tokenization in redis removes those hyphens: https://redis.io/docs/stack/search/reference/escaping/ . Therefore, when I search for the UUID nothing comes back.

But that's

[2022-09-22 07:04] #2096 closed

[2022-09-22 09:48] mandarj123 opened #2114 "mqtt component appends "-producer" making it incompatible with remote publisher"
I am exploring usage of Dapr with remote MQTT publisher (which we have no control on). We are shared certificates and clientId which we must use to subscribe.

However If i mention consumerID in dapr component specs as "abcd291" , then dapr internally appends "-producer" to it and request is sent to mqtt server for authentication, which fails.

I think this behaviour must be removed for making Dap

[2022-09-22 09:51] #1968 closed

[2022-09-22 21:36] tmacam opened #2117 "Java API for Pluggable components can't run on MacOS"
## Describe the feature

While trying to run the pluggable components Java SDK on MacOS users receive the following error:

[code]

This might be a problem with Netty support for UDS but regardless it needs to be addressed. FWIW, this might be the wrong repo for this issue.

[2022-09-22 21:36] tmacam commented on #2117
/assign

[2022-09-22 22:27] artursouza commented on #2117
Which Java version?

[2022-09-23 01:43] tmacam commented on #1929
Updated test plan, adding "Test network instability section"

---

# Memcached State Store certification testing

This project aims to test the [Memcached State Store] component under various conditions.

This state store [supports the following features][features]:
* CRUD
* TTL

# Test plan

## Basic Test for CRUD operations:
1. Able to create and test connection.
2. Able to do set, fetch, update

[2022-09-23 02:04] DanielYWoo commented on #2071
I am fine with no supporting ACID transaction. Most likely we don't really use Redis for that kind of job, but it would be great if we can clarify that in the doc.

[2022-09-23 02:07] DanielYWoo commented on #2071
From Redis document https://redis.io/docs/manual/transactions

[2022-09-23 17:08] artursouza opened #2122 "Certification test for PubSub message TTL"
## Describe the feature

The TTL per message is handled differently per component (negative and zero have different meanings). We should add a conformance test for this feature and change components to comply.

## Release Note

RELEASE NOTE:

[2022-09-23 17:45] sarsharma commented on #1927
@MotaOcimar
This might help : https://github.com/dapr/components-contrib/issues/1249#issuecomment-959799552

[2022-09-23 20:35] artursouza opened #2128 "Conformance tests to include scenarios for pagination in Query API"
## Describe the proposal

Current conformance tests could not catch a regression in cosmosdb state store but E2E tests did. The pagination scenarios covered in E2E tests are not covered in conformance tests.

Fix for regression: https://github.com/dapr/components-contrib/pull/2127
E2E test failing due to this regression: https://github.com/dapr/dapr/actions/runs/3114077163/jobs/5049874057

<img wi

[2022-09-23 21:27] pravinpushkar commented on #2060
Proposed approach for making it to alpha component -

1. Since azure app config already has integration with event grid, eventhub, service bus etc user can use our input binding with event grid, or pubsub with eventhub/service bus directly. In this case user's app will get the event for any update/create of keys and no need to use subscribe api from configuration building block.

In case user does

[2022-09-24 05:40] berndverst commented on #2117
This should not be filed under contrib repo

[2022-09-24 05:46] berndverst commented on #2079
Managed identity is only available if running Dapr in services with managed identity support. This is something that you must enable explicitly. You also need to give your managed identity the appropriate Azure Key Vault Secrets Reader role for the correct scope.

[2022-09-24 05:48] berndverst commented on #2053
Feel free to create a new binding

[2022-09-24 05:51] berndverst commented on #1969
Closing this due to lack of further info. Likely fixed by 1.8 release. Reopen as necessary.

[2022-09-24 05:51] #1969 closed

[2022-09-24 05:55] berndverst commented on #2008
Maybe #2129 related to this

[2022-09-24 19:22] #1976 closed

[2022-09-24 19:31] epomatti opened #2130 "Azure Service Bus - Is it possible to use a "Queue" resource? ("error: failed to subscribe to topic")"
I know that the "Pub/Sub" connector implies the use of topics, but does the connector architecture allow the use of a service bus Queue, or only Topics are supported? I checked the documentation but couldn't find this explicitly declared.

In any case, I leave it here for anyone that might get into this same issue when accidentally using a queue instead of a topic.

[code]

`pubsub.yaml`

[code]

[2022-09-26 04:33] rabollin commented on #1858
Tagged for 1.10

[2022-09-26 05:11] yaron2 commented on #1858
We do not tie certification efforts to a particular milestone. Also, certifying this component for GA does not require certificate renewals. These are two separate things.

[2022-09-26 11:40] BartNetJS opened #2131 "Binding SOAP"
I don't see a binding for SOAP.
What is the best approach?

Contributing a SOAP binding?
But my team doesn't have a Go developer and the SOAP experience is from a few years ago.
So writing a SOAP binding seems tricky.

Or writing a proxy to translate SOAP into REST and vice versa?
[Core WCF](https://github.com/CoreWCF/CoreWCF) seems the way to go.

Any suggestion, blogs, tips are welcome

[2022-09-26 13:45] yash-nisar opened #2132 "Refactor the `FromCloudEvent(...)` method to prevent adding new params"
## Describe the feature

Refactor the method `FromCloudEvent(...)` so we don't need to add more to this function and can return a struct where there are methods to set additional attributes, like `SetTime()`.

Ref: https://github.com/dapr/components-contrib/pull/2123#discussion_r978934113

## Release Note

RELEASE NOTE: N/A

[2022-09-27 17:44] #2014 closed

[2022-09-28 05:08] kalprajkakani commented on #852
Facing this issues in DAPR version 1.8.4.

[2022-09-28 17:52] #2060 closed

[2022-09-29 15:12] rabollin commented on #1858
/assignee

[2022-09-29 15:45] kayvonkhosrowpour commented on #2029
@yaron2  @berndverst @artursouza -- Any chance we can support this? Issue will be closed soon

[2022-09-29 16:09] a2bondar commented on #2029
This would be excellent for us as well. What is needed to get this added to release schedule?

[2022-09-29 16:33] yaron2 commented on #289
@ItalyPaleAle do you have insights about session support with the new SDKs?

[2022-09-29 17:44] tmacam opened #2142 "Upgrade devcontainer to Go's version to 1.19"
## Expected Behavior

Opening a CodeSpace of a container in VS Code as defined by [component-contrib devcontainer](https://github.com/dapr/components-contrib/blob/da366088e4eb244894807ad2dc1bde9fc92c35a6/.devcontainer/devcontainer.json) should provide an environment using Go (and all its dependencies) version 1.19, as this is the version targeted for the upcoming Dapr 1.9 release.

## Actual Behav

[2022-09-29 17:51] tmacam commented on #2142
I agree that there is work on dapr/dapr to be done but creating a new image in dapr/dapr won't fix this issue here.

[2022-09-29 17:54] berndverst commented on #2142
All I'm saying is that we have done this several times before and it's just part of the release process to also bump the devcontainer images. The work to bump the Go version only needs to be done in dapr/dapr, and contrib gets it for free.

We can decide in the future whether we should bump the devcontainer mid release whenever we bump the Go version - that's perhaps the real question here!

For t

[2022-09-29 18:14] #2142 closed

[2022-09-29 21:41] #2183 closed

[2022-09-29 22:47] #2114 closed

[2022-09-29 22:54] #1770 closed

[2022-09-29 22:57] #1139 closed

[2022-09-29 22:57] #955 closed

[2022-09-29 23:01] #1899 closed

[2022-09-29 23:03] #1752 closed

[2022-09-29 23:06] artursouza commented on #1672
We should have an outcome for this first. Also removing this from a milestone.

[2022-09-29 23:07] artursouza commented on #1672
With pluggable components in 1.9, I wonder if someone from the community would like to implement one as an example.

[2022-09-29 23:08] berndverst commented on #1672
From an OSS maintainer perspective the outcome is that anyone get build a pluggable component based on this. We should not track pluggable component issues and request in the contrib repo.

Where should those go? Can this be transferred?

[2022-09-30 05:14] heavenwing opened #2144 "SqlServer state store don't use correct host"
## Expected Behavior

config sqlserver as state store component, state management building block can connect to server and create state table.

## Actual Behavior

Got error:

[code]

## Steps to Reproduce the Problem

Create a state component yaml file:

[code]

Put this file into componements folder

Run any dapr app locally by `dapr run`, will get above error.

If I change connectionString into

[2022-09-30 16:19] Taction commented on #2029
Better add this config in the metadata of `Subscription` config, such as:
[code]
and handle this metadata in the rabbitmq pubsub component. Also, add a metadata specifying priority per message level.
@kayvonkhosrowpour  are you interested in submitting ap pr for this?

[2022-09-30 21:05] NickLarsenNZ opened #2145 "[PubSub Jetstream]: New topics added to stream are not being subscribed to"
## Expected Behavior

Given a subscription on a topic which is not yet added to a stream, once a subject is added to a stream, the Jetstream component should start subscribing to messages.

## Actual Behavior

The component throws an error and never seems to try again, meaning the processes have to be restarted.

## Steps to Reproduce the Problem

1. Set the application to subscribe to the pubsub

[2022-10-02 01:08] #2004 closed

[2022-10-03 06:05] #2023 closed

[2022-10-04 11:07] #1764 closed

[2022-10-04 11:07] #1844 closed

[2022-10-04 21:57] berndverst commented on #1926
This is incomplete.

The Hashicorp Vault Certification tests created by @tmacam and merged by @artursouza are incomplete and don't cover most metadata options at this time. Hence this task was not complete yet.

[2022-10-04 21:58] berndverst commented on #1926
Given this is incomplete, I think we should mark the component as Beta for now @artursouza @tmacam. It will be stable once we complete the remaining certification test scenarios.

[2022-10-05 14:01] wesselkranenborg commented on #1893
This is indeed what we are also facing. Our downstream service publishes messages with ApplicationProperties but we have no way to get these using the service bus queue dapr binding (that I am aware of). So I think this issue is stil relevant and not stale.

[2022-10-05 16:38] berndverst commented on #1894
No it's not part of 1.9.0. Our bot closed it for being stale. This hasn't been worked on yet.

It's probably the same as the dapr/dapr issue you mentioned in Discord.

I'll reopen and add it to the 1.10 milestone for now.

Any details you can provide would be great.

Most likely the data you seek would need to be sent via the Binding Request Metadata Dictionary.

[2022-10-05 23:59] yaron2 opened #2155 "Move to AWS SDK v2"
We're currently using the v1.x of the AWS Go SDK. v2 SDKs recently became stable and is recommended to migrate over.

[2022-10-06 08:00] DeepanshuA opened #2156 "Redis Config Store: Can Not fetch configurations from HashSets"
## Describe the feature

If I have multiple microservices, for which I want to store configurations in redis as config store, then I may want to use different hashsets for different microservices / different use cases.
That means that I should be able to fetch key-values from a particular hashset / all hashsets.
But, currently it doesn't seem to be possible in case of redis as configuration store,

[2022-10-06 11:33] pravinpushkar commented on #1999
/assign

[2022-10-06 13:16] mukundansundar commented on #2000
@saber-wang could you explain a bit more when you mean specified redis db must be supported ?

[2022-10-06 17:58] #1999 closed

[2022-10-07 02:24] mukundansundar commented on #2051
👋

[2022-10-07 04:55] pravinpushkar commented on #2156
@DeepanshuA It seems related to this - https://github.com/dapr/components-contrib/issues/2000 ?

[2022-10-07 07:32] Jarema commented on #2145
This error comes from NATS Client that fails to create a consumer for the given stream matching stream by subject.

NATS supports your case, but instead one has to crate a consumer by binding to the stream name, not it's subject.
I will take a look if that can be easily fixed.

[2022-10-07 08:22] Jarema opened #2161 "Add ability to bind to NATS JetStream by stream name."
## Describe the feature
Currently, users of DAPR binding can subscribe to a stream only by looking up stream by matching subject.
I would like to add a config option to lookup stream by its name and then using it when calling `Subscribe`.
This is often simpler and more explicit and will additionaly allow fixing #2145 when user do not pass additional filter subject to the Consumer.

Let me know if

[2022-10-07 08:24] Jarema commented on #2145
One note: it will not work if you want to filter stream subject while subscribing (creating a consumer).
This will work only if you want to get all messages for a given stream.

[2022-10-07 09:41] NickLarsenNZ commented on #2145
@Jarema , yes. Shouldn't Dapr periodically try again?

I don't think a person should have to restart dapr (and in some cases they might not know to, for example, if a separate team is managing the NATS configuration - even if through gitops)

[2022-10-07 11:08] NickLarsenNZ opened #2162 "[PubSub Jetstream] Changing deliver policy on a durable consumer throws an error"
I'm migrating applications to new Dapr Components (Moving from from Ephemeral to Durable Consumers). As part of that, my initial deployment sets the `startTime` on the new durable consumers so we don't process all messages from the beginning.

## Expected Behavior

When removing the `startTime` configuration from the `Component` configuration, the Consumer's deliver policy should be updated accord

[2022-10-07 11:23] Jarema commented on #2145
@NickLarsenNZ

Having a stream `data`
with filter subjects (topics) `objects`

and a subscription (consumer) to a stream having `events` subject(topic) is an error and missconfig. Keep in mind that NATS Consumer is actually a server side state to which user/library hooks up.

adding a subscription (consumer) to a stream `events` without specyfing not yet added subject filter should work. It will s

[2022-10-07 13:03] mukundansundar commented on #2056
👋

[2022-10-07 14:01] #2036 closed

[2022-10-08 07:00] NickLarsenNZ commented on #2145
Ah OK, I think I understand. So what Dapr would still call a Topic to subscribe to will really be a stream in NATS.

I'll take a look at that issue, as I'd like to understand if the stream has to map to a single subject, or if Dapr can handle it covering many subjects.

Thanks for your reply @Jarema

[2022-10-09 03:48] wxbty commented on #2068
#2094 did this, maybe it should be separated from the rocketmq issue

[2022-10-09 15:05] #2045 closed

[2022-10-10 06:52] pravinpushkar opened #2166 "Upgrade google secret manager client to latest"
## Description

This issues is to upgrade google secret manager client to latest.

## Release Note

RELEASE NOTE: **UPDATE**  Upgrade google secret manager go client to use 1.7.0 or latest

[2022-10-10 06:54] pravinpushkar commented on #2166
/assign

[2022-10-10 13:05] NickLarsenNZ commented on #2161
Could you give an example of what the code would would look like?

Eg, would the topic then be the stream name?

[code]

Or do you mean the handlers would still discriminate on topic name, but the `Component` would force a particular stream?

[2022-10-10 14:04] Jarema commented on #2161
I was rather thinking of adding a new option to the `Component` config for NATS JetStream PubSub.

[2022-10-10 20:34] timgabrhel opened #2170 "Renew Azure Service Bus lock token for long running process"
**Looking for**
I am currently invoking a python dapr service by way of the pubsub component using ASB. I am looking to renew the lock in the case of a long running operation that is exceeding the max lock duration of 5 minutes, but I'm not sure how to do this.

**Configuration**
https://docs.dapr.io/reference/components-reference/supported-pubsub/setup-azure-servicebus/

The component configurati

[2022-10-11 01:27] berndverst commented on #2166
You do not need to create an issue if you plan to immediately submit a PR for the same issue. Especially for dependency upgrades there is little point in opening a dedicated issue.

[2022-10-11 01:34] berndverst commented on #2131
Two options:

1) Contributing a new SOAP binding (output binding). This must be written in Go.
It seems this is a promising Go library that could be used as a foundation: https://github.com/tiaguinho/gosoap

2) "Pluggable Components" which are Dapr components that live outside of the Dapr runtime binary and communicate with the Runtime. This allows writing of Dapr components in a variety of langua

[2022-10-11 01:42] berndverst commented on #2144
We do not have any test infrastructure for SQL Server hosted on a Windows VM. There are likely additional connection string settings you must change and options you may need to configure in your SQL Server configuration.
For example does your SQL Server allow connections from the Docker network? You may want to disable all IP address and transport security options on the SQL server itself.

Connec

[2022-10-11 02:45] ItalyPaleAle commented on #2170
@timgabrhel  I think we need to improve our docs. Here are how the two work:

- `lockDurationInSec` is the duration of each lock. If you set this to 60 (seconds), then locks are acquired for 60 seconds at a time.
- `lockRenewalInSec` controls the interval Dapr checks for locks that need to be renewed. For example, if you set this to 20 (seconds), then every 20 seconds Dapr will go through all lock

[2022-10-11 03:41] rahulpoddar-fyndna opened #2173 "Pub Sub Polling interval for Kafka"
The subscriber polls to get the messages from subscription topic in kafka. The interval at which request is made to get the new message is not configurable as of now. Making this parameter configurable will help in tuning the  application for performance needs.

@pravinpushkar

[2022-10-11 04:22] yaron2 commented on #2173
Moving to correct repo.

[2022-10-11 08:23] bab5470 commented on #2008
How would I load the ca.pem file (or the certs) in the  sidecar so this
works?

On Thu, Sep 1, 2022 at 10:40 PM spike ***@***.***> wrote:

[2022-10-11 08:57] berndverst commented on #2008
In Kubernetes you need to mount those certs as storage (PVC) or as secret into the file system of the sidecar itself. The connection string referring to the certs as suggested above would then specify the path to the certs mounted into the sidecar container.

In standalone mode you can use the local file system absolute path.

I haven't verified this for RabbitMQ specifically but it should work.

[2022-10-11 15:24] timgabrhel commented on #2170
@ItalyPaleAle Thanks a lot for the detailed description. A doc update would be great as it definitely caused some confusion.

I just tested these settings with really low intervals to trigger the renewal, and it was successful per the daprd debug logs.

[2022-10-11 15:43] matt40k opened #2176 "Update EventHubs to support WebSockets"
## Describe the feature
Add support for WebSockets for EventHubs.
Be able to set HubWithWebSocketConnection

## Release Note
RELEASE NOTE: **UPDATE** Support for EventHubs over WebSockets

[2022-10-11 17:05] timgabrhel commented on #2170
@ItalyPaleAle These settings don't seem to be taking effect. The dapr component config for the _consumer_ of the pubsub message is as follows
[code]

In the daprd logs, however, I am seeing lock token renewals taking place at 20 sec intervals. It's not respecting my 90sec setting, and, it doesn't seem the renewals are succeeding. Here in the logs, you can see that after 4 minutes (same interval as

[2022-10-11 19:40] timgabrhel commented on #2170
@ItalyPaleAle Unfortunately this doesn't appear to be working. I'm not sure what the issue is. Is there a way to verify the configured settings on the app that's deployed in AKS?

[2022-10-11 19:54] ItalyPaleAle commented on #2170
If the locks weren't renewed, you'd see something like `Couldn't renew all active message lock(s) for` in the logs. I don't see that there so locks are renewed. However, I do see that your app returned an error so the message was abandoned.

As for why it's not using 90 seconds for lockRenewalInSec but falling back to the default of 20 seconds... Odd. In the logs, at the beginning, to you see some

[2022-10-11 20:34] timgabrhel commented on #2170
I was able to connect with the dapr dashboard and view the configuration, and it seems it's not applying properly. I'm trying to update this environment out of band and somethings missing. Will follow up when I can get the full deployment running.

[2022-10-11 21:14] Admiralkheir commented on #1191
Hello, we want to switch to use JetStream instead of Nats streaming(Cause of end of support), which we currently use in our applications, but the equivalents of ackwait(AckWait) and maxinflight(MaxAckPending) values ​​on the nats streaming component are not available in the jetstream component. These properties are essential to our transition. Thanks

[2022-10-11 21:15] Admiralkheir commented on #1191
Reopened

[2022-10-12 06:35] yaron2 opened #2178 "AWS components: Enable AWS IAM roles to work with IAM users"
Today, users can use either an AWS IAM role using a pod identity or an IAM user configured through a Dapr component.

For some cases it's best to mix and match both.

Reference: https://docs.aws.amazon.com/sdk-for-go/api/aws/session/

[2022-10-12 09:27] Jarema opened #2179 "Add missing config for JetStream Consumer"
## Describe the feature
JetStream pub sub component does not include all and recent configuration options:
[code]

## Release Note

RELEASE NOTE:
Add missing config fields for NATS JetStream pub sub component

[2022-10-12 18:32] greenie-msft opened #2182 "Kafka PubSub fails to initialize with SASL password auth"
After upgrading Dapr runtime from 1.7.2 to 1.8.3, an existing Kafka confluent component fails to initialize with the following error:

"fail to read SASL handshake header."

Below is the component YAML:

[code]

[2022-10-12 19:15] Admiralkheir commented on #1191
looks like done with #2179

[2022-10-12 21:42] yaron2 commented on #2182
This might be a P0?

[2022-10-12 21:43] yaron2 commented on #2182
Changing to P0, cc @artursouza

[2022-10-13 06:24] wxbty commented on #2068
/assign

[2022-10-13 08:52] akhilac1 opened #2187 "[Proposal]: Semantic versioning for configuration items in Configuration Building Block API"
## Describe the proposal
Configuration building block GET API allows a user to get 'all' the configuration data when no specific key is specified.
Owing to the current structure of response, only one value can be returned for a key.

https://github.com/dapr/components-contrib/blob/3427cc1c590f1e05cbf202a94f409d042b68bc00/configuration/responses.go#L17-L19

So, when there are multiple versions of a

[2022-10-13 12:31] skyao commented on #2182
This issure due to the code change in method updateTLSConfig() during the code refactory of kafka binding and kafka pubsub.

In v1.7.2, updateTLSConfig() will set config.Net.TLS.Enable = true if TLSDisable is not set to true, even TLSCaCert is not set (in fact TLS won't work):

[code]

During the refactory, we found a broking change that when we disbaled auth we still need to set  TLSDisable= true

[2022-10-13 12:52] Jarema opened #2189 "Fail to build `dapr/dapr` with latest `dapr/components-contrib`"
## Expected Behavior

Have working dev env following https://github.com/dapr/components-contrib/blob/master/docs/developing-component.md

## Actual Behavior

Replacing `components-contrib` dependency in `dapr/dapr` results in abigous imports error:

[code]

Which seem to originate (but I might be wrong) of this change:

![image (1)](https://user-images.githubusercontent.com/7369771/195600916-416f1

[2022-10-13 16:22] maqueisaprogrammer opened #2190 "alicloud oss can't upload image"
**evnrionment**
machine: mac M1
docker image: daprio/daprd:edge， build by docker-compose
component: bindings.alicloud.oss

**problem**
when i use alicloud oss binding, i can upload a file with text, follow is my code:
[code]
i didn't use the php sdk, just use guzzlehttp to call the sidecar api, and it worked. I login aliyun，and i can see the file is there, i download the file, open it, and yes, it

[2022-10-13 17:23] berndverst commented on #2182
I cherry picked this fix into the 1.9 release branch. It's part of contrib 1.9.0-rc.5.

I also cherry picked this into 1.8 release branch. Contrib 1.8.5-rc.1.

Here is the PR for the 1.8 hotfix: https://github.com/dapr/dapr/pull/5350

[2022-10-14 20:43] #2179 closed

[2022-10-15 18:20] rabollin commented on #2187
Versioning would help with differentiating the configuration changes and App may have more control now, however
1. Does the App need to keep track of the versioning?
2. How do you handle the existing implementations?

[2022-10-17 02:44] maqueisaprogrammer opened #2196 "can alicloud oss upload image/file ?"
**evnrionment**
machine: mac M1
docker image: daprio/daprd:edge， build by docker-compose
component: bindings.alicloud.oss

**problem**
when i use alicloud oss binding, i can upload a file with text, follow is my code:
[code]
i didn't use the php sdk, just use guzzlehttp to call the sidecar api, and it worked. I login aliyun，and i can see the file is there, i download the file, open it, and yes, it

[2022-10-17 07:02] pravinpushkar commented on #2166
Closing this as deps got upgraded by another PR.

[2022-10-17 07:02] #2166 closed

[2022-10-17 07:14] berndverst commented on #2166
Yup - I updated all packages in contrib.

[2022-10-17 21:20] rovangju commented on #1062
Came across a need for this recently. Is there any guidance on how this should look for the API?

[2022-10-17 23:24] berndverst commented on #2190
@madhugilla as the author of that component is this something you can investigate?

The majority of Dapr maintainers and approvers doesn't have access to AliCloud, so we cannot investigate this.

[2022-10-18 14:59] yaron2 commented on #1062
As an output binding, the attachment can use the `data` property [on the payload](https://docs.dapr.io/reference/api/bindings_api/#payload). The binding will then check if the request.Data property is not nil, and then use that as the attachment.

[2022-10-18 16:06] berndverst commented on #2189
@Jarema this is not a bug. That will happen from time to time. It's fixed as of yesterday.

[2022-10-18 16:09] berndverst commented on #2189
The latest components-contrib was imported in this PR (and any issues that came up were addressed there): https://github.com/dapr/dapr/pull/5377

[2022-10-18 16:10] #2189 closed

[2022-10-18 16:15] berndverst commented on #2187
Does this require an API change or is this just in the implementation in each component?

If this is required of every component, consider enforcing this in the API somehow (and hence the proposal must be in dapr/dapr).

Changes to the API or building block behaviors in general should be discussed via proposal in the `dapr/dapr` repo. You can ask a STC member to transfer this issue there.

[2022-10-18 18:00] berndverst commented on #2130
Only topics are supposed for Service Bus PubSub at this time.

@ItalyPaleAle was just discussing with me the introduction of a new Service Bus PubSub component specifically for Service Bus Queues.

[2022-10-18 18:01] berndverst commented on #2130
@ItalyPaleAle is there a tracking issue for Service Bus Queues PubSub? If so, let's link that here!

[2022-10-18 18:15] adiazcan opened #2199 "Query empty label on Azure App Configuration component"
## Expected Behavior

We want to load configuration from Azure App Configuration from differents labels using the metadata param for filtering. The requirement is to load all key-values without label or label = null and all key-values from an expecific label, for example 'PRO'.

## Actual Behavior

Different unexpected behavior:

- When label filter is equal to "%00", we did'nt recieve any kv.
- W

[2022-10-19 03:22] akhilac1 commented on #2187
This is a proposal for implementation within the component and how it handles the implementation for GET all API, for all supported components of 'Configuration' building block. There is no change to API for Configuration building block. There is also a need to update spec for configuration building block.

Added a draft issue in Dapr/docs - https://github.com/dapr/docs/issues/2909

[2022-10-19 03:25] akhilac1 commented on #2187
The App is free to choose the version it wants to leverage, by specifying the version ID in the GET request as metadata. If the App is not aware of the version, querying for the key should return the latest version. That is the behaviour we are trying to implement with this proposal.

Existing configuration functionality will continue to work as-is if the configuration items are not compliant to s

[2022-10-19 03:32] maqueisaprogrammer commented on #2196
this is the same issue as #2190 , so i close it

[2022-10-19 03:32] #2196 closed

[2022-10-19 12:28] NickLarsenNZ opened #2200 "[PubSub Jetstream] Support deduplication"
## Describe the feature

This follows on from a discussion that begins before my message on [discord].

Dapr Docs suggest that you get deduplication for free when using CloudEvents, or at least doesn't make it clear when that feature is available or not:

Based on the NATS documentation, deduplication is based on a header called [`Nats-Msg-Id`]. I have searched the component code and don't see thi

[2022-10-19 12:45] NickLarsenNZ commented on #2200
It looks like the event `source` might not be needed, and the event `id` should be unique enough.

Here is how the Azure EventHub Component does it:

https://github.com/dapr/components-contrib/blob/94f62c489ddb258169d6ddee15f3d9c0ab72707e/pubsub/azure/eventhubs/eventhubs.go#L123-L126

[2022-10-19 12:49] NickLarsenNZ commented on #2200
I can't see where the CloudEvent `id` would come from. Would dapr be putting in the `Metadata` field, or do we need to try an deserialize `Data` and extract the `id` contained?

https://github.com/dapr/components-contrib/blob/94f62c489ddb258169d6ddee15f3d9c0ab72707e/pubsub/requests.go#L16-L23

[2022-10-19 13:18] NickLarsenNZ commented on #2200
In any case, the metadata should probably also be getting converted to Headers, which necessitates using [`PublishMsg`](https://pkg.go.dev/github.com/nats-io/nats.go#JetStream).

I'll leave that out, and this comment can be converted to a new issue if it sounds appropriate.

[2022-10-19 14:26] Jarema commented on #2200
thanks @NickLarsenNZ for investigating!

I agree that metadata should be converted into headers.

That will not fix the deduplication, unless `Nats-Msg-Id` is one of them.

@berndverst is an assumption that
[code]
is a proper key to transform into NATS-specific header and should work for CloudEvents API?

[2022-10-19 14:46] Jarema opened #2201 "[NATS JetStream] Map Request Metadata into NATS Headers"
## Describe the feature
Following #2200 this Feature Request adds support for NATS headers.

## Release Note

RELEASE NOTE:
Add support for NATS Headers

[2022-10-19 22:48] danielgerlag opened #2204 "Inconsistent retry behavior between pubsub providers"
## Expected Behavior

If I have an app that subscribes to a topic and returns a "RETRY" status, I will not get any future messages until that particular message is processed, as I need to process in sequence.

## Actual Behavior

It works as expected when using Azure Event Hubs or Kafka, but with Redis Streams, I continue to get the messages in the stream after the RETRY message.

[2022-10-19 23:21] NickLarsenNZ commented on #2200
@Jarema @berndverst, I notice that the `req.Metadata` map is empty when I log it out (in my local version):

[code]

So I guess Dapr isn't putting anything in there by default.

`req.Data` has the `id` that we should be using here (after converting the decimal bytes to ASCII):

[code]

It appears the req.Metadata is just for the developer to add additional data to the payload: https://docs.dapr.io

[2022-10-20 00:31] berndverst commented on #2200
Yes `req.metadata` is a standard field of headers / grpc metadata. This is not what you should be using.

Unless you specify the raw event type explicitly Dapr publishes events as cloud events - the cloud event envelope is managed by Dapr, and Dapr generates the ID for the cloud event, unless you explicitly send a cloud event (with content type "application/cloudevents+json"). Whether you send pub

[2022-10-20 07:34] nupis-DanielS commented on #1109
Hi,

can you implement this feature in the version 1.10 or above?

[2022-10-20 13:52] akhilac1 commented on #2187
@berndverst - Can you please add this to 1.10
Justification - This proposal makes the response to GET ALL Keys more reliable by disambiguating the configuration that would be returned when no keys are specified.

[2022-10-20 13:53] akhilac1 commented on #2187
@pravinpushkar @rabollin - FYI Please

[2022-10-20 22:07] #2075 closed

[2022-10-21 12:29] shubham1172 opened #2209 "Dapr Bot Enhancements"
Dapr Bot should support the following actions. When an issue is labelled with:

1. `docs-needed`, create a new issue in Docs repo.
1. `new-component`, create
    1. Dapr issue to register the component
    1. Docs issue for the component

Note, labels can be only added by approver/maintainer, so this does not require any authorization checks from our hard-coded list.

[2022-10-21 12:46] mukundansundar commented on #2209
I agree the creation of issues.
For registering the component I am thinking if we can automate PR creation. Only the creation ... it still will go through the normal review process.

[2022-10-21 13:35] 1046102779 opened #2210 "tests/certification: unit tests panic."
![image](https://user-images.githubusercontent.com/20457624/197207022-f57940c4-dfad-48a8-bd7d-1b23d6aaaf94.png)

Now `go-sdk` repo and `dapr` repo have two independent `pbs`: [dapr proto](https://github.com/dapr/dapr/tree/master/pkg/proto) and [go-sdk](https://github.com/dapr/go-sdk/tree/main/dapr/proto), of which the pb of `go-sdk` is copied from the `dapr` repo to reduce the dependence on the ma

[2022-10-21 15:02] shubham1172 commented on #2105
Closed by #2106

[2022-10-21 15:02] #2105 closed

[2022-10-21 17:49] shubham1172 commented on #2098
Closed by #2098

[2022-10-21 17:49] #2098 closed

[2022-10-21 18:25] ctoomey opened #2212 "PR 2113 removed code to pass kafka record headers to subscribers"
## Expected Behavior

Kafka pubsub subscribers should be passed kafka record headers, in addition to the record value (payload) and topic name.

## Actual Behavior

In v1.9.0, the behavior is correct and the headers are passed. PR #2113 seems to have accidentally removed the code that passed the headers as you can see [this diff](https://github.com/dapr/components-contrib/commit/8500da577c0cbd1416

[2022-10-21 18:44] ctoomey opened #2213 "Pass kafka record key and other metadata to pubsub subscribers"
## Describe the feature
Currently kafka pubsub subscribers only get passed the kafka record value (payload), record headers, and topic.

Many non-dapr kafka consumer applications make use of other information that's not provided to dapr subscribers: record key, partition #, offset #, timestamp, timestamp type. These are all available when consuming from kafka using kafka's SDKs, e.g, Java's [`Cons

[2022-10-21 19:21] tmacam commented on #2117
Moved to https://github.com/dapr-sandbox/components-java-sdk/issues/10

[2022-10-21 21:08] ItalyPaleAle opened #2214 "Make our conformance test framework available as a standalone library"
Developers building pluggable components have the desire to make sure that they behave correctly and are aligned with the other Dapr components.

In this repo, conformance tests are the primary way we ensure that components behave consistently and we test a baseline set of features.

We should consider making our conformance test framework available as a standalone library, which can be imported i

[2022-10-22 08:22] Taction commented on #2210
+1. Encountered the same issue when adding certification tests. https://github.com/dapr/components-contrib/actions/runs/3302503973/jobs/5449407539

[2022-10-22 09:57] #1962 closed

[2022-10-23 09:39] #2087 closed

[2022-10-23 13:34] cmendible commented on #2199
@adiazcan can you please run the following curl commands and check if you get the expected results?

[code]

For the last use case I think the bad request comes from the fact that the `*` matches any label and therefore there is no need to also set the PRO label.

[2022-10-23 16:04] adiazcan commented on #2199
@cmendible yes, querying the component like this I get the expected results.

so now, maybe the problem is at the c# sdk?

[2022-10-23 16:04] adiazcan commented on #2199
@cmendible yes, querying the component like this I get the expected results.

and now, maybe the problem is on the c# sdk?

[2022-10-23 17:53] cmendible commented on #2199
@adiazcan please try the following to match KV without label and KV with the INT label :

[code]

[2022-10-24 21:07] #2130 closed

[2022-10-25 04:42] shubham1172 opened #2221 "Add bulk subscribe support to Azure Event Hubs"
## Describe the proposal

This issue is to add the bulk subscribe feature to Azure Event Hubs. See https://github.com/Azure/azure-sdk-for-go/issues/19276. This needs track 2 migration to be completed first.

Prerequisite: #2101
Related to: dapr/dapr#2218

[2022-10-25 07:34] #1963 closed

[2022-10-25 22:38] ctoomey opened #2223 "Kafka pubsub inbound retries endlessly if dead letter topic not configured"
## Expected Behavior

When using a specified retry policy on inbound pubsub component, the policy's `maxRetries` should be honored and the sidecar should stop retrying after that many times, even if the subscription doesn't specify a dead letter topic.

## Actual Behavior

The sidecar ignores `maxRetries` and retries indefinitely when the subscription doesn't specify a dead letter topic. It does h

[2022-10-26 11:39] 1046102779 commented on #2210
https://developers.google.com/protocol-buffers/docs/reference/go/faq#namespace-conflict
[code]

Although the panic caused by repeated registration can be prevented by setting the above parameter value, it is hoped that the `Dapr` standard api can be independent into a module. The smallest impact is the direct use of `dapr/dapr/pkg/proto` mentioned by @ItalyPaleAle [comment#1197414356](https://gith

[2022-10-26 13:01] #1977 closed

[2022-10-26 19:29] ctoomey opened #2227 "Kafka pubsub should propagate partition key to DLT"
## Expected Behavior

When a kafka pubsub subscription includes a dead letter topic, the publish to the DLT should include both the record (partition) key and value.

This is important because it's needed to support proper partitioning of the DLT as well as because some kafka consumers need the record key as well as the value for processing (ref. #2213).

## Actual Behavior

Publishes to the DLT d

[2022-10-27 04:25] daixiang0 commented on #2210
It worth create an issue in dapr core repo since it impacts a lot.

[2022-10-27 04:30] 1046102779 commented on #2210
OK, I organize the information, and then create an issue in the core repo `dapr/dapr`.

[2022-10-27 06:22] berndverst commented on #2210
This is unavoidable here because of decisions made in the go-sdk and dapr runtime.

I agree that an issue in dapr/dapr would be good.

[2022-10-27 09:46] thielepaul opened #2229 "MQTT Missing Resubscribe on Reconnect"
## Expected Behavior

When I restart my mqtt-broker, the dapr sidecar should reconnect, resubscribe and the receive messsages again

## Actual Behavior

The sidecar does reconnect but not resubscribe

## Steps to Reproduce the Problem

* subscribe with dapr to mqtt broker
* restart mqtt broker

## Release Note

RELEASE NOTE:

## Possible Solution

As proposed in the upstream issue (https://github.

[2022-10-27 11:33] thielepaul commented on #2229
@ItalyPaleAle you helped me with mqtt issues before, it would be awesome if you can take a look into it :)

[2022-10-27 16:19] ctoomey commented on #2173
There's a huge number of configuration settings for kafka [consumers](https://kafka.apache.org/documentation/#consumerconfigs) and [producers](https://kafka.apache.org/documentation/#producerconfigs). E.g. a couple more that we use are `partition.assignment.strategy` and `client.dns.lookup`.

Ideally all these settings should be configurable, instead of just a very limited fixed subset of them.

[2022-10-27 16:47] neeta-rathi opened #2231 "Support for appRole based authentication for secretstores.hashicorp.vault"
## Describe the feature

We use AppRole based authentication to manage secrets within Vault. More info on AppRole can be found [here](https://developer.hashicorp.com/vault/docs/auth/approle).

DAPR's secretstores.hashicorp.vault Component uses Token based authentication. Here are the key/values on the Component that requires to provide the token

[code]

The apps don't have access to the token, ho

[2022-10-27 18:00] berndverst opened #2232 "Stable certification tests for MySQL state store"
Add stable certification tests for MySQL State Store component.

RELEASE NOTE: **CHANGED** MySQL State Store not certified as stable.

[2022-10-27 20:22] berndverst opened #2233 "All Dapr PubSub Components should make consumer group optional and use runtime provided group name if not present"
Dapr Runtime PubSub checks for the presence of `consumerID` metadata, and if not present overwrites this to be the app ID. This allows every Dapr app to receive a PubSub event at least once.

If the consumer ID is manually overridden, of course this will not work.

Unfortunately, many Dapr PubSub component have not made consumer ID / consumer Group name an optional metadata attribute, and do not c

[2022-10-27 20:31] berndverst commented on #2233
The solution should be something like the following in each impacted component.

[code]

This will also require docs be updated to make this metadata field optional and explain the behavior.

[2022-10-27 21:15] berndverst commented on #2233
Impact limited to:
- RabbitMQ
- AWS SNS/SQS
- Jetstreams

Every other PubSub component today uses `consumerID` as metadata for the group name. Perhaps this is by pure luck, or this was refactored in the past - I do not know.

[2022-10-28 02:21] daixiang0 commented on #2027
@yaron2 please help move to dapr/dapr.

[2022-10-28 10:13] NickLarsenNZ opened #2235 "[PubSub Jetstream] Use Dapr's logger (for consistent logfmt output)"
## Describe the feature

Logs generated by the component should be in the same format as the rest of Dapr (logfmt).

Dapr logs are output with the _logfmt_ format, however errors that appear from the Jetstream component (maybe others?) get output as plain text.

This causes problems when analysing logs.

Jetstream component log:

[code]

Dapr logfmt:

[code]

Is there a way to use Dapr's main logg

[2022-10-28 10:19] NickLarsenNZ commented on #2235
It looks like `daprd` should hand the correct logger to the component:

https://github.com/dapr/components-contrib/blob/99b635eb205f54833c234ffffb49449c451ec348/pubsub/jetstream/jetstream.go#L36-L38

It is given the logger here: https://github.com/dapr/dapr/blob/29233c6f212078386b473d6375d6dbfc3866c2c2/pkg/components/pubsub/registry.go#L76-L80

[2022-10-28 19:20] #2108 closed

[2022-10-29 08:54] zivfuture opened #2238 "RabbitMQ PubSub: Wrong content-type handling"
I am trying to sent a event by pubsub component.  (mq is rabbitmq)
Event sent by this code(netcore SDK 1.9.0):
![image](https://user-images.githubusercontent.com/49356505/198822300-63c92b54-03f9-4f3b-9d04-a3cd4afb5d16.png)

and event sent successful with wrong content-type:
![image](https://user-images.githubusercontent.com/49356505/198822383-0b25ff9f-ef5d-49f7-a6da-904cac043f72.png)

The donet sd

[2022-10-29 15:45] mukundansundar commented on #1858
👋

[2022-10-29 18:12] brettveenstra commented on #289
Support for Sessions (with its FIFO behavior) would be very helpful

[2022-10-30 17:55] #1927 closed

[2022-10-31 03:53] heavenwing commented on #2144
@berndverst actually, after I changed connectionString to azure sql server, I also got the same error.

[2022-10-31 05:55] #2053 closed

[2022-10-31 05:55] #2079 closed

[2022-10-31 19:28] adawalli commented on #2029
/remove-stale

[2022-10-31 20:23] Jarema opened #2243 "[NATS JetStream] Durable Consumer deleted after closing the app"
## Expected Behavior

Durable consumers are not deleted.

## Actual Behavior

Durable consumers are deleted when app closes.

## Steps to Reproduce the Problem

Call an app that Subscribes to JetStream.
Gracefully shutdown the app.

## Release Note

RELEASE NOTE:

[2022-10-31 21:01] GFlisch opened #2246 "PubSub Rabbitmq amqps with x509 authentication."
-> /area runtime

## Describe the feature
Elia Group are companies in the utilities.
We are using Rabbitmq and we perform the authentication based on amqps and certificate.

I have built a repo to setup a Docker image and a .NET client to connect Rabbitmq with a client certifcate =>https://github.com/gflisch/rabbitmqS

## Release Note
Support for amqps with x509 authentication.

  - name: host

[2022-11-01 17:58] artursouza opened #2247 "AWS S3 binding as Stable"
Create a certification test plan.
Implement certification tests (must cover all component metadata options)
Mark component as "Stable".

[2022-11-01 20:23] #2232 closed

[2022-11-01 21:15] #2233 closed

[2022-11-01 23:27] berndverst commented on #289
Sample:

https://github.com/Azure/azure-sdk-for-go/blob/main/sdk/messaging/azservicebus/example_session_receiver_test.go

We already support attaching session IDs to pubsub messages on publish via the Dapr Request Metadata `SessionId`.

What remains is reading a list of session IDs to which to subscribe via the Subscription Metadata. For each of these a separate session receiver client must be ins

[2022-11-02 03:44] heavenwing opened #2249 "bindings.azure.storagequeues don't support encodeBase64 when send message"
## Expected Behavior

send message with UTF8 characters (like Chinese) into azure storage queue, and can be processed by Azure Function QueueTrigger.

## Actual Behavior

 Azure Function QueueTrigger report this error:

[code]

## Steps to Reproduce the Problem

- Create dapr app with output binding (use bindings.azure.storagequeues)
- Send a model with daprClient.InvokeBindingAsync("binding-outpu

[2022-11-02 08:12] heavenwing opened #2250 "bindings.azure.storagequeues send input message with endless retrying"
Expected Behavior

When send message to my code, encounter model validation error, retry should end after multiple times or timeout.

## Actual Behavior

I got huge error log like this

[code]

[daprd log.txt](https://github.com/dapr/components-contrib/files/9917832/daprd.log.txt)

[2022-11-02 11:17] NickLarsenNZ commented on #2162
Apparently consumers shouldn't be changed (Or at least some attributes).
@Jarema this relates to some things you're working on. We can link the PR when it's ready.

[2022-11-02 16:15] berndverst commented on #2008
https://github.com/dapr/components-contrib/issues/2246 this seems related

[2022-11-02 16:23] berndverst commented on #1797
Thi falls under a parent issue of Component Resiliency. https://github.com/dapr/components-contrib/issues/1863

[2022-11-02 16:28] berndverst commented on #2176
Possibly something that can be looked into once #2101 is complete. But this will not be worked on until #2101 is done.

[2022-11-02 16:29] berndverst commented on #2101
Consider adding https://github.com/dapr/components-contrib/issues/2176 (Websocket connection support) with the new SDK.

[2022-11-03 16:46] nyemade-uversky opened #2252 "Support LogicApps with Workflow API"
**Description:**
For the upcoming Workflow API feature, we should also support LogicApps as a supported target. This has been requested as an additional target by users. This would release the workflow API with three different workflow targets:

- Temporal
- Dapr Built-in workflow engine
- LogicApps

**Requirements:**

- logicApps target should have the same look and feel as using the workflow API

[2022-11-03 16:48] nyemade-uversky opened #2253 "Support Built-in Workflow engine with Workflow API"
**Description:**
For the upcoming Workflow API feature, we should also support Dapr's Built-in workflow engine as a supported target. This has been requested as an additional target by users. This would release the workflow API with three different workflow targets:

- Temporal
- Dapr Built-in workflow engine
- LogicApps

**Requirements:**

- Built-in workflow engine target should have the same lo

[2022-11-04 08:13] Taction commented on #2238
/assign

[2022-11-04 08:36] Taction commented on #2008
[comment by anoymouscoder](https://github.com/dapr/components-contrib/issues/2008#issuecomment-1232489072) and [comment by berndverst ](https://github.com/dapr/components-contrib/issues/2008#issuecomment-1274346043) can support AMPQs for sure. But this way request users know rabbitmq and kubernetes well.
@anoymouscoder I think you should add cacertfile、certfile、keyfile to metadata, who's value are

[2022-11-04 09:09] CCC598 opened #2256 "pubsub rabbitmq broker how to not bind multiple routingKey"
My App /dapr/subscribe response

[code]

RabbitMQ Exchanges
![image](https://user-images.githubusercontent.com/38395086/199934831-8379a95a-317d-453d-96ad-cd3588974f2d.png)

But i want to use raw routing key `DaprWebApp.WeatherForecast, DaprWebApp` , how to do it, thanks :)

[2022-11-04 14:19] KrzysztofPajak commented on #289
It would be great if we get information about any estimated time when will be ready?

[2022-11-04 17:59] berndverst commented on #289
With the 1.10 release in February.

[2022-11-05 03:14] #2238 closed

[2022-11-05 08:32] Taction commented on #2238
@zivfuture Thanks for submitting this issue, can I know why you close this issue?

[2022-11-05 23:44] #1672 closed

[2022-11-06 01:10] anoymouscoder commented on #2008
@Taction Got it, I will start working on this.

[2022-11-07 02:07] saber-wang commented on #2256
You cannot delete the bound 'key', but you can add a new key, that is``
Example: "routingKey": "DaprWebApp.WeatherForecast, DaprWebApp,"
Note the last comma

[2022-11-07 03:58] akhilac1 opened #2258 "Support Multi-Cluster name resolution with Consul"
## Describe the feature

For name resolution across multiple connected clusters, Consul should be able to resolve Dapr services across clusters. This will enable service invocation across Dapr services distributed across multiple services

This is in alignment with the proposal - https://github.com/dapr/dapr/issues/5389
## Release Note

RELEASE NOTE:
**ADD** Multi-Cluster service invocation with C

[2022-11-07 03:59] akhilac1 commented on #2258
@artursouza @yaron2

[2022-11-07 04:11] akhilac1 commented on #2258
/assign

[2022-11-07 13:13] thielepaul commented on #2229
any news about this? For us this issue is unfortunately a blocker...

[2022-11-07 16:18] ItalyPaleAle commented on #2229
I think we can get this fixed in 1.10, coming out in January/February.

We may be able to get the fix pushed to master before EOM, if you want to use a nightly build (could be buggy)

[2022-11-07 17:40] tmacam commented on #1926
I will send a PR later this week with the remaining tests,

[2022-11-07 18:04] thielepaul commented on #2229
awesome! thanks for your efforts towards improving mqtt support in dapr!

[2022-11-07 18:05] berndverst commented on #2229
We are making a lot of changes in nightly builds at the moment, so using those could certainly be risky. But the 1.10 release will be good.

[2022-11-07 18:27] DeepanshuA commented on #2156
yeah @pravinpushkar, As per comment https://github.com/dapr/components-contrib/issues/2000#issuecomment-1270134200, it seems that #2000 is also targeting same. If that is the understanding, I can close this issue. WDYT?

[2022-11-07 18:38] pravinpushkar commented on #2156
Yeah.. I also think we can close this one.

[2022-11-08 00:46] m-moris opened #2259 "bindings.azure.storagequeues does not configure visibility timeout when receive message"
## Describe the feature

**bindings.azure.storagequeues**  does not configure visibility timeout when receive message.

https://github.com/dapr/components-contrib/blob/ede060959a0a1deb1e7980aac6a4f5199b31e6a2/bindings/azure/storagequeues/storagequeues.go#LL117C26-L117C33

If you check the code, it is hard coded to 30 seconds. I would like this to be externally configurable.

## Release Note
RELEAS

[2022-11-08 05:17] shubham1172 opened #2260 "Optimize Bulk Publish API component response"
## Describe the feature

<img width="1243" alt="image" src="https://user-images.githubusercontent.com/22132944/200475828-9bdbd4c5-a6db-465c-b4b9-73c1f1fe3b7e.png">

With issue https://github.com/dapr/dapr/issues/5368, the API response for bulk publish, (II), has been updated to only return failed entries from the bulk.

This issue is to optimize the data contract between the component and the runt

[2022-11-08 07:41] #2156 closed

[2022-11-08 07:53] havardzzl opened #2261 "kubernetes nameresolution customize configuration not working"
## Expected Behavior

change cluster domain configuration works properly.

## Actual Behavior

change kubernetes nameresolution cluster domain configuration not working.

## Steps to Reproduce the Problem

set a Configuration spec as follows:
spec:
  nameResolution:
    component: kubernetes
    version: v1
    configuration:
      clusterDomain: fake-cluster.local
use it in a dapr pod with sideca

[2022-11-08 07:54] havardzzl commented on #2261
I read the code and fix it in my own project.
https://github.com/dapr/components-contrib/compare/master...havardzzl:components-contrib:master

[2022-11-08 17:21] mukundansundar commented on #1917
in todo for 1.10

[2022-11-08 17:29] mukundansundar commented on #1971
todo

[2022-11-09 02:57] #2261 closed

[2022-11-09 03:33] berndverst commented on #2250
The component is reading from the the storage queue in an endless loop and attempts to deliver the messages. This is be design.

If delivery fails the message is not dequeued. For that reason the component will see more messages which it wants to deliver. As you are seeing this will effectively cause an endless loop.

Would you like Dapr to delete messages it could not deliver? This would need to

[2022-11-09 03:46] berndverst commented on #2249
This was broken in the following PR: https://github.com/dapr/components-contrib/pull/1156

Before that Chinese and other UTF8 characters should have worked fine.

[2022-11-09 03:49] #2200 closed

[2022-11-09 05:43] berndverst commented on #2249
I opened a PR to add base64 support and added a test case which includes Chinese characters and show this is working correctly. This will be released in Dapr 1.10.

[2022-11-09 05:44] berndverst commented on #2249
As a temporary workaround you will need to perform the base64 encoding of your data in your application code at this time.

[2022-11-09 09:25] bwojdyla opened #2264 "Mqtt pubsub components fails to read messages on startup when multiple subscriptions configured"
## Expected Behavior

Messages that are persisted on queue while dapr sidecar was down should be processed after dapr sidecar is started.

## Actual Behavior

After darp sidecar is started messages which are one queue are not processed.

## Steps to Reproduce the Problem

Configure 2 subscribtions for mqtt component:
[code]

Subscription 1

[code]

Subscription 2

[code]
1. Start dapr + applicatio

[2022-11-09 16:32] j4nsp opened #2265 "Pubsub with NATS leafnode subscription not working"
I have configured 2 NATS servers. One of them is configured as leafnode and connected to the other one.

I have created a stream on the leafnode that contains one subject
streamname: configuration
subjectname: mytenantid.configuration

I have implemented a REST endpoint that subscribes to this subject. This subscription is working as it should. When I puplish something to the subject, I receive it

[2022-11-09 22:42] #2068 closed

[2022-11-10 00:23] olitomlinson opened #2266 "[PubSub AWS/SqsSns] daprd shutdown leaves remaining competing consumers orphaned from Topic"
## Expected Behaviour

Given App X is subscribed to Topic A
Given App X has 2 or more replicas active
When any one of the replicas is shutdown (scale in for example)
**Then the remaining active replicas are still able to consume events from the Topic in a competing consumer fashion**

## Actual Behaviour

Given App X is subscribed to Topic A
Given App X has 2 or more replicas active
When any one o

[2022-11-10 00:33] olitomlinson commented on #2266
cc @yaron2

[2022-11-10 04:42] ItalyPaleAle commented on #2266
I think your analysis is correct and that may be the cause of the issue. I will need to investigate this once I’m back, we can triage it for Dapr 1.10 as this is an alpha component

[2022-11-10 04:48] yaron2 commented on #2266
Beta component since 1.6.

[2022-11-10 07:16] codefromthecrypt opened #2267 "Add ability to refresh wasm middleware without restart"
## Describe the feature
WebAssembly has an interesting ability to be safely reloadable. I suspect we should have either an implicit file watch, or another control to allow refreshing the wasm without restarting the sidecar.

## Release Note

**ADD** HTTP wasm middleware can now be configured with `watchPath: true` to reload the wasm binary upon change.

[2022-11-10 07:18] codefromthecrypt commented on #2267
cc @daixiang0 @ItalyPaleAle @anuraaga for ideas.. maybe swap out this function with some go atomic ref? https://github.com/dapr/components-contrib/blob/master/middleware/http/wasm/httpwasm.go#L148

[2022-11-10 07:22] codefromthecrypt commented on #2267
prior art might be helpful too..

@antjack do you know if mosn does hot-reloading of proxy-wasm plugins? @anuraaga do you know on envoy?

[2022-11-10 07:23] codefromthecrypt commented on #2267
the primary use case I'm thinking of right now is just development, as it is intuitive to have the server reload if you re-compile the wasm path https://github.com/dapr/samples/pull/122

[2022-11-10 07:27] anuraaga commented on #2267
@codefromthecrypt If I'm not mistaken, Envoy doesn't have anything specific for wasm, so not based on file change but a hot restart can be triggered manually with some complexity

https://github.com/envoyproxy/envoy/issues/156

[2022-11-10 15:48] ItalyPaleAle commented on #2266
My bad. Still, not a stable component.
How Is this beta by the way since we don’t have a conf test for this?

[2022-11-10 19:18] #2266 closed

[2022-11-10 20:23] #2249 closed

[2022-11-11 06:12] mukundansundar commented on #2260
@shubham1172 I have changed the internal struct from component to runtime to have the list as `failedEntries` and remove the status filed completely. The `error` field should be there for sure.
cc @artursouza @yaron2

[2022-11-11 08:28] #2243 closed

[2022-11-11 10:37] shubham1172 opened #2271 "Add bulk publish support to in-memory pubsub component"
## Describe the feature

Add Bulk Publish support (dapr/dapr#2218) to the in-memory pubsub component.

## Release Note

RELEASE NOTE: **ADD** Bulk Publish support to in-memory pubsub component

[2022-11-11 10:37] shubham1172 commented on #2271
/assign

[2022-11-11 13:21] mukundansundar commented on #2260
/assign

[2022-11-11 19:34] #2072 closed

[2022-11-11 21:06] ItalyPaleAle commented on #2267
I have mixed opinions about this feature.

On one hand, I can see how this could be helpful during development

On the other hand, if used in production, it could lead to unintended consequences as it would essentially allow changing the code that's being executed on-the-fly. When your app scales horizontally, you also need to ensure consistency there.

What do maintainers (CC: @yaron2 @berndverst

[2022-11-11 21:14] ItalyPaleAle opened #2274 "New output binding for Wasm"
## Describe the feature

We currently have a middleware that allows modifying requests using Wasm.

Since Dapr implements now a Wasm runtime to support that, would it make sense to have the ability to create a binding to allow running code as Wasm?

This would be an output binding with an `invoke` method that allows triggering code from a Wasm file. It would allow turning Dapr into a Wasm runtime

[2022-11-11 22:49] yaron2 commented on #2274
I think it's a great idea to add such a binding, but I think the opportunity here is greater than what an output binding can provide.

For example, a really useful use case would be to invoke WASM modules/functions with events coming in from pub/sub and allowing the module to reach back to the runtime (Dapr) and save state. Dapr has all the security and productivity APIs for augmenting WASM module

[2022-11-12 02:23] yaron2 commented on #2274
Back in my time at MS we had a lot of discussions about a potential "Dapr Functions" project with early PoCs taking place. To me, this is no different than Dapr Actors, other than this is Dapr providing all it's APIs and productivity gains to a FaaS model.

The drawback we saw back then was that it would be "yet another programming model" in terms of FaaS. Building Dapr integrations into things li

[2022-11-12 07:06] codefromthecrypt commented on #2274
If this is about non-web arbitrary functions, I think if folks are looking for arbitrary wasm, one pattern is things compiled like a CLI with WASI (ex main class with args or env variables to control it). You would load something and allow people to execute it perhaps in a pipeline. Here's how wasi looks, https://github.com/tetratelabs/wazero/tree/main/imports/wasi_snapshot_preview1/example

(note

[2022-11-12 22:10] ItalyPaleAle commented on #2274
That was the idea.

From Dapr, there'd be an output binding which supports one action "invoke". You can pass arguments that are then passed to the WASI CLI. The output is returned to the user.

[2022-11-14 07:05] #2145 closed

[2022-11-14 07:28] akhilac1 commented on #2264
Ack'd the issue @bwojdyla. Will ping back once we replicate this behaviour. @pravinpushkar @addjuarez

[2022-11-14 07:30] vikas2k14 opened #2284 "Two Way SSL configuration for HTTP Binding"
We are using dapr HTTP binding for all the external calls in our application. Our external application needs two-way SSL for communication in one of our use cases.

I wanted to check if it's supported right now and how to configure it.

cc : @rahulopengts @akhilac1 @mukundansundar @pravinpushkar

[2022-11-14 17:54] berndverst commented on #2264
FYI @ItalyPaleAle

[2022-11-14 19:53] berndverst commented on #2259
Morishima-san, thanks for your feature request. This will be part of Dapr 1.10 which will be released in February.

[2022-11-14 20:21] nyemade-uversky opened #2279 "More stable components for 1.10"
**Description:**
For 1.10 we want to try and target getting a few more components to stable. This issue will be the tracking issue for this initiative in the 1.10 release.

**1.10 Targets for stable components:**

- #1928
- #1917
- #1971
- #2013
- #2056
- #2232
- #1539
- #2247

Status for all stable components can be tracked here: [Stable Components](https://github.com/orgs/dapr/projects/59/views/

[2022-11-14 20:38] berndverst commented on #2279
Given the way release notes are generated it isn't ideal to have both the Epic as well we individual issues tagged with the milestone.

I prefer not tagging this epic and only adding it to the project board.

[2022-11-14 20:42] berndverst commented on #2258
Can you define "connected clusters"?

No objection to the name resolution across cluster, but I don't think this addresses service invocation.

Please do outline how clusters must be connected for this to work.

[2022-11-14 20:46] berndverst commented on #2212
@DeepanshuA can you please look into this since the PR in question was your PR?

[2022-11-14 22:35] ctoomey commented on #2212
@berndverst yes it's broken on the master branch, but I'm not able to comment on where else if any it might also be broken.

[2022-11-14 23:42] berndverst commented on #2212
I was just wondering whether you are running 1.9.3 by now. But if it worked in 1.9.0 it will be fine in 1.9.3.

[2022-11-15 05:17] DeepanshuA commented on #2212
yeah, looking into it now

[2022-11-15 08:19] jrehnen opened #2280 "Azure EventHub PubSub component drastically reduces event distribution after a while"
## Expected Behavior

Unhandled events in the Azure EventHub get distributed to the Pods of the ReplicaSet until all events are handled.

## Actual Behavior

After (re-)starting the deployment, it runs as expected for a while. All pods receive events and run without issues.
After an hour or two, the first pod starts to only sporadically receive events. With more time, more and more pods display th

[2022-11-15 09:16] pravinpushkar commented on #2264
@bwojdyla I could not reproduce the issue, it seems to work fine for me. Please find below details steps and logs. Please let us know if there needs to any modification to the steps below -

- Start subscriber app to subscribe to 2 topics A and B. Took above shared yaml files but modified the topic names to keep simple.
- Start publisher app and send 5 messages only to topic A.
- Stop subscriber a

[2022-11-15 11:06] shubham1172 commented on #2271
Closing this since the current in-mem package EventBus does not have a good way to do this, and the workaround is similar to the BulkPublish implementation provided by Dapr runtime for its components.

[2022-11-15 11:06] shubham1172 commented on #2271
Closing this since the current in-mem package EventBus does not have a good way to do this, and the workaround is similar to the BulkPublish implementation provided by Dapr runtime for its components.

[2022-11-15 11:06] #2271 closed

[2022-11-15 11:07] bwojdyla commented on #2264
@pravinpushkar in logs you provided there is no information which topic was subscribed first
[code]
`re-initializing` happens but to determine which topic was subscribed first you need to enable debug logs.

In your case you should be able to reproduce issue if component subscribes to topic A first and then to topic B.
Also try to add some waiting in subscriber's message handler. 1s was enough for

[2022-11-15 13:00] pravinpushkar commented on #2264
@bwojdyla

The subscription happens through yaml files and AFAIK there is no way to specify which topic gets subscribed first.
But, to simulate the behaviour, this is what I did -

1. Kept only one subscription yaml i.e for topic 'A'
2. started subscriber app and publisher app
3. Publisher publishes 5 messages and all were received successfully at subscriber app.
4. stopped subscriber app and let

[2022-11-15 14:52] DeepanshuA commented on #2212
@ctoomey thanks for raising this and letting us know the issue that has occurred.

I have raised #2281 for this.

[2022-11-15 14:57] pravinpushkar commented on #2264
@bwojdyla Please see the below logs.

Initial logs. Messages from 1 to 6 on topic A get delivered before shutting down.

INFO[0000] **app is subscribed to the following topics: [B A]** through pubsub=orderpubsub  app_id=order-processor-http instance=Pravins-MacBook-Pro.local scope=dapr.runtime type=log ver=1.9.3
DEBU[0000] **subscribing to topic='A'** on pubsub='orderpubsub'  app_id=order-processo

[2022-11-15 16:11] bwojdyla commented on #2264
I'm using daprio/daprd:1.9.3 configured according:
https://docs.dapr.io/operations/hosting/self-hosted/self-hosted-with-docker/#run-using-docker-compose

I think you reproduced it.
For each message you should have following logs:
[code]

And you have those entries for messages 1-6 before restart.
After restarting subscriber there are entries only for single message i.e. A#7.

In my case only singl

[2022-11-15 17:03] ctoomey commented on #2212
Thanks @DeepanshuA

[2022-11-15 18:02] msfussell opened #2282 "AWS Component Testing Infrastructure"
## AWS Infrastructure
AWS Infrastructure needs to be set up for stable certification for components

## Release Note
Using the AWS supplied infrastructure account, this ensuring that AWS components are tested on AWS infra.

[2022-11-15 21:02] cmendible opened #2283 "Twitter Binding: Add support for Twitter API v2"
Twitter launched their API v2 which is now the default for Twitter applications. V1 applications can no longer be created.

The Twitter Binding should add support for the Twitter v2 API.

Perhaps the component should expose a property to specify the Twitter API version to use.

## Additional info

Binding starts with a v2 Twitter app but tweets don't flow into the stream.

The problem is caused by

[2022-11-15 21:07] berndverst commented on #2283
https://developer.twitter.com/en/docs/twitter-api/tools-and-libraries/v2

These are our choices for SDKs to use in the implementation:
[ctw](https://github.com/0dayfall/ctw) a library for the Twitter API
[go-twitter](https://github.com/g8rswimmer/go-twitter) a Go library for Twitter v2 API integration.
[gotwi](https://github.com/michimani/gotwi) a library for the Twitter API v2 in Go
[gotwtr](http

[2022-11-15 21:08] berndverst commented on #2283
With 178 stars right now this SDK has the most stars: https://github.com/g8rswimmer/go-twitter

[2022-11-15 21:14] olitomlinson commented on #1971
+1 for this

[2022-11-15 21:15] berndverst commented on #2283
The current component spec is
[code]

We could create a new v2 version of this component which could map to the Twitter v2 API, instead of creating a metadata field for the Twitter API version. This way we can separate the existing binding code with the old SDK and the code using the new SDK.

[2022-11-16 05:32] pravinpushkar commented on #2264
@bwojdyla
I see. So in your case you are not even receiving the message (after receiving the 1st message on restarting the subscriber) on the subscriber app ?
What my observation is I can receive the messages but agree that ACK is not present after the 1st message on restart.

Which MQTT broker you are using ?

[2022-11-16 06:48] bwojdyla commented on #2264
That's correct. I receive only first message on the subscriber app.

Solace
https://docs.solace.com/API/MQTT/MQTT-get-started.htm

I don't have. And I don't have experience with golang.

[2022-11-16 06:53] pravinpushkar commented on #2264
@bwojdyla ok. got it. Is it possible to try with other broker just for testing like mosquito. You can just start mosquito with this command - `docker run -d -p 1883:1883 -p 9001:9001 --name mqtt eclipse-mosquitto:1.6`
and the component yaml file will be something like this -

[code]

[2022-11-16 08:25] #2259 closed

[2022-11-16 10:00] bwojdyla commented on #2264
@pravinpushkar
I tested it with mosquitto and had same behavior on version daprio/daprd:1.9.3. So after restart only first message is delivered to app and none are acknowledged.

But after switching to daprio/daprd:edge messages are delivered and acknowledged. Both for solace and mosquitto.

Other issue is that messages are delivered twice on edge.
My guess is that it is because of client being re

[2022-11-16 11:51] pravinpushkar commented on #2264
Yeah, I think you are right. I am also able to reproduce it now on 1.9.3.

I guess you meant the pending messages only(when subscriber was down) and that too not all are getting delivered twice, right ?

[2022-11-16 12:21] pravinpushkar commented on #2264
Summary -
- Issue is reproducible with 1.9.3 and needs a fix.
- Issue does not exists with dapr edge version however the pending messages are getting delivered multiple times.

[2022-11-16 16:22] berndverst commented on #2280
Possibly will be fixed by #2101 - we will be replacing the underlying SDK used.

[2022-11-16 18:51] yaron2 commented on #2161
@Jarema will you be working on this?

[2022-11-16 23:31] yaron2 commented on #2231
@neeta-rathi there are several ways to provide an app (Dapr in this case) with the SecretID as mentioned in the link above.

One thing we can easily do is allow users to supply the SecretID to Dapr via the component secret ref, which means that on Kubernetes, there will be a k8s secret (in the example below, named `secretID`) that holds the SecretID value and provided to Dapr like this:

[code]

I

[2022-11-17 02:02] berndverst commented on #2282
This is a prerequisite for the AWS component certification tests (and ideally conformance tests).

A service account equivalent will need to be created and the credentials must be added to the Dapr GitHub organization by the STC.

The same service account will need to be used to run all tests, so for any future tests new permissions must be granted to this service account.

It is important not to

[2022-11-17 02:05] berndverst commented on #2128
I think we should table this and consider this for Document Store instead.

[2022-11-17 02:07] #2128 closed

[2022-11-17 02:08] berndverst commented on #1774
At this point this should not be worked on:

By default all Twitter apps are APIv2 apps now, and our existing binding is not compatible.
As part of #2283 a completely different SDK will need to be used.

[2022-11-17 02:16] berndverst commented on #86
Cassandra can only offer transactions when restricted to a single partition.

Since Dapr does not limit data to be stored in a single partition there is no way to guarantee transaction behavior.

I suggested **not proceeding with implementing transaction support**. Cassandra cannot be used as actor state store.

Thoughts @yaron2 @artursouza?
(As an aside, we also haven't received any requests from

[2022-11-17 02:19] berndverst commented on #102
The feedback here is not component specific but about the input binding flow.

This issue should be transferred to dapr/dapr. @yaron2 @artursouza

[2022-11-17 02:22] berndverst commented on #126
The maximum queue capacity is not a feature we currently have in any pubsub and binding components.

If this is still needed for RabbitMQ, could you please open a separate issue just for this feature request?

Separate issues for separate features help with implementation as well as letting the community find and upvote that issue.

[2022-11-17 02:25] berndverst commented on #126
I'm closing this issue as many items have been addressed here. And to help reprioritize or give focus to any feature requests here I ask that new requests are opened for each feature.

[2022-11-17 02:25] #126 closed

[2022-11-17 02:30] berndverst commented on #939
This is done by our certification tests today. Closing this issue as completed - thanks for laying the groundwork @pkedy

[2022-11-17 02:45] #378 closed

[2022-11-17 02:52] berndverst commented on #732
Given that #86 makes it clear that transaction support is unlikely. Is there enough value to add ETAG support?

Yes you can add a column to store a ETAG (a hash of the data / value combine with unix time millis or something like that).

This would mean every write operation would need an additional WHERE clause / operand, which can impact performance. Or the column needs to be indexed.

[2022-11-17 02:54] #2131 closed

[2022-11-17 02:56] berndverst opened #2288 "Add support for TTL in state stores for all relational databases"
Add support for TTL for all relational databases.

Use the native TTL features where possible, and otherwise simulate in Dapr.

To update:

- [X] CockroachDB: #2618
- [X] MongoDB: #2535
- [x] MySQL: #2641
- [X] PostgreSQL: #2302
- [x] Azure SQL Server: #2682
- [X] SQLite

[2022-11-17 03:02] berndverst commented on #941
I think this belongs in dapr/dapr, but it will also require some work for every component.

Recently I started to introduce a `GetComponentMetadata` method for every component type (only in state store this moment, but soon everywhere). This could actually be expanded to indicate that a given attribute is a secret. That would allow the runtime to check whether or not you were using a secretref / s

[2022-11-17 03:03] berndverst commented on #941
Please transfer to dapr/dapr -- @ItalyPaleAle / @artursouza

[2022-11-17 03:06] berndverst commented on #1526
one of these fixed this #2032 #2033 #2035

[2022-11-17 03:06] #1526 closed

[2022-11-17 03:12] berndverst commented on #1318
Should be fixed since 1.7 in PR https://github.com/dapr/dapr/pull/4213

[2022-11-17 03:12] #1318 closed

[2022-11-17 03:25] berndverst commented on #1244
The Cosmos DB State Store component was completely rewritten using a different SDK. Etag in transactions should be handled correctly now. Code here: https://github.com/dapr/components-contrib/blob/973ff8f94c0dd32f017c00bd3897f91e17db2d3d/state/azure/cosmosdb/cosmosdb.go#L355

Closing this issue as fixed since Dapr 1.9!

[2022-11-17 03:25] #1244 closed

[2022-11-17 03:27] berndverst commented on #1588
In v1.9 we upgraded to the new Azure SDK, so this likely is not a problem anymore. However, it has also been discussed that Query API will not leave Alpha state.

Instead we will be introducing a DocumentStore building block. Cosmos DB itself will eventually exist as a DocumentStore and a proper Query API will be implemented there.

Closing this as probably fixed already / wontfix.

[2022-11-17 03:27] #1588 closed

[2022-11-17 03:29] berndverst commented on #1162
Not sure when this happened, but it is done.

[2022-11-17 03:29] #1162 closed

[2022-11-17 03:53] ItalyPaleAle commented on #2288
In relational databases, we should be able to emulate TTL for state stores fairly easily. Here's how it will work:

- A new "expire_at" column (name can be changed depending on conventions for that database) is added to the table storing data which contains the time the record expires at.
  - The data type depends on what the database supports. If the database has native datetime types, it will us

[2022-11-17 04:18] shubham1172 commented on #1774
Agreed, closing in favor of #2283

[2022-11-17 04:18] #1774 closed

[2022-11-17 04:20] berndverst commented on #1689
@dapr/maintainers-components-contrib need to ensure that any PR impacting a stable components enables applicable conformance tests, and also adds certification tests that cover the new component metadata option.

As long as as this is done diligently I do not think it is necessary to recertify any component.

I would like to propose that no PRs for stable components are accepted unless certificati

[2022-11-17 04:23] berndverst commented on #1705
Query API will not graduate to stable in state store.

We will be introducing a DocumentStore API, and only DocumenStore components will have a Query API in the future.

I will close this issue so that nobody spends their time and effort pursuing this implementation. Thanks.

[2022-11-17 04:23] #1705 closed

[2022-11-17 04:25] berndverst commented on #1883
We will keep this in mind when working on:

#1529 #1530

[2022-11-17 05:49] berndverst commented on #1885
In commit f4a572280 the conformance test was added. What is missing is just adding this test to our conformance test workflow and figuring out the correct docker image to use.

@Jarema (Jetstream maintainer) will help with this :)

[2022-11-17 05:52] #1163 closed

[2022-11-17 11:24] pravinpushkar commented on #2264
@bwojdyla Thanks for reporting this and sharing inputs and logs. We are in the process of releasing a hotfix for this.

Feel free to create a separate issue regarding the multiple delivery of pending messages. At the moment this looks fine due to "at least one" semantic for message delivery. But if you feel otherwise please create a separate issue for discussion.

[2022-11-17 12:13] rabollin commented on #2284
@vikas2k14  - Would you please add few more details on why mTLS will not solve the problem of 2 way SSL.

[2022-11-17 12:37] rabollin commented on #1858
The Certification of Hashicorp to stable is being handled by other issue, this will be targeted to enable the Hashicorp vault supporting cert. / password renewals and publishing an event when renewal takes place.

[2022-11-17 13:21] mukundansundar commented on #1858
Done

[2022-11-17 13:58] rabollin opened #2292 "pub-sub - Support for MQTT5 specifications"
Currently DAPR pub-sub supports MQTT3.1 specification only. MQTT5(https://docs.oasis-open.org/mqtt/mqtt/v5.0/mqtt-v5.0.html) out there for some time.  For most IoT use cases, the MQTT 5 specification has become the logical choice. MQTT5 has an additional features like support for shared subscriptions, session & message expiry ..etc.

Since MQTT5 does not support backward compatibility, DAPR can su

[2022-11-17 16:37] ItalyPaleAle commented on #2288
Interestingly, looks like the Oracle state store already implemented TTLs in pretty much the same way described above.

[2022-11-17 19:30] berndverst commented on #2292
Maybe this is a candidate for a `v2` of the component.

Alternatively you will likely need to create something similar to my Redis PR (work in progress: https://github.com/dapr/components-contrib/pull/2228) which would mean you create an interface for MQTT and then provide two different implementations for the different MQTT versions - the implementation can be triggered based on a metadata proper

[2022-11-17 19:35] berndverst commented on #2288
@ItalyPaleAle do you plan to run DB migrations (with ALTER table statements) to add the `ttl` column?

[2022-11-17 19:36] ItalyPaleAle commented on #2288
Yes. Although because we don't keep a `migrations` table today, it may need to do some stuff to see if the column already exists.

[2022-11-17 20:52] berndverst commented on #2246
Will be implemented in https://github.com/dapr/components-contrib/pull/2276

[2022-11-17 22:24] #1051 closed

[2022-11-18 06:31] siredmar opened #2294 "Support jetstream token authentication"
## Describe the feature
It would be nice if token based authentication could be used for the jetstream pubsub component.

## Release Note

RELEASE NOTE:
**ADD** jetstream pubsub now supports token authentication

[2022-11-18 07:28] #2294 closed

[2022-11-18 10:52] NickLarsenNZ commented on #2161
So that was solved in #1114 right?
Is it still possible to then write different handlers to filter the subject (`topic` in Dapr) like in my example above?

[2022-11-18 22:31] yaron2 opened #2296 "Redis pub/sub: delete entry on successful ACK"
With Redis pub/sub, entries aren't automatically evicted from the server after an XACK command, which can lead to an ever-growing memory usage.

We should either perform XDEL on an entry after a successful XACK automatically or opt in for it with a metadata option like `deleteEntryAfterAck: true/false`.

[2022-11-18 22:32] berndverst commented on #2296
Whoever works on this: Please base your work on top of this PR: https://github.com/dapr/components-contrib/pull/2228

Do not merge your PR until 2228 is complete. Thanks!

[2022-11-19 23:24] olitomlinson commented on #2288
Also, can we consider offering two types of TTL
- fixed TTL - once the TTL is set, it is immutable.
- Sliding TTL (the TTL period is reset upon modification of the row)

FYI This is semantically the same as how Azure CosmosDb handles TTL expiry - even if the physical deletion process lags behind, the API only returns correct data.

[2022-11-20 04:07] #2051 closed

[2022-11-20 20:17] ItalyPaleAle commented on #2288
I believe the current behavior when updating a document with a TTL is that if TTL is not set, the default TTL is applied (resetting any previous TTL).

[2022-11-20 22:06] olitomlinson commented on #2288
@ItalyPaleAle That sounds like you are describing a sliding/relative TTL?

I wonder if this sliding/relative behaviour needs making more explicit on this page, as I'd say it could be ambiguous.

https://docs.dapr.io/developing-applications/building-blocks/state-management/state-store-ttl/

[2022-11-20 22:20] ItalyPaleAle commented on #2288
My source is here, based on the Oracle state store that already implemented this change: https://github.com/dapr/components-contrib/blob/d8c2ce47fdb49db8e9ba3ad825d0f9492c0e6f27/state/oracledatabase/oracledatabaseaccess.go#L192 Looks like @yaron2 confirmed that TTLs should "slide".

Yes, I think we should update the docs too

[2022-11-21 04:50] shubham1172 commented on #2209
🤖👋🏻

[2022-11-21 07:16] pravinpushkar commented on #2284
/assign

[2022-11-21 07:35] codefromthecrypt commented on #2274
ok I think this is not difficult to POC and at least if we prove the concept the rest is easier to reason with.

[2022-11-21 08:28] ItalyPaleAle commented on #2296
What happens if Dapr crashes after the XACK but before the XDEL?
Should we do a periodic garbage collection instead? (or in addition?)

[2022-11-21 08:29] ItalyPaleAle commented on #2282
IMHO I think it may be useful to keep all secrets in the same place. Since they're opaque, it doesn't matter if they're stored in AWS or Azure Key Vault or somewhere else... Having less places where secrets are stored makes management and access control easier.

[2022-11-21 09:38] berndverst commented on #2282
From a maintainer perspective I would like to envision a future where the Azure, AWS and other infra pieces can be managed by distinct people with distinct sets of permissions.

I still am strongly in favor of *not* mixing AWS and Azure components in the same test Workflows and not sharing any infra between these.

[2022-11-21 14:34] thielepaul opened #2300 "Mqtt retained messages are never acked and thus resent indefinitely"
## Expected Behavior

Retained mqtt messages should be only processed once.

## Actual Behavior

They are processed infinite times because they are never ack-ed by dapr and thus, the broker keeps retrying.

## Steps to Reproduce the Problem

Using [emqx](https://www.emqx.io/) as a message broker, create a dapr subscription on a topic where a retained message is available, then dapr will process th

[2022-11-21 14:35] thielepaul commented on #2300
@ItalyPaleAle I found another bug with mqtt, would be awesome if this could also be fixed in 1.10

[2022-11-21 17:28] mukundansundar commented on #2260
agreed with the @dapr/maintainers-dapr that the API response to users from Dapr API will be converted to `failedEntries`. Will be making the change as part of this as well

[2022-11-21 23:48] berndverst commented on #1567
Currently the Azure Identity SDK will introduce Workload Identity support sometime in January (if this doesn't slip further). Given the Dapr 1.10 release early February it is unclear whether we can release Workload Identity support in 1.10. 1.11 is looking more likely, but we will certainly try.

FYI @ItalyPaleAle

[2022-11-22 01:32] ItalyPaleAle opened #2301 "Two bugs in state.oracledatabase related to TTL"
There are two (small) bugs in the Oracle Database state store related to TTLs:

1. There's currently no "garbage collection" to delete expired records. See an example of how it's implemented in the SQLite state store: https://github.com/ItalyPaleAle/dapr-sqlite-statestore/blob/0800ba2a39d0e4967145865a6f799bfc52348b04/component/sqlite_dbaccess.go#L357-L358
2. When updating a record, the TLL column

[2022-11-22 05:58] wesselkranenborg commented on #2280
It looks like we are experiencing the same behavior. Is there any way to work around this @berndverst that you are aware of?

[2022-11-22 06:25] pravinpushkar commented on #2300
@thielepaul Would you be able to share the pubsub.yaml and subscription.yaml files ?

[2022-11-22 07:27] thielepaul commented on #2300
Yes, here is a MWE:

`pubsub.yaml`
[code]

`main.go`
[code]

[code]

[code]

[2022-11-22 08:10] bwojdyla opened #2306 "Mqtt pubsub components delivers pending messages multiple times on startup when multiple subscriptions configured"
## Expected Behavior

Pending messages should be delivered once when consumer starts for qos=2.
Same issue happens when qos=1.
One might argue that qos=1 states 'At least once'. But we might expect redelivery in case of some failure.
But in scenario below it looks like regular behavior on startup.

## Actual Behavior

If there are some pending messages when consumer starts then they might be deliv

[2022-11-22 12:35] pravinpushkar commented on #2300
Few observation which might help in debugging further -

1. I published one messaged with qos 1 and retain true.
2. I got one message on the subscriber. Now when I kill the daprd and restart again I get the retained messages but with each daprd restart I get few times more. For example on 1st restart I get let say 3 times then on 4th restart I get more than 3 times and it keeps on increasing with

[2022-11-22 12:51] SpikeWong commented on #2296
I have a question, how to make sure this message has acked by all consumer groups?
I don’t know in current situation our redis pub sub component whether has multiple consumer groups. If does, should we use some extra efforts to make sure this message has also confirmed by other consumer groups before we delete it.  As I know, currently redis hasn’t provided an api to check the message consuming pr

[2022-11-22 16:45] thielepaul commented on #2300
@pravinpushkar Which broker did you use? I used emqx 5.0

[2022-11-22 16:49] yaron2 commented on #2296
If the Redis entry isn't scoped to a consumer group then we can't use XDEL because there isn't a way to guarantee an ACK from all consumer groups.

[2022-11-23 02:16] shubham1172 commented on #2209
/assign

[2022-11-23 05:12] #2209 closed

[2022-11-23 05:51] pravinpushkar commented on #2264
@bwojdyla Feel free to close this.

[2022-11-23 06:12] SpikeWong commented on #2296
So what do you mean entry scoped to a consumer group? Is that mean this is only one consume group that will consume the entry/topic?
Is there any api/way to get this information?

[2022-11-23 06:18] #2264 closed

[2022-11-23 08:54] pravinpushkar commented on #2300
I am using mosquitto.

@thielepaul  Would you be able to test it once using mosquitto ?

AFAIK this seems fine but we need to be sure.

[2022-11-23 10:08] thielepaul commented on #2300
@pravinpushkar

If we ack it, it will still be delivered on a reconnect. I tested this just now with both emqx and mosquitto.

You can reproduce the issue with emqx like this:
[code]

I can confirm that I cannot reproduce it with mosquitto and I also was not able to find any documentation on how to set the retransmission interval for mosquitto.

There is more information about retransmission in th

[2022-11-24 05:28] danielgerlag commented on #2204
Ping

[2022-11-24 08:27] sarsharma opened #2308 "Change Cron from input/output binding to only input binding component"
Currently cron is an `input/output` binding component which supports `delete` operation.
This behaviour is unique to cron where the output binding is trying to stop the read operation of the input binding.
Cron is registered as both output and input binding in the dapr runtime
https://github.com/dapr/dapr/blob/410caa9a36725e43d0469b85e8f93958bdece3ce/cmd/daprd/components/binding_cron.go#L24-L29
Th

[2022-11-24 09:15] bwojdyla opened #2309 "Mqtt PubSub multiplies messages when application unhealthy detected"
## Expected Behavior

If dapr sidecar detects application is unhealthy it should unsubscribe from message broker without multiplying messages on queue.

## Actual Behavior

If dapr sidecar detects application is unhealthy it multiplies messages on consumer's queue.

## Steps to Reproduce the Problem
Enable app healthchecks https://docs.dapr.io/developing-applications/building-blocks/observability/

[2022-11-24 14:11] Jarema opened #2311 "Topic ingored when creating JetStream pub sub"
## Expected Behavior

When creating Subscription for JetStream PubSub, `topic` should be considered.

## Actual Behavior

Topic is ignored, all messages from stream are ingested by the Consumer.

## Steps to Reproduce the Problem

Create a Subscription with any topic for JetStream PubSub

## Release Note

RELEASE NOTE:

[2022-11-24 15:57] rabollin commented on #2187
Commenting to keep the issue active

[2022-11-24 16:23] danielgerlag commented on #2204
@berndverst

[2022-11-24 17:20] DeepanshuA commented on #2300
@thielepaul I confirm that I am able to replicate this issue with emqx.
daprd doesn't send ACK in case of a Retained message, as it returns for this case:
https://github.com/dapr/components-contrib/blob/ead9ffa665dd15474ab04392309789c7754aaf8d/pubsub/mqtt/mqtt.go#L253

When I commented out these condition, the issue got resolved. Will be opening related PR shortly: https://github.com/dapr/componen

[2022-11-25 10:30] mukundansundar commented on #2223
/keep-alive

[2022-11-25 11:25] DeepanshuA opened #2313 "MQTT PubSub Component To Support ONLY QoS 1"
### Dapr to Remove Support of QoS 0 and 2 from MQTT PubSub

**Dapr works on the concept of "at least once"**

Now, let's try to map it with MQTT qos concept and see if Dapr can support all QoS 0, 1 or 2.

**QoS 0: At MOST once**

Once App receives a message, it may assume that it doesn't need to respond back with any ACK, as it is not required for qos 0.
But, dapr tries to simulate broker for retr

[2022-11-25 13:32] Jarema opened #2314 "Rework JetStream deliver policy"
Current NATS JetStream metadata is not in line with most NATS clients regarding delivery policies, and on top of that, does not provide all the options.

Right now it has:
`deliverAll: bool`
which drives deliveryPolicy based on true/false and startTime/startSequence.
This does not allow to use `deliver policy new`.
## Describe the feature
Reword JetStream Metada to be in line with nats.go client:

[2022-11-25 16:34] #1980 closed

[2022-11-26 20:45] mukundansundar commented on #2173
/keep-alive

[2022-11-27 05:50] rabollin commented on #2173
Currently Pub-sub configurations are handled by sarama library[https://pkg.go.dev/github.com/shopify/sarama] and there is not much scope for the App developers to edit the configurations. I think extending the implementation to allow configuration edits may help.

[2022-11-27 10:24] shivamkm07 commented on #2309
I can reproduce the issue. Also, if there are multiple applications subscribing to the same topic, and one of the applications fail, the message gets re-delivered to **all** applications indefinitely, even for those applications which are healthy.

This issue is independent of #2306. It's happening because of https://github.com/dapr/components-contrib/blob/ead9ffa665dd15474ab04392309789c7754aaf8d/

[2022-11-27 19:35] ItalyPaleAle commented on #2309
@shivamkm07 good investigation.

#1798 removed built-in retries because those should be handled with Resiliency instead. This was made by design.

I do understand how re-publishing the message is creating this issue, however. And this seems to be quite the pickle, all due to the fact that MQTT doesn't have the concept of "NACK's" in the current version we support (seems that something was added in

[2022-11-27 21:57] artursouza opened #2317 "MQTT pubsub to offer metadata for retained messages"
## Describe the feature
Today, MQTT pubsub offers the `retain` attribute in the component as a global settings - meaning that every message published with  that component will have its value set to true. On the other hand, applications might require only some messages to be set as retained (since only one retained message is allowed per topic). This feature request is to allow `retain` attribute t

[2022-11-28 04:28] shivamkm07 commented on #2309
In case of failures, we don't ack the message back to broker both in [1.9](https://github.com/dapr/components-contrib/blob/ead9ffa665dd15474ab04392309789c7754aaf8d/pubsub/mqtt/mqtt.go#L272) and [1.8](https://github.com/dapr/components-contrib/blob/9350f2ef580f339e2e1eb33be713e1ced3e12463/pubsub/mqtt/mqtt.go#L349) (after all retries are exhausted). Since default value of QOS is 1, the broker will r

[2022-11-28 04:31] ItalyPaleAle commented on #2309
Alright, sounds good! I forgot about the QOS.

[2022-11-28 04:39] shivamkm07 commented on #2309
Can we revert back to backoff retries specifically for mqtt? I think that might be better optimized than just leaving it to broker to re-send the messages as retry-interval is not configurable for all brokers and waiting for that much time for the retries might not be preferred option. Also since it's the pubsub handler that failed, it would make more sense for Dapr sidecar to retry sending it to

[2022-11-28 04:51] ItalyPaleAle commented on #2309
For retries within the same sidecar, one should use Resiliency. I don't think we should support that on a component-by-component basis, and we should actually remove built-in retries from all components (see #1797)

[2022-11-28 06:02] DeepanshuA commented on #2309
We don't need to support or bring back `backoffmaxretries`, we can simply keep using `maxRetriableErrorsPerSec`. But, instead of re-publishing, we can simply call back topic handler. So, essentially only that particular subscription is going to be affected and NOT all.

[2022-11-28 06:28] DeepanshuA commented on #2306
I am able to reproduce it.
Issue:
Start subscribers S1, S2 and S3:::::: S1 -> S2 -> S3

Topics are formed

Stop subscribers

Publish Messages on these topics S1, S2 and S3

Start back subscribers. These pending messages will be subscribed multiple times.

- It happens during this time. Subscription happens and paho.mqtt receives a message for it. Then, subscription disconnects and again connects.

[2022-11-28 07:03] ItalyPaleAle commented on #2309
Yes, that's what #1797 is about. People should use resiliency for this.

As for re-publishing, I agree removing that seems to be the right thing to do.

[2022-11-28 08:34] SpikeWong commented on #2317
/assign

[2022-11-28 14:37] perokvist opened #2319 "CosmosDB - State Component - StateTransactionRequest with etag crashes"
## Expected Behavior

Using the .NET SDK when creating a StateTransactionRequest, an etag could be passed.
[code]

## Actual Behavior

`client.ExecuteStateTransactionAsync("statestore", requests, null)`
When setting any etag, dapr exits with code 2, and the following error is logged.

[code]

## Steps to Reproduce the Problem
Version 1.9.4
Dapr.Client 1.9

- Create a StateTransactionRequest with a

[2022-11-28 16:17] ItalyPaleAle commented on #2319
@RyanLettieri can you please take a look?

[2022-11-28 18:00] #2300 closed

[2022-11-28 18:01] ItalyPaleAle commented on #2313
I think removing support for QoS = 0 makes a lot of sense (it actually used to be the default until Dapr 1.7 I believe!), and making QoS = 1 the new default.

Not sure if removing 2 is needed however. We guarantee “at least once” delivery, so if the message were to be delivered twice in some situations, it may not necessarily be bad?

[2022-11-28 20:45] RyanLettieri commented on #2319
@ItalyPaleAle It looks like the issue might be with the way we declare "options" inside the "Multi" function. After making the following change, it seems to work locally:
`var options *azcosmos.TransactionalBatchItemOptions` to `options := &azcosmos.TransactionalBatchItemOptions{}`

I'm running a few tests now and adding in the test case to avoid this from happening again.

[2022-11-29 01:27] #2210 closed

[2022-11-29 02:01] #1530 closed

[2022-11-29 04:14] shivamkm07 opened #2325 "Conformance Test for Config API"
## Describe the feature
Currently we don't have a conformance test for Config API at all. It needs to be added as per this [guide](https://docs.dapr.io/operations/components/certification-lifecycle/#conformance-tests)

## Release Note

RELEASE NOTE: **ADD** Conformance test for Config API

[2022-11-29 04:14] shivamkm07 commented on #2325
/assign

[2022-11-29 04:18] shivamkm07 opened #2326 "Certification Test for Redis Configuration Store"
## Describe the feature
This is to add Certification tests for Redis Configuration Store. It needs to be added to certify the component stable as per this [guide](https://docs.dapr.io/operations/components/certification-lifecycle/#certification-tests)

## Release Note

RELEASE NOTE: **ADD** Certification test for Redis Configuration Store

[2022-11-29 04:18] shivamkm07 commented on #2326
/assign

[2022-11-29 08:53] helloxubo opened #2334 "About middleware.http.bearer"
Hello, I had a problem when I used middleware.http.bearer, using the token to call the state api returns 401; I'm sure the token is correct,
dapr has no logs. how do I troubleshoot the problem?
In addition, the clientId of metadata is Audience?

![QQ截图20221129164441](https://user-images.githubusercontent.com/38270190/204482825-9d927293-5ed2-4c91-9c66-d18ca5f1a9b7.png)
![QQ截图20221129164524](https:/

[2022-11-29 16:39] shivamkm07 commented on #2325
@berndverst Can you please add this to 1.10?

[2022-11-29 17:44] #1928 closed

[2022-11-29 17:45] ItalyPaleAle commented on #2204
Hi @danielgerlag last week was a holiday week in the US and our team was mostly not at work.

Can you share your component YAML files and any information that can help us reproduce the issue?

[2022-11-29 18:05] #2199 closed

[2022-11-29 18:52] DinoVino opened #2328 "Subscription Filter Synchronisation Message Broker, using YAML"
## Describe the feature
The desired feature would enable the developer to configure filters on the message broker. This ensures that you do not create any overhead. Subscribers will only receive the necessary messages, thus not overloading the Dapr sidecar. This way, you can make it portable and not use terraform scripts to set those filters for the brokers.

### Scenario
Our current necessitates

[2022-11-29 19:55] shivamkm07 opened #2329 "MQTT pubsub component supportability in Dapr"
Currently MQTT pubsub component supports MQTT 3 spec. Since Dapr gives at-least-once guarantee for messages published, it can only be achieved if broker re-sends messages which are not acknowledged. (In MQTT there is no concept of NACK). However, MQTT 3 spec doesn't make it necessary for brokers to resend unacknowledged messages after a fixed period, instead it only requires brokers to resend unac

[2022-11-29 19:57] shivamkm07 commented on #2329
cc @artursouza @yaron2 @ItalyPaleAle @DeepanshuA

[2022-11-29 20:03] shivamkm07 commented on #2313
But if message is redelivered, that would break the semantics of QOS 2. Then essentially qos 2 would be same in behavior as qos 1, which wouldn't be what user would be expecting when using qos 2.

[2022-11-29 20:26] ItalyPaleAle commented on #2329
(Also CC @berndverst for when he's back)

Thanks @shivamkm07 for the detailed writeup and good work on the analysis :)

I know MQTT is a rather popular broker (anecdotally, based on the number of inquiries we see), so IMHO deprecating it entirely should be a worst-case scenario only (option 2). Also, I would consider your option 3 a non-starter.

At the very first, I think we should document that

[2022-11-30 01:18] tmacam opened #2330 "Hashicorp Vaul tests ignore components initialization errors and test for uninitialized/undefined behaviour"
## Expected Behavior
## Actual Behavior

Tests in `vault_test.go` had the following:

[code]

As of Go 1.18 this is not the case for Windows anymore and
we can instead enforce error checking. References:

* https://github.com/golang/go/issues/16736
* https://github.com/golang/go/issues/18609
* https://github.com/rancher/system-agent/pull/84
* https://github.com/jaegertracing/jaeger/pull/2756

Give

[2022-11-30 03:24] Taction commented on #2274
That's a great idea. And I have an idea of wasm which is not within the scope of this proposal, but is close to what yarn2's extended proposal. If we can add a wasm engine that allows "actors" to run as webassembly, and provide a set of abi definitions for wasm actor. That means the wasm actor can use all dapr components.

[2022-11-30 05:02] shubham1172 opened #2332 "Investigate Dapr bot failures on pull request labelling"
## Expected Behavior

Dapr bot should work when PRs are labelled, same way as it works when issues are labelled.

## Actual Behavior

It throws an error with PR labeling. Examples:

<img width="839" alt="image" src="https://user-images.githubusercontent.com/22132944/204711507-4ba28382-4f8e-4014-b686-e73645a91bc7.png">

https://github.com/dapr/components-contrib/actions/runs/3570292159/jobs/6001130

[2022-11-30 18:33] #2330 closed

[2022-11-30 18:38] danielgerlag commented on #2204
[code]

[code]

[2022-11-30 19:15] ItalyPaleAle commented on #2204
Ok, so the issue is that when you send a RETRY message, Redis is enqueuing the message at the end and re-delivering out of order?

That's not something we have control over I'm afraid. Each pubsub broker can implement ordering in a different way, especially in case of re-enqueued messages. Dapr doesn't make any guarantee on messages being delivered in any particular order, as that's something that

[2022-11-30 19:38] #1926 closed

[2022-11-30 20:20] adawalli commented on #2029
/remove-stale