[2022-02-11 13:46] pkedy opened #1497 "Postgres State Store: `cannot convert to pguint32` error when updating with ETag"
## Expected Behavior

I should be able to update a key using ETag.

## Actual Behavior

A conversion error is returned...

[code]

where `956` is the ETag value.

## Steps to Reproduce the Problem

Calling `Set` on an existing item with an ETag should reproduce this.

I discovered this by using the Postgres state store as my Actor state store (config below) and invoking CreateReminder. The first c

[2022-02-11 22:02] kamilzzz opened #1499 "Azure CosmosDB input binding (using change feed)"
Idea is to implement input binding for Azure CosmosDB, so we can get notified when items are created and updated.
CosmosDB SDKs for several languages have built-in support for working with change feed (using either push or pull model), however I'm not sure about Go SDK as it isn't listed in the documentation.

I think this might be helpful in case when we are using pub/sub communication with trans

[2022-02-12 13:12] Gehhilfe commented on #1422
!assign

[2022-02-14 05:42] shubham1172 commented on #1210
Per the conformance tests run in https://github.com/dapr/components-contrib/runs/5177659685, the following state stores are failing too:
1. SQL Server - fails with the error message `delete affected only 0 rows, expected 1` because deletes are attempted before upserts in the code, no matter what.
2. Postgresql - deletion always happens before upserts and the transaction fail.
3. MySQL - same as Po

[2022-02-14 12:31] shubham1172 commented on #1210
@artursouza, do you think the fixes should be a part of the same PR? Or should we track them separately?

[2022-02-14 15:45] shersh commented on #1494
Here it will be always saving as string
https://github.com/dapr/components-contrib/blob/7fdebda09b7177dca38137744b9240ed3b223885/state/mongodb/mongodb.go#L181

So we can just try to unmarshall as json it if true - save object, otherwise as is

[2022-02-15 05:01] shubham1172 commented on #1477
Hi @beiwei30, can you please have a look at https://github.com/alibabacloud-go/alibabacloud-gateway-spi/pull/1?

[2022-02-15 05:10] shubham1172 commented on #1479
External issues:
- https://github.com/beefsack/go-rate/issues/10
- https://github.com/apache/pulsar-client-go/issues/725

[2022-02-15 07:40] saber-wang opened #1502 "can supports rabbitmq pubsub set exchangekind?"
Currently, exchangekind is fixed as fanout https://github.com/dapr/components-contrib/blob/7fdebda09b7177dca38137744b9240ed3b223885/pubsub/rabbitmq/rabbitmq.go#L33

Hope to support `exchangekind = topic` and event name as routing key
I see a similar merge request, but it has been closed  #573

[2022-02-15 08:24] shubham1172 commented on #1480
External issues:
- https://github.com/couchbaselabs/jsonx/issues/1

[2022-02-15 17:46] #1464 closed

[2022-02-15 20:37] #1423 closed

[2022-02-15 23:54] yaron2 commented on #1502
This is currently not possible. The PR above was closed due to the author being unresponsive. Would you like to open a PR for this? You can use the code in that PR that refers to the exchange metadata.

[2022-02-16 02:00] #1497 closed

[2022-02-16 02:06] daixiang0 commented on #1494
https://github.com/dapr/components-contrib/blob/7fdebda09b7177dca38137744b9240ed3b223885/state/mongodb/mongodb.go#L198-L199

Do you mean this request makes mongo always handle it as string, not json?

[2022-02-16 04:39] shubham1172 commented on #1474
External issue: https://github.com/wildbit/postmark-cli/issues/58

[2022-02-16 08:19] Xilosof commented on #1372
I have the same problem on `daprio/daprd:1.6.0`.
Also tested `dmitsh/daprd:dev-rmq-linux-amd64`

[code]

I use eShopOnDapr from master (just change dapr version to 1.6 and change pub-sub.yml)

[2022-02-16 10:41] shersh commented on #1494
In your lines mongo just save value, but in case when value is string it will be saved just as string, if it will be interger as interger, if it will be object it will be saved as object

But "value" will always string when using Dapr api, because it constructed from ByteString

[2022-02-16 14:11] pratik2247 opened #1503 "Load balancing dapr sidecars in Self hosted different linux machines"
Hi Team,

We have three java services namely ,
1. Gateway  ( dapr http port : 3700 ,app-id : gateway , Running on X linux sever )
2. Service_1 ( dapr http port : 3601 ,app-id : serviceone , Running on X linux sever )
3. Service_1 ( dapr http port : 3602 ,app-id : serviceone , Running on Y linux sever )

We want to call Service_1 via Gateway service only.

How we can achieve load balancing of Servi

[2022-02-16 19:50] Xilosof commented on #1372
Source from repro repos https://github.com/amolenk/DaprRMQRepro/blob/master/docker-compose.yml successfully works.
From my log you can see that retry policy works and trying to connect every 3s.
Any suggestions?

[2022-02-17 01:34] daixiang0 commented on #1494
Good catch, are you interested in enhancing it?

[2022-02-17 06:07] Shoothzj opened #1504 "[question] can I contribute a Publish component about dis to this repo"
Hello, dapr community, can I contribute a Publish component about dis to this repo pubsub? It can allow applications to produce message to Huawei Cloud dis.
About Huawei Cloud Dis:  https://www.huaweicloud.com/en-us/product/dis.html

[2022-02-17 06:58] yaron2 commented on #1504
Yes, that'll be a welcome addition.

[2022-02-17 07:51] shubham1172 opened #1505 "Azure SQL Server state store changes order of transaction"
Similar to #1209

## Expected Behavior
For the following transaction:
[code]
Expectation is that `key1` should be deleted, `key2` should have a value of `value2`.

## Actual Behavior
`key1`:`value1` is present, along with `key2`: `value2`.

## Steps to Reproduce the Problem
Please use the JS snippet from the referenced issue (1209)

## Details
In the transaction snippet for this state store, the d

[2022-02-17 07:52] shubham1172 commented on #1505
/assign

[2022-02-17 12:25] nupis-DanielS opened #1570 "MongoDB state store returns saved JSON array uncorrectly"
## In what area(s)?

 /area runtime

 /area docs

## What version of Dapr?

1.5.x and above

## Expected Behavior

When retrieving a JSON array from the state store the structure should be the same as it was saved. The output was correct till version 1.4.x. The expected behaviour would be the same as in the current documentation.

` wget http://localhost:3500/v1.0/state/state-store/planet --header

[2022-02-17 14:05] pratik2247 opened #1507 "Java SDK - Connect to Specific DaperClient"
Hi All,

From JAVA SDK , can we connect to specific Dapr while working with different machines ?

Eg: DaprClient client = (new DaprClientBuilder()).build()
 We are using above syntax to get DaprClient of current system. Can we get DaprClient instance of particular host by providing host information ?

[2022-02-17 17:44] Gehhilfe commented on #1507
Hi @pratik2247,
as of my knowledge, it is not indented to access a daprd running on a different machine, and it is part of the security design.

[2022-02-17 18:19] #1422 closed

[2022-02-18 10:15] shubham1172 opened #1510 "[Proposal][Vote-required] Removal of Postmark binding"
## Description

This proposal is to vote for removing the Postmark binding from components-contrib.

|Name| Type| Status| Component version| Introduced in|
|--|--|--|--|--|
|Postmark| Output| Alpha| v1| 1.0|

https://docs.dapr.io/reference/components-reference/supported-bindings/

### Background

Per https://github.com/dapr/dapr/issues/4158, we found that the current postmark library https://githu

[2022-02-18 10:39] shubham1172 commented on #1209
/assign

[2022-02-18 16:10] yaron2 commented on #1510
Based on your comment here https://github.com/dapr/components-contrib/pull/1484#issuecomment-1039830139, @shubham1172 , I don't see any valid reason to remove the binding, since there is a path forward with a library that meets CNCF expectations.

[2022-02-18 16:51] yaron2 commented on #1510
The term "popular" in this context is highly subjective without clear value, and as such, in this case, hardly a good criteria item for the removal. As a maintainer, what's important for me in terms of de-risking a library is seeing that the package is actively maintained (ie. commits within past 12 months) and has a correct license in place.

Based on this latest info, I will not support removal

[2022-02-18 18:27] artursouza commented on #1510
Based on Yaron's insights. I vote not to remove this component. We should change the dependency instead.

[2022-02-19 09:05] #1026 closed

[2022-02-19 11:36] shubham1172 commented on #1510
Closing this issue in favor of replacing the library. I will reopen my PR.

[2022-02-19 11:36] #1510 closed

[2022-02-20 07:43] Taction commented on #1502
@saber-wang Currently, when using rabbitmq, an exchange will be created for every topic. What are you want is multiple topics to use the same exchange and use the topic to be the routing key? If this is the case, maybe you can try https://docs.dapr.io/developing-applications/building-blocks/pubsub/howto-route-messages/

[2022-02-20 20:46] #1413 closed

[2022-02-20 21:05] #1414 closed

[2022-02-21 01:27] lysilver opened #1513 "consul load balancer"
Dapr registers with Consul. After the same appid, one service takes the place of the first service

## Expected Behavior

load balancer

## Actual Behavior

Dapr registers with Consul. After the same appid, one service takes the place of the first service  #1199

dapr version 1.5

[code]
## Steps to Reproduce the Problem

## Release Note

[2022-02-21 09:33] shubham1172 opened #1517 "Azure SQL Server delete behavior in transaction"
# Problem

Say a transaction with only one delete operation is executed on SQL server:
[code]
If `k1` is not present in the DB already, this transaction will fail with the error message: `delete affected only 0 rows, expected 1`.

Is this an expected behavior?

It is not reproducible with other state stores. If the item is not available, they do not error out.

# Proposal

If the above behavior is

[2022-02-21 09:55] pratik2247 commented on #1503
Anyone has update on this ?

[2022-02-21 10:12] shubham1172 commented on #1517
Added a PR for fix with 2nd proposal.

[2022-02-21 10:35] shubham1172 commented on #1517
/assign

[2022-02-21 11:25] Taction commented on #1502
`exchangekind` can be supported. Just a small change, the routing key needs to be set from metadata. For example, app with config:
[code]

and if client send messages by
[code]
these messages will be received by the app. While these messages with another routing key will not be received by the app:
[code]

And this is not a breaking change, the default behavior will act as before.

[2022-02-21 15:51] mukundansundar commented on #1209
@artursouza @yaron2 @shubham1172 In this case for transactions with first write concurrency, shouldn't all those transactions fail if the same key is updated more than once in the transaction?

[2022-02-21 16:00] shubham1172 commented on #1209
#1244 seems to be covering it. Looking at the code, Cosmos DB completely ignores ETags today.

[2022-02-21 21:08] #1502 closed

[2022-02-21 21:09] yaron2 commented on #1502
Thanks for fixing this @Taction. If docs changes are needed, please make sure to submit a PR to the docs repo.

[2022-02-22 04:58] shubham1172 commented on #1477
/cc @yaron2 @artursouza, can you please help here in getting some traction on the PR?

[2022-02-22 05:15] #1505 closed

[2022-02-22 05:19] shubham1172 commented on #1517
Closed by #1516

[2022-02-22 05:19] #1517 closed

[2022-02-22 05:53] shubham1172 opened #1521 "MySQL state store changes order of transaction"
Similar to #1209

## Expected Behavior

For the following transaction:
[code]
Expectation is that `key1` should be deleted, `key2` should have a value of `value2`.

## Actual Behavior

Both `key1`:`value1` and `key2`:`value2` are present.

## Steps to Reproduce the Problem
Please use the JS snipped from the reference issue (1209)

## Details
Under the hood, MySQL store attempts all the deletions f

[2022-02-22 05:55] shubham1172 opened #1522 "PostreSQL state store changes order of transaction"
This issue is the same as its MySQL counterpart, here #1521

## Release Note

RELEASE NOTE: **FIX** PostreSQL state store's transaction API to respect order of operations.

[2022-02-22 11:39] shubham1172 commented on #1522
/assign

[2022-02-22 11:39] shubham1172 commented on #1521
/assign

[2022-02-22 11:42] Taction commented on #1502
Sure, PR has been submitted to the docs repo.

[2022-02-23 01:32] #1480 closed

[2022-02-23 05:58] shubham1172 commented on #1479
apache/pulsar-client-go's next release will be on April 30 https://github.com/apache/pulsar-client-go/milestone/10

[2022-02-23 06:49] um3sh opened #1525 "Support open policy agent policy packages and custom extension"
## Describe the feature
Open policy agent http middleware only supports inline policies specified in component file which limits sharing policies.

Is it feasible to support the following features:
1. [packages](https://www.openpolicyagent.org/docs/latest/policy-language/#packages)
2. [custom extension](https://www.openpolicyagent.org/docs/latest/extensions/)

[2022-02-24 01:38] daixiang0 commented on #1525
Sounds great, @um3sh are you interested in it?

[2022-02-24 09:37] #1449 closed

[2022-02-24 21:19] yaron2 commented on #1495
@bgelens we're looking into it!

[2022-02-24 22:06] berndverst opened #1526 "[Azure][Track 2 SDK] Migrate Cosmos DB State Store"
Migrate Cosmos DB State Store component to SDK github.com/Azure/azure-sdk-for-go/sdk/data/azcosmos

[2022-02-24 22:07] berndverst opened #1527 "[Azure][Track 2 SDK] Migrate Cosmos DB Binding"
Migrate Cosmos DB Binding to SDK github.com/Azure/azure-sdk-for-go/sdk/data/azcosmos

[2022-02-24 22:09] berndverst opened #1528 "[Azure][Track 2 SDK] Migrate Azure Table Storage State Store"
Migrate Azure Table Storage State Store component to SDK github.com/Azure/azure-sdk-for-go/sdk/data/aztables

[2022-02-24 22:09] berndverst opened #1529 "[Azure][Track 2 SDK] Migrate Azure Blobstorage State Store"
Migrate Azure Blob Storage State Store to SDK github.com/Azure/azure-sdk-for-go/sdk/storage/azblob

[2022-02-24 22:12] berndverst opened #1530 "[Azure][Track 2 SDK] Migrate Azure Blob Storage Binding"
Migrate Azure Blob Storage Binding to SDK github.com/Azure/azure-sdk-for-go/sdk/storage/azblob

[2022-02-24 22:15] berndverst opened #1531 "[Azure][Track 2 SDK] Migrate Azure Service Bus Queues Binding"
Migrate Azure Service Bus Queues Binding to SDK github.com/Azure/azure-sdk-for-go/sdk/messaging/azservicebus

[2022-02-24 22:16] berndverst opened #1532 "[Azure][Track 2 SDK] Migrate Azure Service Bus PubSub"
Migrate Azure Service Bus PubSub to SDK github.com/Azure/azure-sdk-for-go/sdk/messaging/azservicebus

[2022-02-24 22:33] berndverst commented on #1530
Latest status on this:

Not currently possible due to
- [ ] https://github.com/Azure/azure-sdk-for-go/issues/17152
- [ ] https://github.com/Azure/azure-sdk-for-go/issues/17061
- [ ] https://github.com/Azure/azure-sdk-for-go/issues/16679

[2022-02-24 22:33] berndverst commented on #1529
May be impacted by these items
- [ ] https://github.com/Azure/azure-sdk-for-go/issues/17152
- [ ] https://github.com/Azure/azure-sdk-for-go/issues/17061
- [ ] https://github.com/Azure/azure-sdk-for-go/issues/16679

[2022-02-24 22:35] berndverst commented on #1528
This should be done for #950

I have a PoC for this migration, so will see if I can complete it. But I'm not working on the stable certification.

[2022-02-24 22:36] berndverst commented on #950
From recent Discord activity is clear that customers expect this component to connect to **both** Azure Blobstorage Tables as well as Cosmos DB Tables API. That can be facilitated by using the new Track 2 SDK and exposing the relevant options as component metadata.

Tracking the Track 2 migration work separately at https://github.com/dapr/components-contrib/issues/1528

[2022-02-24 22:38] berndverst commented on #1527
Requires AAD support to be implemented
- [ ] https://github.com/Azure/azure-sdk-for-go/issues/16219

[2022-02-24 22:39] berndverst commented on #1526
Requires the following to be completed

- [ ] https://github.com/Azure/azure-sdk-for-go/issues/16219 (AAD support)
- [ ] https://github.com/Azure/azure-sdk-for-go/issues/16220 (Query support)

[2022-02-24 23:22] berndverst commented on #1495
I just read through the AMQP Errors.. the only relevant errors I could find that might be worth retrying are as follows. I propose just updating the code with this

![MicrosoftTeams-image (2)](https://user-images.githubusercontent.com/4535280/155624153-635ef269-eea8-4e53-b0ba-025b9da25ef0.png)

[2022-02-24 23:38] berndverst commented on #1495
Unfortunately the AMQP package is consistent about what is an internal server error and what is a user / client error. I added all the error conditions as made sense from this list https://docs.microsoft.com/en-us/javascript/api/@azure/amqp-common/conditionstatusmapper?view=azure-node-preview

While that URL is for a different SDK it represents the errors that can be returned.

[2022-02-25 01:43] #1495 closed

[2022-02-25 06:40] #1474 closed

[2022-02-25 10:43] bgelens commented on #1495
Thanks for working on this @berndverst! Do you figure the connection reset by peer is part of the retryable error lists? I'm guessing the internalerror one.

[2022-02-25 14:47] dmitsh opened #1534 "add certification tests for Redis"
This is a follow-up on https://github.com/dapr/components-contrib/pull/1488.

- create certification tests for Redis
- include tests for querying of JSON objects.

[2022-02-27 14:30] haobiaosheng opened #1536 "redis output binding only support "create" operation?"
I am follow this guide:https://docs.dapr.io/reference/components-reference/supported-bindings/redis/,
in this page, I found that, redis output binding only support create operation, and if a dapr app with redis output binding, and exec the create operation, how the dapr app to get the redis content after insert the redis key ? Do use the redis library to query the keys?I seems a litter strange，cre

[2022-02-28 04:45] #1167 closed

[2022-02-28 04:57] shubham1172 opened #1537 "Azure SQL Server sequential transaction execution"
## Description
Per #1505, the state store was updated the respect the order of transactions by skipping items that are not needed. This causes mechanisms like triggers to fail, if the operations are skipped. The proposal to fix the bug is by executing all the operations in the same order as specified.

## Release Note

RELEASE NOTE: **FIX** Azure SQL Server state store's transaction API to execute

[2022-02-28 04:57] shubham1172 commented on #1537
/assign

[2022-02-28 04:58] artursouza opened #1538 "Performance tests for components"
## Describe the proposal

Similar to how we have conformance tests, where a single set of tests validate functionality against common behavior of components, there should also be performance tests against components and have those as part of the certification process. In other words, stable components should also pass the basic set of performance tests.

Because performance can be impacted by limi

[2022-02-28 05:07] artursouza opened #1539 "AWS DynamoDB state store as Stable"
## Describe the proposal

* Add AWS DynamoDB state store to conformance tests
* Write certification tests
* Update status to "Stable"

[2022-02-28 05:18] artursouza opened #1540 "GCP Firestore state store as stable candidate"
## Describe the proposal

* Add GCP Firestore state store to conformance tests
* Write certification tests
* Update status to "Beta"

[2022-02-28 06:07] artursouza opened #1541 "Azure Configuration Service component"
## Describe the proposal

Implement Azure Configuration Service component for the configuration API.

[2022-02-28 09:09] darren-wang commented on #1536
that's true.

i THINK that's why it is the BINDING component instead of the STATE component.

[2022-02-28 09:24] darren-wang opened #1543 "How to set connection pool properties for state.mongo?"
state.redis provides pool properties like `poolSize` and so on:

https://docs.dapr.io/reference/components-reference/supported-state-stores/setup-redis/

However, there is no whre to configure state.mongo:

https://docs.dapr.io/reference/components-reference/supported-state-stores/setup-mongodb/

I found commit :

https://github.com/dapr/components-contrib/pull/216/commits/2c890d30b58018913c477c2a

[2022-02-28 10:00] haobiaosheng commented on #1536
I am sorry, I don't understand yet

[2022-02-28 11:41] Taction commented on #1543
@darren-wang `params` is not used for setting the connection pool. state.mongo component's metadata can be extended to support connection pool settings, are you interested in submitting a pr for this?

[2022-02-28 17:08] a377965 opened #1545 "Dapr Sidecar Error Connecting to Azure Service Bus Topic"
My sidecar for a Subscription Service is reporting the following error when attempting to connect to an Azure Service Bus Topic:

time="2022-02-28T16:43:37.995828682Z" level=error msg="app returned http status code 401 from subscription endpoint" app_id=ap222222 instance=message-producer-microservice-545d7789c6-pk6mq scope=dapr.runtime type=log ver=1.6.0

time="2022-02-28T16:43:37.995889387Z" leve

[2022-02-28 19:48] berndverst commented on #1161
https://github.com/dapr/components-contrib/issues/1532

[2022-02-28 19:50] berndverst commented on #289
https://github.com/dapr/components-contrib/issues/1531
https://github.com/dapr/components-contrib/issues/1532

[2022-03-01 00:35] darren-wang commented on #1543
I think metadata is session scoped and is not really appropriote for setting connection pools, the best way should be like state.redis to provide extended connection pool fields.

[2022-03-01 01:46] whuanle opened #1544 "Apache Pulsar Publish only, not subscribe"
### Publish only, not subscribe

Apache Pulsar component:
[code]
The component is normal:
![image](https://user-images.githubusercontent.com/2189761/156087105-809a8624-6ea2-4264-b3d5-2b366ecfa69c.png)

The client pushed the message:
![image](https://user-images.githubusercontent.com/2189761/156087690-c102ca8b-277a-4966-aa44-49318077a56a.png)
![image](https://user-images.githubusercontent.com/21897

[2022-03-01 01:58] whuanle commented on #1544
This is fine if you write code to connect to Pulsar directly.
![image](https://user-images.githubusercontent.com/2189761/156090317-1adfe53a-2912-40e6-85ae-e6f5ca4232ef.png)

![image](https://user-images.githubusercontent.com/2189761/156090287-61d64d6a-4b78-460e-b0c6-f53694cc79eb.png)

[2022-03-01 16:21] halspang commented on #1545
@a377965 - Given that the topic is being created, this implies that the issue isn't with the actual service bus component. The `401` and `[]` received from `dapr/subscribe` is most likely the issue.

Can you call that yourself? What do you get if you do?

Also, what SDK are you using?

[2022-03-01 22:28] #1350 closed

[2022-03-02 04:22] shubham1172 commented on #1478
https://github.com/nacos-group/nacos-sdk-go/releases/tag/v2.0.1 to be taken up.

[2022-03-02 11:33] Taction commented on #1543
I am referring to component level metadata, the state.redis's `poolSize` is also under component level metadata. And I have had a quick view about MongoDB client, its connection pool config can be set by `SetMaxPoolSize` and `SetMinPoolSize` (https://github.com/mongodb/mongo-go-driver/blob/master/mongo/options/clientoptions.go#L578), Is that what you want?

[2022-03-02 11:46] darren-wang commented on #1543
@Taction I red the source code of mongo-driver-go and state.mongo component, found that `params` field of state.mongo can be used to set pool options like this:

[code]

the args string in `params` filed will be concat to the uri of mongo, and it will pass pool options.

[2022-03-02 12:00] #1543 closed

[2022-03-02 17:27] BradKnowles commented on #966
@manishvicky What keys were in the PEM file when you said...

[2022-03-02 18:51] #1211 closed

[2022-03-03 02:38] justinwujian commented on #1544
I also had this problem and it made me wonder

[2022-03-03 04:23] shubham1172 opened #1548 "[Proposal] Remove Alibaba nacos binding"
# Proposal

Dapr introduced the Alibaba Nacos binding with #814 in v1.2 which was then reverted back in the endgame with https://github.com/dapr/dapr/pull/3212, after a performance regression https://github.com/dapr/dapr/issues/2479.

Today, the binding code still exists but it was never shipped in our API - it was removed from daprd.

Recently, we also found out compliance issues with nacos v1 wh

[2022-03-03 04:50] yaron2 commented on #1548
I have to say I don't understand the purpose of the vote here, but regardless, if the compliance issue can be solved AND we can verify there's no performance regression anymore, why remove it?

[2022-03-03 04:51] yaron2 commented on #1548
@shubham1172 I edited the title of the issue because a vote is not required by any means to make this decision.

[2022-03-03 04:56] shubham1172 commented on #1548
It never went to production and no one is using it. We could have received community feedback on IF they are willing to keep Nacos binding? Let me create another issue for verifying the perf. regression and close the upgrade with #1547. Thanks!

[2022-03-03 04:56] #1548 closed

[2022-03-03 04:59] yaron2 commented on #1548
Is that a reason for it to *never* go into production? By that logic, one shouldn't ever write a component because it didn't go to production yet ;)

No one can use it if it's not actually in the code.

That would be amazing, thank you!

[2022-03-03 04:59] shubham1172 opened #1549 "Verify performance regression with nacos binding upgrade and add it back"
## Describe the feature
Dapr introduced the Alibaba Nacos binding with #814 in v1.2 which was then reverted back in the endgame with https://github.com/dapr/dapr/pull/3212, after a performance regression https://github.com/dapr/dapr/issues/2479.

Nacos will be upgraded to a newer version with #1478, this issue is to verify if the performance regression is still happening and add it back to daprd i

[2022-03-03 06:50] msfussell commented on #1358
@daixiang0 - The name resolutions components provide this abstaction over DNS. How is this different from implementing a Name Resolution component as there exists for Consul today? https://github.com/dapr/components-contrib/tree/master/nameresolution/consul

[2022-03-03 06:51] msfussell commented on #1037
@saranvasu - Yes, this issue is still open

[2022-03-03 06:52] daixiang0 commented on #1358
My thought is that no need to implement it into Dapr, just use this to call remote DNS by config.

[2022-03-03 09:29] nokimac160 opened #1552 "querying by SDK statestore/query/ by SDK the elasticsearch & couchbase"
HI

How i can querying elasticsearch ? by the sdk (java/go/node.js)
How i can querying couchbase ? by the sdk (go/java/node.js)
i appreciate code example, how to querying by SDK statestore/query/ from SDK the elasticsearch & couchbase.

thanks

[2022-03-03 10:15] ebc92 commented on #130
This issue is still closed but it is still applicable as far as I can tell. This is a much desired feature for my team & organization (azure servicebus & cosmosdb specifically). Please consider once more reopening this issue.

[2022-03-03 11:33] fbridger commented on #1358
Would it be feasible to tell Dapr to use a Key/Value file similar to the hosts file in Windows so it can locate each Service?

## Dapr-App-Location file
[code]

In our case we are hosting everything in AWS ECS and we are unable to use **Service Invocation** building block due to this limitation (mDNS does not work and we don't want to configure yet another service like Consul).

AWS ECS Service Di

[2022-03-03 22:12] berndverst commented on #130
We will be doing this work as part of certifying Azure components as stable. In some cases we depend on the new Azure SDKs being ready.

There will be no specific work to resolve this issue, instead follow each Azure components certification tracking issue. You may also want to follow issues for the Azure SDK upgrades like #1532.

If we support any form of AAD like service principal we get support

[2022-03-03 22:21] berndverst commented on #130
@codesmon Cosmos DB state store supports authentication with AAD for several releases. The relevant code is here: https://github.com/dapr/components-contrib/blob/master/state/azure/cosmosdb/cosmosdb.go#L134

Looks like we forgot to document this here:
https://docs.dapr.io/reference/components-reference/supported-state-stores/setup-azure-cosmosdb/

You can follow these instructions:
https://docs.da

[2022-03-04 17:27] halspang commented on #1434
This shouldn't have been closed. @artursouza - Can you reopen/pin this?

[2022-03-04 18:32] berndverst commented on #1434
This is a dupe of our new consistent tracking issue #1531. I'm in favor of keeping that issue open instead because we have several such consistent issues open. We also use those issues to track any requests from the upstream SDK teams.

We haven't yet agreed on the versioning policy for our components that use new SDKs. Currently we are not leaning towards a v2 component launched as alpha.

@jjcol

[2022-03-04 18:32] #1434 closed

[2022-03-04 18:39] berndverst commented on #1434
I'll add one final comment - @jjcollinge the new SDKs aren't considered stable yet (though are probably close to that). So migration to those SDKs may still be premature.

We (at Microsoft) will migrate components as soon as we deem the new SDKs to be ready. This is also our standard for certifying components as stable. Existing stable components will be updated as soon as the SDKs are ready.

[2022-03-04 21:57] msfussell commented on #1358
@fbridger. Implementing a Name Resolution component for AWS ECS service discovery really is the way to go IMO. https://github.com/dapr/components-contrib/issues/1197 Would you want to take a look implementing this, since the Name Resolution API is very simple.

You **could** have a static file Name Resolution component like a host file but given the required dynamic name of name resolution if is n

[2022-03-04 23:27] yaron2 opened #1553 "Add Path Style support for the S3 binding"
AWS S3 supports Virtual Host styles and Path based styles.

The AWS S3 service supports only Virtual Host styles, while services like Minio support Path styles by default.
It'd be good to allow users to configure the style.

[2022-03-04 23:41] yaron2 commented on #1553
Closing! Didn't check to see we already have that option.

[2022-03-04 23:41] #1553 closed

[2022-03-05 00:51] yaron2 opened #1554 "Add option to Disable SSL for S3"
When developing against Minio or other S3 emulators, some are running on HTTP instead of HTTPS. It would be desirable to turn off SSL using a boolean metadata option to enable development and testing scenarios like the SDK does.

[2022-03-06 23:51] r-c-correa opened #1556 "StateStore API implementation for CockroachDB"
## Describe the feature
We have StateStore API implemented for various SQL databases.

We need to implement this for CockroachDB.

[2022-03-07 00:15] ben-kotvis opened #1557 "Multiple included headers with space aren't available in input.request.headers"
According to the docs,  one should be allowed to use multiple headers in the "inlcudedHeaders" metadata input.  For example:

`
 - name: includedHeaders
    value: "x-my-custom-header, x-jwt-header"
`

When providing multiple headers I was only able to get the first header if there was a space between the header names.  However, if a space was not between the end of a header name and the comma it

[2022-03-07 04:13] #1478 closed

[2022-03-07 04:46] shubham1172 commented on #1477
External PRs
- https://github.com/alibabacloud-go/alibabacloud-gateway-spi/pull/2
- https://github.com/alibabacloud-go/darabonba-openapi/pull/2

[2022-03-07 12:38] #1467 closed

[2022-03-08 04:14] shubham1172 commented on #1479
Apache is voting to create a minor release with our changes that https://lists.apache.org/thread/4c9hd579p1fs4dfyhm0kqhlr3nxnrc4j

[2022-03-08 14:54] yehia2amer commented on #1109
Is this issue also going to add [SCRAM-SHA-256](https://docs.confluent.io/platform/current/kafka/authentication_sasl/authentication_sasl_scram.html)?
From the above code the SASL.Mechanism is hardcoded to Plaintext; it needs to be configurable in the component yaml file

[2022-03-08 22:38] r-c-correa opened #1561 "Google Cloud PubSub No Ack (nack) when there is an error"
## Describe the feature
Reject the message when an error occurs and lowness to detect that the message has not been processed, increasing reprocessing time. It need nack the message.

[2022-03-09 02:44] whuanle commented on #1544
@justinwujian
The problem has been solved.The Master branch has been resolved, but no new version has been released.
release/tag 1.6.0 ×
master                 √

[2022-03-09 05:13] #1209 closed

[2022-03-09 05:46] #1522 closed

[2022-03-09 15:17] skesavapatnam opened #1565 "Send Grid Email Binding Failing in Docker Image"
While trying use Send Grid binding for sending emails in Docker image. Following exception is coming from Dapr

Status(StatusCode="Internal", Detail="error when invoke output binding sendmail: error from SendGrid, sending email failed: Post "https://api.sendgrid.com/v3/mail/send": x509: certificate signed by unknown authority")

[2022-03-09 19:37] #1537 closed

[2022-03-09 20:58] berndverst opened #1566 "Azure EventHubs PubSub should use AAD for checkpointing storage"
Currently EventHubs PubSub has support for AAD authentication, but still requires the storage account connection used for lease checkpointing to use a connection string instead of AAD auth.

This should be updated to also support AAD auth.

[2022-03-09 20:59] berndverst commented on #1566
cc @mukundansundar

[2022-03-09 21:19] berndverst commented on #1566
Could be pretty easy like so:

[code]

And then connect via:

[code]

[2022-03-10 01:11] #1554 closed

[2022-03-10 01:21] #1561 closed

[2022-03-10 14:30] Taction commented on #1469
This can be Closed since the related pr has been merged.

[2022-03-10 14:30] #1469 closed

[2022-03-10 17:18] #1470 closed

[2022-03-10 22:06] berndverst opened #1567 "Support Azure AD Workload Identity"
This depends on https://github.com/Azure/azure-sdk-for-go/issues/15615

Once the Azure SDK for Go `azidentity` library has this support we need to update our dependency and *should* get this feature for free.

I'd roughly estimate this to go into Dapr release 1.9, primarily because the `azidentity` team estimates this work to be done in May at the earliest.

[2022-03-11 03:16] shuiyunwudi commented on #514
Is there any method to configurate dapr to register service which have multiple instance on consul. we now found the configuration only support service name, not support argument "id", that means we can't register multiple service instance for one app. there is the website I refer: [https://docs.dapr.io/reference/components-reference/supported-name-resolution/setup-nr-consul/#configuration-format]

[2022-03-11 10:56] yangfan0902 opened #1569 "Kafka pubsub not working with Dapr 1.6"
background: I curl my kafka in my pod and get (56) Recv failure: Connection reset by peer

run kafka pubsub with Dapr1.5 everything is ok
run kafka pubsub with Dapr1.6, I get this error from sidcar:
![image](https://user-images.githubusercontent.com/42598769/157854196-df2be653-9186-400c-b088-ad233715b8d8.png)

this is my pubsub component
apiVersion: dapr.io/v1alpha1
kind: Component
metadata
  name

[2022-03-11 15:12] mukundansundar commented on #1468
@jjcollinge Thanks for looking into this. Based on the code in zeroConf, there is a possibility of specifying which IP type to use on resolver creation. Similarly I think we can specify which IP to use during service registration also.

The main difference that I see between option 1 and 2 is that 2 chooses the interface if its there and uses it without any user intervention, whereas option 1 prov

[2022-03-11 15:45] yaron2 commented on #1570
Issue moved.

[2022-03-12 00:26] #1489 closed

[2022-03-12 02:12] Taction commented on #1569
@yangfan0902 please have a try about adding this to your component yaml:
[code]

If this issue still appears, can you provide your Kafka server logs?

[2022-03-12 05:08] mukundansundar commented on #1472
Agree to this.

@dapr/maintainers-components-contrib
Labels to add: P1 size:xs good-first-issue area/runtime/nameresolution triaged/resolved

[2022-03-12 06:51] geffzhang commented on #1513
The same problem was found

[2022-03-12 07:01] jjcollinge commented on #1472
I'm happy to implement this @mukundansundar - could you please assign me so I can track it.

[2022-03-14 02:29] yangfan0902 commented on #1569
it works, thank you very much

[2022-03-14 02:29] #1569 closed

[2022-03-14 05:14] artursouza opened #1573 "Azure Functions as output binding"
## Describe the proposal

Create a new binding component that will trigger a function in Azure Functions

[2022-03-14 05:17] yaron2 commented on #1573
Can't this be done with an HTTP binding?

[2022-03-14 16:23] berndverst commented on #1573
Exactly. You'd just use the HTTP binding to call Azure Functions (can have a private API key as query string param).

https://docs.microsoft.com/en-us/azure/azure-functions/functions-bindings-http-webhook-trigger?tabs=in-process%2Cfunctionsv2&pivots=programming-language-csharp

I do not think this component is necessary.

Thoughts @artursouza ?

[2022-03-14 22:10] ItalyPaleAle opened #1577 "Conformance tests failing with Apache Pulsar 2.9.x"
As demonstrated by https://github.com/dapr/components-contrib/pull/1576, conformance tests for Apache Pulsar are failing when using >=2.9. For now, we pinned the version of Pulsar to 2.8.2.

Will need to investigate the reason why

[2022-03-14 23:39] #1521 closed

[2022-03-15 02:49] artursouza commented on #1573
What about the different auth solutions for Azure? That would need a component to support those, right?

[2022-03-15 02:50] artursouza commented on #1573
Also, could we enable the call without requiring a webhook if we use the Azure SDK?

[2022-03-15 02:53] yaron2 commented on #1573
You can't invoke functions using an SDK, the HTTP endpoint is the only way, and auth is defined on the endpoint.

[2022-03-15 02:59] ItalyPaleAle commented on #1573
At this point, Azure Functions can only be invoked with a Webhook that (when not anonymous) uses auth via a shared secret. I don't believe there's support for AAD auth (unless that gets implemented as part of the Function code by the user).

However, that would be a good thing to ask the Functions team. There's certainly value in exploring stronger auth for Functions.

[2022-03-15 20:45] mukundansundar opened #1582 "MongoDB component return Canonical JSON with Type which cannot be converted into value directly"
## Expected Behavior

When MongoDB store a document
{"state":"OR","propertyType":"apartment","id":1003,"city":"Portland"}

the expected return is {"state":"OR","propertyType":"apartment","id":1003,"city":"Portland"}

## Actual Behavior

The actual return is {"state":"OR","propertyType":"apartment","id":{"$numberDouble":"1003.0"},"city":"Portland"}

## Steps to Reproduce the Problem

Setup MongoDB

[2022-03-16 02:08] dmitsh opened #1583 "MongoDB fails to query non-string values"
## Expected Behavior

MongoDB state component should be able to query non-string values

## Actual Behavior

Returns query error

## Steps to Reproduce the Problem

## Release Note

RELEASE NOTE:

[2022-03-16 02:08] dmitsh commented on #1583
/assign

[2022-03-16 03:13] #1210 closed

[2022-03-16 03:14] daixiang0 commented on #1565
Is it a cert issue inside docker?

[2022-03-16 04:36] #1583 closed

[2022-03-16 04:41] shivamkm07 commented on #1311
@yaron2 As @mjtansin said, the issue can be resolved by adding the key 'params' and value '?authSource=xxx', where 'xxx' is the authenticationDatabase. So should this issue be closed?

 [mongo state store](https://docs.dapr.io/reference/components-reference/supported-state-stores/setup-mongodb/) docs needs to be updated with 'params' key, will do that.

[2022-03-16 08:41] Jaimefdlp opened #1586 "HTTP binding. Support for application/x-www-url-formencoded content type"
## Describe the feature
Using the x-www-url-formencoded as Content Type for a Post request is not supported by HTTP binding.

C# Example:
var metadata = new Dictionary<string, string> {
{"Content-Type" , "application/x-www-form-urlencoded"},
{"path","/path/to/endpoint" } };

var Parameters= new Parameters { parameterOne = valueOne,parameterTwo = "parameter2"};

var response = await daprClient.Invo

[2022-03-16 08:52] shivamkm07 commented on #1311
Also, I see [mongo-driver](https://github.com/mongodb/mongo-go-driver/blob/40c0e70826f57cf9d942045a014367d9b3c94251/x/mongo/driver/connstring/connstring.go#L380) client for mongodb uses `databaseName` as default value for `authenticationDatabase`. If `databaseName` isn't specified, then it will use `admin` as default value. However specifying the `authSource` in params will override the default va

[2022-03-16 08:58] shivamkm07 commented on #1311
@artursouza thoughts?

[2022-03-16 10:18] #1475 closed

[2022-03-16 10:39] #1476 closed

[2022-03-16 15:35] fanfanbj opened #1587 "Add application-applied security component"
## Describe the feature

This component looks like "security mecha" to our applications. We expect all applications run as unprivileged mode. In default, applications have no right to access files or execute commands in the host. When applications need to access files or execute commands in the host, applications use this component to help restrict and access files or execute commands in the host.

[2022-03-16 17:18] dmitsh opened #1588 "Query API: CosmosDB does not support non-string values in query"
The current cosmosDB package `github.com/a8m/documentdb` does not support non-string values in the query.
See https://github.com/a8m/documentdb/blob/master/query.go#L5

However, non-string values work fine when querying cosmosDB directly from the Data Explorer.

Possible solution:
1. replacing https://github.com/a8m with another (Microsoft?) SDK
2. fixing github.com/a8m/documentdb

[2022-03-16 21:50] artursouza commented on #1311
@shivamkm07 I think the docs update seems to be the right thing here. Thanks.

[2022-03-17 06:44] JieDing opened #1590 "How to trigger my app by a self-developed binding"
## Ask your question here
Hi folks - I'm new here. I've just tried to trigger my app with a Kafka binding.
Now I've a question about how to create a new binding and trigger my app with it.
I mean what I really want is to develop a binding and test it locally. Is there anyway to do that?
Like, I can implement interfaces the input binding requires, but how can I use it locally once I finished my cod

[2022-03-17 12:34] shubham1172 commented on #1590
Hi @JieDing, does this answer your question? https://github.com/dapr/components-contrib/blob/master/docs/developing-component.md

[2022-03-17 12:39] JieDing commented on #1590
Yep, Thanks a ton for that.

[2022-03-17 12:39] #1590 closed

[2022-03-17 12:44] #1485 closed

[2022-03-17 12:47] shubham1172 commented on #1588
Given that there is no official SDK or even an unofficial popular SDK, I would propose going with (2).

Some time back [MSFT recommended another SDK ](https://docs.microsoft.com/en-us/answers/questions/45184/cosmos-sql-api-support-for-golang.html), [vippsas/go-cosmosdb](https://github.com/vippsas/go-cosmosdb), but it does not have commits since 2 years.

[2022-03-17 14:51] ItalyPaleAle opened #1592 "AWS S3: allow disabling SSL cert validation (to accept self-signed certs)"
## Describe the feature

Following up on a Discord chat with a user this morning, this would make it easier to work against a Minio cluster. #1554 introduced the ability to disable SSL entirely, but in some cases it may be more desirable to continue using SSL, just accepting self-signed certs.

## Release Note

**ADD** Option to accept self-signed certificates in S3 binding.

[2022-03-17 14:54] ItalyPaleAle commented on #1592
/assign

[2022-03-17 14:56] andreatosato commented on #1592
#1555 ref

[2022-03-17 16:32] dmitsh opened #1594 "Redis fails to query numeric values"
## Expected Behavior

Redis state component should be able to query numeric values

## Actual Behavior

Returns an error

## Steps to Reproduce the Problem

## Release Note

RELEASE NOTE:

[2022-03-17 17:07] shubham1172 commented on #1588
This is not officially listed as a "Preview" yet, but this looks like it https://github.com/Azure/azure-sdk-for-go/tree/main/sdk/data/azcosmos

[2022-03-17 17:33] jasonlica opened #1596 "Implement a new state store component for the Huawei DCS"
## Describe the proposal

Add Huawei DCS as a state store component.

The [Distributed Caching Service (DCS)](https://www.huaweicloud.com/en-us/product/dcs.html) is a Huawei's cloud version of Redis. It is an online, distributed, in-memory cache service compatible with Redis on Huawei Cloud infrastructure, which is reliable, scalable, usable out of the box, and easy to manage, meeting your require

[2022-03-17 17:35] yaron2 commented on #1596
If this is compatible with Redis, won't the existing Redis state store work with it?

[2022-03-17 17:40] jasonlica commented on #1596
Actually, it needs to provide access to Huawei DCS specific metadata fields. Therefore, the implementation will be a wrapper of the existing Redis state store.

[2022-03-17 19:46] MattCosturos opened #1598 "Azure EventHub binding is not properly check pointing messages / processing old messages."
I have an Azure IoT Hub routing message to an Azure Event Hub. The event hub has a TTL of 1 day.
I have a Event Hub binding processing messages in my Telemetry Service.
I create an edge device and begin sending messages at T=0:00.
I start my Telemetry Service at T+5 minutes.

## Expected Behavior
I expect the dapr binding to retrieve all messages in the event hub that have not been retrieved yet.

[2022-03-17 22:07] #1594 closed

[2022-03-18 06:58] saber-wang opened #1599 "pubsub: Can add a delay queue parameter to rabbitmq?"

[2022-03-18 07:01] #1599 closed

[2022-03-18 07:14] saber-wang opened #1600 "pubsub: How to subscribe to rabbitmq's dead letter queue?"
Rabbitmq supports dead letter queues, but what about subscriptions?

[2022-03-18 12:28] 1046102779 opened #1601 "API adds context in building blocks."
Whether the building blocks standard API should add context to transmit timeout mechanism, trace and other information? I think it is very necessary.

<img width="1596" alt="image" src="https://user-images.githubusercontent.com/20457624/159002341-7f6ea561-1735-4e31-bca4-0327960c31b7.png">

I think the way of handling is unfriendly. It is very necessary to add context to the network transmission. A

[2022-03-18 12:37] 1046102779 commented on #1601
1. Binding: Change from OutputBinding interface
[code]

to

[code]

2. State: Change from Store And BulkStore interface
[code]

to

[code]

3. SecretStore: Change from SecretStore interface
[code]
to
[code]

4. PubSub: Change from PubSub interface
[code]
to
[code]

5. NameResolution: Change from Resolver interface

[code]
to
[code]

[2022-03-18 12:43] 1046102779 commented on #1601
@yaron2 @artursouza @daixiang0 /cc

[2022-03-18 15:28] Taction commented on #1600
Currently, it is not supported. Besides, there is a design for PubSub's DeadLetter Topic: dapr/dapr#2217.

[2022-03-18 16:56] mukundansundar commented on #1472
@jjcollinge please use `/assign` to assign yourself to the issue.

[2022-03-18 18:43] jjcollinge commented on #1472
/assign

[2022-03-18 21:13] ItalyPaleAle opened #1603 "Cosmos DB: Auth with Azure AD (incl. MSI) failing because CRUD on stored procedures is a management plane operation"
## Expected Behavior

Should be able to use Cosmos DB (e.g. state store) with Azure AD credentials, including MSI.

## Actual Behavior

Initializing a state store component that uses Cosmos DB fails with an error similar to:

[code]

The issue is that the Cosmos DB components need to access stored procedures and CRUD operations on those are management plane operations that can't be performed with

[2022-03-20 22:05] #1499 closed

[2022-03-21 00:58] #1477 closed

[2022-03-21 04:30] artursouza commented on #1534
Moving this to 1.8 milestone.

[2022-03-21 17:13] #1592 closed

[2022-03-21 18:04] mukundansundar opened #1606 "IPv6 preferred over IPv4 in mDNS"
Based on the code in the following lines :

[code]

https://github.com/dapr/components-contrib/blob/master/nameresolution/mdns/mdns.go#L708-L719

It is seen that onEach() is called with the address populated.
But when both IPv6 and IPv4 addresses are available for an application, IPv6 is given preference over IPv4 ...

Is this the expected behavior or should it be changed. As a follow up should th

[2022-03-21 18:37] skesavapatnam commented on #1565
I have added certificate in docker for send grid but it's still failing

[2022-03-21 20:25] tanvigour commented on #960
@artursouza  Added a scenario covering reconnection, auth testing and IoT migration from integration. Does this look good?

[2022-03-21 20:32] tanvigour commented on #950
Do we have an estimate  on migration of table storage state store to track 2 sdk?

[2022-03-21 22:06] #1566 closed

[2022-03-22 22:00] ravi-k4 opened #1609 "MongoDB State Store: Add support for Atlas and similar connection mechanisms"
## Expected Behavior

Dapr sidecar logs show authentication errors because of Mongo state store component is not authorized when the MongoDB Atlas service is used.

Atlas connection URI format is ```mongodb+srv://<username>:<password>@cluster0.xxx.mongodb.net/myFirstDatabase?retryWrites=true&w=majority```  but none of the existing URI format will create it.

Workaround -
I have added username and

[2022-03-22 22:15] ravi-k4 commented on #1355
I am seeing the same error, any update about this issue?

[2022-03-23 00:20] yaron2 commented on #1311
Closed via https://github.com/dapr/docs/pull/2262.

[2022-03-23 00:20] #1311 closed

[2022-03-23 00:21] yaron2 commented on #1355
@MoeweX apologies this has taken so long to to get to.

@ravi-k4 @MoeweX can you please try this with Dapr 1.4 and confirm if you're still encountering the issue? I'm trying to understand if this was a regression in this commit: https://github.com/dapr/components-contrib/commit/e369fec17e25d9b128d20ab11356727ed3f97081.

[2022-03-23 06:12] ItalyPaleAle commented on #1577
I honestly do not know. I just helped @berndverst debugging this and we identified the cause to be 2.9.

More debugging is needed to figure out the root cause.

[2022-03-23 16:42] mukundansundar commented on #1355
I can reproduce this issue.

The issue is the before the change that Yaron pinged above, we were storing Reminders data inside MongoDB as string.
See log below,

[code]

With 1.5.1, this changes

[code]

The error log that I saw from a Java test app is as follows :

[code]

when it was changed back to 1.4.4 after a new reminder was added in 1.5.1, then also the app did not start up.

[code]

[2022-03-23 17:50] mukundansundar commented on #1355
cc @yaron2 @artursouza
@dapr/maintainers-components-contrib

[2022-03-23 21:28] ItalyPaleAle commented on #1603
/assign

[2022-03-24 06:06] berndverst commented on #1598
Are there other clients for the same consumer group? Please ensure you are using a dedicated consumer group for use with Dapr.

https://docs.microsoft.com/en-us/azure/event-hubs/event-hubs-features#checkpointing

[2022-03-24 06:07] berndverst commented on #1588
Please see this tracking issue @shubham1172 #1526

[2022-03-24 06:17] shubham1172 commented on #1588
Can we close this issue?

[2022-03-24 06:20] berndverst commented on #1355
On Dapr 1.6 creating a single actor reminder, then restarting the sidecar makes the sidecar init fail.

Data in Mongo looks like this:

[code]

Error like this:

[code]

Prior to v1.5.0 data was stored in this format:

[code]

But now it looks like this:

[code]

We somehow should try taking the BSON / relaxed JSON and wrapping that in a string. That might resolve the issue.

[2022-03-24 07:19] mukundansundar commented on #1588
@shubham1172 Why was this issue closed ? This is still an issue with cosmosdb unless there was a fix done to the dependent library and updated in go.mod in contrib ....

[2022-03-24 07:25] shubham1172 commented on #1588
@mukundansundar isn't there another issue to track the same? This was an enhancement issue to change the cosmos DB library, and #1526 already tracks it.

[2022-03-24 07:34] mukundansundar commented on #1588
@shubham1172 That is for tracking the sdk update ... but checking if non-string values work is not a priority for that issue imo.
I think this should be kept open.

[2022-03-24 07:37] shubham1172 commented on #1588
Sure, let's open it and label it as a bug then?

[2022-03-24 07:38] mukundansundar commented on #1588
reopening this and labelling as bug

[2022-03-24 15:58] mukundansundar commented on #1355
Tried taking the JSON value and wrapping that as string ... that did not work ...

Did some more investigation and found the following:

The reminders list is converted from string(stored in 1.4.4) to array(1.5+) if a new reminder is written.
Have to check for deletions but I assume they will also be the same.
[code]

For the reminder last fire information, by default even if no new reminder is cr

[2022-03-24 16:04] ItalyPaleAle opened #1611 "Cosmos DB components should handle throttling"
## Expected Behavior

While making requests to Cosmos DB, in case of 429 responses (throttling), the components should automatically retry the requests after a back-off.

## Actual Behavior

While making requests with the Cosmos DB components (state store and binding), if the service throttles the requests, the components just fail with an error without re-trying.

## Release Note

RELEASE NOTE: *

[2022-03-24 16:38] berndverst commented on #1611
The 429 on init (due to metadata rate limit exceeded) are already being handled but operations are not.

The idea was it could be handled by resiliency. Of course we could add additional retry on 429 for operations directly in the component also.

Please do include the randomness factor provided by the cenkalti/backoff library -- see the retry on init for inspiration.

[2022-03-24 17:17] ItalyPaleAle commented on #1611
As per discussion, I think that re-trying on a 429 should be a core part of components, something that should be table stakes, and we should not expose that complexity to end-users. Most other components (including Redis, those who use the official Azure SDKs, etc) already handle 429's automatically. This should be the case for Cosmos DB too.

Agree on mirroring what's being done for init.

[2022-03-24 19:36] IvanILanekassen opened #1612 "Disable service bus subscription (and potentially other errors?) will stop message processing in Dapr sidecar and needs pod restart to resume"
## In what area(s)?
/area runtime
## What version of Dapr?
1.6.0
## Expected Behavior
Intermittent service bus errors should not stop Dapr message processing
## Actual Behavior
We discovered this issue when disabling the service bus subscription to stop message processing. We immediately get errors in the dapr side car on the form:
[code]
And after only 1 minute and 20 seconds we get this error:
[

[2022-03-24 19:51] yaron2 commented on #1612
Transferring to correct repository.

cc @berndverst @halspang.

[2022-03-24 23:27] MattCosturos commented on #1598
I will double check that the consumer groups are unique to dapr.
Related follow up question.
My event hub has 2 partitions. I have created 2 bindings, and specified which partition each binding will connect to.
Does each binding need it's own consumer group? or is the single consumer group ok where the binding are reading from the same event hub but different partitions?

I remember check pointing

[2022-03-25 02:22] yaron2 commented on #1504
@Shoothzj are you working on this?

[2022-03-25 02:26] Shoothzj commented on #1504
@yaron2 yes, I am working on this, I was blocked for waitting huawei-dis go client feature.

[2022-03-25 18:25] berndverst commented on #1355
This has been fixed in #1616 we will also need to cherry pick that into Dapr v1.6 and maybe v1.5.

The Dapr v1.7 will address this.

[2022-03-25 23:05] berndverst commented on #1355
Hotfixes 1.5.2 and 1.6.1 are now released and address this. Please upgrade to these versions or use the upcoming 1.7.0 release.

[2022-03-25 23:05] #1355 closed

[2022-03-28 02:58] darren-wang opened #1619 "Does binding.mysql support transaction?"
Does binding.mysql component support transaction?

It is a common needs to operate transactions in relational database, and only k-v based relational database supports may not meet real world database operation needs.

[2022-03-28 12:36] MattCosturos commented on #1598
Create brand new consumer group on my event hub.
Setup components to use new group. (2 event hub bindings, for Partition 0 and partition 1)
Startup all my actor service and telemetry processing service.
Start up edge device that sends messages. Confirm messages come in to Telemetry processing service.
Stop Telemetry Processing Service.
Wait 1 minute.
Stop device that sends messages.
Start Telemetr

[2022-03-28 16:18] #1603 closed

[2022-03-28 16:48] #1611 closed

[2022-03-28 23:17] berndverst opened #1620 "Migrate Azure Conformance & Certification test infrastructure to external subscription"
Due to Microsoft internal security policy changes our Azure conformance & certification test infrastructure needs to be migrated to an external Azure subscription.

Until this migration is complete Azure certification and conformance tests are likely going to fail.

[2022-03-29 07:55] daixiang0 commented on #1587
something cross https://github.com/falcosecurity/falco

[2022-03-29 08:00] daixiang0 commented on #1587
Security is always important, not sure it need to be done at Dapr side, maybe in security container like Kata.

/cc @yaron2 @artursouza

[2022-03-29 15:40] berndverst commented on #1495
@bgelens didn't see your message here previously -- I hope it was one of these conditions -- we are now retrying anything and everything that could be retried unless it very clearly isn't supposed to be retriable. Impossible to say what condition you encountered but I'm hopeful this will resolve the problem.

[2022-03-29 19:56] berndverst commented on #1469
closed by https://github.com/dapr/components-contrib/pull/842

[2022-03-30 01:13] fanfanbj commented on #1587
@daixiang0 Thanks. Falco is for container runtime security, which can as independent component to detect and alert on any behavior that involves making Linux system calls. This issue has a proposal to integrate security behavior into Dapr architecture.

[2022-03-30 10:05] #1503 closed

[2022-03-30 23:32] berndverst commented on #1620
Completed. This is now in `dapr3-conf-test-rg` and the service principal is called `dapr3-conf-test-runner-sp` all within our new non-Microsoft Corp Azure subscription.

[2022-03-30 23:33] #1620 closed

[2022-03-31 01:41] daixiang0 commented on #1601
Agree, it will bring full link tracking.

[2022-03-31 10:14] surenderssm commented on #1379
/assign

[2022-04-01 01:02] shiling02404 commented on #1199
The same problem was found

[2022-04-01 01:11] yaron2 commented on #1199
Reopened. We will fix this.

[2022-04-01 01:16] cysnet commented on #1199
It will be very helpful if this issue fixed in the future.

[2022-04-01 11:30] apurba-biswas-9 opened #1665 "Dapr integration with Azure Notification Hub"
We are developing cloud-agnostic services using Dapr. We have to implement push notifications that support cloud-agnostic but right now the only option we have is Apple Push Notifications (APN) in Dapr. Any plans to integrate Azure and AWS Push Notification?

[2022-04-01 14:50] artursouza opened #1631 "WUPHF output binding"
## Describe the feature

As a platform that enables broadcast notification, WUPHF is super helpful to notify people that are not easily reachable. Some engineers still turn off their phones while on-call and it would be great if my service could use WUPHF via Dapr. The WUPHF SDK is super hard to use, so integrating via Dapr can make the integration easier for thousands of developers.

WUPHF servic

[2022-04-01 22:10] tanvigour commented on #950
## Test Plan Draft

### Proposed tests (Certification)

- Test handing the  "TableName" for existing vs new table
   -  Create a table "ExistingTable" and specify that in the metadata tablename field
   -  Confirm "ExistingTable" is being used as table for azure table storage
   -  Don't create a table before hand and specify name "NewTable" in metadata field
   - Confirm new table named "NewTable

[2022-04-01 22:12] tanvigour commented on #950
@artursouza  Please review the test plan when you get a chance. Thanks!

[2022-04-02 05:09] shubham1172 commented on #1549
@cinience do you want to take a look at this?

[2022-04-02 19:59] mukundansundar commented on #950
@tanvigour
- Add tests for concurrency
- Add tests for etag support
- Test all CRUD operations ... as in add in tests for update and delete as well
- Add tests for the negative scenarios as well, like deleting or reading non-existent keys etc.

[2022-04-04 18:09] ben-kotvis opened #1633 "Middleware loading failures allow unauthenticated/unauthorized traffic through"
## Expected Behavior
If you have bearer middleware or OPA middleware that is supposed to potentially control access to your APIs and an error occurs loading the middleware, the service shouldn't be accessible.  If there is a failure to load those middleware types, the service should always block traffic beyond where those middleware layers were designed to protect.

EDIT:
I put a little more thoug

[2022-04-05 00:03] berndverst commented on #960
@artursouza FYI -- this component cannot be certified until pending open issues are resolved, especially https://github.com/dapr/components-contrib/issues/1598

It would be very helpful to have a certification test that verifies this very situation. There may be required updates to this component as a result.

[2022-04-05 00:18] berndverst commented on #1598
@MattCosturos apologies for the delay - we have been 100% occupied trying to get release 1.7.0 out of the door (hopefully very soon).

Are you using the same storage account container or separate storage account containers? That's another thing I would recommend trying. Using the same storage account itself should be fine, but you should use distinct storage containers for each subscriber.

[2022-04-05 11:21] shubham1172 opened #1637 "pubsub.azure.eventhubs conformance test failing"
## Problem

EventHub conformance tests are failing with error message:

[code]

This is because it expects the topic name to be `dapr3-conf-test-eventhubs-pubsub-topic`, after our infrastructure was migrated in #1620.

Here is the bicep file which shows how the topic name is decided:
https://github.com/dapr/components-contrib/blob/1a24c8c546777b48039ef58ee2a8fcd75003f694/.github/infrastructure/con

[2022-04-05 12:09] shubham1172 opened #1639 "Golangci uses go 1.18 and fails lint checks"
## Problem

We currently use golangci/golangci-lint-action's v2.2.1 which installs the latest go version (1.18 in this case).

[code]

This breaks the linter:

[code]

## Fix

Upgrade to v3.1.0 which requires explicit setup of go. Similar to https://github.com/dapr/dapr/pull/4470

## Release Note

RELEASE NOTE: **FIX** Fix linter issues with golangci action upgrade.

[2022-04-05 13:05] shubham1172 opened #1641 "Remove dependency on Azure namespace for pubsub.azure.eventhubs conformance test"
Each time Azure infrastructure namespace changes, like #1620, it will create issues like #1637. This task is to remove that dependency.

[2022-04-05 15:15] MattCosturos commented on #1598
I do have a unique storage account container using used, but a common account.
To review my binding settings.
I have a Connection string pointing to the event hub.
I have a shared Storage Account Name, and  Storage Account Key.
I have a unique Storage Container Name.
I have a unique Consumer Group.

[2022-04-05 18:31] berndverst commented on #1641
in 1 year we have never changed this name, and we generally won't be changing it. The only reason is that we migrated to a new Azure subscription and couldn't reuse existing resource naming.

Unfortunately this part of the test cannot be made dynamic today. `https://github.com/dapr/components-contrib/blob/master/tests/config/pubsub/tests.yml` allows overloading / injecting constant values only, wi

[2022-04-06 03:37] artursouza commented on #1534
Please, compare to MongoDB test plan.

[2022-04-06 10:06] #1536 closed

[2022-04-07 05:53] shubham1172 commented on #1544
@whuanle, @justinwujian yes, there were some fixes for pulsar after 1.6.0. Can you please try with the latest tag v1.7.0-rc.4?

[2022-04-07 06:33] shubham1172 commented on #1637
Already fixed in release 1.7 branch and merged with master.

[2022-04-07 06:33] #1637 closed

[2022-04-07 06:33] shubham1172 commented on #1639
Fixed in release 1.7 and merged back into master.

[2022-04-07 06:33] #1639 closed

[2022-04-07 11:25] amimimor opened #1650 "Pub/Sub AWS SNS SQS - concurrent subscriber' handler calls"
## Describe the feature
AWS Pub/Sub SNS/SQS component pulls messages in bulks (to a maximum of 10 messages per bulk). The default bulk size is the maximum 10 messages.
Current implementation doesn't allow to concurrently pass those messages to the handler (effectively, to call the subscriber' handler endpoint), so effectively they are serially passed down to the handler.
Current Pub/Sub components

[2022-04-07 11:25] amimimor commented on #1650
/assign

[2022-04-07 17:19] #1545 closed

[2022-04-08 01:14] rogerex commented on #1148
I got the same issue but it only happens when 1.7 RC.1 has no HA enabled
`time="2022-04-07T23:57:03.828812055Z" level=warning msg="azure service bus error: closing subscription entity for topic dapr_xyz: link detached, reason: *Error{Condition: amqp:link:detach-forced, Description: The link 'oCp6GmgdlT2fQ987trzcFHJMXNDaK8TlqKUru4bpYTOoj7g--xgS_A' is force detached. Code: RenewToken. Details: Unaut

[2022-04-08 04:36] DeepanshuA commented on #1534
/assign

[2022-04-09 00:47] paulgyro commented on #649
Note I am still having occurrences of this issue in Dapr 1.6.1.    time="2022-04-08T17:31:26.9681729-07:00" level=debug msg="Couldn't renew all active message lock(s) for topic svcADemoEvent1, %!(EXTRA common.Retryable=unhandled error link 4e49caaa-e882-4f8c-9ad5-997f61039e44: status code 401 and description: Unauthorized access. 'Listen' claim(s) are required to perform this operation. Resource:

[2022-04-09 00:58] yaron2 commented on #649
There were several improvements in 1.7.0 worth testing out.

[2022-04-09 01:03] paulgyro commented on #649
I will upgrade and re-test then report back.

[2022-04-09 09:27] Taction commented on #1633
Have you configured the HTTP middleware pipeline? Such as:
[code]
You can get more info from https://docs.dapr.io/developing-applications/middleware/

[2022-04-09 14:23] ben-kotvis commented on #1633
@Taction yes, that is exactly how my middleware config is setup (other than the metadata name and namespace).

[2022-04-09 18:46] calvin2021y opened #1655 "jetstream server error: processPub Parse Error"
## Expected Behavior

expect nats work with dapr pubsub

## Actual Behavior

from the nats logs when dapr start:
[code]

## Steps to Reproduce the Problem

try with dapr jetstream demo

[code]

[code]

publish is work, subscription send message nats can not understood.

the dapr logs:

[code]

nats ` Version:  2.7.4`

dapr 1.7, go-sdk 1.4

[2022-04-10 05:48] saber-wang opened #1656 "[pubsub-pulasr] "server error: ConsumerBusy: Subscription is of different type"
## Expected Behavior
Subscription succeeded

## Actual Behavior

Subscription failed and started

## Steps to Reproduce the Problem

Upgrade from 1.6.0 to 1.7.0 and restart the service

[code]
This error disappears after restarting the service again

[2022-04-10 10:43] skyao opened #1657 "Add in-memory state store"
## Describe the feature

We need an in-memory state store to support performance test as described here :  https://github.com/dapr/dapr/issues/4506

The first version of this  in-memory state can be simple without any advanced feature like etag, transactional.

## Release Note

RELEASE NOTE: **ADD** in-momery state store in Dapr for test.

[2022-04-10 13:22] mukundansundar commented on #1657
related to #1326

[2022-04-10 17:09] #1570 closed

[2022-04-10 17:09] yaron2 commented on #1570
@nupis-DanielS this should be now fixed in 1.7, can you please confirm that's the case?

[2022-04-11 01:59] saber-wang opened #1659 "[pubsub-pulasr] Pulsar namespace setting is invalid"
1.6.0 up 1.7.0
created producer  does not use a namespace
[code]
I suspect the tenant settings have also failed -_-

[2022-04-11 05:01] shubham1172 commented on #1659
The issue looks to be due to passing `req.Topic` instead of `topic`. The latter contains tenant and namespace information too.

https://github.com/dapr/components-contrib/blob/03e0c667baafc27ff99ce00d4122084421f15381/pubsub/pulsar/pulsar.go#L181-L184

It was changed in https://github.com/dapr/components-contrib/commit/00c99a4027de26b393a2c087767628d7e150675b

@saber-wang do you want to send in a f

[2022-04-11 05:05] shubham1172 commented on #1659
This will be a small fix but is high priority for pulsar users.

[2022-04-11 05:23] saber-wang commented on #1659
@shubham1172 I can do this

[2022-04-11 05:26] shubham1172 commented on #1656
Can you please share more details on the configuration you are using and how to reproduce this? Does the problem mitigate after restarting the service until the next restart?

[2022-04-11 06:52] saber-wang commented on #1656
@shubham1172  It can be solved by restarting once

[code]

[2022-04-11 08:09] shubham1172 commented on #1656
The problem is with both upgrading from v1.6.0 to v1.7.0 and downgrading the other way. It was introduced in https://github.com/dapr/components-contrib/commit/e04fd24a074ef36b9c25c7be965ff3ebeac2b31d

Before:
https://github.com/dapr/components-contrib/blob/3e510fa5ef2d2045b6e1a5db59ea0568f34dce49/pubsub/pulsar/pulsar.go#L205-L210

After:
https://github.com/dapr/components-contrib/blob/933b6d6f34a5

[2022-04-11 08:11] saber-wang commented on #1656
@shubham1172  Yes, I just checked the code and confirmed the problem

[2022-04-11 08:11] #1656 closed

[2022-04-11 08:29] DeepanshuA commented on #1534
Test Plan:

-Basic Test for CRUD operations:
	1. Able to create and test connection.
	2. Able to do set, fetch, update and delete.
	3. Negative test to fetch record with wrong values.
	4. Negative test to insert a record withput manadatory fields.
	5. Insert record with Out of Order mandatory fields.

-Test save or update data with differert TTL settings:
	1. TTL not expiring
	2. TTL not a valid n

[2022-04-11 08:50] ermaugustinas opened #1662 "PubSub RabbitMQ keeps re-binding to queues"
## Expected Behavior

This is for dapr **1.5.1**

Dapr sidecar should subscribe once and listen for messages

## Actual Behavior

[code]

## Steps to Reproduce the Problem

I'm not quite sure as it's not consistent, but If you could help me with possible causes I'll try and recreate it

## Release Note

RELEASE NOTE: **FIX** Stop RabbitMQ from rebinding to queues

[2022-04-11 09:44] #1655 closed

[2022-04-11 15:55] surenderssm opened #1663 "Enhance Pubsub Certification Tests for negative assertion in Package `watcher`"
Package `watcher` being used here (also in kafka) ignores the messages which are not part of expected strings.

Introduce notion of 'unExpected' array to store the messages as they are received and are not part of expected array.

This container can be leveraged to test for absence of unwanted message received by subscribers.

_Originally posted by @surenderssm in https://github.com/dapr/component

[2022-04-11 16:00] surenderssm opened #1664 "Include IOT hub Test in Azure EventHub Certification test"
Currently the test for IOT hub is commented out and integration with simulation of device sending messages to IOT hub is pending.

Is it a pre req that ./send-io-device-events.sh is run before this test ?
- Yes

Can that logic be pulled into this test and be setup in a step here?

- Yes that's one option, second option is to pull this as part of `github workflow`. Option one sounds closer to test,

[2022-04-11 23:09] davidshen84 opened #1666 "Support Firestore (native mode) in state management"
## Describe the proposal

GCP Firestore has two modes, the legacy Datastore mode and the new Firebase mode (aka the native mode). GCP does not allow projects to switch between the two modes and the native mode is the preferred one for new projects. Currently, Dapr state store only supports GCP Firestore [Datastore mode][1]. I think Dapr state store should also support Firestore in native mode.

[1

[2022-04-12 00:01] paulgyro commented on #649
I have re-tested with Dapr 1.7 and the issue remains.  How do you recommend I proceed?

[2022-04-12 07:29] ivanmagdic commented on #1148
Hey @rogerex, we are facing the same issue, and want to resolve it. When you mention "has no HA enabled", you mean that DAPR is not deployed in highly available mode (https://docs.dapr.io/operations/hosting/kubernetes/kubernetes-production#highly-available-mode)?

To clarify, deploying DAPR in HA **might** resolve this?

[2022-04-12 07:56] ermaugustinas commented on #1662
Are there any possible reasons, why it would try to do it silently? Could it be related to any of the dapr operators or is it more likely a RabbitMQ issue.

[2022-04-12 11:04] whuanle commented on #1544
@shubham1172
This issue has been resolved.
After testing, it is fully available.

[2022-04-12 11:04] #1544 closed

[2022-04-12 18:04] yaron2 commented on #1666
@moonchanyong any chance you can pick up this work for 1.8?

[2022-04-12 18:49] #1650 closed

[2022-04-12 19:05] mukundansundar commented on #1663
cc @dapr/maintainers-components-contrib thoughts?

[2022-04-12 20:13] berndverst commented on #1596
As mentioned in your PR @jasonlica https://github.com/dapr/components-contrib/pull/1628

If you just want to simply rename the metadata fields this is better handled in documentation.

It would be very confusing as a maintainer having to inform Huawei DCS users every time we modify the Redis component. It is better if Huawei DCS users directly use the Redis component if this is possible.

[2022-04-12 21:22] artursouza commented on #1662
Can you try with Dapr 1.6 and 1.7?

[2022-04-12 22:47] berndverst commented on #1495
@bgelens please let us know how things go after upgrading to the v1.7.0 release. Thanks!

[2022-04-12 22:53] #1659 closed

[2022-04-13 03:19] berndverst commented on #1664
Hey, so the test isn't commented out -- there is just a different build flag for it.

Take a look at the integration test GitHub workflow which specifically sets this build flag. That should already mostly do what we want.

The problem is that today this test isn't automatically scheduled. Not sure what state was in but please continue the investigation there.

[2022-04-13 03:29] berndverst commented on #1662
As @artursouza said please try with 1.6 or even 1.7. Those releases had several changes for RabbitMQ and with the recent release of Dapr 1.7 the 1.5 release is no longer supported with hotfixes.

[2022-04-13 03:31] berndverst commented on #1532
@ItalyPaleAle @halspang have so far looked into this.

[2022-04-13 04:35] shubham1172 commented on #1656
This has been added as a breaking change under https://github.com/dapr/dapr/releases/tag/v1.7.0

Thank you again @saber-wang for reporting!

[2022-04-13 06:42] bgelens commented on #1495
@berndverst I will! Not scheduled to upgrade for at least another month though... The release just missed our previous cycle.

[2022-04-13 08:16] ermaugustinas commented on #1662
I have updated to 1.7, I will let you know if I encounter the problem again.
Do you have any idea what could cause this? I'd expect some sort of error to happen, but I didn't notice anything.

Just so I know what to look out for.

[2022-04-13 15:21] Admiralkheir opened #1669 "[Proposal] Add Nats Streaming Parallel Concurrency Mode"
## Expected Behavior
As in version 1.0.1, sidecar should sends the events without any limitation on its side, for the previous event It should forward the event without waiting for a success or fail response. We make this limitation with the maxinflight parameter on the nats streaming side. If Nats does not receive an ack, it transmits the event itself.

## Actual Behavior and Problem
Hi, We were

[2022-04-15 02:06] saber-wang opened #1671 "[pubsub-pulsar] Add metadata property to configure BatchingMaxSize in Pulsar"
Publishing failed
[code]

[2022-04-15 16:59] berndverst opened #1672 "PubSub Component for IBM MQ"
Add new IBM MQ PubSub component.

This library likely should be used in the implementation:
https://github.com/ibm-messaging/mq-golang

RELEASE NOTE: **ADD** New IBM MQ PubSub component.
Docs Issues: Needs a PR at time of code check in https://github.com/dapr/docs/issues/2408

[2022-04-15 17:00] berndverst commented on #1672
We will also need to create conformance tests right away.

[2022-04-15 17:03] berndverst commented on #1672
For local testing and for the conformance test itself the IBM MQ docker image can be used:
https://developer.ibm.com/tutorials/mq-connect-app-queue-manager-containers/#step-2-get-the-mq-in-docker-image

[2022-04-15 21:10] berndverst commented on #1671
Seems related to https://github.com/dapr/components-contrib/issues/1659 which is fixed by PR https://github.com/dapr/components-contrib/pull/1661/files

We will be releasing Dapr 1.7.1 shortly for an unrelated reason and will include this fix there.

[2022-04-18 01:07] skyao commented on #1657
@mukundansundar please help to add a "do-not-merge" label on this PR.

I will use this PR code for my perf test of state temporarily before the exist PR merged.

[2022-04-18 22:23] mukundansundar commented on #1657
@skyao Which exact PR do you want me to add the label to?

[2022-04-18 22:23] mukundansundar commented on #1472
not-stale

[2022-04-19 05:55] wimvc1 opened #1675 "[HTTP binding] Include response body for non-2XX responses"
## Describe the feature
This is a change request for the **HTTP binding**.
When invoking a 3th party using the HTTP binding there is no way to get the response body when a request has failed (non 2XX range).
This makes it hard to debug or offer (production) support since we are not sure what is going wrong.

In addition to this, I would be nice if the HTTP code can be retrieved in a structured way

[2022-04-19 18:30] rovangju commented on #1494
Ran into this today. This should be re-opened as it is making MongoDB and the new state query api useless.
When it's persisted as a string it's not 'search-able' as it's not an object.

[2022-04-21 14:18] skyao commented on #1657
@mukundansundar  https://github.com/dapr/components-contrib/pull/1326    please mark this PR as not-merge.

[2022-04-22 02:53] pravinpushkar opened #1678 "Certification tests for Azure Blob Storage Statestore"
## Description

Implement certification test for Statestore - Azure Blob Storage

[2022-04-22 02:54] pravinpushkar opened #1679 "Certification tests for Azure Blob Storage Bindings"
## Description

Create certification test for Binding - Azure Blob Storage

[2022-04-22 08:55] #1586 closed

[2022-04-23 18:18] #1398 closed

[2022-04-24 06:27] #1379 closed

[2022-04-24 07:20] pigletfly commented on #1601
related https://github.com/dapr/dapr/issues/2716

[2022-04-24 10:22] saber-wang commented on #1671
@berndverst  https://github.com/apache/pulsar-client-go/blob/7773d27562cec30687879dc7ce240e0a02ec7a42/pulsar/producer.go#L146

BatchingMaxSize specifies the maximum number of bytes permitted in a batch. (default 128 KB) ,the message is greater than 128, so sending failed. should add parameters to support setting this value

[2022-04-24 11:02] saber-wang opened #1682 "[pubsub-pulsar]disableBatching Invalid setting"
## Expected Behavior

disable batch

## Actual Behavior

disableBatching Invalid setting

[code]

Exceptions will still be thrown：
[code]

[2022-04-24 16:04] surenderssm commented on #1664
This has been taken care in #1623

[2022-04-24 16:04] #1664 closed

[2022-04-25 01:30] daixiang0 commented on #1171
[Wazero](https://github.com/tetratelabs/wazero)  is a spec compliant runtime written in Go. It has zero dependencies and doesn't rely on CGO. This means we can run applications in other languages and still keep cross-compilation.

I will integrate it and post a PR soon.

[2022-04-25 07:16] surenderssm opened #1686 "Test with network interruptions during publish in pubsub.azure.eventhub workflow"
## Expected Behavior

Test for Network interruptions during publish in pubsub.azure.eventhub workflow

## Actual Behavior

Currently a TODO : https://github.com/dapr/components-contrib/tree/master/tests/certification/pubsub/azure/eventhubs

## Release Note

RELEASE NOTE:

[2022-04-25 09:17] pigletfly opened #1687 "Replace golint with revive"
- [x] dapr/components-contrib
- [x] dapr/dapr
- [x] dapr/cli
- [ ] dapr/go-sdk
- [ ] dapr/kit

## Expected Behavior

## Actual Behavior

## Steps to Reproduce the Problem

## Release Note

RELEASE NOTE:

[2022-04-25 13:56] rzyns commented on #130
Are there any plans to support managed identity auth in the rest of the Azure components? Specifically, I'm looking for support in either the Event Hubs binding or the Storage Queues binding so I can port an existing application to Dapr

[2022-04-25 17:13] shubham1172 commented on #1687
Already done for CLI https://github.com/dapr/cli/pull/961

[2022-04-25 22:30] #1468 closed

[2022-04-26 03:05] artursouza opened #1689 "How to re-certify components with new capabilities"
Today, a component can be marked as stable after going through conformance and certification tests. On the other hand, there is no clarify on how to proceed when a new capability is added. Should there be a higher bar for adding new features to stable components or should the component have a new version once a new capability is added?

Example: one state store might be certified as stable before

[2022-04-26 03:20] skyao commented on #1689
I think this is due to the standard of stable:

**should it be versioned like v1 / v2 / v3?**

Then we can say that the component is "stable for state v1". When we add some new features in state and we should call itstate v2, then current component is still "stable for state v1" and not  stable for state v1.

[2022-04-26 03:22] shubham1172 commented on #1689
+1 for higher bar for adding new features. Features to be only added if they're really important and must be backed up by appropriate certification and conformance tests.

Upgrading a major version for small feature additions sounds counterintuitive in terms of versioning. Revamping a whole component, moving to a new library (for e.g., with Cosmos), scenarios like these maybe more fitting for vers

[2022-04-26 03:28] shubham1172 commented on #1689
Do we do this today for general version updates across components? If not, we should totally do it.

[2022-04-26 03:43] akhilac1 commented on #1689
+1 on making the version intuitive to reflect the stability and feature set. Proper versioning backed by thorough testing will save significant effort in adoption of these components.

+1 on @shubham1172 & @skyao comments on major and minor version update.

It would give users confidence to move to the next version of the component. It would also help the component owners to maintain the quality b

[2022-04-26 03:47] yaron2 commented on #1689
Really important according to who?
This is, as you can tell by my question, highly subjective. In the realm of criteria it's imperative to be able to make decisions that rely on data that is as objective as possible. So making a decision for certification based on importance, even when coming from maintainer, seems off here.

I think that new features added to stable components must be backed by t

[2022-04-26 03:52] shubham1172 commented on #1689
<img src="https://c.tenor.com/DKB4fw7EACwAAAAd/true-correct.gif" width="120" height="120" />

[2022-04-26 05:43] wimvc1 commented on #1675
As far as I can see, all bindings (I haven't checked them all of course) use similar error handling.
The problem is that the error seems be a plain string. In an ideal scenario this would be an object which would allow us to return errors in a structured way (like `InvokeResponse`).

Does anyone have an idea how to archive this in a decent way? (Preferably without any breaking changes)

[2022-04-26 10:54] skyao commented on #1305
I have a question about the design principle of pubsub and binding:

since we have pubsub components for these message broker, why we still provide binding components for them?

Do we provide more capabilities than pubsub in binding for these message broker?

[2022-04-26 18:04] tanvigour commented on #1689
I agree we should be backing each added feature to stable components with appropriate certification /conformance tests.
For versioning, the scope and impact of the added feature should decide whether it should be major or minor version and based on whether the component is still stable or not with that added feature will help users decide on upgrades.

[2022-04-26 18:28] artursouza commented on #1305
@skyao I agree. I think we should remove Kafka input binding.

[2022-04-26 18:52] yaron2 commented on #1305
We should not remove the bindings that have pub/sub equivalents, specifically Kafka, because while they allow users to contribute and use more specialized features from the underlying system. For example, a Kafka binding can expose an API that returns the number of messages in a topic.

The fact it's not there today does not mean we should block this functionality from being added at any point in

[2022-04-26 19:08] artursouza commented on #1305
That is a great point, @yaron2. Does it mean we should not simply make the Kafka binding a wrap of the pubsub component and keep those as completely separate implementations?

[2022-04-26 19:11] yaron2 commented on #1305
We can use the suggested adopter pattern to reuse what code we can (if at all, but I believe most code can be reused).

As long as we allow bindings to add operations (which is their goal for flexibility) and their own unique metadata, we can refactor the code however we see fit.

[2022-04-27 03:40] yaron2 commented on #1619
No, transactions are supported through the MySQL state store component.

[2022-04-27 04:21] akhilac1 commented on #1538
/assign

[2022-04-27 11:50] shersh commented on #1494
@rovangju exactly =)

I think it can be fast way - just to trying deserialize to obj when saving, and if ok then save object instead of string.

[2022-04-27 19:52] mukundansundar commented on #1606
@yaron2 @jjcollinge Can you comment on whether this the expected behavior ?

[2022-04-27 20:04] jjcollinge commented on #1606
I'm not sure about changing the default (happy to if we think it's better to pick IPv4 over IPv6), I think making it possible to configure a preference seems reasonable.

[2022-04-28 03:20] skyao commented on #1657
Close this issue, I will work with seaflood in another PR: https://github.com/dapr/components-contrib/pull/1326

[2022-04-28 03:20] #1657 closed

[2022-04-28 05:55] fissssssh opened #1694 "bindding.mqtt clientId"
bindding.mqtt auto append "-producer" to clientId，but im use clientId and password auth

[2022-04-28 12:28] nupis-DanielS commented on #1570
Hi, it works like charm with 1.7.

Thanks

[2022-04-28 16:20] yaron2 commented on #1675
@wimvc1 what do you think about this? https://github.com/dapr/dapr/issues/4549

[2022-04-29 02:59] skyao commented on #1305
@artursouza  @yaron2  @pkedy I have done the code refactory for kafka pubsub component and kafka binding component accroding to above discuss.

I split this code refactory into two parts:

1. refactory kafka pubsub compoent to extract the common kafka code

     These common kafka code is moved to `internal/kafka`  .

     Kafka pubsub compoent now is based on this common code and it adapters its

[2022-04-29 05:40] #1694 closed

[2022-04-30 15:43] shubham1172 commented on #1682
Hello @saber-wang, I am not able to reproduce this with the latest Dapr version. Here is my configuration file:
[code]

I was able to publish and listen for data, without running into the mentioned error.
1. What version are you on?
2. Can you please share a minimum reproducible example?
3. Also, can you share the complete Dapr logs?

[2022-05-01 12:26] shubham1172 commented on #1682
Ok, able to reproduce with publishing message size greater than 128 bytes.
<details>
<summary>Full logs</summary>

[code]
</details>

[2022-05-01 12:41] shubham1172 commented on #1682
Looks related to https://github.com/apache/pulsar-client-go/issues/681

[2022-05-01 17:36] #1600 closed

[2022-05-01 21:14] #1631 closed

[2022-05-02 04:15] shubham1172 commented on #1671
@saber-wang can you please also update the issue title to reflect the same, e.g. "Add metadata property to configure BatchingMaxSize in Pulsar". Please feel free to take a stab at this issue.

[2022-05-02 06:14] saber-wang commented on #1682
@shubham1172    Together with #1671 , we can only go back to version 1.6.0 at present

[2022-05-02 13:14] sevberg opened #1699 "Allow for prepared-statements in PostgreSQL binding"
## Problem statement

Using a PostgreSQL binding component within an app brings a lot a welcome benefits, but unfortunately it is also regressive from a safety perspective. This is because SQL statements must be supplied completely to the component endpoint via the `sql` field in the metadata ([docs](https://docs.dapr.io/reference/components-reference/supported-bindings/postgres/#exec)). For stati

[2022-05-02 13:15] sevberg commented on #1699
Follow-up comment: If this is something which you all feel is worth adding, then I would be eager to give it a shot myself as a first contribution (of many, hopefully) to this project :)

[2022-05-04 03:20] artursouza commented on #1305
I suggest we keep the adapted version as kafka binding v2 and keep the old version as-is in v1. This way, we don't break existing apps. Even as alpha component, kafka is a popular broker.

[2022-05-04 03:21] yaron2 commented on #1305
Do we know of breaking changes here?

[2022-05-04 03:22] artursouza commented on #1305
Yes. The E2E tests are failing already because of that in the PR https://github.com/dapr/dapr/actions/runs/2243065335

[2022-05-04 04:06] ItalyPaleAle commented on #1138
/assign

[2022-05-04 10:15] ChenCong0207 opened #1704 "Add a new secret store based on HuaweiCloud Cloud Secret Management Service (CSMS)"
## Describe the feature
Add HuaweiCloud Cloud Secret Management Service (CSMS) as a secret component.

Following is the document about the CSMS
https://support.huaweicloud.com/intl/en-us/usermanual-dew/dew_01_9994.html

[2022-05-04 10:35] seeflood opened #1705 "in-memory state component doesn' have the feature of state query"
Now the implementation of in memory state #1326 has most of the state feature including etag, transactional, expire.
Yet state query is not not included since there is no requirement for this feature.

I create this issue to track it.
Help wanted!

[2022-05-04 16:53] artursouza opened #1706 "Input binding for Apache Arrow Flight"
## Describe the feature
Add input binding support for Apache Arrow Flight: https://arrow.apache.org/overview/

Run performance test to see if the performance gains of Apache Arrow Flight are offset by the overhead of a call from sidecar to app via HTTP.

## Release Note

RELEASE NOTE: **ADD** input binding for Apache Arrow Flight

[2022-05-05 03:26] saber-wang commented on #1671
/assign

[2022-05-05 08:52] mukundansundar commented on #1534
@artursouza @berndverst @yaron2 Can you take a look at this?

[2022-05-06 01:23] #1587 closed

[2022-05-06 07:40] rkrawiel opened #1709 "Multiple subscriptions for MQTT component are routed to one API endpoint"
## Expected Behavior

When having multiple subscriptions to different topics should route them to configured API endpoints.

## Actual Behavior

When having more than one subscription all messages are routed to last registered API endpoint (handler)

## Steps to Reproduce the Problem
Having two subscriptions with configuration like this:
Config
[code]
Subscription 1
[code]
Subscription 2
[code]
Wi

[2022-05-06 16:29] MattCosturos commented on #1598
This is not resolved.
I'm not sure exactly what I need to provide.
I have created brand new consumer groups to ensure no other consumer is using the same group.
My dapr event hub bindings only consume event hub messages WHEN running.

[2022-05-06 17:29] artursouza commented on #1598
I agree that the component should support starting from the beginning of the topic but this behavior should be configurable instead. Some scenarios might require to start at the end of the topic.

[2022-05-06 20:15] MattCosturos commented on #1598
Did the behavior change at some point? When we first started testing with dapr, the behavior was to resume processing at the last received message. I'm not quite sure when it broke.

[2022-05-06 20:53] artursouza commented on #1598
Interesting point, we should not break that behavior.

[2022-05-07 00:59] #1671 closed

[2022-05-09 07:22] cvictory opened #1711 "Certification tests for dingtalk Bindings"
dingtalk : https://github.com/dapr/components-contrib/tree/master/bindings/alicloud/dingtalk/webhook
Certification: https://docs.dapr.io/operations/components/certification-lifecycle/#certification-tests

refer to :
https://github.com/dapr/components-contrib/issues/1679
https://github.com/dapr/components-contrib/issues/955

[2022-05-09 07:25] cvictory opened #1712 "Certification tests for nacos Bindings"
nacos : https://github.com/dapr/components-contrib/tree/master/bindings/alicloud/nacos
Certification: https://docs.dapr.io/operations/components/certification-lifecycle/#certification-tests

refer to :
https://github.com/dapr/components-contrib/issues/1679
https://github.com/dapr/components-contrib/issues/955

[2022-05-09 08:11] LaurenceLiZhixin commented on #1712
/assign

[2022-05-09 08:34] shubham1172 commented on #1549
@berndverst can you please reopen this issue? It is yet to be addressed.

[2022-05-09 09:59] theonefx commented on #1711
/assign

[2022-05-09 16:05] yaron2 commented on #1549
@shubham1172 reopened.

[2022-05-09 20:31] rbisecke opened #1776 "SQS binding missing endpoint option (and others) from the pubsub integration"
## In what area(s)?

/area runtime

## What version of Dapr?

## Expected Behavior

When testing dapr integrations locally with a localstack image to simulate AWS, the sqs/sns pub sub binding allowed for a custom endpoint to be provided: [AWS SNS/SQS](https://docs.dapr.io/reference/components-reference/supported-pubsub/setup-aws-snssqs/). The sqs binding however is missing this option, preventing

[2022-05-10 06:27] fissssssh opened #1714 "Wildcard subscription in mqtt binding"
Need to get the real topic when using wildcard subscription

Example：
subscribe topic "test/+"
we can receive message from multiple topics such as "test/a", "test/b" or "test/c" etc.

[2022-05-10 15:56] ItalyPaleAle commented on #1526
Looks like the related issues have been addressed, we could try doing a POC in this iteration or next.

[2022-05-10 16:13] ItalyPaleAle commented on #1528
There's now a SDK in track2 which we ccould try using for a POC: https://github.com/Azure/azure-sdk-for-go/tree/main/sdk/data/aztables

[2022-05-10 16:23] akhilac1 opened #1717 "[WIP] Performance Testing for components-contrib"
## Describe the proposal

**Why do we need perf testing for components-contrib**
Dapr is based on a modular design, where functionality is delivered as a component. Any supported component can be plugged in or swapped out for another component.
It is important for the users to be aware of the performance of component, both absolute and relative - when they are choosing a component for a particular

[2022-05-10 16:25] akhilac1 commented on #1717
/assign

[2022-05-10 18:57] artursouza commented on #1672
[MQ Golang](https://github.com/ibm-messaging/mq-golang) requires CGO and the MQ library installed at the dev machine and daprd container image - this is not allowed in dapr sidecar because it would increase our footprint by installing multiple libraries into the container image.

@amulyavarote  is now exploring an alternative where Kafka is used instead and events from IBM MQ are copied via [mq so

[2022-05-11 03:31] artursouza commented on #1717
/cc @yaron2 @msfussell

[2022-05-11 03:32] artursouza commented on #1717
Addresses https://github.com/dapr/components-contrib/issues/1538

[2022-05-11 14:27] jasonlica opened #1718 "Implement a new bindings component for the Huawei OBS"
## Describe the proposal
Add Huawei OBS as an output bindings component into the Dapr.

[Object Storage Service (OBS)](https://www.huaweicloud.com/intl/en-us/product/obs.html) provides stable, secure, efficient, and easy-to-use cloud storage that lets you store virtually any volume of unstructured data in any format and access it from anywhere using REST APIs. And, this service can be a counterpar

[2022-05-11 18:56] jasonlica commented on #1596
See the discussion in the PR #1628. thanks.

[2022-05-11 18:56] #1596 closed

[2022-05-12 00:34] sleipnir opened #1719 "Eliminate the existing inconsistency in the declaration of connection metadata between components"
## Describe the feature
I think there is a very big inconsistency between the metadata of each pubsub component. For example the pubsub component for redis allows the host, user and password properties to be set separately, which is good when we deploy in environments like kubernetes where we use secrets to manage sensitive properties.

RabbitMQ for example has an Operator that allows the credenti

[2022-05-12 06:07] seeflood opened #1720 "change `Expire` in lock component to `ExpiryInSeconds`"
## Describe the proposal
Since the time unit is seconds, it might be better to make the field more explicit, ie expiryInSeconds.
https://github.com/dapr/components-contrib/blob/5e4bd89afd7de99d0890078ebab6b25525d0f492/lock/requests.go#L20

[2022-05-12 07:37] sunday866 opened #1722 "AuthType must be preceded by three spaces for kafka-pubsub"

[2022-05-12 07:42] sunday866 commented on #1722
apiVersion: dapr.io/v1alpha1
kind: Component
metadata:
  name: kafka-pubsub
  namespace: default
spec:
  type: pubsub.kafka
  version: v1
  metadata:
    - name: brokers
      value: "192.168.10.145:9092"
    - name: clientID
      value: "my-dapr-app-id"
    - name: authRequired
      value: "false"
   - name: authType
      value: "none"

[2022-05-12 09:43] shubham1172 commented on #1722
@sunday866 which file is this?

[2022-05-12 11:13] #1720 closed

[2022-05-12 18:32] yaron2 commented on #1666
ping @moonchanyong

[2022-05-13 01:03] sunday866 commented on #1722
pubsubkafka.yml in .dapr\components

[2022-05-13 06:29] rkrawiel commented on #1709
@yaron2  Unfortunately, I don't have enough knowledge of the codebase and Go lang itself.

[2022-05-13 12:22] shubham1172 commented on #1722
The default pubsub is redis, so this is something you must have copied from somewhere. So, you need to fix the indentation and use it. Does that answer your question?

[2022-05-13 23:44] ben-kotvis commented on #1633
I am going to submit a PR for this

[2022-05-13 23:52] #1531 closed

[2022-05-13 23:52] #1532 closed

[2022-05-14 09:44] GFlisch opened #1727 "Add encrypted content in Local file secret store scenario with certificate to decrypt it"
I would like to see with you if you can enhance the current local file implementation by adding the posssibility to insert an encrypted string and a reference to a certificate to decrypt it.
The purpose here is to use Dapr in a non K8s environment (but on production) where the sensitive data are encrypted and only the server (we use Windows in this case in combination with Dapr Sideckick from MAN)

[2022-05-16 03:27] ChenCong0207 commented on #1704
PR merged.

[2022-05-16 16:10] #1199 closed

[2022-05-16 18:36] berndverst opened #1728 "Add certification tests for Azure Storage Queues Binding"
## Describe the feature
The Azure Storage Queue Binding is already Stable (legacy) but still requires certification tests to be created.

## Release Note

RELEASE NOTE: **ADD** Certification tests for Azure Storage Queue binding

[2022-05-16 19:34] amulyavarote commented on #1728
**Azure Storage Queue Input/Output Binding Certification**

The purpose of this module is to provide tests that certify the Azure Storage Queue Input/Output Binding as a stable component.

**Certification Tests**
- Verify the queue is created/present inside the storage account.
   - Create component spec.
   - Run dapr application with component.
   - Ensure the queue is created/present.
- Verify

[2022-05-16 22:05] artursouza commented on #1728
Please, include test scenario for reconnection.

[2022-05-17 08:25] ChenCong0207 commented on #1704
closed via [[4619](https://github.com/dapr/dapr/pull/4619)] [[1710](https://github.com/dapr/components-contrib/pull/1710)] [[2428](https://github.com/dapr/docs/pull/2428)]

[2022-05-17 08:25] #1704 closed

[2022-05-18 06:12] #1718 closed

[2022-05-18 18:21] #1665 closed

[2022-05-19 07:46] shuiyunwudi opened #1731 "Dapr integrate with mongodb lead to pods crash on kubernetes"
**Environment:**
**mongodb v4.4.13
dapr  v1.6.0( or v1.7.3)**

**Problem Description:**
In my case, I use  mongodb as statestore component on kubernetes, this lead to my pods crash,
here are the status:
![image](https://user-images.githubusercontent.com/31852238/169237581-750f89eb-fb02-4b0b-9772-7b6861fd3c5c.png)
the pods nodeapp and pythonapp are my application.
The mongodb component yaml like th

[2022-05-19 12:42] XavierGeerinck opened #1732 "Binding: Add HTTP Stream Support"
## Describe the feature

Would like to request support for HTTP Streams, which is like WebSockets or other PubSub systems, HTTP allows to keep an open connection where chunks can be sent from a server towards a client.

However, when creating such a client code must be written to support this streaming scenario

[Example Server](https://www.loginradius.com/blog/engineering/guest-post/http-streamin

[2022-05-19 19:17] #1663 closed

[2022-05-19 21:33] artursouza commented on #1672
I wonder if IBM MQ could work with our existing MQTT pubsub component:

https://www.ibm.com/docs/en/ibm-mq/8.0?topic=telemetry-mqtt-publishsubscribe-applications

[2022-05-20 08:19] #1662 closed

[2022-05-20 17:12] ItalyPaleAle opened #1735 "pubsub.mqtt: all messages are sent to the same handler regardless of topic"
I have pinpointed this issue in the code and will include a fix in a PR soon.

## Repro code

Component:

[code]

Code:

[code]

Run:

[code]

Send messages to the two topics:

[code]

## Expected Behavior

Should log:

[code]

## Actual Behavior

Logs:

[code]

(Sometimes all messages go to `eventHandler1` instead, depending on which one is registered first)

## Release Note

RELEASE NOTE: **FIX*

[2022-05-20 17:12] ItalyPaleAle commented on #1735
/assign

[2022-05-20 19:31] yaron2 commented on #1735
Dupe of https://github.com/dapr/components-contrib/issues/1709. Closing

[2022-05-20 19:31] #1735 closed

[2022-05-20 22:57] ItalyPaleAle opened #1738 "RocketMQ PubSub: Multiple subscriptions are routed to one API endpoint"
The same issue that is impacting MQTT (#1709 and #1735 - the latter is a duplicate that contains code to reproduce this) is impacting pubsub.rocketmq as well.

[2022-05-21 02:47] Taction commented on #1731
@shuiyunwudi  Can you Provide the previous pods log? `kubectl logs -f nodeapp-5d5dc88584-dw7xz -n redis -p -c daprd`. Then the final line is expected the real problem.

[2022-05-23 06:56] artursouza commented on #1534
LGTM. Please, provide more detail on the test for transaction.

[2022-05-23 07:30] saber-wang opened #1741 "[pubsub][rabbitmq] Support binding multiple routingKey's at the same time"
## Describe the feature

@Taction  routingKey are already supported in #1520, but how to subscribe to multiple `routingKeys` at the same time?can the following formats be supported
[code]
Use commas to separate multiple "routingkeys". In the example, three "routingkeys" including Keya, keyb and "" will be bind.

**The following are not important↓**

This format can also implement the function of `

[2022-05-23 07:43] saber-wang opened #1742 "[pubsub][pulsar]Instead of directly using consumerid as the subscriptionname, the subscriptionname should be generated together with appid"
## Describe the feature

https://github.com/dapr/components-contrib/blob/47e95c9a47151b17212a9bb59eda46ee4401ad94/pubsub/pulsar/pulsar.go#L268-L273
Here, the consumerid is directly used as the subscriptionname. What I want is to combine it with the appid.
If the consumerid is directly used as the subscriptionname, all apps will have the same subscriptionname

Function similar to rabbitmq https://g

[2022-05-23 08:32] shubham1172 commented on #1742
Can you please explain a little more?

[2022-05-23 09:39] saber-wang commented on #1742
@shubham1172  Here, the consumerid is directly used as the subscriptionname. What I want is to combine it with the appid.

If the consumerid is directly used as the subscriptionname, all apps will have the same subscriptionname

[2022-05-23 09:48] shubham1172 commented on #1742
Got it - can you update the issue title to reflect the same please?

[2022-05-23 11:33] Taction commented on #1741
@saber-wang Multiple routing keys are not supported for now. If you want to use any field in the cloud event messages, there is no need to use `routingkey`, just follow this document: https://docs.dapr.io/developing-applications/building-blocks/pubsub/howto-route-messages/

[2022-05-23 11:57] saber-wang commented on #1741
@Taction I know this function, but in rabbitmq, I prefer to use native functions Can this design be realized? I can do this

[2022-05-23 20:51] #1738 closed

[2022-05-24 03:02] saber-wang commented on #1741
/assign

[2022-05-24 03:10] Taction commented on #1741
@saber-wang Sure, better to have a proposal about how to do it. Besides, I don't think it is a good idea to introduce `routingKey` into the message body.

[2022-05-24 03:16] saber-wang commented on #1741
@Taction  The message body introduced by routingkey is not an event that dapr should pay attention to. For dapr, it only needs to support binding multiple routingkeys at the same time.
In addition, I simply updated the design.

[2022-05-24 06:10] saber-wang opened #1744 "[pubsub][pulsar]can automatically create tenants and namespaces for pulsar?"
## Describe the feature

At present, we can set the tenant and namespace of pulsar. Can I create it automatically when the tenant and namespace do not exist?

[2022-05-24 06:31] saber-wang opened #1745 "[pubsub]Publish support data isolation"
## Describe the feature

When multiple namespaces use the same message component, currently we can use consumerid to group message makers, but there is no way to isolate the publisher.

In this case, the published message will be subscribed by all namespaces.
can `publishid` be added to isolate data? For example, publish = p1, topic = test. The topic generated in the final message component is p1.

[2022-05-24 11:08] Taction commented on #1741
@saber-wang I am not sure if I have entirely understood how to achieve this, but I think you can submit a pr if you are interested. It would be better if this is not a breaking change.

[2022-05-24 15:12] ItalyPaleAle commented on #1709
Fixed by #1737

[2022-05-24 17:25] #1709 closed

[2022-05-24 20:46] arahja opened #1749 "Binding: Add name support to SendGrid"
## Describe the feature
Currently the SendGrid component only supports email addresses in the "To" and "From" fields. The SendGrid API supports adding names in addition to the email address. Please add support for the names in addition to the email addresses in the SendGrid Component.

## Release Note
RELEASE NOTE: **ADD** support for names in the SendGrid To and From fields.

[2022-05-25 11:52] saber-wang commented on #1741
@Taction I have added a rp

[2022-05-25 13:57] ItalyPaleAle commented on #1745
The reason for consumerID is that some services only allow one connection per consumer (with a different consumerID). In your case, would it be possible to just set the topic to `p1.test`?

[2022-05-25 14:12] yaron2 commented on #1745
Dapr has the concept of a namespace for both Kubernetes and Self Hosted Mode. We could add an opt-in feature for namespace isolation which will append the namespace to the consumer ID. Thoughts @ItalyPaleAle?

[2022-05-25 14:20] ItalyPaleAle commented on #1745
Makes sense to me

[2022-05-25 15:59] ItalyPaleAle opened #1752 "Standardize behavior on component initialization failure"
Currently, when components fail to initialize (for example because of a misconfiguration or connection error), the behavior is undefined and depends on the component.

Some components cause the sidecar to crash; others print a warning or error message; others do nothing and try reconnecting again lazily.

To improve the user experience, we should look into standardizing this behavior.

In all case

[2022-05-25 16:25] ItalyPaleAle commented on #1745
Just to be clear, what @yaron2 was referring to was including (as an option) the namespace, such as these: https://docs.dapr.io/operations/components/component-scopes/#namespaces

Would that work for you?

If not, could you please provide some more context to help understand your requirements?

[2022-05-25 16:40] ItalyPaleAle opened #1753 "AWS SNS/SQS pubsub is incorrectly named `pubsub.snssqs`"
The component for PubSub for AWS SNS/SQS needs to be imported as `pubsub.snssqs`. However, based on the formatting used for other cloud providers' components, this should have been `pubsub.aws.snssqs`.

`pubsub.snssqs` is used  in the runtime ( https://github.com/dapr/dapr/blob/master/cmd/daprd/main.go#L331-L333 ) and in the docs.

However, `pubsub.aws.snssqs` is used in the config test file ( htt

[2022-05-25 16:50] yaron2 commented on #1753
In dapr/dapr we can add support for an alias to the component registry loader, so something like `WithAlias("pubsub.aws.snssqs")`.

[2022-05-25 16:51] ItalyPaleAle commented on #1753
Yes, that would work. We could preserve `pubsub.snssqs` for backwards-compatibility while changing the official identifier to `.aws`

[2022-05-25 17:02] artursouza commented on #1752
I think we should make this behavior be verified by conformance tests - that is where standard behavior is validated.

Now, when it comes to what should be the standard behavior, I think it should be a combination of all above:
1. Component should try to connect on init, optionally with built-in retries. If cannot connect, return error.
2. Component can optionally have reconnection logic in the ba

[2022-05-25 17:07] ItalyPaleAle commented on #1752
That makes sense to me.

So, to confirm, we should not crash when a component fails to init. Instead, we'll let the app make API calls that will fail.

[2022-05-25 17:08] yaron2 commented on #1752
This makes sense to me.

[2022-05-25 17:10] artursouza commented on #1752
We have metadata to say if a component is required or optional. See https://docs.dapr.io/operations/components/component-schema/

[2022-05-25 17:10] yaron2 commented on #1752
No, that's not the desired behavior. If a component cannot connect after all retries were exhausted, we return an error and crash as we do today. Users have the option today to ignore crashing and continuing init with `ignoreErrors`: https://docs.dapr.io/operations/components/component-schema/#format

[2022-05-25 17:24] ItalyPaleAle commented on #1753
Will be fixed by https://github.com/dapr/dapr/pull/4665

[2022-05-25 19:32] #1753 closed

[2022-05-26 00:22] msfussell commented on #968
@artursouza @berndverst @yaron2 - Following up here on @greenie-msft comment

[2022-05-26 00:26] #1728 closed

[2022-05-26 00:49] saber-wang commented on #1745
@ItalyPaleAle  I think I can solve this problem through the feature of message queue. For example, when redis is used, specify a DB for each namespace

[2022-05-26 00:49] #1745 closed

[2022-05-26 03:37] skyao commented on #955
PR done, please help to review @artursouza

[2022-05-26 09:41] ChristianWeyer opened #1759 "RabbitMQ pub-sub loses messages if no subscriber available"
(Adding @ItalyPaleAle as per Discord chat)

## Expected Behavior
When using RabbitMQ for pub-sub, and we send a message/publish a message, and there is no subscriber available yet - if we then start a subscriber, we should see the subscriber receive the message.

## Actual Behavior
The subscriber gets started, and never receives the message that the publisher sent.
This behavior renders the Rabbit

[2022-05-26 19:22] amulyavarote opened #1761 "Adding certification tests for environment variables/local file for secrets store"
Environment Variables:
-  Verify the secret is fetched from the environment variable
    - Create component spec.
    - Run dapr application with component.
    - Ensure that the secret fetched is same as secret stored in the env variable.

Local File:
- Verify the secret is fetched from the local file.
    - Create a component spec with the json file link where the secret is stored.
    - Run dap

[2022-05-26 19:54] ItalyPaleAle commented on #1759
@ChristianWeyer and I triaged the issue on Discord.

Looks like this is the default behavior of RabbitMQ, as it's primarily a message broker and not a queue.

However, the behavior @ChristianWeyer desires can be achieved by setting these metadata properties:

[code]

I will update the docs to make it more clear.

[2022-05-27 01:34] saber-wang commented on #1759
@ItalyPaleAle  I've added these metadata, but it doesn't seem to work

![image](https://user-images.githubusercontent.com/45062099/170610712-23a5f237-1149-44a0-9a37-e95c88abd7c8.png)
![image](https://user-images.githubusercontent.com/45062099/170610777-2c029091-8675-4669-8e7a-19b7f0bbaf36.png)
[code]

[2022-05-27 01:38] ItalyPaleAle commented on #1759
@saber-wang Thanks for sharing this.

When you updated the YAML, were the queue and/or topic already existing? If so, could you please delete them entirely before trying again?

[2022-05-27 01:49] saber-wang opened #1765 "[pubsub]The metadata in the request should be used preferentially in the settings related to publication and subscription"
## Describe the feature

Giving priority to the metadata in the request can meet more personalized needs.
For example, you can customize the persistence settings of `topic`.
This function can also be extended to all other components.

Together with proposal dapr/dapr#4603, it can also provide more versatility

Should this feature request be moved to dapr/dapr?

[2022-05-27 02:04] saber-wang commented on #1759
@ItalyPaleAle  I deleted `Virtual host` and tested it.

[2022-05-27 21:06] rtrindvg commented on #852
Are you sure this bug is fixed? I am using 1.6.0 and as reported on issue https://github.com/dapr/dapr/issues/4302, the problem still seems to exist.

Since my redis lives inside the same k8s cluster as daprd, it may be recreated with another IP when restarted. I am not sure if this changes anything related to this fix.

[2022-05-27 21:15] yaron2 commented on #852
@rtrindvg we will be working on better handling connection failures for all components in a generic manner, so when components disconnect from the underlying implementation `daprd` will try to reconnect for a while and if it can't, will panic the process (and cause a container restart on k8s).

[2022-05-29 05:45] #1513 closed

[2022-05-30 01:55] saber-wang commented on #1741
@Taction Is this change feasible?

[2022-05-31 02:04] Taction commented on #1741
@saber-wang Yes, thanks for your excellent work!

[2022-05-31 03:33] #1669 closed

[2022-05-31 04:10] yaron2 commented on #1669
@Admiralkheir this is now fixed and will come out in 1.8: https://github.com/dapr/components-contrib/pull/1760.

[2022-05-31 07:31] #1601 closed

[2022-05-31 13:29] rafgithub opened #1769 "Cron route metadata property"
## Cron binding route
Please, add the ability to specify route property in metadata component configuration. In this way, we can specify a complex endpoint (i.e.: api/v1/foo/cron) instead of the name

## Release Note

RELEASE NOTE:

[2022-05-31 18:36] yaron2 commented on #1769
See here: https://docs.dapr.io/developing-applications/building-blocks/bindings/howto-triggers/#specifying-a-custom-route.

[2022-05-31 18:36] #1769 closed

[2022-06-01 07:32] #1686 closed

[2022-06-01 08:44] #1765 closed

[2022-06-01 09:32] beiwei30 opened #1770 "Converting configuration API response from an array to dictionary."
## Expected Behavior

This issue is opened to track the corresponding change on components-contrib side for issue dapr/dapr#4556

## Actual Behavior

## Steps to Reproduce the Problem

## Release Note

RELEASE NOTE:

[2022-06-01 12:57] MattCosturos commented on #1598
Any update on this? Any more info I can provide?

Just so I'm clear, right now, if an event hub binding is not listening, those messages will not be processed?
The checkpointing feature does not work, and that is by design at this point?

[2022-06-01 19:19] MattCosturos commented on #1598
One more reply with some helpful info.

I've been doing some testing, and assigning a event hub binding to a specific partition seems to break check pointing.

All tests are using an Event hub with 2 partitions.
1 dapr event hub binding, 1 consumer group - Check pointing works.
2 dapr bindings, 1 consumer group, both bindings floating - Check pointing works.
2 dapr bindings, 1 consumer group, each

[2022-06-01 19:43] yaron2 commented on #1598
cc @ItalyPaleAle

[2022-06-01 21:02] MattCosturos commented on #1598
One more follow up message.
I can confirm that if you add a partition Id to an event hub binding, then the storage account container will no longer be
updated with check pointing info, so of course check pointing will break.

If this is by design, it needs to be documented here.
https://docs.dapr.io/reference/components-reference/supported-bindings/eventhubs/

[2022-06-03 04:05] #1619 closed

[2022-06-03 06:43] shubham1172 opened #1772 "RocketMQ fix metadata properties"
## Problem
There are some unused and wrongly implemented metadata in RocketMQ.
| Metadata | Issue | Possible resolution |
|--|--|--|
| AccessProto | unused | Add or remove it |
| GroupName | misguiding | Should be renamed to `ProducerGroupName` |
| ConsumerBatchSize | unused | Add or remove it |
| SendTimeOut | incorrect implementation | Instead of nanoseconds, use milliseconds or seconds. |

## R

[2022-06-03 19:05] #1487 closed

[2022-06-04 16:16] shubham1172 opened #1774 "OAuth 2.0 Bearer Token support for Twitter binding"
## Describe the feature
The Twitter API supports app-only authentication with OAuth2.0 Bearer Token requests. It does not involve any users. See the documentation here: https://developer.twitter.com/en/docs/authentication/oauth-2-0

The Twitter client used by Dapr already supports it: https://github.com/dghubble/go-twitter

[code]

For the Twitter binding, we can introduce a new metadata: `authTyp

[2022-06-07 08:57] sevberg commented on #1699
hello again, would it be possible to get some feedback on this one? (cc/ @yaron2 and/or @berndverst )

[2022-06-07 16:20] #1749 closed

[2022-06-08 00:28] artursouza commented on #1712
Thanks for this first shot in the certification test. Please, refer to other certified components for a more detailed test plan before this component can be called `stable candidate`.

[2022-06-08 00:31] artursouza commented on #1712
Please, refer to this documentation for additional guidance: https://docs.dapr.io/operations/components/certification-lifecycle/#certification-tests

[2022-06-08 01:10] artursouza commented on #1742
Today, we support `{uuid}` and `{podName}` to be used in the consumerId metadata. You can use `{podName}` along with a statefulset, so the pod's name is sticky.

[2022-06-08 01:11] artursouza commented on #1742
We can also add `{appId}` as a new special tag in metadata parsing.

[2022-06-08 01:30] #1534 closed

[2022-06-08 03:01] yaron2 commented on #1742
App ID is the default value that gets passed in as consumerID. How will this be different?

[2022-06-08 06:32] #1682 closed

[2022-06-08 15:51] eburnette opened #1777 "Support RedPanda"
## In what area(s)?

 /area runtime

## Describe the feature

RedPanda, like Pulsar, is compatible with Kafka but has improved performance and other features. This is a request to support RedPanda as a first-class pub/sub broker alongside Kafka and Pulsar.

## Release Note

RELEASE NOTE: **ADD** Added support for RedPanda.

[2022-06-08 16:15] yaron2 commented on #1777
Moved to correct repository.

@eburnette if RedPanda is compatible with Kafka, why isn't it possible to use the existing Kafka components to talk to RedPanda?

[2022-06-08 17:15] eburnette commented on #1777
I'm not sure how compatible it is, and I'm sure there will be some settings unique to RedPanda.

[2022-06-09 15:17] #1777 closed

[2022-06-09 15:44] akhilac1 opened #1779 "[ Proposal ] API to get metadata of ALL supported components"
Cloud-based serverless offerings like Azure Logic Apps, abstract the underlying complexity and integration concerns, enabling seamless interaction with external systems. These solutions build and manage connectors to enable the abstraction. Dapr bindings also addresses the same problem space.

This proposal intends to enable Dapr to be the integration solution that enables no-code platforms to add

[2022-06-09 15:44] akhilac1 commented on #1779
/assign

[2022-06-09 15:46] akhilac1 commented on #1779
@artursouza

[2022-06-09 15:51] sarsharma commented on #1779
/assign

[2022-06-09 18:01] xingrux opened #1780 "AWS SQS/SNS submit more than 20 statement in access policy"
## Expected Behavior

A service should be able to subscribe to more than 20 topic without submitting more than statement in access policy to sqs.
The maximum limit for attaching a managed policy to an IAM role or user is 20 in AWS.

## Actual Behavior
When a service is subscribed to more than 20 topics, the following error is shown, saying that more than 20 statement were found in the submitted po

[2022-06-09 20:07] yaron2 commented on #1780
Thanks for reporting. Would you be able to submit a PR that fixes this?

[2022-06-09 22:10] msfussell opened #1781 "RabbitMQ: What dead letter topic are failed messages sent to?"
## Ask your question here
In the reference docs there is a "`enableDeadLetter`" boolean property on the RabbitMQ component, but in turning this to `true`, what is the name of the dead letter topic that this is sent to? How is this message forwarding configured?
https://docs.dapr.io/reference/components-reference/supported-pubsub/setup-rabbitmq/

[2022-06-10 07:39] xingrux commented on #1780
/assign

[2022-06-10 07:45] Shoothzj commented on #1504
https://github.com/huaweicloud/huaweicloud-sdk-go-v3/issues/51

[2022-06-10 16:31] IvanILanekassen commented on #1612
Hi again,

I have recently been running `nightly-2022-05-24` version of Dapr in a test environment, and the behaviour is now different. I get some error messages about disabled subscription, but not the same amount.

However the net effect is the same, re-enabling the subscription does not make the sidecar start processing messages again, and I still need to restart the deployment to make the side

[2022-06-10 17:07] #1706 closed

[2022-06-10 17:18] ItalyPaleAle commented on #1612
As it is implemented today, this is the "correct" behavior and not a "bug" (as in, that's what the person who programmed this originally wanted to achieve - and I haven't modified that behavior). The reconnection that you see happening there is primarily meant to recover from things such as transient network failures.

However, you're right that if the sidecar can't reconnect after 30 attempts, it

[2022-06-10 17:38] yaron2 commented on #1612
I think that's a good idea. It'd create a connectivity reconciliation loop between desired (connected) and current state.

[2022-06-10 20:04] ItalyPaleAle commented on #1612
I've opened https://github.com/dapr/components-contrib/pull/1783 which should fix this issue.

[2022-06-10 20:28] #1331 closed

[2022-06-10 22:54] #1612 closed

[2022-06-10 23:34] #1741 closed

[2022-06-11 18:30] sleipnir commented on #1719
Ping

[2022-06-12 13:47] #1744 closed

[2022-06-13 01:39] Taction commented on #1781
In rabbitmq, the message of topic `a` will be sent to `${consumerID}-a`(In most cases consumerID is app-id), and its dead letter will be sent to `dlq-${consumerID}-a`. And it can not be subscribed by any topic for now, users need to handle these messages manually.
Besides, in favor of dapr/dapr#4399, using and subscribing to a dead letter topic is possible.

[2022-06-13 15:33] yaron2 commented on #1633
@ben-kotvis are you still planning to submit a PR?

[2022-06-13 16:37] artursouza commented on #1779
/assign

[2022-06-13 18:50] sleipnir commented on #1719
Anyone with an answer here?

[2022-06-14 03:07] ItalyPaleAle commented on #1612
@IvanILanekassen the fix should now be available in the nightly builds, should you want to try them out! Docker images with tag `nightly-2022-06-13` or newer should have this fix.

(We are also planning to have a release candidate hopefully early next week)

[2022-06-14 12:48] Admiralkheir commented on #1669
ty for effort @yaron2

[2022-06-15 04:27] ItalyPaleAle commented on #1732
Hi @XavierGeerinck, just so I'm clear, are you asking about the ability to maintain a persistent HTTP connection from a client to Dapr so messages can be over HTTP as streams (WebSockets or long-polling?).

We do not recommend to have client applications connecting to the Dapr runtime directly. The Dapr runtime (daprd) is meant to be used as a "sidecar", and all connections should be in the same n

[2022-06-15 04:29] ItalyPaleAle opened #1789 "binding.azure.servicebusqueues: renew lock for messages while they're being processed"
From Discord:

I need to triage this further, but at a first look it seems to be an actual issue, even in the master branch.

The PubSub component is not impacted as it renews locks (as it's designed to be asynchronous). The binding, instead, is designed to be synchronous and today does not renew locks; however that can be a problem if the handler takes a very long time to process the message.

[2022-06-15 04:29] ItalyPaleAle commented on #1789
/assign

[2022-06-15 09:08] amimimor opened #1790 "enhanced authentication error logging for AWS components"
## Describe the feature
The coming v1.8 documentation release for AWS components would have better explanation about the correct usage of credentials versus IAM policies and roles.
This issues suggests adding a higher level of log verbosity to all authentication operations done by the AWS component. This might assist users to better understand what went wrong in case they didn't follow correctly t

[2022-06-15 09:08] amimimor commented on #1790
/assign

[2022-06-15 16:46] ItalyPaleAle commented on #1732
Gotcha. This sounds like it should be its own input binding component. The problem I see is that Dapr tries to adhere to existing standards, and I'm not aware of any standard for this kind of streams today that we should consider supporting.

[2022-06-15 20:43] ItalyPaleAle commented on #1530
Current blocker: https://github.com/Azure/azure-sdk-for-go/issues/17850

[2022-06-16 06:49] XavierGeerinck commented on #1732
It's part of the HTTP/2 Standard :)

https://datatracker.ietf.org/doc/html/rfc7540#page-15

[2022-06-16 06:51] ItalyPaleAle commented on #1732
Yes, for sure the transport protocol is, but the data protocol (ie. how the data is formatted in the messages) - are you aware of a standard for that?

[2022-06-16 06:54] XavierGeerinck commented on #1732
it's more of an open standard indeed, but I guess we could offer the implementation for Bytes and JSON? Seeing that the latter is most frequently used in Streaming APIs and the first allows for custom implementations by the users?

[2022-06-16 07:02] ItalyPaleAle commented on #1732
But Dapr needs to have a higher-level format. For example, if we get messages formatted as JSON, the messages need to contain a “topic” or “queue”. They need to have a specific format for passing metadata, etc.

For example, some other components use HTTP for transporting data, but they all have some data protocols on top that define what format the data is in.

Of course we could always create ou

[2022-06-17 03:48] #1717 closed

[2022-06-17 13:35] XavierGeerinck commented on #1732
I am not following perfectly of what you mean here (might be missing something), so a stream is coming in JSON by JSON message with a line carriage return as the dividers.

Dapr picks these up and sends them to the connected clients no?

What format do you specifically mean then? Since in this case it's a fetch operation which will accept the default fetch arguments (e.g. headers, ...)

[2022-06-17 14:09] XavierGeerinck opened #1794 "State Store - CosmosDB: not able to utilize Partition Keys and thus failing to save state each time"
When trying to perform a `state save` for CosmosDB, I get the following:

[code]

As read in the [Docs](https://docs.dapr.io/reference/components-reference/supported-state-stores/setup-azure-cosmosdb/#partition-keys), I should be able to add "metadata" which specify the "partitionKey" which is as well confirmed in the [code #1](https://github.com/dapr/components-contrib/blob/4727ea8b33c26e7d6f5316

[2022-06-17 15:55] ItalyPaleAle commented on #1732
We try to develop components based on data formats more than transport standards. We are not going to define our own formats and say "your JSON message needs to be formatted this way, have these keys, and you must pass those headers", as that format wouldn't be standard.

A popular data format protocol for events is CloudEvents, which is implemented by some Dapr pubsub components already: https://

[2022-06-17 15:59] XavierGeerinck commented on #1732
Honestly I am still not following, how does this need a standard? The data format is defined by the stream returning JSON events in this case. Dapr acts as a "relay" in this case, giving the user the freedom of not having to implement the technology needed to connect to the stream.

[2022-06-17 22:12] #1789 closed

[2022-06-18 00:38] ItalyPaleAle opened #1797 "Tracking issue: Disable built-in retries in components"
With the addition of resiliency in the runtime, components should not have built-in retry policies, as that multiples the attempts.

- [ ] Input bindings
- [ ] Output bindings
- [ ] Pubsub: receive
- [ ] Pubsub: publish

[2022-06-18 18:46] #1666 closed

[2022-06-18 20:01] shubham1172 commented on #1794
Have you tried?
[code]

[2022-06-20 06:06] pravinpushkar commented on #1678
Ping @berndverst

[2022-06-20 06:06] pravinpushkar commented on #1679
ping @berndverst

[2022-06-20 09:45] #1727 closed

[2022-06-20 11:27] skyao opened #1799 "consumer rebalance failed in kakfa binding component"
## Expected Behavior

In our certification test, we have a consumer rebalance case for kafak (both in kafak pubsub component and kafka binding component). The test logic is:

-  two apps (named app-2 and app-3) with kafka component (either kafak pubsub or kafak binding) are subscribing to the same kafka topic with the same consumer group
- So the events from this topic should be sent to one of the

[2022-06-20 11:37] skyao commented on #1799
Sometimes the certification test will be passed, this is just for good luck and depends on what app is sending to before we stop app-2:

- if the events are sent to app-3, then there is no impact to app-3 while stopping app-2, so the test case will pass
- if the events are sent to app-2, because of this issue, the app-3 won't receive the events (by kafka comsumer rebalance) , so the test case will

[2022-06-20 11:45] skyao commented on #1799
The second highlight for this bug:  this bug is not exist in kafka pubsub component!

I have tested and verified that with kafka pubsub component, if the events is be sent to app-2 and app-2 is stopped, kafka comsumer rebalance will work and app-3 will start to receive the event, and this will happens in seconds after app-2 (in fact, dapr sidecar of app-2) is stopped.

This is why the certificatio

[2022-06-20 11:49] skyao commented on #1799
And it is very tricky that the number of items remaining is always be 301 (which I can't understand):

[code]

[2022-06-20 16:30] skyao commented on #1799
I couldn't find the root cause for a long time, until I finally added the log and saw the actual log content.

[code]

[2022-06-20 17:47] berndverst commented on #1797
@artursouza built-in retries in components is entirely separate scope from the built-in retries that Hal is working on. Hence I'm moving this to 1.9 release.

[2022-06-20 21:46] #960 closed

[2022-06-21 09:55] skyao commented on #1799
The cause of this bug is found and should be fixed by PR https://github.com/dapr/components-contrib/pull/1804

[2022-06-21 16:43] berndverst commented on #1794
The partition key must be the same as the partition key you configured when creating the table in Cosmos DB. You cannot dynamically change the partition key.

Also, this must be the partitionKey path - e.g. `/myfieldname` -- this is what CosmosDB will show in the portal for the partition Key also.

[2022-06-21 17:00] ItalyPaleAle opened #1808 "Deprecate pubsub.hazelcast due to no "at least once delivery" guarantee"
Currently, Hazelcast does not seem to provide a way for a consumer to submit an ACK or NACK after processing a message. As such, messages that fail to be processed are not sent back to the broker and are discard (also if the runtime crashes).

This seems to be a limitation in Hazelcast itself, as topics do not seem to have a way for consumer to n/ack messages: https://docs.hazelcast.com/imdg/4.2/d

[2022-06-22 03:10] skyao commented on #1799
This bug is fixed by above PR.

Close it.

[2022-06-22 03:10] #1799 closed

[2022-06-22 03:19] #1687 closed

[2022-06-22 21:01] ItalyPaleAle opened #1809 "pubsub.mqtt: default value for "qos" should be "1""
Our MQTT pubsub component allows setting a QoS value with the "qos" metadata option.

The default value is "0" which translates to "at most once" delivery.

Dapr promises that all pubsub components offer "at least once" delivery. Because of that, the default value for "qos" should be changed to "1", which corresponds to that.

PS: see https://www.hivemq.com/blog/mqtt-essentials-part-6-mqtt-quality

[2022-06-22 21:49] ItalyPaleAle commented on #1809
Fixed in #1810

[2022-06-22 23:34] berndverst opened #1811 "Distributed Lock Redis tests do not run on Mac"
Distributed lock API tests for Redis do not work on Mac (Intel and Arm). Please fix so that we can repair the local development experience for contributors.

cc @seeflood
https://github.com/dapr/components-contrib/pull/1574

[2022-06-23 01:18] berndverst commented on #1811
@seeflood it does not work for @ItalyPaleAle on Intel, and for me on ARM (M1)

[code]

[2022-06-23 01:19] berndverst commented on #1811
[code]

[2022-06-23 01:21] berndverst commented on #1811
The test only passes if you first uninstall Dapr including the Redis installation from Dapr
`dapr uninstall --all`

This is unacceptable.

The test still should pass if Dapr is installed with `dapr init` -- which means there is a Redis Docker container available.

[2022-06-23 01:23] berndverst commented on #1811
[code]

[2022-06-23 10:20] saber-wang opened #1813 "[pubsub][pulsar]When a message fails to be processed, subsequent messages will be blocked."
## Expected Behavior

Skip the failed messages or put the failed messages in the dead letter queue and continue consuming other messages.

## Actual Behavior

Subsequent messages will be blocked in the pulsar.
![image](https://user-images.githubusercontent.com/45062099/175275750-a4933bc5-db7d-4315-811b-cd48f3f12c61.png)

[2022-06-24 00:06] #1811 closed

[2022-06-24 03:16] baili-tang opened #1815 "add option to customize domain of mdns nameresolution"
## Describe the feature

## Release Note

RELEASE NOTE:

[2022-06-26 02:11] helbing commented on #1772
/assign

[2022-06-26 05:28] mukundansundar commented on #1761
@amulyavarote For the file based store, check the working for the `nestedSeparator` field also where it can be changed from `:` to something else.

[2022-06-26 06:00] niclasrothman commented on #649
Hi everyone, we are starting to see this issues as well on dapr 1.7.2 with the exact same behaviour, starting to process messages but after a while it "halts" with the following message;

`{"app_id":"x-backgroundtasks","instance":"x-backgroundtasks-bc4dcbcb6-jn8wz","level":"debug","msg":"Trying to renew 2126 active message lock(s) for topic x-client","scope":"dapr.contrib","time":"2022-06-26T05:56

[2022-06-27 03:07] #1731 closed

[2022-06-27 04:38] saber-wang commented on #1813
https://github.com/dapr/components-contrib/blob/8f04d5d15dd6601c4eaebc77f1bb74c0a817b7d1/pubsub/pulsar/pulsar.go#L313-L325

Is `retry.NotifyRecover` called every time a failure occurs?
Is there a mechanism to call `Nack(message)` to notify pulsar that the message processing fails after the last retry.

[2022-06-27 06:07] saber-wang commented on #1813
https://github.com/dapr/dapr/issues/2217  Can this proposal be used to solve this problem?

[2022-06-27 08:39] robeving commented on #1764
I'm still seeing this issue

[2022-06-27 15:26] berndverst commented on #1764
@robeving are you seeing this with 1.8.0-rc.3 by chance? (That was released just a few days ago)

[2022-06-27 18:16] berndverst commented on #1528
I completed this.

[2022-06-27 18:16] #1528 closed

[2022-06-27 21:01] #950 closed

[2022-06-28 14:02] helbing commented on #1714
/assign

[2022-06-29 08:45] francotiveron opened #1832 "Error when calling Azure Blob Storage output binding for blobs list"
## In what area(s)?

## What version of Dapr?

this is the binding component yaml

[code]
this is the F# .NET code run to get the lost of blobs
[code]

Below the exception raised

[code]

Note. the url indicated seems incorrect (https://**???**.blob.core.windows.net/?...)

[2022-06-29 11:13] fissssssh commented on #1714
I found the latest code in master already add topic to metadata at bindings/mqtt/mqtt.go handlerMessage @helbing

[2022-06-30 03:40] helbing commented on #1714
@fissssssh You are right. If the functionality is fine, please close the issue, thx

[2022-06-30 06:39] fissssssh commented on #1714
I will check it later

[2022-06-30 06:49] ItalyPaleAle commented on #1813
I believe #1798 should fix this issue too

[2022-06-30 06:56] saber-wang commented on #1813
@ItalyPaleAle  I saw that the `Nack` call was added, which should solve this problem.

I have a question about where the `Nack` message is when there is no dead letter queue? Is the message discarded or continues to exist in the queue?

[2022-06-30 06:59] ItalyPaleAle commented on #1813
If there's no DLQ, messages that fail are added back to the queue and will be sent back to your applications _eventually_ (after the delay you can configure with that PR). If you have multiple instances of the same app, another instance may receive the message the next time.

Note: Pulsar doesn't offer a way to track how many times a message has been Nack'd, so it will be retried "indefinitely". Y

[2022-06-30 07:00] saber-wang commented on #1813
@ItalyPaleAle  Thank you for your answer

[2022-06-30 14:52] mindovermiles262 commented on #1109
Any updates on this? We are trying to use MSK and it only supports SHA-512.

[2022-06-30 16:22] berndverst commented on #1672
This can stay closed, but we are currently evaluating whether the existing MQTT component works with IBQM MQ with the Telemetry Service enabled which should be MQTT compatible.

[2022-06-30 21:32] #1813 closed

[2022-07-01 00:39] ItalyPaleAle commented on #1832
#1837 will fix this by allowing all options

[2022-07-01 19:05] #1832 closed

[2022-07-02 19:03] ItalyPaleAle opened #1843 "Add support for Azure AD in SignalR binding"
The Azure SignalR is currently not supporting Azure AD authentication.

Upon investigation, this should be possible. SignalR authenticates requests by means of a JWT, which can either be signed with HMAC using a shared key, or can be obtained through Azure AD. Relevant docs here: https://docs.microsoft.com/en-us/azure/azure-signalr/signalr-reference-data-plane-rest-api

The SignalR component doesn

[2022-07-03 04:34] helbing commented on #1037
@saranvasu Do you work on this now?

[2022-07-04 01:01] saber-wang commented on #1759
/activity

[2022-07-04 13:22] ivanthelad opened #1844 "Eventhub Component in beta and not stable"
Hi,
Reviewing the supported pubsub components I see the Azure Eventhubs component is beta state.
https://docs.dapr.io/reference/components-reference/supported-pubsub/

I was wondering if anyone should shed light on what aspect of the [stable](https://docs.dapr.io/operations/components/certification-lifecycle/#certification-tests) requirements are not met by the component

[2022-07-04 15:55] iamluso opened #1845 "Azure ServiceBus Binding error (cannot unmarshal string into Go struct field) - Dapr 1.8 RC"
## Expected Behavior
We'd like to configure some new properties added in Dapr 1.8 RC for Azure ServiceBus Queues so that we can increase the messages processing pace:

- name: maxActiveMessages # Optional
  value: 10
 - name: maxConcurrentHandlers # Optional
 value: 1

## Actual Behavior
When adding the below parameters to the component YAML:
- name: maxActiveMessages
  value: 10
 - name: maxConcu

[2022-07-04 16:22] yaron2 commented on #1845
Possible release blocker.

cc @ItalyPaleAle @artursouza

[2022-07-04 16:44] ItalyPaleAle commented on #1845
/assign

[2022-07-04 16:44] ItalyPaleAle commented on #1845
Thanks for the report. I will take a look at this tomorrow.

[2022-07-05 06:41] helbing commented on #1037
/assign

[2022-07-05 11:26] DeepanshuA commented on #1689
Just a thought: Can we leverage Metadata / Capabilities API enlisting status of a component for a capability.
So, in addition, we can have status field telling status (Alpha / Beta / Stable) for a feature for a component.

[2022-07-05 16:11] ItalyPaleAle commented on #1845
This is now fixed in release-1.8. a new RC is coming out shortly. Thanks again for reporting this and to @cmendible for fixing it :)

[2022-07-05 21:30] tanvigour commented on #1679
/assign

[2022-07-06 04:55] kou-h opened #1853 "bindings.azure.blobstorage{ grpc: received message larger than max (13981148 vs. 4194304) }"
Hello, I have this problem here. How can I solve it. thank you
![image](https://user-images.githubusercontent.com/70868445/177471645-d6709e5a-29f5-4935-af3c-97f200f3e329.png)

[2022-07-06 15:21] JarrodJ83 opened #1854 "MySql Component Incompatible w/ MySQL 5.6.51"
## Expected Behavior

MySql state component initializes successfully

## Actual Behavior

MqSql failes to initizlize due to syntax error when creating table:

[code]

## Steps to Reproduce the Problem

Configure component to use an instance of MySQL 5.6.51

## Release Note

RELEASE NOTE: **FIX** Bug in MySql component that causes initialization failure when using MySQL 5.6.51

[2022-07-06 15:51] JarrodJ83 commented on #1854
After reading a bit it seems the JSON datatype was not added to MySql until version 5.7.8. I will close this as I assume there will not be support for earlier versions of MySql that don't support this type.

[2022-07-06 15:51] #1854 closed

[2022-07-06 20:00] #1845 closed, assigned to ItalyPaleAle

[2022-07-06 20:01] ItalyPaleAle commented on #1853
What operation are you executing?

[2022-07-06 21:05] #1843 closed

[2022-07-06 23:10] greenie-msft commented on #1844
@artursouza, @berndverst - Can you provide specifics on what is needed to flip this component from beta to stable?

Also, this question might come up for more components. Should we consider adding current status of component and the needed criteria for a component to move to the next state - example: conformance/cert tests, docs, etc?

[2022-07-07 00:53] kou-h commented on #1853
Hello, I'm trying to use bindings azure. blobstorage.  This error occurs when uploading files of more than 10MB

[2022-07-07 11:56] Radhikabollineni opened #1858 "Hashicorp Vault Secret Store - To support cert. rotation and renewals"
Enhance Hashicorp Vault Secret store to support password/ cert. renewals and publish the notification/ event when change takes place.

[2022-07-07 12:06] Radhikabollineni commented on #1844
With 1.8 release, EventHubs can be announced as stable candidate, as per the criteria defined here: https://docs.dapr.io/operations/components/certification-lifecycle/#stable ;  the component has certifications tests as noted here https://github.com/dapr/components-contrib/tree/master/tests/certification/pubsub/azure/eventhubs;
Also carrying the good documentation on its usage.  @berndverst - bein

[2022-07-07 13:47] mindovermiles262 opened #1859 "Fix/Improve Linting Process"
## Expected Behavior

As a developer, when I run `make lint` as directed by the instructions on [developing a component](https://github.com/dapr/components-contrib/blob/master/docs/developing-component.md) I would expect everything to be green and work.

## Actual Behavior

What is actually happening, is that there are a bunch of errors about formatting. When [asked in Discord](https://discord.com

[2022-07-07 13:50] mindovermiles262 commented on #1859
This is also a pain point for new contributors to the project as each time they make a change to try to fix the linting in the CICD pipeline they need approvals from maintainers.

[2022-07-07 15:29] Kyle2123 opened #1860 "[pubsub][pulsar]Support pulsar+ssl:// URL format"
## Describe the feature
Currently the pulsar pubsub component expects the Pulsar url to be in one of three formats:
- pulsar://
- http://
- https://

Please add support for the pulsar+ssl:// format to allow for connections to production Pulsar clusters that are configured to use TLS.

https://github.com/dapr/components-contrib/blob/3821c001315dfd2c24f8e1c6bdd19dd1ff21475d/pubsub/pulsar/pulsar.go#L

[2022-07-07 15:33] ItalyPaleAle commented on #1853
What we suspected is correct then. As @yaron2  said, you need to enable support for larger bodies.

That flag must be passed to the dapr CLI: https://docs.dapr.io/operations/configuration/increase-request-size/

[2022-07-07 17:56] berndverst commented on #1189
FYI @artursouza

[2022-07-07 22:24] halspang opened #1863 "Resiliency for Components"
## Describe the proposal
With Resiliency being introduced into the Dapr runtime in 1.7 (as a preview feature), we should now consider how Resiliency interacts with components and if there is a way to get them to utilize the runtime's resiliency.

## Tenets
- Components must be able to interact with Dapr's resiliency
- Runtime resiliency must not weaken/remove any component resiliency without a dir

[2022-07-08 00:41] artursouza opened #1865 "Azure Service Bus binding fails to receive message"
## Expected Behavior

Azure Service Bus binding continues to receive messages regardless of up time.

## Actual Behavior

After a "long" time, Azure Service Bus bindings stops receiving messages and sidecar must be restarted.

## Steps to Reproduce the Problem

Runs input binding for Azure Service Bus over a "long" period of time.

## Release Note

RELEASE NOTE:  **FIX** issue where Azure Service

[2022-07-08 00:50] kou-h commented on #1853
@ItalyPaleAle @yaron2
By setting this flag, a large file was successfully uploaded. thank.
However, received message exceeded the maximum configured message size Which flag does this need to be set through?

[2022-07-08 02:08] yaron2 commented on #1853
This setting should probably be set on your app, as Dapr tries to deliver the file over HTTP/gRPC

[2022-07-08 03:11] saber-wang commented on #1742
/activity

[2022-07-08 05:42] kou-h commented on #1853
@yaron2
Thank you for your reply. Now I am using the dapr SDK for Net.
It seems that the attribute of response size is not set. Do I need to contact the dapr SDK for Net author?
https://github.com/dapr/dotnet-sdk/blob/master/src/Dapr.Client/DaprClientGrpc.cs#L207

[2022-07-08 11:34] benc-uk opened #1866 "SendGrid Output Binding always returns 400"
## Expected Behavior

SendGrid output binding will send emails to SendGrid without error

## Actual Behavior

Error is always returned
[code]

## Steps to Reproduce the Problem

- Create SendGrid output binding in your ~/.dapr/components, with your SendGrid API key, see comments in gist below
- See sample code here [sendgrid-dapr.go](https://gist.githubusercontent.com/benc-uk/1f79c53e1497e828e9df5

[2022-07-08 13:08] #1109 closed

[2022-07-08 16:29] tanvigour commented on #1679
@berndverst , @artursouza

This tests seem to be present already: https://github.com/dapr/components-contrib/blob/master/tests/certification/bindings/azure/blobstorage/blobstorage_test.go

Shouldn't this issue be closed?

[2022-07-08 16:58] RcXu opened #1868 "add a new log storage bindings component"
## Describe the feature
This is a AliCloud Sls Log Storage Binding component for a Multi Language System，such as Nodejs as GW and Java apply the services and so on. It will take more work on store logs which are in the same format, but the Dapr outbinding make it easy.

RELEASE NOTE:
RELEASE NOTE: **ADD** New AliCloud SlsLogStorage Component

[2022-07-08 19:58] tanvigour commented on #1678
## Test Plan Draft

Basic Test for existing container for CRUD operations:
1. Able to create and test connection.
2. Able to do set, fetch, delete.

 Basic Test for non-existing container for CRUD operations:
1. Able to create and test connection.
2. Able to do set, fetch, delete data.
3. Delete the table

Test for authentication using AAD
1. Save Data using Go SDK
2. Retrieve data by using AAD cr

[2022-07-08 20:17] artursouza commented on #1678
We also need to validate reconnection. The component should not require a restart to recover from a connection outage from the service.

[2022-07-09 05:58] #1868 closed

[2022-07-09 07:32] RcXu opened #1872 "add a new log storage bindings component"
## Describe the feature
This is a AliCloud Sls Log Storage Binding component for a Multi Language System，such as Nodejs as GW and Java apply the services and so on. It will take more work on store logs which are in the same format, but the Dapr outbinding make it easy.

RELEASE NOTE: **ADD** New log binding component.

[2022-07-11 03:12] fissssssh commented on #1714
it's work, the real topic was send by http header @helbing
![image](https://user-images.githubusercontent.com/29757779/178181630-2d94bb10-36df-42fe-a891-b5e139cf02f0.png)
![image](https://user-images.githubusercontent.com/29757779/178181685-3492e067-850b-415f-ac1e-2252ab212b46.png)

[2022-07-11 03:12] #1714 closed

[2022-07-11 03:42] fissssssh commented on #1714
I think the documentation should state how the metadata is transferred

[2022-07-11 19:02] #1866 closed, assigned to benc-uk

[2022-07-11 21:45] ItalyPaleAle commented on #1865
Can you please ask the user:

- What protocol does Dapr use to communicate with the app? HTTP or gRPC?
- Are they setting `app-max-concurrency`?

[2022-07-12 20:52] artursouza opened #1878 "InfluxDB binding as stable candidate"
## Describe the proposal

Create certification tests for InfluxDB binding and mark it as stable candidate:
https://docs.dapr.io/reference/components-reference/supported-bindings/influxdb/

[2022-07-13 02:47] yaron2 commented on #1714
It would be great if you opened a PR in the docs repo to clarify this :)

[2022-07-13 04:25] joshdcar commented on #1494
Bumping this. Ran into this today as well and makes the utility of using the MongoDB state store much less useful for query use cases (at least via the SDK - assuming http api works as a workaround ).  Open to taking a stab at a PR for a fix (outlined pretty well by @shersh already).

[2022-07-13 04:27] yaron2 commented on #1494
@joshdcar a PR would be highly appreciated 👍

[2022-07-13 04:57] helbing commented on #1139
/assign

[2022-07-13 06:13] mukundansundar commented on #1494
@joshdcar Have you tried setting the `contentType` metadata to `application/json` similar to code here https://github.com/dapr/java-sdk/blob/master/examples/src/main/java/io/dapr/examples/querystate/QuerySavedState.java#L77.
Does that help?

[2022-07-13 12:07] DannyO-dev opened #1879 "Possibility to publish messages to a specific RoutingKey"
**Hello all,**

I am looking for a way to publish a message to RabbitMQ using a RoutingKey. With the help of PublishEventAsync() I can assign the message to the topic, but only without RoutingKey. Is there any possibility?

Also, when I automatically create the exchange in RabbitMQ, the type is always set to 'fanout', even if I have set the exchangeKind to 'topic'.

Thank you in advance,
BR Daniel

[2022-07-13 21:04] yaron2 commented on #1633
ping @ben-kotvis

[2022-07-14 09:28] thielepaul opened #1881 "MQTT wildcard and shared subscriptions are broken (again)"
## Expected Behavior

When I subscribe to a mqtt topic with a wildcard subscription or a shared subscription, I expect to receive messages.

## Actual Behavior

No messages are received and the error `no handler defined for topic` is printed in the daprd log.

## Steps to Reproduce the Problem

- Add a `pubsub.mqtt` component
- Subscribe with a shared subscription (`$share/group-id/topic`) or with

[2022-07-14 09:29] thielepaul commented on #1881
I guess this is the commit that broke it: https://github.com/dapr/components-contrib/commit/d55ce1dfdb19c736133ee4cb4cda362aea179013

[2022-07-14 12:02] thielepaul commented on #1881
a workaround would be to use the mqtt binding instead, but this is not using the cloudevent envelope so I would prefer not to

[2022-07-14 16:49] #1794 closed

[2022-07-14 16:53] berndverst commented on #130
@rzyns as of release 1.8 Azure Storage Queues binding has AAD support. Apparently we forgot to update the docs - but it works the same way as with the other components supporting AAD - same metadata fields etc.

[2022-07-14 16:54] berndverst commented on #130
I believe all components which can support AAD now have AAD support implemented. At this time I will close this issue. We will always implement AAD support if this is possible with the official SDKs we are provided.

[2022-07-14 16:54] #130 closed

[2022-07-14 17:19] yaron2 commented on #1881
cc @ItalyPaleAle

[2022-07-15 00:27] artursouza commented on #1881
Is this in 1.8?

[2022-07-15 00:29] artursouza commented on #1881
We also need certification test for this scenario.

[2022-07-15 00:39] yaron2 commented on #1881
Yes

[2022-07-15 00:50] #1722 closed

[2022-07-15 02:44] saber-wang commented on #1879
Please check the [document](https://docs.dapr.io/reference/components-reference/supported-pubsub/setup-rabbitmq/#use-topic-exchange-to-route-messages)

[2022-07-15 16:53] ItalyPaleAle commented on #1881
I have investigated the issue and can reproduce it. However, the resolution is not too simple.

In 1.7 we made this work in a sort-of "hacky" way through the runtime (and that was the reason why we published a hotfix). This was removed from the runtime in 1.8 and that was the right thing to do.

The problem is that without that, we now do not have a direct way to match an incoming message to a han

[2022-07-15 21:39] berndverst commented on #1679
Yes I created this certification test originally and it is fine as is. There is no need to check for reconnection given this is a connectionless protocol (REST).

We don't have to track the Track 2 SDK migration as part of this. That's something which we will have to do eventually.

I am not sure why we forgot to update the docs to call this component stable.

[2022-07-15 21:39] #1679 closed

[2022-07-15 21:41] berndverst commented on #1679
@artursouza I think this component became a stable candidate in v1.6 but we simply forgot to say that it was stable in 1.7.

[2022-07-15 21:43] berndverst commented on #1679
Was resolved in early January: https://github.com/dapr/components-contrib/issues/1679

[2022-07-15 21:46] berndverst commented on #1679
@pravinpushkar this issue you opened here was a duplicate of https://github.com/dapr/components-contrib/issues/956 -- hence this confusion here.

[2022-07-15 22:07] berndverst commented on #1679
Docs:
https://github.com/dapr/docs/pull/2659
https://github.com/dapr/docs/pull/2658

[2022-07-16 15:29] #1699 closed

[2022-07-17 00:25] ItalyPaleAle commented on #1860
Hey @Kyle2123  thanks for opening this issue! Would you be able to submit a PR for this?

[2022-07-17 08:05] #1504 closed

[2022-07-18 01:49] alexdrenea opened #1883 "[Azure Blob Storage] (binding / state) local emulator support"
## Describe the feature
At this time, the Azure Blob Storage components (both binding and state) require just AccountName and Key.

The downstream go library (azblob) automatically appends "blob.core.windows.net" at the end of the given AccountName thus preventing us to use the local emulator (which runs at 127.0.0.1:10000)

The Azure Table components already support this by using an extra metadat

[2022-07-18 14:25] DannyO-dev commented on #1879
Thanks for the answer, but I think I need to describe my problem more in detail:

My problem is that I am not creating a subscription via another Dapr client.
**Following scenario:**
An application implements a listener on the exchange 'cadcam...machine.changed.v1'. The exchange is automatically created in my RabbitMQ of type 'topic' and a queue is automatically generated which binds to the exchan

[2022-07-18 16:06] saber-wang commented on #1879
There should be clear settings in the documents  provide.
[for example](https://docs.dapr.io/reference/components-reference/supported-pubsub/setup-rabbitmq/#use-topic-exchange-to-route-messages)
`exchangeKind: topic`

[2022-07-18 17:17] ItalyPaleAle opened #1885 "pubsub.jetstream: missing conformance test"
Currently, we do not have a conformance test for PubSub Jetstream.

[2022-07-18 20:04] berndverst commented on #1494
I think what we need is a case where we check that `contentType`  as @mukundansundar suggests. If and only if the content type is set as `application/json` we should try to store this as something other than string.

What needs to happen is for the string to be unmarshalled into `bson`, but only in the case where the content type was application/json.

Something like this
[code]

[2022-07-19 09:56] clemensv opened #1892 "Azure Service Bus Component: MessageID isn't guaranteed to be unique"
The MessageID in Service Bus is a user-settable field that is not guaranteed to be unique and the service doesn't do anything to enforce uniqueness unless the user explicitly turns on duplicate detection.

In the underlying AMQP protocol, message-id is optional and therefore cannot be relied on as a key as used here, especially when messages originate from outside of DAPR. See https://docs.oasis-o

[2022-07-19 10:12] clemensv opened #1893 "Azure Service Bus Component: Metadata"
https://github.com/dapr/components-contrib/blob/801297c724e9d55d55b3288b9b123c000a231df6/bindings/azure/servicebusqueues/servicebusqueues.go#L258

If the Service Bus integration is meant to be interoperable with message senders that aren't built with DAPR and possibly including such that talk to Service Bus directly using a generic AMQP client, which ought to be a goal, it needs to surface all pot

[2022-07-19 13:14] clemensv opened #1894 "Azure Service Bus: Application Properties maintained?"
https://github.com/dapr/components-contrib/blob/801297c724e9d55d55b3288b9b123c000a231df6/pubsub/azure/servicebus/message.go#L76

I don't see the application-properties section of a service bus message getting mapped. Is that information dropped if the topic is being populated by a non-DAPR producer?

[2022-07-19 15:20] clemensv opened #1895 "Service Bus/Event Hubs/Rabbit PubSub abstraction model issues"
https://github.com/dapr/components-contrib/blob/801297c724e9d55d55b3288b9b123c000a231df6/pubsub/azure/servicebus/servicebus.go#L71

While the issue I raise here is with the PubSub abstration in general, I am anchoring it on the Service Bus implementation of the interface, because it's more straightforward to discuss a concrete example.

The abstraction squishes three distinct concerns into a singl

[2022-07-19 18:50] artursouza commented on #1892
Can you clarify the scenario you are targeting here?

[2022-07-19 21:50] clemensv commented on #1892
I am reading the code and am seeing the use of a value that isn't guaranteed to be unique used as a hashtable index and that is a bug

[2022-07-20 01:34] ItalyPaleAle commented on #1892
@clemensv thanks for pointing that out. Can you share a link to the line you're referring to?

[2022-07-20 03:08] #1781 closed

[2022-07-20 06:42] jjcollinge commented on #1892
Thanks @clemensv. @ItalyPaleAle the message ID is being used to track the active messages [here](https://github.com/dapr/components-contrib/blob/91ce3d3baf846a34ef6678964ee9f793c9172728/internal/component/azure/servicebus/subscription.go#L321) which is used to renew the locks on any messages we are currently handling. The use of a map here is so that we can do simpler random deletes when a message

[2022-07-20 16:02] halspang opened #1899 "Dapr Azure Service bus Exception when amqp:resource-limit-exceeded"
Note: Issue contents copied from https://github.com/dapr/dotnet-sdk/issues/879 since I can't move the issue itself.

## Expected Behavior

When the Azure service bus reaches its max limit, this exception occurs for publishing messages..  `Dapr.DaprException: Publish operation failed: the Dapr endpoint indicated a failure. See InnerException for details.  ---> Grpc.Core.RpcException: Status(StatusC

[2022-07-20 16:09] ItalyPaleAle commented on #1892
Thanks for explaining @jjcollinge and for the PR :)

[2022-07-20 19:05] #1719 closed

[2022-07-20 22:57] remojansen opened #1900 "How to use Cosmos DB when container name is only known at runtime?"
I'm working on a SaaS solution, and the users are allowed to create workspaces. Each workspace uses several CosmosDB containers pre-fixed with the workspace ID:

[code]

Is there a way to connect to a container without declaring a component? Can the component be declared at runtime?

[2022-07-21 08:02] DeepanshuA commented on #1776
I checked for `endpoint` option support for SQS binding, as it seemed to be supported due to https://github.com/dapr/components-contrib/blob/24be879a40e7ef2742beb67f5c1f052b1b5eeae7/bindings/aws/sqs/sqs.go#L152  and I was able to write messages to localstack queue.
Other options may be required for supporting other features - will try to add relevant ones to SQS binding.

Assigning it to myself, p

[2022-07-21 08:02] DeepanshuA commented on #1776
/assign

[2022-07-21 08:37] DeepanshuA commented on #1281
This will be needed before we are able to work towards making Event Grid as stable. Will have a look into this issue.

[2022-07-21 08:37] DeepanshuA commented on #1281
/assign

[2022-07-21 08:55] mihaimyh commented on #8
Is AVRO schema registry supported?

[2022-07-21 09:06] remojansen commented on #1900
I found a solution: Use partition keys instead of prefixed container names. However, could be able to use bindings that are only known at runtime be a real use case in some scenarios?

[2022-07-21 09:41] mukundansundar commented on #8
@mihaimyh please create a separate issue for this question.

[2022-07-21 14:41] thielepaul commented on #1881
Thanks you for working on this!

I just tested it with 1.8.1, and it still does not work for me:
my subscription is: `event/data/+/+/+/1/1`
and I still get the error `no handler defined for topic event/data/test/0/0/1/1`

@ItalyPaleAle

[2022-07-21 16:11] ItalyPaleAle commented on #1881
@thielepaul looks like the regexp parser may not work correctly with multiple `+/+`. Can you use `event/data/#/1/1` in the meanwhile? I'll look at fixing this in the next release but I don't think there'll be another hotfix in 1.8 for this, since a workaround exists.

[2022-07-21 16:23] thielepaul commented on #1881
yes, that's fine for me

[2022-07-21 17:13] #1892 closed

[2022-07-21 22:30] #1881 closed

[2022-07-21 23:24] #1678 closed

[2022-07-22 10:59] mukundansundar commented on #1790
@amimimor is there an eta for this issue?

[2022-07-22 12:41] thielepaul commented on #1881
I just tried this and it does not work as `#` must be at the end of the subscription (at least when using emqx as the broker).
I also tested the current master and the second fix (#1901) does resolve it for me. Thank you @ItalyPaleAle!

[2022-07-22 15:53] amulyavarote opened #1905 "Add certification tests for Azure Event Grid Binding"
The Azure Event Grid Binding requires certification tests to be created.
Add conformance tests if not present.

Release Note

RELEASE NOTE: ADD Certification tests for Azure Event Grid Binding

[2022-07-22 15:54] amulyavarote opened #1906 "Add certification tests for RabbitMQ Binding"
The RabbitMQ Binding requires certification tests to be created.
Add conformance tests if not present.

Release Note

RELEASE NOTE: ADD Certification tests for RabbitMQ Binding

[2022-07-22 20:37] amulyavarote commented on #1906
Azure Storage Queue Input/Output Binding Certification

The purpose of this module is to provide tests that certify the Azure Storage Queue Input/Output Binding as a stable component.

Certification Tests:

**Azure Storage Queue Input/Output Binding Certification**

The purpose of this module is to provide tests that certify the Azure Storage Queue Input/Output Binding as a stable component.

**Ce

[2022-07-22 21:48] #1905 closed

[2022-07-23 01:23] tanvigour commented on #1878
## Test Plan Draft

### Proposed tests (Certification)

- Test sending /receiving data between single partition
   - Start an app with 1 sender and 1 receiver
   - Provide multiple partitions but store data in one partition
   - Receiver should only receive message from one partition
   - Sends 100+ unique messages
   - Simulates periodic errors
   - Confirm that all expected messages were receive

[2022-07-23 04:02] mukundansundar commented on #1878
@tanvigour Please change test plan to reflect the operations in the binding being tested create and query. When you say receiving I am assuming querying? Is that correct? And sending is create operation?

Also a side note docs need to be updated to include request response pattern for create operation.

[2022-07-24 05:16] tlbboy opened #1907 "aws sqs component can not support China region such as cn-northwest-1"
## Expected Behavior

### I create  sqs component  and  set correct  sqs config info .
when  I pub message  by the component  ,I hope it work well ,but the daprd output error message as below.

## Actual Behavior

![image](https://user-images.githubusercontent.com/38551720/180633118-9f2371f2-8825-4188-9657-2fe646765f82.png)

## Steps to Reproduce the Problem

If I set  cn-northwest-1 to the region

[2022-07-24 16:05] #1732 closed

[2022-07-25 15:13] thielepaul opened #1909 "Add Dapr support for Redis 7 in cluster mode"
## Expected Behavior

I expect dapr to connect to the latest version of redis.

## Actual Behavior

When I connect to a redis instance deployed to kubernetes, I get the following error:
[code]

## Steps to Reproduce the Problem

- deploy redis in cluster mode: https://github.com/bitnami/charts/tree/master/bitnami/redis-cluster#tldr
- configure dapr to connect to it

It seems we should use github.c

[2022-07-25 15:34] yaron2 commented on #1909
Thanks, would you like to create a PR that updates `go.mod` to the `v9` version?

[2022-07-25 19:42] amulyavarote commented on #1906
/assign

[2022-07-25 19:43] amulyavarote opened #1912 "Add certification tests for Azure Cosmos DB State store"
The Azure Cosmos DB State store requires certification tests to be created.

Conformance tests are already present.

Release Note

RELEASE NOTE: ADD Certification tests for Azure Cosmos DB State store

[2022-07-25 20:17] amulyavarote commented on #1912
Azure Cosmos DB State Store Certification

The purpose of this module is to provide tests that certify the Azure Cosmos DB State Store as a stable component.

Certification Tests:

Azure Cosmos DB State Store Certification

The purpose of this module is to provide tests that certify the Azure Cosmos DB State Store as a stable component.

Certification Tests

- Verify the authentication with Azure

[2022-07-25 20:17] amulyavarote commented on #1912
/assign

[2022-07-26 06:15] ck5000 opened #1914 "Dapr pubsub Kafka support consumer configuration"
### Problem dapr on kubernetes when deploy multi instance
- Dapr sidecar restart before kafka rebalance completed

### Describe the feature
- Need support consumer configuration
- Support setting group instance id same pod name

[2022-07-26 06:59] mukundansundar commented on #1761
@cmendible Assigned this issue to you based on PR that you created.

[2022-07-26 07:13] thielepaul commented on #1909
I just hat a short look on that, and it seems it is more complicated than just updating the dependency:

Probably, it would make sense to have the redis version configurable in the component specification and then use `go-redis/redis/v8` or `go-redis/redis/v9` depending on what is selected there.

I'm sorry, but I currently don't have the time to do this and using redis 6 for the time being is als

[2022-07-26 11:59] rabollin commented on #1912
@amulyavarote  - https://github.com/dapr/components-contrib/issues/1138 is similar to this current work and is in works by
shivamkm07.  Please and avoid redundant efforts here.

[2022-07-26 19:00] amulyavarote commented on #1912
Closing this because this is a duplicate issue.

[2022-07-26 19:00] #1912 closed

[2022-07-27 02:31] joshdcar commented on #1494
So Kudos to @mukundansundar for the suggestion on content type. I had tried the content type suggestion previously but while digging through the code to make the "Fix" I realized the constant was looking for "contentType" and I had the metadata key set to "Content-Type".  SaveState within API of the GRPC package was already handling data types correctly when the metadata value is set properly.

Li

[2022-07-27 02:35] #1494 closed

[2022-07-27 02:36] yaron2 commented on #1494
Thanks for the update @joshdcar. A docs PR would be greatly appreciated 👍

[2022-07-27 05:50] rabollin opened #1913 "Standardize the error codes for all components building blocks"
https://devcenter.heroku.com/articles/error-codes - using this as reference to we need to standardize the error codes for the failures mapping with specific error messages.

[2022-07-27 09:28] MarkiEC13 commented on #1495
I'm facing the same issue with v1.7.4, randomly happens from time to time.
`Status(StatusCode="Internal", Detail="error when publish to topic test-events-topic in pubsub test-sb-pubsub: read tcp 10.244.7.92:38712->23.97.226.21:5671: read: connection reset by peer")
--`

[2022-07-27 09:30] shivamkm07 commented on #1138
# Azure Cosmos DB certification testing

This project aims to test the Azure Cosmos DB State Store component under various conditions.

## Test plan

### Basic Test using master key authentication
1. Able to create and test connection.
2. Able to do set, fetch and delete.

### Test Partition Keys
Ensure the following scenarios:
 1. In case of invalid partition key, the access fails
 2. In case of

[2022-07-27 14:51] yaron2 commented on #1914
Transferred to correct repository.

[2022-07-28 05:03] addjuarez opened #1915 "Apache Cassandra Certification tests"
## Describe the proposal

It seems conformance tests have already been setup for cassandra.
https://github.com/dapr/components-contrib/blob/master/tests/conformance/common.go#L429
Now we need to create certification tests for cassandra to graduate component to stable.
Currently cassandra supports CRUD operations and TTL.
https://docs.dapr.io/reference/components-reference/supported-state-stores/se

[2022-07-28 05:03] mukundansundar opened #1916 "Standardize error messages in Dapr"
## Describe the proposal

For different building blocks the errors during init phase are surfaced in different ways. The following were the error logs when tested with component files with no required metadata for proper initialization of the component.

#### State Store

[code]

[code]

#### Pubsub

[code]

[code]

#### Bindings

[code]

#### Nameresolution

[code]

These are the error messages t

[2022-07-28 15:29] yaron2 commented on #1916
Not sure about how useful this is in terms of metrics. Logs make sense.

[2022-07-28 17:51] DeepanshuA opened #1917 "Azure EventGrid binding as Stable"
Solve flaky conformance test issue for EventGrid under https://github.com/dapr/components-contrib/issues/1281 and create Certification tests for EventGrid to be able to promote it as Stable candidate.

https://docs.dapr.io/reference/components-reference/supported-bindings/eventgrid/

[2022-07-28 17:53] DeepanshuA commented on #1917
/assign

[2022-07-29 08:45] robeving commented on #1764
Can confirm that this issue still seems present in 1.8 - have received double data in our eventhub

[2022-07-29 08:47] robeving commented on #1844
Stable for reading (maybe) maybe but not for writing

https://github.com/dapr/components-contrib/issues/1764
and
https://github.com/dapr/components-contrib/issues/1598

[2022-07-31 07:30] ck5000 commented on #1914
Thank you!

[2022-08-01 23:26] charlesATswin opened #1921 "Issues Building"
Hello,

I am trying to create my own Dapr middleware and thus need to build Dapr. I am having the same issues with both dapr and components-contrib, when I go to build I get the following error at the end of the build processes.

`build github.com/Azure/azure-sdk-for-go/sdk/azcore/to: cannot load github.com/Azure/azure-sdk-for-go/sdk/azcore/to: no Go source files make: *** [Makefile:64: test] Erro

[2022-08-02 01:06] amulyavarote opened #1922 "Add certification tests for Azure Service Bus Pubsub"
The Azure Service Bus Pubsub requires certification tests to be created.
Add conformance tests if not present.

Release Note

RELEASE NOTE: ADD Certification tests for Azure Service Bus Pubsub.

[2022-08-02 01:07] amulyavarote commented on #1922
/assign

[2022-08-02 01:49] addjuarez commented on #1915
/assign

[2022-08-02 10:19] NickLarsenNZ opened #1923 "[Jetstream] Allow TLS Client Authentication"
Looking at the docs, and the configuration struct for Jetstream, it doesn't seem like TLS Client Authentication can be used.

https://github.com/dapr/components-contrib/blob/e639685e83b3a2ad1a73fc89a4370b6d11ed9d17/pubsub/jetstream/metadata.go#L24-L36

I wonder if it is a trivial addition?

[2022-08-02 10:23] NickLarsenNZ commented on #1923
Looks like an `else if` could be added here:

https://github.com/dapr/components-contrib/blob/e639685e83b3a2ad1a73fc89a4370b6d11ed9d17/pubsub/jetstream/jetstream.go#L50-L57

And the NATS client has an example of connecting via TLS:

https://github.com/nats-io/nats.go#tls

[2022-08-02 14:39] addjuarez commented on #1752
/assign

[2022-08-02 16:33] addjuarez commented on #1557
#1610 fixed by this pr

[2022-08-02 16:34] #1557 closed

[2022-08-02 16:37] halspang commented on #1863
@berndverst - Any thoughts on this?

[2022-08-02 16:39] halspang commented on #1797
I wrote a proposal for how to do this consistently across components. Would be good to get some thoughts on it: https://github.com/dapr/components-contrib/issues/1863

[2022-08-02 16:47] addjuarez commented on #1609
fixed by #1698

[2022-08-02 16:47] #1609 closed

[2022-08-02 20:46] tmacam opened #1926 "Hashicorp Vault secret store as Stable"
* The [HashiCorp Vault Secret Store Component] requires certification tests to be created.
* Add conformance tests if not present.

[HashiCorp Vault Secret Store Component]: https://docs.dapr.io/reference/components-reference/supported-secret-stores/hashicorp-vault/

[2022-08-03 04:11] mukundansundar commented on #1752
related to https://github.com/dapr/components-contrib/issues/1916

[2022-08-03 05:44] mukundansundar commented on #1906
@artursouza #1910 is for conformance tests and not certification ...

[2022-08-03 15:59] #1907 closed

[2022-08-03 17:20] tmacam commented on #1926
/assign

[2022-08-03 20:31] MotaOcimar opened #1927 "Cron Binding - Does it have a load balancing option?"
I did some tests with the Cron Binding and noticed that each instance of my application in Kubernetes is triggered by that binding.
However, I'm afraid this will cause multiple unnecessary actions as a result (eg multiple requests to a third application).
I would like to know if it is possible to load balace the Cron Binding calls, similarly to what happens with the service invocation.

I also tak

[2022-08-03 21:09] RyanLettieri opened #1928 "CockroachDB state store as Stable"
## Describe the proposal

Creation of certification test for cockroach db

[2022-08-03 21:21] gidduk opened #1932 "RethinkDB State Store error - Dapr v1.8"
## In what area(s)?
/area runtime

## What version of Dapr?
1.8
## Expected Behavior

I am trying to use RethinkDb as my stateStore.
statestore.yaml in default users profile folder.

apiVersion: dapr.io/v1alpha1
kind: Component
metadata:
  name: springBootState
spec:
  type: state.rethinkdb
  version: v1
  metadata:
  - name: address
    value: localhost:28015
  - name: database
    value: test

[2022-08-03 22:18] tmacam opened #1929 "Add certification tests for MemCached State Store component"
- The [MemCached State Store component] requires certification tests to be created.
- Add conformance tests if not present.

[MemCached State Store component]: https://docs.dapr.io/reference/components-reference/supported-state-stores/setup-memcached/

[2022-08-03 22:18] tmacam commented on #1929
/assign

[2022-08-04 02:00] wxbty opened #1933 "The bind function of redis is weak"
Why does the bind redis module only support set operations? I want to transform the jedis sdk of the project into a sidecar mode, and I hope to implement dapr binding (manage connection) + toolkit (encapsulate some http requests), so I need to extend the binding function of redis, "set" in the code, expand Become a native command common to redis (such as zadd, etc.), will anyone agree with this?

[2022-08-04 23:29] #1923 closed

[2022-08-05 07:36] mdaquel commented on #1865
@ItalyPaleAle we've been experiencing the same behavior. Using gRPC protocol & no `app-max-concurrency` settings. Dapr runtime `1.8.2`.

[2022-08-05 15:06] yash-nisar opened #1938 "Add certification tests for MongoDB state store"
* The [MongoDB state store component](https://docs.dapr.io/reference/components-reference/supported-state-stores/setup-mongodb/) requires certification tests to be created.
* Add conformance tests if not present.

[2022-08-05 15:06] yash-nisar commented on #1938
/assign

[2022-08-05 15:21] yash-nisar opened #1939 "Add certification tests for Redis binding"
* The [Redis binding component](https://docs.dapr.io/reference/components-reference/supported-bindings/redis/) requires certification tests to be created.
* Add conformance tests if not present.

[2022-08-05 15:21] yash-nisar commented on #1939
/assign

[2022-08-05 16:22] ItalyPaleAle commented on #1865
@mdaquel Thanks for the report. How long before the issue appears, and is there anything "noteworthy" that happens before the issue appears?

[2022-08-05 17:04] RyanLettieri commented on #1928
/assign

[2022-08-05 21:09] #1932 closed

[2022-08-05 21:28] #1541 closed

[2022-08-05 21:42] tanvigour commented on #1598
Hi @MattCosturos , here's the certification test https://github.com/dapr/components-contrib/blob/master/tests/certification/bindings/azure/eventhubs/eventhubs_test.go#L330
which covers a case with 2 dapr bindings where each binding is fixed to a partition id and that seems to go well. Is this use case that breaks for you?

[2022-08-05 21:42] tanvigour commented on #1598
/assign

[2022-08-05 23:20] #1761 closed

[2022-08-05 23:44] #1872 closed

[2022-08-06 00:52] addjuarez commented on #1899
/assign

[2022-08-06 02:41] mdaquel commented on #1865
@ItalyPaleAle in our case we've noticed that the issue happened when the input binding queue had not received any messages even for about 10 minutes.  After that period messages will start to bank up in that queue until we rollout restart the pods that receive events from that binding.  btw we're pretty early on our Dapr journey. This could be unrelated to this particular issue which a simple bind

[2022-08-06 02:44] ItalyPaleAle commented on #1865
@mdaquel Just to confirm: you do not have any message published for 10 mins, or you just notice that this is frozen because you don't see messages for 10 mins?

Do you see anything relevant in the logs?

Are you able to run Dapr with log level "debug" (https://docs.dapr.io/operations/troubleshooting/logs-troubleshooting/) to see if the logs include anything useful please?

I will investigate furth

[2022-08-06 03:08] mdaquel commented on #1865
@ItalyPaleAle we don't technically publish messages directly into the queue. The messages were produce externally/triggered from our Azure event grid events from our Azure storage account for any blob created & deleted.

Unfortunately we don't see anything specific or relevant in the logs for both the app & Daprd pod.

Yes we can run Dapr with log level debug and let you know as soon as possible.

[2022-08-09 02:10] charlesATswin commented on #1921
Updated Go version which fixed the issue.

[2022-08-09 19:58] cmendible opened #1947 "Updated local secret stores certification test dependencies"
@cmendible this PR broke certification tests in master.

[code]

This is for both env and file secret stores. Can you please fix this?

FYI @yaron2

_Originally posted by @berndverst in https://github.com/dapr/components-contrib/issues/1846#issuecomment-1209792256_

[2022-08-09 20:28] #1947 closed

[2022-08-09 23:54] tmacam opened #1950 "Distributed Lock components' code doesn't reflect renaming on UnlockResponse.Status"
PR dapr/dapr#4989 (issue dapr/dapr#4988) updated the names of some enums in `UnlockResponse.Status` ProtoBuff definition:

* `LOCK_UNEXIST` became `LOCK_DOES_NOT_EXIST `
* `LOCK_BELONG_TO_OTHERS`  became `LOCK_BELONGS_TO_OTHERS`

Code implementing Distributed Lock component in `components-contrib` needs to be updated to account for this modification.

This modification should not cause any change

[2022-08-10 02:50] #1759 closed

[2022-08-10 05:38] #1921 closed

[2022-08-10 05:50] charlesATswin opened #1952 "Installing Custom Daprd into Kubernetes"
Hello,

I have been working through the guide [here](https://github.com/dapr/components-contrib/blob/master/docs/developing-component.md) for developing a new Dapr component. At step 6 it talks about replacing the `daprd` binary; this is not in `~/.dapr/bin` as shown. I concluded that this is due to the fact I am running Dapr on Minikube at the moment and therefore there are no local files, is thi

[2022-08-10 09:28] charlesATswin opened #1953 "Middleware Config Issues"
Hello,

I have created a piece of Dapr Middleware which I am trying to test with a running Dapr system. Each time I run Dapr I get the same error of:
` WARN[0000] failed to build HTTP pipeline: couldn't find middleware component with name uppercase and type middleware.http.uppercase/  app_id=webpage instance=charles-ThinkPad-13-2nd-Gen scope=dapr.runtime type=log ver=edge`

I get this error when r

[2022-08-10 20:11] ItalyPaleAle commented on #1865
@mdaquel I was able to confirm the issue and reproduce it.

In short, in case of certain errors (such as if the network is dropped for a prolonged amount of time) a lock was not released and this was causing ASB to hang. This impacts both the Azure Service Bus Queue binding and Azure Service Bus pubsub components, as that code is shared.

I will have a fix ready shortly.

[2022-08-10 21:41] ItalyPaleAle commented on #1865
@mdaquel  FYI discussed this with @berndverst  and @yaron2  and we will release Dapr 1.8.4 as a hotfix

[2022-08-10 21:52] #1865 closed

[2022-08-10 21:59] mdaquel commented on #1865
@ItalyPaleAle, @berndverst and @yaron2  much appreciated. Amazing turn around time addressing this issue. Thank you so much!

[2022-08-11 02:24] naah69 opened #1960 "rocketmq pubsub error."
## Expected Behavior

rocketmq pubsub

publish message work and consumer only get one every time.

## Actual Behavior

publish: it error when publish message,but i can get many message(size of queue count, my expect is one message) on rocketmq console.
![image](https://user-images.githubusercontent.com/25682169/184054326-96daa105-5f23-4659-ac78-23f100d3e27a.png)
![image](https://user-images.github

[2022-08-11 03:41] naah69 commented on #1960
@ItalyPaleAle  can u check it?

[2022-08-11 13:26] mcandeia opened #1962 "Add certification tests for Redis Configuration Store"
- The [Redis Configuration Store](https://docs.dapr.io/reference/components-reference/supported-configuration-stores/redis-configuration-store/) requires certification tests to be created.
- Add conformance tests if not present.

[2022-08-11 16:01] mcandeia commented on #1962
/assign

[2022-08-11 21:02] ItalyPaleAle opened #1963 "Create test to catch #1957"
We need a test (certification or maybe unit?) to catch regressions like #1957

[2022-08-11 23:55] berndverst commented on #1863
LGTM

Agree that in the future implementation of Resiliency should be a requirement for stable component certification.

So every error not explicitly returned as `backoff.Permanent` is considered retriable? Sounds good, we will need to evaluate what errors are really permanent and which ones aren't. Could be handy for Azure components for example to create a utility which parses the internal stat

[2022-08-12 00:18] ItalyPaleAle opened #1964 "`pubsub.inmemory`: add support for wildcard topics"
Need to add support for wildcard topics to the in-memory pubsub component. This will be useful for E2E tests.

## Release Note

RELEASE NOTE: **ADD** Support for wildcard topic subscriptions in in-memory pubsub

[2022-08-12 16:47] halspang commented on #1863
A lot of this proposal is about forcing people to think about the individual component and what it means to be retryable. I think for components like Azure (and probably GCP/AWS) where they have a commonality in the SDKs will take to a common utility file well.

Yeah, I'm not sure what my initial thought was on the naming there. Updated it in the proposal.

[2022-08-12 21:33] sadgit commented on #378
This is an anti-pattern as the outcome of each event may differ. This would need a separate tally of which processors have completed and which need retrying.

[2022-08-12 22:25] sadgit commented on #1895
Separate subscriptions for multiple parallel consumers is a fundamental part of the reactive model.

The mapping of a near-unlimited number of multiple handlers to a given topic should be part of the basic design.

[2022-08-13 00:13] #1964 closed

[2022-08-13 00:49] #1950 closed

[2022-08-14 04:04] #1742 closed

[2022-08-14 05:46] #1853 closed

[2022-08-15 14:50] mcandeia opened #1967 "Add certification tests for Azure EventHubs"
- The [Azure EventHubs](https://docs.dapr.io/reference/components-reference/supported-pubsub/setup-azure-eventhubs/) requires certification tests to be created.
- Add conformance tests if not present.

[2022-08-15 14:50] mcandeia commented on #1967
/assign

[2022-08-15 16:12] #1967 closed

[2022-08-15 16:16] mcandeia opened #1968 "Add certification tests for Aerospike State Store"
- The [Aerospike State Store](https://docs.dapr.io/reference/components-reference/supported-state-stores/setup-aerospike/) requires certification tests to be created.
- Add conformance tests if not present.

[2022-08-15 16:16] mcandeia commented on #1968
/assign

[2022-08-15 16:56] bab5470 opened #2008 "Does dapr support the AMPQs (Secure AMPQ) protocol when using rabbitmq for pubsub?"
Does dapr support the AMPQs (Secure AMPQ) protocol when using rabbitmq for pubsub?

When we specify the following in our dapr pubsub config our setup works:

[code]

When we switch the config as follows it breaks:

[code]

Note all we've changed is the protocol from ampq to ampqs and the port from 5672 to 5671.

We are using our own internal CA when securing rabbitmq so I don't know if there is so

[2022-08-15 18:45] skylaro opened #1969 "amqp:link:detach-forced error messages from pubsub.azure.eventhubs components"
## Expected Behavior

Azure container apps should properly run and scale without periodic exception messages occurring.

## Actual Behavior

Azure container apps unexpectedly shutting down and scaling in.

## Steps to Reproduce the Problem

Irreproducible. Issue is periodic and is currently affecting all container apps under a particular azure container app environment resource.

## Release Note

[2022-08-15 19:12] tanvigour commented on #1922
Thanks for the plan Amulya, overall this looks good. Here are few suggested changes from my side

1. Verifying for optional parameters may not be needed as a part of certification test if already covered somewhere else, please check on that.
2. We should add an AAD testing scenario with string based authentication and service principal based authentication. please refer to azure eventhubs pubsub f

[2022-08-16 08:20] alexandrejulien opened #1970 "Crashes and errors with statestore and CosmosDB."
## Expected Behavior

Statestore with cosmosdb occurs crashes on dapr sidecar with Dapr 1.7.4
Using .NET App with Dapr Client for ASP.NET SDK with .Net 6 runtime.

This my dapr component :
[code]

## Actual Behavior

The dapr process crash probably when calling StateStore on CosmosDb.
No problem on Redis statestore.

2022-08-10T08:38:11.094454210Z goroutine 6630 [running]:
2022-08-10T08:38:11.0944

[2022-08-16 14:17] mcandeia opened #1971 "AWS SQS/SNS Pubsub as Stable"
- The [AWS SQS/SNS Pubsub](https://docs.dapr.io/reference/components-reference/supported-pubsub/setup-aws-snssqs/) requires certification tests to be created.
- Add conformance tests if not present.
- TODO - Complete the list of items here to get this component to stable

[2022-08-16 14:17] mcandeia commented on #1971
/assign

[2022-08-16 20:46] artursouza commented on #1915
LGTM

[2022-08-16 21:29] berndverst commented on #1915
The CRUD operation are covered by conformance tests and should **not** be part of certification tests.

You also need tests covering the metadata options:

[code]

[2022-08-16 23:49] berndverst commented on #1970
Cosmos DB seems to indicate the data you are trying to read is binary. It tries to decode to string. The problem is that your data isn't actually binary and so decoding fails.

https://github.com/dapr/components-contrib/blob/release-1.7/state/azure/cosmosdb/cosmosdb.go#L240

I would say that this isn't a problem with Dapr or the component -- though the error message should be better in cases like

[2022-08-17 00:05] berndverst commented on #1970
As an aside, I do not know anything about the .NET SDK. But surely you are just simply sending the wrong content type with the .NET SDK somehow.

@halspang as the .NET SDK maintainer can chime in here.

[2022-08-17 03:06] feng081212 commented on #1960
![image](https://user-images.githubusercontent.com/18299550/185025361-f85dcef8-15e4-4d37-8d6f-17fb1342a641.png)

The unit of the sendTimeOut（Spec metadata fields: sendTimeOut）is nanosecond. you need to configure it like this: value: 3000000000. please check it

[2022-08-17 03:13] feng081212 commented on #1960
The unit of the sendTimeOut（Spec metadata fields: sendTimeOut）is nanosecond. you need to configure it like this: value: 3000000000. please check it.
![E6BD2255-34C9-443F-823D-B241857B8AAE](https://user-images.githubusercontent.com/18299550/185026565-410659b8-d214-491d-856c-cf4bd73d39d1.png)

[2022-08-17 03:44] feng081212 commented on #1960
rocketmq go-client will retry on failure, and dapr rocketmq component will also retry on failure.
Your message send timed out, so retry actions have occurred for both rocketmq go-client and dapr rocketmq component.
But message was actually sent successfully. That's why you get multiple messages. You can read the source code to prove it

![B90B0831-7B83-4DC7-959C-FC8A69D98577](https://user-images.g

[2022-08-17 05:47] ItalyPaleAle commented on #1883
👋 bot

[2022-08-17 07:25] DeepanshuA commented on #1138
Should we also add a use-case for checking one of "Best Practices for Production Use":
- Let's say, initially, there is a network issue and connection could not be established; but as initTimeout is configured for, say 2 minutes or so, it retries for Connection and as network issue is resolved now, so Connection is successful while re-attempting.

[2022-08-17 08:02] alexandrejulien commented on #1970
Hello,
Thanks a lot @berndverst for your advices and your help.

I think you hit a development bug, I check datas on statestore.
With .NET SDK we serialize objects directly and we don't specify if we are using binary or string usage.

But ...

I discover that sometimes team serialize null objects ... and null is serialize as binary.
![image](https://user-images.githubusercontent.com/734896/1850651

[2022-08-17 13:31] alexandrejulien commented on #1970
Hello,

I add a firewall to building blocks to avoid to add null objects to statestore.

[2022-08-17 18:50] addjuarez commented on #1915
Metadata tests have now been added

[2022-08-17 20:33] berndverst commented on #1969
This should be fixed by https://github.com/dapr/components-contrib/pull/1783 (issue https://github.com/dapr/components-contrib/issues/1612) from Dapr 1.8.0.

Please try with Dapr 1.8.4 (the latest 1.8.X release)

[2022-08-17 20:36] berndverst commented on #1970
@alexandrejulien thanks for finding this! I will add some more error handling for the null case. Also, if we fail to decode the binary representation, I will change the implementation to just return the raw bytes (converted to string).

[2022-08-17 20:54] ItalyPaleAle commented on #1969
Could you please provide some more insights on what the error that you're experiencing is?

Also, Azure Container Apps should start seeing Dapr 1.8 in the next days at this point, if it's not completely rolled out already.

[2022-08-18 07:56] alexandrejulien commented on #1970
Thanks a lot @berndverst for your help and you reactivity.

I made a workaround in my case with testing this case directly in the .NET Building Block.

[2022-08-18 10:05] DannyO-dev commented on #1879
In case anyone should ever have the same problem:
The error was due to an old daprd version (1.6.0). With a more recent version (>= 1.7.4) it works as desired.
BR Daniel

[2022-08-18 10:06] #1879 closed

[2022-08-18 12:44] 1046102779 opened #1976 "Proposal: CRDs add a field to constrain micrologic behavior and improve experience."
[code]

[code]

In the financial sector, we do not want a MicroLogic server to carry a field value such as `delieverAt`, and the risk is very high. We want to be able to control it in the CRDs. We will write `delieverAfter` = 2min to a CRDs file. And it will be stored to metadata in Init phase.

In the CRDs issued by the control panel, we now encounter a business scenario. We hope that this CRDs c

[2022-08-18 13:29] 1046102779 opened #1977 "Proposal: Enhanced Semantic Conventions."
## Semantic convention

I just encountered a headache when implementing the `secretstores.tencent.ssm` standardized component. How do I name fields like `secretid`, `secretkey`, `token`, `region`, etc.

I see that almost every component currently uses the go-sdk of each cloud product, and directly marshal & unmarshal metadata to target sdk protocol of the target cloud product. As a result, the Mic

[2022-08-18 13:38] 1046102779 commented on #1977
/cc @berndverst @ItalyPaleAle @daixiang0 .

[2022-08-18 13:38] 1046102779 commented on #1976
/cc @berndverst @ItalyPaleAle @daixiang0 .

[2022-08-18 19:14] ItalyPaleAle commented on #1976
Can we move this to the dapr/dapr repo? If it's a CRD change, should be discussed by the STC there first.
CC: @yaron2

[2022-08-18 20:16] berndverst commented on #1915
LGTM

[2022-08-18 20:27] mikeb26 opened #1981 "ETag support for the AWS Dynamo DB State Store"
## In what area(s)?

## Describe the feature
ETags are required in order for state store clients to safely update existing state store items. This existing state store feature should be extended to be supported on the AWS DynamoDB backend.

## Release Note
RELEASE NOTE:
**ADD** Support for ETags in DynamoDB state store

[2022-08-18 21:04] ItalyPaleAle opened #1980 "Redis Streams pubsub - connection pool timeout"
In Dapr 1.8, customers are reporting issues with Redis Streams pubsub:

[code]

Happens with Redis 6 and 7. Did not happen with Dapr 1.7.

Increasing `poolSize` to 20 mitigated the issue.

See: https://github.com/microsoft/azure-container-apps/issues/365

[2022-08-18 21:07] ItalyPaleAle commented on #1980
@Taction is this something you could take a look at please?

[2022-08-19 03:35] mikeb26 opened #1982 "AWS DynamoDB State Store does not respect first-write-wins concurrency option"
## Expected Behavior

The DynamoDB state store implementation of Set() and Delete() both do not respect non-default FirstWriteWins concurrency behavior when specified by the client. Credit to ItalyPaleAle for discovering this during code review of etag support (https://github.com/dapr/components-contrib/pull/1979).

## Actual Behavior

Existing Put() and Delete() implementations assume LastWriteWi

[2022-08-19 12:06] alexandrejulien commented on #1970
I made a firewall for null values in .NET Building Block.
It works fine now.

Thanks @berndverst for your investigation and your commits.

[2022-08-19 15:55] skylaro commented on #1969
@ItalyPaleAle, the customer is using the pubsub.azure.eventhubs component on several azure container apps and is seeing very unexpected scaling behavior, which we think could be due to the amqp errors picked up in the logs. I'll confirm when our 1.8 rollout will occur and confirm if that fixes the scaling issues.

[2022-08-19 17:21] ItalyPaleAle commented on #1969
Rollout of Dapr 1.8.x is now complete in Container Apps.

Please also do share any log message you have. We will need those to investigate the issue.

[2022-08-20 00:45] mcandeia opened #1983 "Add certification tests for the Local Storage Input Binding"
- The [Local storage Input binding](https://docs.dapr.io/reference/components-reference/supported-bindings/localstorage/) requires certification tests to be created.
- Add conformance tests if not present.

[2022-08-20 00:48] mcandeia opened #1984 "Add certification tests for the PostgreSQL Output Binding"
- The [Postgresql Bindings](https://docs.dapr.io/reference/components-reference/supported-bindings/postgres/) requires certification tests to be created.
- Add conformance tests if not present.